Repository pagefaultgames/pokerogue, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagefaultgames/junior-dev-team, @pagefaultgames/dev-leads, @pagefaultgames/translation-leads, @pagefaultgames/catalan-translation-team, @pagefaultgames/german-translation-team, @pagefaultgames/english-translation-team, @pagefaultgames/spanish-translation-team, @pagefaultgames/french-translation-team, @pagefaultgames/italian-translation-team, @pagefaultgames/japanese-translation-team, @pagefaultgames/korean-translation-team, @pagefaultgames/portuguese_br-translation-team, @pagefaultgames/chinese_simplified-translation-team, @pagefaultgames/chinese_traditional-translation-team

.github/CODEOWNERS:

# Order is important; the last matching pattern takes the most precedence.

# everything (whole code-base) - Junior Devs
* @pagefaultgames/junior-dev-team

# github actions/templates etc. - Dev Leads
/.github @pagefaultgames/dev-leads

# --- Translations ---

# all translations - Translation Leads
/src/locales @pagefaultgames/translation-leads

# Catalan (Spain/Spanish)
/src/locales/ca_ES @pagefaultgames/catalan-translation-team

# German
/src/locales/de @pagefaultgames/german-translation-team

# English
/src/locales/en @pagefaultgames/english-translation-team

# Spanish
/src/locales/es @pagefaultgames/spanish-translation-team

# French
/src/locales/fr @pagefaultgames/french-translation-team

# Italian
/src/locales/it @pagefaultgames/italian-translation-team

# Japenese
/src/locales/ja @pagefaultgames/japanese-translation-team

# Korean
/src/locales/ko @pagefaultgames/korean-translation-team

# Brasilian (Brasil/Portuguese)
/src/locales/pt_BR @pagefaultgames/portuguese_br-translation-team

# Chinese (simplified)
/src/locales/zh_CN @pagefaultgames/chinese_simplified-translation-team

# Chinese (traditional)
/src/locales/zh_TW @pagefaultgames/chinese_traditional-translation-team

Update tests
  src/test/moves/chilly_reception.test.ts
Owners: @pagefaultgames/junior-dev-team

Fix i18n
  src/locales/en/move-trigger.json
  src/locales/it/move-trigger.json
  src/locales/ja/move-trigger.json
Owners: @pagefaultgames/english-translation-team, @pagefaultgames/italian-translation-team, @pagefaultgames/japanese-translation-team

test: add missing moveset
  src/test/moves/power_trick.test.ts
Owners: @pagefaultgames/junior-dev-team

Update dialogue.json
  src/locales/en/dialogue.json
Owners: @pagefaultgames/english-translation-team

fix nits, js imports, extra docs, magic numbers changed
  src/data/egg-hatch-data.ts
  src/data/pokemon-species.ts
  src/phases/egg-hatch-phase.ts
  src/phases/egg-lapse-phase.ts
  src/phases/egg-summary-phase.ts
  src/ui/egg-summary-ui-handler.ts
  src/ui/pokemon-hatch-info-container.ts
  src/ui/pokemon-info-container.ts
Owners: @pagefaultgames/junior-dev-team

extra docs and spacing nits
  src/battle-scene.ts
  src/data/egg-hatch-data.ts
  src/phases/egg-summary-phase.ts
Owners: @pagefaultgames/junior-dev-team

Added some translations dialogue.json
  src/locales/ja/dialogue.json
Owners: @pagefaultgames/japanese-translation-team

Update dialogue.json
  src/locales/ja/dialogue.json
Owners: @pagefaultgames/japanese-translation-team

Update dialogue.json
  src/locales/ja/dialogue.json
Owners: @pagefaultgames/japanese-translation-team

Update dialogue.json
  src/locales/ja/dialogue.json
Owners: @pagefaultgames/japanese-translation-team

Update dialogue.json
  src/locales/ja/dialogue.json
Owners: @pagefaultgames/japanese-translation-team

Update dialogue.json
  src/locales/ja/dialogue.json
Owners: @pagefaultgames/japanese-translation-team

add suggested localizations
  src/locales/de/move-trigger.json
  src/locales/es/move-trigger.json
  src/locales/fr/move-trigger.json
  src/locales/ko/move-trigger.json
  src/locales/pt_BR/move-trigger.json
  src/locales/zh_CN/move-trigger.json
  src/locales/zh_TW/move-trigger.json
Owners: @pagefaultgames/german-translation-team, @pagefaultgames/spanish-translation-team, @pagefaultgames/french-translation-team, @pagefaultgames/korean-translation-team, @pagefaultgames/portuguese_br-translation-team, @pagefaultgames/chinese_simplified-translation-team, @pagefaultgames/chinese_traditional-translation-team

fix getting the highest ivs for the iv scanner
  src/ui/battle-message-ui-handler.ts
Owners: @pagefaultgames/junior-dev-team

Add ability and passive tooltips to starter select screen
  src/test/utils/mocks/mocksContainer/mockText.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/ui.ts
Owners: @pagefaultgames/junior-dev-team

Update dialogue.json (#4021)
  src/locales/en/dialogue.json
Owners: @pagefaultgames/english-translation-team

[Enhancement] Skip egg hatching and show summary (#3726)
  public/images/ui/egg_summary_bg.png
  public/images/ui/egg_summary_bg_blank.png
  public/images/ui/icon_egg_move.png
  public/images/ui/legacy/egg_summary_bg.png
  public/images/ui/legacy/icon_egg_move.png
  src/battle-scene.ts
  src/data/egg-hatch-data.ts
  src/loading-scene.ts
  src/locales/en/battle.json
  src/phases/egg-hatch-phase.ts
  src/phases/egg-lapse-phase.ts
  src/phases/egg-summary-phase.ts
  src/system/game-data.ts
  src/ui/egg-summary-ui-handler.ts
  src/ui/pokemon-hatch-info-container.ts
  src/ui/pokemon-info-container.ts
  src/ui/ui.ts
Owners: @pagefaultgames/junior-dev-team, @pagefaultgames/english-translation-team

fix getting the highest ivs for the iv scanner (#4022)
  src/ui/battle-message-ui-handler.ts
Owners: @pagefaultgames/junior-dev-team

Remove explicit casts to BattleScene
  src/ui/starter-select-ui-handler.ts
Owners: @pagefaultgames/junior-dev-team

async implementation done
  src/phases/learn-move-phase.ts
Owners: @pagefaultgames/junior-dev-team

[Test] Add `forceEnemyMove` Game Manager util (#3678)
  src/phases/enemy-command-phase.ts
  src/test/moves/ceaseless_edge.test.ts
  src/test/moves/focus_punch.test.ts
  src/test/moves/follow_me.test.ts
  src/test/moves/rage_powder.test.ts
  src/test/moves/spikes.test.ts
  src/test/moves/spotlight.test.ts
  src/test/utils/gameManager.ts
Owners: @pagefaultgames/junior-dev-team

[Misc][Bug] Add `isBatonPassable` property to `BattlerTag`s (#3472)
  src/data/battler-tags.ts
  src/field/pokemon.ts
  src/test/moves/baton_pass.test.ts
Owners: @pagefaultgames/junior-dev-team
