Repository pagefaultgames/pokerogue, pull requests merged in 2024-09, with the labels that each got.

#3926 [Beta][Misc] Banner
  public/images/events/september-update-de.png
  public/images/events/september-update-en.png
  public/images/events/september-update-es.png
  public/images/events/september-update-fr.png
  public/images/events/september-update-it.png
  public/images/events/september-update-ja.png
  public/images/events/september-update-ko.png
  public/images/events/september-update-pt_BR.png
  public/images/events/september-update-zh_CN.png
  src/data/biomes.ts
  src/loading-scene.ts
  src/timed-event-manager.ts
Labels: Miscellaneous

#3918 [Localization] remove all `"<key>_female": null` entries in `locales/en`
  src/locales/en/achv.json
  src/locales/en/dialogue-double-battle.json
  src/locales/en/dialogue-final-boss.json
  src/locales/en/dialogue.json
Labels: Localization, P3 Bug

#3547 [Refactor] Improvements on getOrder()
  src/data/ability.ts
  src/phases/field-phase.ts
  src/phases/turn-start-phase.ts
  src/test/abilities/mycelium_might.test.ts
  src/test/abilities/stall.test.ts
  src/test/battle/battle-order.test.ts
  src/test/utils/gameManager.ts
Labels: Refactor

#3910 [UI] [QoL] [Enhancement] Exclude redundant species from certain filters in starter select
  src/ui/dropdown.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement, UI/UX, Refactor

#2371 [Bug] blocking inputs while release pokemon
  src/ui/party-ui-handler.ts
Labels: Bug, UI/UX

#3960 [Bug][Hotfix] Missing Banners
  public/images/events/september-update-pt-BR.png
  public/images/events/september-update-zh-CN.png
  src/loading-scene.ts
  src/timed-event-manager.ts
Labels: Bug

#3856 [Ability] Implement Tera Shell
  src/data/ability.ts
  src/field/pokemon.ts
  src/locales/en/ability-trigger.json
  src/test/abilities/tera_shell.test.ts
Labels: Ability

#3961 [Sprite] Chien-Pao sprite cleanup
  public/images/pokemon/exp/shiny/1002b.png
  public/images/pokemon/exp/shiny/1002s.png
  public/images/pokemon/exp/shiny/1002sb.png
Labels: Miscellaneous, Sprite

#3959 [Move] Fully implement Dragon Cheer
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
Labels: Move

#3941 [Ability] Add form change support for Flower Gift
  src/data/ability.ts
  src/data/move.ts
  src/data/pokemon-forms.ts
  src/field/arena.ts
  src/test/abilities/flower_gift.test.ts
Labels: Ability

#3927 [Bug] Fix `Roar` & `Dragon Tail` making enemy sprite disappear
  src/data/battle-anims.ts
Labels: Move, P2 Bug

#3847 [Test] Add test for final boss fight phase switch
  src/test/endless_boss.test.ts
  src/test/final_boss.test.ts
  src/test/utils/gameManager.ts
  src/ui/ui.ts
Labels: Unit Test

#3508 [Move] Finish Alluring Voice, Burning Jealousy and Lash Out
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/stat-change-phase.ts
  src/test/moves/alluring_voice.test.ts
  src/test/moves/burning_jealousy.test.ts
  src/test/moves/lash_out.test.ts
Labels: Move

#3954 [Dev] add script to create test boilerplate file
  create-test-boilerplate.js
  package.json
Labels: Miscellaneous, Lead Dev Review

#3728 [Test] Tests now default to using "Set" battle style
  src/test/abilities/ability_timing.test.ts
  src/test/abilities/disguise.test.ts
  src/test/abilities/intimidate.test.ts
  src/test/evolution.test.ts
  src/test/evolutions/evolutions.test.ts
  src/test/misc.test.ts
  src/test/moves/spikes.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/helpers/settingsHelper.ts
Labels: Unit Test, Refactor

#3936 [Bug] Fix some trapping moves' interactions with Ghost-type Pokemon
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/phases/command-phase.ts
  src/phases/enemy-command-phase.ts
Labels: Move, Ability, P2 Bug

#3967 [Balance] [Hotfix] Butterfree Gmax Ability Fix
  src/data/pokemon-species.ts
Labels: Balance Team

#3966 [Hotfix][Bug] Unneeded RNG calls
  src/field/pokemon.ts
Labels: Bug, P2 Bug

#3934 [Bug] Fix Octolock Ignores Clear Body, White Smoke, Big Pecks #3876
  src/data/battler-tags.ts
  src/test/moves/octolock.test.ts
Labels: P2 Bug

#3623 [Bug] Moves copied by Dancer should not consume PP
  src/data/ability.ts
  src/phases/move-phase.ts
  src/test/abilities/dancer.test.ts
Labels: Bug, Ability, P2 Bug

#3606 [Bug] Don't reset turn count or used moves array at the start of a new wave
  src/phases/battle-end-phase.ts
  src/test/moves/fake_out.test.ts
  src/test/moves/gigaton_hammer.test.ts
Labels: Bug, P2 Bug

#3447 [Move] Implement Safeguard
  src/data/ability.ts
  src/data/arena-tag.ts
  src/data/move.ts
  src/enums/arena-tag-type.ts
  src/field/pokemon.ts
  src/locales/de/arena-tag.json
  src/locales/de/move-trigger.json
  src/locales/es/arena-tag.json
  src/locales/es/move-trigger.json
  src/locales/fr/arena-tag.json
  src/locales/fr/move-trigger.json
  src/locales/it/arena-tag.json
  src/locales/it/move-trigger.json
  src/locales/ko/arena-tag.json
  src/locales/ko/move-trigger.json
  src/locales/pt_BR/arena-tag.json
  src/locales/pt_BR/move-trigger.json
  src/locales/zh_CN/arena-tag.json
  src/locales/zh_CN/move-trigger.json
  src/locales/zh_TW/arena-tag.json
  src/locales/zh_TW/move-trigger.json
  src/test/moves/safeguard.test.ts
Labels: Enhancement, Move, Localization

#3963 [Bug][Hotfix] Fixed pre-set volume oversight
  src/battle-scene.ts
Labels: Bug

#3964 [Balance] Double base shiny odds, adjusted Shiny Charm to match
  src/field/pokemon.ts
  src/modifier/modifier.ts
Labels: Miscellaneous, Balance Team

#3953 [UI][Misc] Force users to have an active challenge
  src/locales/en/challenges.json
  src/ui/challenges-select-ui-handler.ts
Labels: Bug, UI/UX

#3968 [Test] Update/fix some tests
  src/test/abilities/hustle.test.ts
  src/test/abilities/wind_rider.test.ts
  src/test/moves/fake_out.test.ts
  src/test/moves/gigaton_hammer.test.ts
Labels: Unit Test

#3957 [Enhancement/Item] Separate form change items into non-rare and rare
  public/images/items.json
  public/images/items.png
  public/images/items/normal_memory.png
  src/data/pokemon-forms.ts
  src/locales/de/modifier-type.json
  src/locales/en/modifier-type.json
  src/locales/es/modifier-type.json
  src/locales/fr/modifier-type.json
  src/locales/it/modifier-type.json
  src/locales/ko/modifier-type.json
  src/locales/pt_BR/modifier-type.json
  src/locales/zh_CN/modifier-type.json
  src/locales/zh_TW/modifier-type.json
  src/modifier/modifier-type.ts
Labels: Enhancement, Item

#3969 [Sprite] Pelipper variant cleanup
  public/images/pokemon/279.png
  public/images/pokemon/shiny/279.png
  public/images/pokemon/variant/279.json
  public/images/pokemon/variant/279_1.json
  public/images/pokemon/variant/279_1.png
  public/images/pokemon/variant/279_2.json
  public/images/pokemon/variant/279_2.png
  public/images/pokemon/variant/279_3.json
  public/images/pokemon/variant/279_3.png
  public/images/pokemon/variant/_masterlist.json
Labels: Sprite, P3 Bug

#3899 [Bug] Fix affix used when enemy trainer withdraws
  src/phases/switch-summon-phase.ts
Labels: Bug, P3 Bug

#3970 [Misc] Add dialog lines for Rood to `dialog.ts`
  src/data/dialogue.ts
Labels: Bug, Miscellaneous, P3 Bug

#2194 [QoL] Enable female gender for all default starters and all existing s…
  src/data/challenge.ts
  src/system/game-data.ts
Labels: Miscellaneous

#3982 [UI][Misc] Adding an Action button
  public/images/inputs/keyboard.json
  public/images/inputs/keyboard.png
  src/ui/achvs-ui-handler.ts
Labels: Miscellaneous, UI/UX

#3978 [Localisation] [JA] Translated trainer-classes.json, trainer-names.json, trainer-titles.json
  src/locales/ja/trainer-classes.json
  src/locales/ja/trainer-names.json
  src/locales/ja/trainer-titles.json
Labels: Localization

#3935 [Bugfix #3930] Moves That a Pokemon Knows and are not in their List of Learnable TMs Display as "Not Able" Rather than Learned
  src/ui/party-ui-handler.ts
Labels: UI/UX, P3 Bug

#3985 [Localization] [FR] [Fix] Dialogue fixs batch + ignored entries form previous PR
  src/locales/en/dialogue.json
  src/locales/fr/dialogue-misc.json
  src/locales/fr/dialogue.json
Labels: Localization

#3785 [Bug] Fix Inconsistency with stat boost when breaking through boss shields + tests
  src/battle-scene.ts
  src/field/pokemon.ts
  src/overrides.ts
  src/phases/encounter-phase.ts
  src/test/boss-pokemon.test.ts
  src/test/moves/fusion_flare.test.ts
  src/test/utils/helpers/overridesHelper.ts
Labels: Bug, P2 Bug

#3986 [Localization] [Fix] Restoring inverted rival dialogues in all dialogue-misc.json locales
  src/locales/de/dialogue-misc.json
  src/locales/en/dialogue-misc.json
  src/locales/fr/dialogue-misc.json
  src/locales/ko/dialogue-misc.json
  src/locales/pt_BR/dialogue-misc.json
  src/locales/zh_CN/dialogue-misc.json
  src/locales/zh_TW/dialogue-misc.json
Labels: Localization, P3 Bug

#3976 [Enhancement][UI] `Passive` ability will be displayed even if it is locked or disabled
  public/images/ui/icon_lock.png
  public/images/ui/icon_stop.png
  public/images/ui/legacy/icon_lock.png
  public/images/ui/legacy/icon_stop.png
  src/loading-scene.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement, UI/UX

#3656 [Balance] [QoL] [Feature] Allow mons to track and relearn used TMs
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/phases/learn-move-phase.ts
  src/system/pokemon-data.ts
Labels: Game Balance, Balance Team

#3989 Added Donate Link to Community Page
  index.css
  index.html
  src/locales/en/menu-ui-handler.json
  src/ui/menu-ui-handler.ts
Labels: Miscellaneous

#3915 [Bug] Let Shedinja relearn egg moves when evolved from a starter
  src/field/pokemon.ts
  src/test/evolution.test.ts
Labels: Bug, P2 Bug

#3990 [Test] Add tests for Freeze-Dry
  src/test/moves/freeze_dry.test.ts
Labels: Unit Test

#3987 [UI] Run history fixes
  src/ui/run-info-ui-handler.ts
Labels: Bug, UI/UX, P3 Bug

#3913 [Bug] Fix eggs having exploitable RNG
  src/battle-scene.ts
  src/data/egg.ts
  src/test/battle-scene.test.ts
  src/test/eggs/egg.test.ts
Labels: Miscellaneous, P3 Bug

#3992 [Test] Set boss Pokémon test timeout to 20 seconds instead of 2.5 seconds
  src/test/boss-pokemon.test.ts
Labels: Unit Test

#3993 [Misc] Repack Keyboard button sprites
  public/images/inputs/keyboard.json
  public/images/inputs/keyboard.png
Labels: Miscellaneous, Sprite

#3994 [Test] Remove nature RNG from Beast Boost tests
  src/test/abilities/beast_boost.test.ts
Labels: Bug, Unit Test

#3998 [Localization] [DE] Added missing keys in DE
  src/locales/de/battle.json
  src/locales/de/challenges.json
  src/locales/de/menu-ui-handler.json
Labels: Localization

#3952 [Bug] Fix reloads causing RNG inconsistencies
  src/data/ability.ts
  src/data/move.ts
  src/phases/encounter-phase.ts
  src/system/game-data.ts
  src/test/reload.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/helpers/reloadHelper.ts
  src/test/utils/phaseInterceptor.ts
Labels: Bug

#4008 [Misc][UI] Default Cursor Positioning for Command / Fight / Party
  src/ui/command-ui-handler.ts
  src/ui/fight-ui-handler.ts
  src/ui/party-ui-handler.ts
Labels: Miscellaneous, UI/UX

#4009 [P1 Bug][UI/UX] Address shop cursor target feedbacks
  src/battle-scene.ts
  src/enums/shop-cursor-target.ts
  src/locales/de/settings.json
  src/locales/en/settings.json
  src/locales/es/settings.json
  src/locales/fr/settings.json
  src/locales/it/settings.json
  src/locales/ja/settings.json
  src/locales/ko/settings.json
  src/locales/pt_BR/settings.json
  src/locales/zh_CN/settings.json
  src/system/settings/settings.ts
  src/test/items/dire_hit.test.ts
  src/test/items/temp_stat_stage_booster.test.ts
  src/ui/modifier-select-ui-handler.ts
Labels: UI/UX, P1 Bug

#4001 Starter select defaults to shiny with highest variant again
  src/test/ui/starter-select.test.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#4021 [Localization] [EN] Ariana dialogue fix
  src/locales/en/dialogue.json
Labels: Localization, P3 Bug

#3726 [Enhancement] Skip egg hatching and show summary
  public/images/ui/egg_summary_bg.png
  public/images/ui/egg_summary_bg_blank.png
  public/images/ui/icon_egg_move.png
  public/images/ui/legacy/egg_summary_bg.png
  public/images/ui/legacy/icon_egg_move.png
  src/battle-scene.ts
  src/data/egg-hatch-data.ts
  src/loading-scene.ts
  src/locales/en/battle.json
  src/phases/egg-hatch-phase.ts
  src/phases/egg-lapse-phase.ts
  src/phases/egg-summary-phase.ts
  src/system/game-data.ts
  src/ui/egg-summary-ui-handler.ts
  src/ui/pokemon-hatch-info-container.ts
  src/ui/pokemon-info-container.ts
  src/ui/ui.ts
Labels: Enhancement

#4022 [Bug] Fix getting the highest ivs for the iv scanner
  src/ui/battle-message-ui-handler.ts
Labels: Bug, P2 Bug

#3678 [Test] Add `forceEnemyMove` Game Manager util
  src/phases/enemy-command-phase.ts
  src/test/moves/ceaseless_edge.test.ts
  src/test/moves/focus_punch.test.ts
  src/test/moves/follow_me.test.ts
  src/test/moves/rage_powder.test.ts
  src/test/moves/spikes.test.ts
  src/test/moves/spotlight.test.ts
  src/test/utils/gameManager.ts
Labels: Enhancement, Unit Test

#3472 [Misc][Bug] Add `isBatonPassable` property to `BattlerTag`s
  src/data/battler-tags.ts
  src/field/pokemon.ts
  src/test/moves/baton_pass.test.ts
Labels: Bug, Move, Miscellaneous, P2 Bug

#4024 [i18n] Re-add lost i18n strings for Safeguard
  src/locales/en/arena-flyout.json
  src/locales/en/arena-tag.json
  src/locales/en/move-trigger.json
Labels: Localization, P3 Bug

#4027 [Sprite] Index egg skip UI
  public/images/ui/egg_summary_bg.png
  public/images/ui/icon_egg_move.png
  public/images/ui/legacy/egg_summary_bg.png
  public/images/ui/legacy/icon_egg_move.png
Labels: Sprite

#4028 [Bug][Beta] Garbage Collection should ignore active cry keys of bottom-half fusions
  src/battle-scene.ts
Labels: Bug, P1 Bug

#3988 [Bug] Fix inconsistencies with move type resolution for some ability triggers
  src/data/ability.ts
  src/data/move.ts
  src/test/abilities/disguise.test.ts
  src/test/abilities/steely_spirit.test.ts
Labels: P2 Bug

#4033 [P3 Bug] Fixed mbh not using the user's nickname
  src/modifier/modifier.ts
Labels: P3 Bug

#3995 [Misc] Clean up the `Battle` class a bit
  src/battle.ts
Labels: Miscellaneous, Refactor

#3973 [Balance] Changed escape calculation
  src/phases/attempt-run-phase.ts
  src/test/escape-calculations.test.ts
  src/test/utils/phaseInterceptor.ts
Labels: Game Balance, Lead Dev Review, Game Design

#4036 [Test] Fix random failure in Parental Bond tests
  src/test/abilities/parental_bond.test.ts
Labels: Unit Test

#2051 [Move] Use BattlerTag for move-disabling effects
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/locales/en/battle.json
  src/locales/en/battler-tags.json
  src/phases/command-phase.ts
  src/phases/move-phase.ts
  src/phases/turn-end-phase.ts
  src/system/pokemon-data.ts
  src/test/moves/disable.test.ts
Labels: Enhancement, Move, Localization, Blocker

#3849 [Enhancement] add font size option per language on registration UI
  src/locales/es/menu.json
  src/ui/registration-form-ui-handler.ts
Labels: Enhancement, Localization

#1607 [QoL] Skip pre-commit on merge and rebase, add pre-push
  lefthook.yml
Labels: Enhancement, Lead Dev Review

#4026 [Localization] Restoring "Safeguard" entries in arena-flyout.json of all locales where it existed
  src/locales/de/arena-flyout.json
  src/locales/es/arena-flyout.json
  src/locales/fr/arena-flyout.json
  src/locales/it/arena-flyout.json
  src/locales/ko/arena-flyout.json
  src/locales/pt_BR/arena-flyout.json
  src/locales/zh_CN/arena-flyout.json
Labels: Localization, P3 Bug

#3999 [Localisation] [JA] Translated remaining JA text files
  src/locales/ja/achv.json
  src/locales/ja/arena-flyout.json
  src/locales/ja/bgm-name.json
  src/locales/ja/challenges.json
  src/locales/ja/common.json
  src/locales/ja/dialogue-double-battle.json
  src/locales/ja/dialogue-final-boss.json
  src/locales/ja/dialogue-misc.json
  src/locales/ja/dialogue.json
  src/locales/ja/fight-ui-handler.json
  src/locales/ja/filter-bar.json
  src/locales/ja/game-stats-ui-handler.json
  src/locales/ja/growth.json
  src/locales/ja/menu-ui-handler.json
  src/locales/ja/modifier-type.json
  src/locales/ja/modifier.json
  src/locales/ja/move-trigger.json
  src/locales/ja/party-ui-handler.json
  src/locales/ja/pokemon-info-container.json
  src/locales/ja/pokemon-summary.json
  src/locales/ja/run-history.json
  src/locales/ja/save-slot-select-ui-handler.json
  src/locales/ja/splash-messages.json
  src/locales/ja/weather.json
Labels: Localization

#4052 [Balance] Same-Species Eggs Shiny Rate Increase
  src/data/egg.ts
Labels: Balance Team

#4045 [Move] Make protection moves fail when used last in a turn
  src/data/move.ts
  src/test/moves/protect.test.ts
  src/test/moves/quick_guard.test.ts
Labels: Move

#4044 [Misc][Move] Remove partial tag from Tera Blast
  src/data/move.ts
Labels: Move, Miscellaneous

#3665 [Bug] Fix off-by-one errors in some random number calls
  src/battle-scene.ts
  src/battle.ts
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
  src/test/moves/glaive_rush.test.ts
  src/test/utils/gameManager.ts
  src/utils.ts
Labels: Bug, Documentation, Miscellaneous, P2 Bug

#4013 [Test] Add Dragon Cheer tests
  src/test/moves/dragon_cheer.test.ts
Labels: Unit Test

#4055 [Bug][Refactor] fix username-finder issues + code & visual improvements
  src/locales/en/menu.json
  src/test/utils/mocks/mocksContainer/mockContainer.ts
  src/ui/login-form-ui-handler.ts
  src/ui/modal-ui-handler.ts
  src/ui/ui-handler.ts
Labels: Localization, UI/UX, Refactor, P3 Bug

#4059 [Sprite] Fix Tangrowth Variants
  public/images/pokemon/variant/465.json
  public/images/pokemon/variant/465_2.json
  public/images/pokemon/variant/465_2.png
  public/images/pokemon/variant/465_3.json
  public/images/pokemon/variant/465_3.png
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/465.json
  public/images/pokemon/variant/back/465_3.json
  public/images/pokemon/variant/back/465_3.png
  public/images/pokemon/variant/back/female/465.json
  public/images/pokemon/variant/female/465.json
Labels: Sprite, P3 Bug

#4057 [Bug] Fix Aura Break applying without Dark/Fairy Aura present
  src/data/ability.ts
  src/data/move.ts
  src/locales/en/ability-trigger.json
  src/test/abilities/aura_break.test.ts
Labels: Ability, P2 Bug

#4069 [Bug] Missing endless end dialogue
  src/phases/game-over-phase.ts
Labels: P3 Bug

#4047 [P2 Bug] Fix sandstorm/hail interaction with semi invulnerable state
  src/phases/weather-effect-phase.ts
  src/test/arena/weather_hail.test.ts
  src/test/arena/weather_sandstorm.test.ts
Labels: P2 Bug

#4049 [P2 Bug] Revert to normal form when Pokémon is fainted
  src/phases/faint-phase.ts
Labels: Miscellaneous, P2 Bug

#4075 [Optimization] parallel testing
  .github/workflows/tests.yml
  vitest.config.ts
  vitest.workspace.ts
Labels: Miscellaneous, Refactor

#4076 Darker egg summary background image
  public/images/ui/egg_summary_bg.png
Labels: Enhancement

#4032 [Item/Balance] Overhaul Lapsing Modifiers
  create-test-boilerplate.js
  src/locales/en/modifier-type.json
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/test/items/dire_hit.test.ts
  src/test/items/double_battle_chance_booster.test.ts
  src/test/items/temp_stat_stage_booster.test.ts
  src/utils.ts
Labels: Item, Balance Team, Refactor, Blocker

#4090 bug fixes and balance changes for MEs
  src/battle-scene.ts
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-challengers-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-chest-encounter.ts
  src/data/mystery-encounters/encounters/shady-vitamin-dealer-encounter.ts
  src/data/mystery-encounters/encounters/the-winstrate-challenge-encounter.ts
  src/locales/en/dialogue.json
  src/locales/en/mystery-encounters/mysterious-chest-dialogue.json
  src/locales/en/mystery-encounters/shady-vitamin-dealer-dialogue.json
  src/locales/en/mystery-encounters/the-winstrate-challenge-dialogue.json
  src/locales/en/trainer-names.json
  src/locales/en/trainer-titles.json
  src/test/mystery-encounter/encounters/mysterious-challengers-encounter.test.ts
  src/test/mystery-encounter/encounters/the-winstrate-challenge-encounter.test.ts
Labels: Mystery Encounter

#4080 [Dev] Save Data Version Migration
  src/system/game-data.ts
  src/system/modifier-data.ts
  src/system/version-converter.ts
Labels: Blocker

#3590 [DOCS] adding JSDocs to `arena.ts`
  src/field/arena.ts
  src/field/pokemon.ts
Labels: Documentation

#4067 [Bug] Fix scrappy (+ some immunity move and ability) in inverse battle
  src/field/pokemon.ts
  src/test/battle/inverse_battle.test.ts
Labels: P2 Bug

#4097 [Hotfix] Fix harsh weather cancelling moves based on base type
  src/data/weather.ts
  src/field/arena.ts
  src/phases/move-phase.ts
Labels: Move, Ability, P2 Bug

#4103 [Hotfix] Remove extra Roark victory line, fix i18n in `achv.ts`
  src/data/dialogue.ts
  src/system/achv.ts
Labels: P3 Bug

#4104 [Hotfix] Properly whitelisting fused Pokemon that happen to have Pokemon with alt. forms
  src/battle-scene.ts
Labels: P1 Bug

#4116 [Hotfix][Bug] Retrieves the correct cry for Fused Pokemon
  src/field/pokemon.ts
Labels: Bug

#4070 [Bug] Fix incorrect defensive properties on Terastallized Pokemon
  src/field/pokemon.ts
  src/test/moves/effectiveness.test.ts
Labels: Move, P2 Bug

#4118 [Bug] Fix console error from undefined stockpilingTag
  src/data/move.ts
Labels: Miscellaneous, P3 Bug

#4025 [Bug] Fix #762: All Pokemon become invisible when capturing then switching with your only pokemon that was not fainted
  src/constants.ts
  src/field/pokemon.ts
  src/phases/attempt-capture-phase.ts
  src/test/field/pokemon.test.ts
  src/utils.ts
Labels: P3 Bug

#4124 [Bug] Fix Enemies ignoring the effects of trapping abilities
  src/field/pokemon.ts
Labels: Ability, P2 Bug

#4043 [Move] Fully implement Tar Shot
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/locales/en/battler-tags.json
  src/test/moves/tar_shot.test.ts
Labels: Move

#3672 [Refactor] Cleaning up Learn move phase
  src/phases/learn-move-phase.ts
  src/test/phases/learn-move-phase.test.ts
  src/test/utils/helpers/overridesHelper.ts
  src/test/utils/phaseInterceptor.ts
  src/ui/ui.ts
Labels: Refactor

#4129 [Localisation] [JA] Translated/updated spacing in several files, fixed Ice Face bug
  src/locales/ja/ability-trigger.json
  src/locales/ja/ability.json
  src/locales/ja/arena-flyout.json
  src/locales/ja/arena-tag.json
  src/locales/ja/battle.json
  src/locales/ja/berry.json
  src/locales/ja/fight-ui-handler.json
  src/locales/ja/menu.json
  src/locales/ja/move.json
  src/locales/ja/party-ui-handler.json
  src/locales/ja/settings.json
  src/locales/ja/starter-select-ui-handler.json
  src/locales/ja/tutorial.json
Labels: Localization

#4131 [Localization] [pt_BR] Updated some translations
  src/locales/pt_BR/ability-trigger.json
  src/locales/pt_BR/battle.json
  src/locales/pt_BR/battler-tags.json
  src/locales/pt_BR/challenges.json
Labels: Localization

#4115 [Move] Fully implement Throat Chop
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/locales/en/battle.json
  src/test/moves/throat_chop.test.ts
Labels: Move

#4098 [Test] Fix Safeguard test that relied on a now-fixed bug
  src/test/moves/safeguard.test.ts
Labels: Unit Test

#4095 [Bug] Fix line spacing in level up stats and move info for japanese
  src/ui/battle-message-ui-handler.ts
  src/ui/move-info-overlay.ts
Labels: UI/UX, P3 Bug

#4083 [Move] Implement Power Shift
  src/data/move.ts
  src/locales/en/move-trigger.json
  src/test/moves/power_shift.test.ts
Labels: Move

#4023 [Enhancement] [UI/UX] Add ability and passive tooltips to starter select screen
  src/test/utils/mocks/mocksContainer/mockContainer.ts
  src/test/utils/mocks/mocksContainer/mockSprite.ts
  src/test/utils/mocks/mocksContainer/mockText.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/ui.ts
Labels: Enhancement, UI/UX

#4051 [Ability] Implement Gorilla Tactics
  src/data/ability.ts
  src/data/battler-tags.ts
  src/enums/battler-tag-type.ts
  src/locales/en/battle.json
  src/test/abilities/gorilla_tactics.test.ts
Labels: Ability

#1789 [Move] Implement After You
  src/battle-scene.ts
  src/data/move.ts
  src/locales/de/move-trigger.json
  src/locales/en/move-trigger.json
  src/test/moves/after_you.test.ts
Labels: Move

#4146 [Hotfix] Fix Lures Refreshing on Reload
  src/system/version-converter.ts
Labels: Item, P2 Bug

#4126 [Hotfix] fix UI transition causing unusual freezes after egg summary shown
  src/phases/egg-summary-phase.ts
  src/ui/egg-summary-ui-handler.ts
Labels: UI/UX, P1 Bug

#4150 [Bug][UI] Fix HA icon not always showing in egg summary screen
  src/ui/egg-summary-ui-handler.ts
  src/ui/pokemon-info-container.ts
Labels: UI/UX, P3 Bug

#4144 [Bug] Fix Transform SFX not playing on quiet form changes
  src/phases/quiet-form-change-phase.ts
Labels: P3 Bug

#4125 [Balance/Bug] Rare egg move and species rates for Manaphy eggs
  src/data/egg.ts
  src/test/eggs/manaphy-egg.test.ts
Labels: Game Balance

#4153 [Bug][UI] fix candy upgrade icon not updating after purchasing eggs
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#4160 [Misc] eslint rule to prevent `.js` imports
  eslint.config.js
  package-lock.json
  package.json
  src/phases/weather-effect-phase.ts
  src/system/version-converter.ts
  src/test/account.test.ts
  src/test/items/double_battle_chance_booster.test.ts
  src/test/vitest.setup.ts
  vitest.config.ts
Labels: Miscellaneous

#4154 [Bug] Use silent mode during tests (unless debugging!) + test workflow optimization
  .github/workflows/test-shard-template.yml
  .github/workflows/tests.yml
  vitest.config.ts
  vitest.workspace.ts
Labels: Miscellaneous, Unit Test, Lead Dev Review

#4053 [Enhancement] Update instruction for gamepad in run history UI
  src/ui/run-info-ui-handler.ts
  src/ui/ui.ts
Labels: Enhancement, P3 Bug

#4182 [Test] Replace `vi.fn()` with `() => null` whenenver possible
  src/test/utils/gameWrapper.ts
  src/test/utils/mocks/mockGameObjectCreator.ts
  src/test/utils/mocks/mockVideoGameObject.ts
  src/test/utils/mocks/mocksContainer/mockContainer.ts
  src/test/utils/mocks/mocksContainer/mockSprite.ts
  src/test/utils/mocks/mocksContainer/mockText.ts
Labels: Unit Test

#4186 [Sprite] Fix animated Cursola
  public/images/pokemon/exp/864.png
  public/images/pokemon/exp/shiny/864.png
  public/images/pokemon/variant/exp/864.json
Labels: Sprite, P3 Bug

#4184 [Balance] Disable Eviolite for G-Max Pokémon
  src/modifier/modifier.ts
  src/test/items/eviolite.test.ts
Labels: Item, Balance Team

#4180 [Bug] Baddy Bad shouldn't activate Reflect if the target uses Protect
  src/data/move.ts
  src/test/moves/baddy_bad.test.ts
Labels: Move, P2 Bug

#4155 [Misc] `setTypeIcons()` explicitly handles `null`, mark it as such
  src/ui/starter-select-ui-handler.ts
Labels: Miscellaneous

#4149 [Bug] Run History displays Pokemon that have their natures changed during the run
  src/ui/run-info-ui-handler.ts
Labels: Bug

#4148 [Misc] Update issue/feature template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: Miscellaneous, Lead Dev Review

#4099 [Misc] Add some tsdocs to `move.ts`, also some misc cleanup
  src/data/move.ts
Labels: Documentation, Miscellaneous

#4106 [Bug] Obstruct et al no longer protect against status moves
  src/data/battler-tags.ts
  src/phases/move-effect-phase.ts
  src/test/moves/obstruct.test.ts
Labels: Move, P2 Bug

#1831 [Move] Add Retaliate double damage condition
  src/battle.ts
  src/data/move.ts
  src/phases/faint-phase.ts
  src/test/moves/retaliate.test.ts
Labels: Move

#4147 [Enhancement] Implement Tera-based form changes
  src/data/pokemon-forms.ts
  src/modifier/modifier.ts
Labels: Enhancement

#3753 [Bug] Fixes Freezy Frost visual bug when attacking ally, and Freezy Frost not applying effects when fainting a target
  src/data/move.ts
  src/test/moves/freezy_frost.test.ts
Labels: Bug, Move, P2 Bug

#3105 [BUG][UI/UX] Correction of errors when ``` Save & Quit``` and ``` Log out```
  src/ui/menu-ui-handler.ts
  src/ui/modal-ui-handler.ts
Labels: Bug, UI/UX

#4188 [Sprite] 327 Spinda - Added spots like default Spinda
  public/images/pokemon/327.png
  public/images/pokemon/shiny/327.png
Labels: Sprite

#4194 [Localization] Catalan translation batch
  src/locales/ca_ES/arena-flyout.json
  src/locales/ca_ES/biome.json
  src/locales/ca_ES/common.json
  src/locales/ca_ES/menu.json
  src/locales/ca_ES/nature.json
  src/locales/ca_ES/pokemon-info.json
Labels: Localization

#4193 [Enhancement] add option for egg skip to settings
  src/battle-scene.ts
  src/locales/en/settings.json
  src/phases/egg-lapse-phase.ts
  src/system/settings/settings.ts
Labels: Enhancement

#4056 [Balance] More Evil Team Adjustments
  src/data/trainer-config.ts
Labels: Balance Team

#4204 [Move] Mark Sky Drop as partial due to missing effects
  src/data/move.ts
Labels: Move

#4203 [Test] Speed up tests and make enemy item override remove existing items
  src/modifier/modifier.ts
  src/test/utils/gameManager.ts
  src/test/utils/gameWrapper.ts
  src/test/utils/mocks/mockClock.ts
Labels: Miscellaneous, Unit Test

#4192 [Misc] Allow Meloetta's starting form to be selected
  src/data/pokemon-forms.ts
  src/data/pokemon-species.ts
  src/test/moves/relic_song.test.ts
Labels: Miscellaneous, Balance Team

#4212 [Localization] Tiny FR adjustments
  src/locales/fr/challenges.json
  src/locales/fr/tutorial.json
Labels: Localization

#4214 [Balance] Tweak evil boss teams, fix aesthetic details
  src/data/trainer-config.ts
Labels: Documentation, Enhancement, Balance Team, P3 Bug

#2559 [Move] Implement Substitute
  src/battle-scene.ts
  src/data/ability.ts
  src/data/battle-anims.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/enums/pokemon-anim-type.ts
  src/field/pokemon.ts
  src/locales/de/battler-tags.json
  src/locales/en/battler-tags.json
  src/locales/en/move-trigger.json
  src/locales/es/battler-tags.json
  src/locales/fr/battler-tags.json
  src/locales/it/battler-tags.json
  src/locales/ko/battler-tags.json
  src/locales/pt_BR/battler-tags.json
  src/locales/zh_CN/battler-tags.json
  src/locales/zh_TW/battler-tags.json
  src/phases/attempt-capture-phase.ts
  src/phases/common-anim-phase.ts
  src/phases/damage-phase.ts
  src/phases/faint-phase.ts
  src/phases/move-anim-test-phase.ts
  src/phases/move-effect-phase.ts
  src/phases/move-phase.ts
  src/phases/obtain-status-effect-phase.ts
  src/phases/pokemon-anim-phase.ts
  src/phases/post-turn-status-effect-phase.ts
  src/phases/return-phase.ts
  src/phases/scan-ivs-phase.ts
  src/phases/switch-summon-phase.ts
  src/test/abilities/unseen_fist.test.ts
  src/test/battlerTags/substitute.test.ts
  src/test/moves/substitute.test.ts
  src/test/moves/tidy_up.test.ts
  src/ui/target-select-ui-handler.ts
Labels: Move

#2341 ci: Bump actions version
  .github/workflows/eslint.yml
Labels: Miscellaneous

#4007 [Bug] Fix for unpausing evolutions for secondary Pokémon in a fusion
  src/field/pokemon.ts
  src/ui/party-ui-handler.ts
Labels: P2 Bug

#4223 [P3] Run Result 'Victory!' Text not displaying correctly in Legacy UI Mode
  src/ui/run-info-ui-handler.ts
Labels: P3 Bug

#4226 [Bug][Beta] Fix bugs from Substitute implementation
  src/data/battle-anims.ts
  src/data/battler-tags.ts
  src/phases/faint-phase.ts
  src/test/battlerTags/substitute.test.ts
Labels: Move, P2 Bug

#4242 [Test] Disable broken ME tests for now
  src/test/mystery-encounter/encounters/uncommon-breed-encounter.test.ts
Labels: Bug, Tests

#4200 [Balance] Remove `isMax` conditions from move and ability effects
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/modifier/modifier.ts
Labels: Move, Ability, Balance Team

#4241 [Balance] Gigantamax Form Adjustments (Charizard, Eevee, Duraludon) and 999.9 Weight for all, + undo Voucher Event on beta
  src/data/pokemon-species.ts
  src/modifier/modifier-type.ts
  src/phases/trainer-victory-phase.ts
Labels: Balance Team

#3975 [Enhancement][EnemyAI] Add support for simulated damage calculations and "Search for KO" move filtering
  src/data/move.ts
  src/field/pokemon.ts
  src/test/battle/damage_calculation.test.ts
  src/test/enemy_command.test.ts
Labels: Enhancement, Balance Team, Game Design

#4246 [Bug] Golden punch bug fix
  src/field/pokemon.ts
Labels: Miscellaneous, P2 Bug

#4244 [Bug] Fix missing key in "No Effect" message
  src/field/pokemon.ts
Labels: Move, P3 Bug

#4250 [Localization] French Translations tiny settings batch
  src/locales/fr/move.json
  src/locales/fr/settings.json
Labels: Localization
