Repository pagefaultgames/pokerogue, pull requests merged in 2024-11, with the labels that each got.

#4643 [Bug] Prevent wild mons fleeing with U-turn, Flip Turn, Volt Switch
  src/data/move.ts
Labels: Move, P2 Bug

#4775 [Bug] Take weight into account when getting the tier of a modifier
  src/battle-scene.ts
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/modifier/modifier-type.ts
  src/test/utils/gameWrapper.ts
  src/test/utils/mocks/mockTimedEventManager.ts
Labels: Tests, Blocker, P3 Bug

#4761 [Move][Bug] Camouflage now considers Terrains first
  src/data/move.ts
  src/field/arena.ts
  src/test/moves/camouflage.test.ts
Labels: Move, P2 Bug

#4710 [Refactor][Move] Add `options` param interface for `MoveEffectAttr`
  src/data/move.ts
  src/test/moves/secret_power.test.ts
Labels: Move, Refactor

#4054 [Refactor] data/pokemon-species.ts
  src/data/move.ts
  src/data/pokemon-species.ts
Labels: Refactor

#4778 [Bug][Ability] Updating abilities that interact with Mold breaker
  src/data/ability.ts
Labels: Move, Ability, P2 Bug

#4315 [Bug] Fixing crash that can occur when loading variant sprite,
  src/field/pokemon.ts
Labels: Sprite/Animation, P1 Bug

#4701 [Ability] Implement Wimp Out and Emergency Exit
  src/data/ability.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/post-turn-status-effect-phase.ts
  src/test/abilities/wimp_out.test.ts
Labels: Move, Ability

#4784 [Misc] Rename `PokemonTurnData`'s `damageDealt` and `currDamageDealt`
  src/data/ability.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/test/moves/focus_punch.test.ts
Labels: Miscellaneous

#4781 [Ability] Illuminate ignores eva, Unaware does not ignore speed
  src/data/ability.ts
Labels: Ability

#4752 [Misc] Clean up some code related to SSUI
  src/system/game-data.ts
  src/ui/save-slot-select-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Refactor

#4736 [Move] Fairy Lock
  src/data/arena-tag.ts
  src/data/move.ts
  src/enums/arena-tag-type.ts
  src/field/pokemon.ts
  src/phases/command-phase.ts
  src/test/moves/fairy_lock.test.ts
Labels: Move

#4534 [Ability] Implement Unburden
  src/battle-scene.ts
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/berry.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/test/abilities/unburden.test.ts
Labels: Ability

#4783 [Move] Fully Implement Round
  src/data/move.ts
  src/field/pokemon.ts
  src/test/moves/round.test.ts
Labels: Move

#4782 [P3][UI] Remove unnecessary sprite reloads in Starter Select UI
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#4596 [Misc] Miscellaneous code cleanup
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/field/pokemon.ts
  src/loading-scene.ts
  src/overrides.ts
  src/phases/move-effect-phase.ts
  src/test/abilities/unburden.test.ts
  src/utils.ts
Labels: Documentation, Miscellaneous, Refactor

#4077 [Refactor] Another Audio clean up
  src/battle-scene.ts
  src/battle.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/pokemon-species.ts
  src/field/pokemon.ts
  src/system/settings/settings.ts
  src/test/utils/gameManager.ts
Labels: Refactor, Audio

#4786 [Refactor] Reduce nesting in `doEvolution()`
  src/phases/evolution-phase.ts
Labels: Refactor

#4787 [Bug][Beta] Enemy pokemon shouldn't get unimplemented moves
  src/field/pokemon.ts
Labels: P2 Bug, Beta

#4583 [Refactor] Pokerogue API client
  global.d.ts
  src/@types/PokerogueAccountApi.ts
  src/@types/PokerogueAdminApi.ts
  src/@types/PokerogueApi.ts
  src/@types/PokerogueDailyApi.ts
  src/@types/PokerogueSavedataApi.ts
  src/@types/PokerogueSessionSavedataApi.ts
  src/@types/PokerogueSystemSavedataApi.ts
  src/@types/UserInfo.ts
  src/@types/pokerogue-api.ts
  src/account.ts
  src/constants.ts
  src/data/daily-run.ts
  src/phases/game-over-phase.ts
  src/phases/title-phase.ts
  src/plugins/api/api-base.ts
  src/plugins/api/pokerogue-account-api.ts
  src/plugins/api/pokerogue-admin-api.ts
  src/plugins/api/pokerogue-api.ts
  src/plugins/api/pokerogue-daily-api.ts
  src/plugins/api/pokerogue-savedata-api.ts
  src/plugins/api/pokerogue-session-savedata-api.ts
  src/plugins/api/pokerogue-system-savedata-api.ts
  src/system/game-data.ts
  src/test/account.test.ts
  src/test/daily_mode.test.ts
  src/test/misc.test.ts
  src/test/plugins/api/pokerogue-account-api.test.ts
  src/test/plugins/api/pokerogue-admin-api.test.ts
  src/test/plugins/api/pokerogue-api.test.ts
  src/test/plugins/api/pokerogue-daily-api.test.ts
  src/test/plugins/api/pokerogue-savedata-api.test.ts
  src/test/plugins/api/pokerogue-session-savedata-api.test.ts
  src/test/plugins/api/pokerogue-system-savedata-api.test.ts
  src/test/reload.test.ts
  src/test/system/game_data.test.ts
  src/test/utils/gameWrapper.ts
  src/test/utils/testUtils.ts
  src/test/vitest.setup.ts
  src/ui/admin-ui-handler.ts
  src/ui/daily-run-scoreboard.ts
  src/ui/login-form-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/registration-form-ui-handler.ts
  src/ui/title-ui-handler.ts
  src/utils.ts
Labels: Refactor

#4792 [P3][UI][QoL] Fix tooltips going out of screen on mobile & other improvements
  src/ui/starter-select-ui-handler.ts
  src/ui/summary-ui-handler.ts
  src/ui/ui.ts
Labels: Enhancement, UI/UX, P3 Bug

#4545 [Move] Improve Future Sight & Doom Desire (still partial)
  src/data/arena-tag.ts
  src/data/move.ts
  src/phases/move-effect-phase.ts
  src/phases/move-phase.ts
  src/test/moves/future_sight.test.ts
Labels: Move

#4137 [Dev] [QoL] Add test save with all egg moves unlocked
  src/test/utils/saves/everything.prsv
Labels: Miscellaneous

#4795 [P1][Beta] Fix FormChangePhase being broken by EvolutionPhase refactor
  src/phases/evolution-phase.ts
  src/test/phases/form-change-phase.test.ts
  src/test/utils/helpers/classicModeHelper.ts
  src/test/utils/phaseInterceptor.ts
Labels: P1 Bug, Beta

#4800 [Doc] Add `edgeCase()` flag for Gulp Missile
  src/data/ability.ts
Labels: Documentation, Ability

#4670 [Move][Ability] Implement Commander and Order Up
  src/battle-scene.ts
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/data/mystery-encounters/encounters/the-winstrate-challenge-encounter.ts
  src/enums/battler-tag-type.ts
  src/enums/pokemon-anim-type.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/phases/command-phase.ts
  src/phases/encounter-phase.ts
  src/phases/enemy-command-phase.ts
  src/phases/move-effect-phase.ts
  src/phases/mystery-encounter-phases.ts
  src/phases/pokemon-anim-phase.ts
  src/phases/post-summon-phase.ts
  src/test/abilities/commander.test.ts
  src/test/moves/order_up.test.ts
Labels: Move, Ability

#4798 [Bug] Fixing Incorrect Freeze Dry Interaction With Soaked Wonder Guard Target
  src/data/ability.ts
  src/test/moves/freeze_dry.test.ts
Labels: Move, P2 Bug

#4802 [P2][ME] Fix GTS not getting the correct tier when trading items
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
Labels: Mystery Encounter, P2 Bug

#4803 [Balance][Beta] Commander now increases double battle chance
  src/data/ability.ts
Labels: Ability, Balance Team

#4794 [Move] Implement Grudge
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/phases/faint-phase.ts
  src/phases/pokemon-anim-phase.ts
  src/test/moves/grudge.test.ts
Labels: Move

#4785 [Ability] Fully Implement Synchronize
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/test/abilities/corrosion.test.ts
  src/test/abilities/synchronize.test.ts
  src/test/moves/psycho_shift.test.ts
Labels: Move

#4791 [Feature] [Balance] Add critical captures, update shake probability to match gen 6
  src/data/pokeball.ts
  src/phases/attempt-capture-phase.ts
Labels: Game Balance, Game Design

#4812 [Balance] Fix Cosmoem having an evolution level
  src/data/balance/pokemon-evolutions.ts
Labels: Game Balance

#4804 [Dev] Remove logging for api requests
  src/plugins/api/api-base.ts
Labels: Miscellaneous, Beta

#4819 [Bug] Boss segments will no longer block healing
  src/field/pokemon.ts
Labels: Miscellaneous, P2 Bug

#4806 [Bug] Prevents crash from using Sketch against a lost turn
  src/data/move.ts
  src/test/moves/sketch.test.ts
Labels: P1 Bug

#4789 [Move][Refactor] Create `Move.getPriority` + Fully Implement Upper Hand
  src/data/ability.ts
  src/data/arena-tag.ts
  src/data/move.ts
  src/data/terrain.ts
  src/phases/turn-start-phase.ts
  src/test/moves/upper_hand.test.ts
Labels: Move, Refactor

#4805 [Bug] Fixing Encore's interactions with other Move Restriction moves
  src/data/battler-tags.ts
  src/phases/command-phase.ts
  src/test/moves/encore.test.ts
  src/ui/command-ui-handler.ts
Labels: Move, P2 Bug

#4811 [Feature] [Item] Add Catching Charm item
  public/images/items.png
  public/images/items/catching_charm.png
  src/data/pokeball.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
Labels: Enhancement, Item

#4829 [Balance] Modify potion and ether weight funcs
  src/modifier/modifier-type.ts
Labels: Item, Balance Team

#4830 [Test] Fix flaky Wimp Out test
  src/test/abilities/wimp_out.test.ts
Labels: Tests

#4828 [P2] Removed incorrect calls to `resetBattleData` on switchout
  src/field/pokemon.ts
  src/phases/switch-summon-phase.ts
Labels: Move, Ability, P2 Bug

#4826 [Bug][Beta] Fix Commander implementation bugs
  src/battle-scene.ts
  src/field/pokemon.ts
  src/phases/check-switch-phase.ts
  src/phases/encounter-phase.ts
Labels: Ability, P1 Bug, P2 Bug, P3 Bug, Beta

#4823 [P2][Beta] Fix Sketch failing to sketch Metronome et al
  src/data/move.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/test/abilities/sap_sipper.test.ts
  src/test/moves/sketch.test.ts
Labels: Move, P2 Bug, Beta

#4836 [Cleanup] Minor cleaning, Undo Event modifier-type.ts item table changes
  src/modifier/modifier-type.ts
Labels: Item

#4837 [Bug] Fix visual bug with pokemon level decrease in weird dream encounter
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
Labels: UI/UX, Mystery Encounter, P3 Bug

#4835 [P1] Fix crash when newly aquired Pokemon are used in battle
  src/data/mystery-encounters/encounters/fun-and-games-encounter.ts
  src/field/pokemon.ts
  src/phases/encounter-phase.ts
  src/phases/summon-phase.ts
Labels: Blocker, P1 Bug

#4834 [Telemetry][Misc] Client-Side changes to log run results at the end of runs
  src/@types/PokerogueSessionSavedataApi.ts
  src/phases/game-over-phase.ts
  src/test/plugins/api/pokerogue-session-savedata-api.test.ts
Labels: Miscellaneous, Lead Dev Review

#4824 [Bug] Transform and Imposter will now fail when either Pokemon is fused
  src/data/ability.ts
  src/data/move.ts
  src/data/pokemon-species.ts
  src/field/pokemon.ts
Labels: Move, Ability, P1 Bug

#4820 [P2][Beta] Several Unburden bug fixes
  src/battle-scene.ts
  src/data/ability.ts
  src/data/berry.ts
  src/data/move.ts
  src/data/mystery-encounters/encounters/bug-type-superfan-encounter.ts
  src/data/mystery-encounters/encounters/delibirdy-encounter.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/field/pokemon.ts
  src/phases/berry-phase.ts
  src/phases/faint-phase.ts
  src/phases/select-modifier-phase.ts
  src/phases/stat-stage-change-phase.ts
  src/phases/switch-summon-phase.ts
  src/test/abilities/unburden.test.ts
Labels: P2 Bug, Beta

#4841 [Sprite] Implement female icon assets
  public/images/pokemon/icons/2/154-f.png
  public/images/pokemon/icons/2/154s-f.png
  public/images/pokemon/icons/3/255-f.png
  public/images/pokemon/icons/3/255s-f.png
  public/images/pokemon/icons/3/256-f.png
  public/images/pokemon/icons/3/256s-f.png
  public/images/pokemon/icons/3/257-f-mega.png
  public/images/pokemon/icons/3/257-f.png
  public/images/pokemon/icons/3/257s-f-mega.png
  public/images/pokemon/icons/3/257s-f.png
  public/images/pokemon_icons_1.json
  public/images/pokemon_icons_2.json
  public/images/pokemon_icons_3.json
  src/data/pokemon-species.ts
Labels: Sprite/Animation, P3 Bug

#4843 [P3][Beta] Fix shiny Pokemon being displayed before shiny colours are loaded
  src/field/pokemon.ts
Labels: Sprite/Animation, P3 Bug

#4845 [Test] Modernize the tests for the Zen Mode ability
  src/test/abilities/zen_mode.test.ts
Labels: Tests, Refactor

#4839 [Bug] Added `failIfSingleBattle` condtion to Doubles-only moves
  src/data/move.ts
  src/phases/move-phase.ts
Labels: Move, P3 Bug

#4848 [Beta][Bug] Move Phase not Ending Correctly
  src/phases/move-phase.ts
Labels: P1 Bug, Beta

#4846 [P1][Beta] Fix softlock when losing a run on local build
  src/phases/game-over-phase.ts
  src/test/phases/game-over-phase.test.ts
  src/test/utils/phaseInterceptor.ts
Labels: Blocker, P1 Bug, Beta

#4851 [Balance][Beta] Revert Spread Move Restriction on Multi-Lens
  src/data/ability.ts
  src/data/move.ts
  src/modifier/modifier.ts
  src/test/items/multi_lens.test.ts
Labels: Item, Game Balance, Beta

#4854 [Bug] Fix level up evolution delay
  src/phases/level-up-phase.ts
Labels: Miscellaneous, P2 Bug

#4859 [Bug] Battles against wild Aegislash display a message after defeat, Gulp Missile activation freezes the game if both sides faint at the same time
  src/phases/quiet-form-change-phase.ts
Labels: Ability, P1 Bug

#4840 [Move] Fully implement Freeze Dry
  src/data/move.ts
  src/test/moves/freeze_dry.test.ts
Labels: Move, P2 Bug

#4861 [Balance] Set the IVs of default starters to 15
  src/data/challenge.ts
  src/system/game-data.ts
Labels: Game Balance

#4833 [Dev] Add overrides for alternating between single and double battles
  src/battle-scene.ts
  src/overrides.ts
  src/test/battle/double_battle.test.ts
  src/test/moves/gastro_acid.test.ts
  src/test/utils/helpers/overridesHelper.ts
Labels: Miscellaneous, Tests

#4869 [Bug] FloatingTag now takes a specific turn count
  src/data/battler-tags.ts
  src/data/move.ts
Labels: P2 Bug

#4871 [P1] Prevent losing saves from null dexData attributes
  src/system/game-data.ts
Labels: P1 Bug

#4874 [Move][Beta] Freeze-dry Re-implementation
  src/data/ability.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/test/moves/freeze_dry.test.ts
Labels: Enhancement, Move, Refactor, P2 Bug

#4862 [Balance] No more double 50x bosses in Endless + cleaning up RNG
  src/battle-scene.ts
  src/game-mode.ts
  src/modifier/modifier.ts
Labels: Game Balance

#4876 [Move] Remove `.edgeCase()` from fully implemented moves
  src/data/move.ts
  src/test/moves/moongeist_beam.test.ts
Labels: Move, Tests

#4873 [Bug][Beta] Fix crash when resetting Commanded Dondozo before Trainer battles
  src/data/battler-tags.ts
  src/phases/pokemon-anim-phase.ts
Labels: Ability, P1 Bug, P2 Bug

#4842 [QoL][Sprite] Set default fps to 10 instead of 12 on pokemon anim config
  src/data/pokemon-species.ts
  src/field/mystery-encounter-intro.ts
  src/field/pokemon.ts
Labels: Sprite/Animation

#4877 [Bug] Lunar Blessing / Jungle Healing now heal Freeze
  src/data/move.ts
Labels: Move, P2 Bug

#4849 [Beta][Misc] Improved cursor memory for target selection in Doubles
  src/ui/target-select-ui-handler.ts
Labels: Miscellaneous, Beta

#4879 [Balance] Fix Liquidation, Double Edge, Body Press TM compatibility
  src/data/balance/tms.ts
Labels: Balance Team

#4856 [Balance] Increase Gimmighoul's evo counter more with Big Nugget/Relic Gold
  src/modifier/modifier.ts
Labels: Game Balance

#4875 [Balance] Endure Tokens only endure one hit
  src/data/battler-tags.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/test/moves/endure.test.ts
Labels: Item, Game Balance

#4801 [Bug] fix training session encounter not applying nature correctly
  src/data/mystery-encounters/encounters/shady-vitamin-dealer-encounter.ts
  src/data/mystery-encounters/encounters/training-session-encounter.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/system/game-data.ts
Labels: Mystery Encounter, P2 Bug

#4847 [UI] Make ME text legible when using the legacy UI theme
  src/data/mystery-encounters/utils/encounter-dialogue-utils.ts
  src/ui/mystery-encounter-ui-handler.ts
  src/ui/run-info-ui-handler.ts
  src/ui/text.ts
Labels: UI/UX

#4896 [Balance] Multi Lens damage reduction on fixed-damage moves
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/test/abilities/parental_bond.test.ts
  src/test/items/multi_lens.test.ts
Labels: Item, Beta

#4899 [Bug][P1] Wave 10x Boss Pokemon can no longer flee battles with Wimp Out
  src/data/ability.ts
Labels: P1 Bug

#4900 [Misc] Follow up to Wimp Out bug fix
  src/data/ability.ts
  src/test/abilities/wimp_out.test.ts
Labels: Miscellaneous, Tests, Refactor

#4888 [P1] Fix crash caused by removing arena tags on a new catch
  src/field/pokemon.ts
Labels: P1 Bug

#4905 [Hotfix] Prevent crash if enemy Future Sight user is caught
  package-lock.json
  package.json
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
Labels: Move, P1 Bug

#4882 [Balance] Remove reduced weight for regional species from egg pulls
  src/data/egg.ts
Labels: Balance Team

#4902 [Balance] Make Intrepid Sword / Dauntless Shield their Generation 8 Implementation
  src/data/ability.ts
Labels: Ability, Game Balance, Balance Team

#4895 [GitHub] Overhaul GitHub pull request template
  .github/pull_request_template.md
Labels: GitHub

#4909 [Misc] Remove obsolete `.edgeCase()` from Gulp Missile
  src/data/ability.ts
Labels: Documentation, Move

#4939 [Docs] Update artist credit
  README.md
Labels: Documentation

#4880 [Misc] Rename `DamagePhase` to `DamageAnimPhase`
  src/field/pokemon.ts
  src/phases/damage-anim-phase.ts
  src/phases/faint-phase.ts
  src/test/abilities/forecast.test.ts
  src/test/abilities/hustle.test.ts
  src/test/abilities/parental_bond.test.ts
  src/test/abilities/speed_boost.test.ts
  src/test/abilities/sturdy.test.ts
  src/test/battle/battle.test.ts
  src/test/battle/damage_calculation.test.ts
  src/test/items/leftovers.test.ts
  src/test/moves/dynamax_cannon.test.ts
  src/test/moves/fissure.test.ts
  src/test/moves/fusion_flare_bolt.test.ts
  src/test/moves/glaive_rush.test.ts
  src/test/moves/scale_shot.test.ts
  src/test/mystery-encounter/encounter-test-utils.ts
  src/test/utils/phaseInterceptor.ts
Labels: Miscellaneous

#4946 [Misc] Append .prsv to data recovery file names to prevent user confusion
  src/ui/login-form-ui-handler.ts
Labels: P3 Bug, Beta

#4906 [Balance][Ability] Remove Supersweet Syrup's once-per-battle condition
  src/data/ability.ts
Labels: Ability, Game Balance, Awaiting Locales

#4894 [Misc] Mark Rage Fist as partial in line with similar moves/abilities
  src/data/move.ts
Labels: Move, Miscellaneous

#4917 [Bug] Analytic should only increase damage if the user moves last
  src/data/ability.ts
  src/test/abilities/analytic.test.ts
Labels: Move, P2 Bug

#4911 [Balance] 'Breeders in Space' cheevo unlocks for normal and expert breeders
  src/battle-scene.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/overrides.ts
  src/phases/trainer-victory-phase.ts
  src/system/achv.ts
Labels: Game Balance, Blocker, Awaiting Locales

#4881 [Move] Implement True Force Switch (Roar, Whirlwind, Circle Throw, Dragon Tail)
  src/data/move.ts
  src/enums/switch-type.ts
Labels: Move

#4928 [Bug] Fixed First Turn Move + Wimp Out interaction
  src/data/ability.ts
  src/phases/switch-summon-phase.ts
Labels: Move, Ability, P2 Bug

#4903 [Bug] Honey Gather and Pickup will only activate if the battle was won
  src/data/ability.ts
  src/data/move.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/phases/attempt-run-phase.ts
  src/phases/battle-end-phase.ts
  src/phases/victory-phase.ts
  src/test/abilities/honey_gather.test.ts
Labels: Ability, P2 Bug

#4952 [Test] Fix flaky Shell Side Arm test
  src/test/moves/shell_side_arm.test.ts
Labels: Tests

#4924 [Audio] Replace Forest track with custom BGM by Andr06
  public/audio/bgm/forest.mp3
  src/field/arena.ts
Labels: Audio

#4913 [UI/UX][QOL] Add number of eggs hatching to egg skip prompt
  src/phases/egg-lapse-phase.ts
Labels: UI/UX, Awaiting Locales

#4915 [Balance] Safeguard to prevent Paradox Pokemon spawning in ME's
  src/data/balance/special-species-groups.ts
  src/data/mystery-encounters/encounters/dark-deal-encounter.ts
  src/data/mystery-encounters/encounters/safari-zone-encounter.ts
  src/data/mystery-encounters/encounters/the-pokemon-salesman-encounter.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/test/mystery-encounter/encounters/safari-zone.test.ts
  src/test/mystery-encounter/encounters/the-pokemon-salesman-encounter.test.ts
  src/test/mystery-encounter/mystery-encounter-utils.test.ts
Labels: Game Balance, Blocker

#4914 [BUGFIX] Fixed Super Fang interaction with Multi Lens
  src/data/move.ts
  src/field/pokemon.ts
  src/test/items/multi_lens.test.ts
Labels: Item, P2 Bug

#4951 [P1][Beta] Fix phazing moves forcing switches into fainted/ineligible Pokemon
  src/data/move.ts
  src/test/moves/dragon_tail.test.ts
  src/test/moves/whirlwind.test.ts
Labels: Blocker, P1 Bug, Beta

#4949 [UI/UX][QoL] Ask confirmation before disabling touchpad controls in settings
  src/system/settings/settings.ts
  src/ui/settings/abstract-settings-ui-handler.ts
Labels: UI/UX, Awaiting Locales

#4920 [UI/UX] Added the (+) icon for newly non-shiny pokemon
  src/ui/pokemon-info-container.ts
Labels: Enhancement, UI/UX

#4943 [Refactor] Replace hardcoded party size limit with constant `PLAYER_PARTY_MAX_SIZE`
  src/ui/starter-select-ui-handler.ts
Labels: Refactor

#4923 [Bug] Fix for Octolock bypasses Ghost Invulnerability to lower Stats
  src/data/battler-tags.ts
  src/data/move.ts
  src/test/battlerTags/octolock.test.ts
  src/test/moves/octolock.test.ts
Labels: Move, P2 Bug

#3681 [Bug] Fix Eviolite Weight Condition
  src/modifier/modifier-type.ts
Labels: Item, P2 Bug

#4918 [Bug] Stakeout should trigger if the enemy switches with U-Turn/etc
  src/data/ability.ts
  src/test/abilities/stakeout.test.ts
Labels: Move, P2 Bug

#4947 [Balance] Candy friendship changes
  src/data/balance/starters.ts
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/modifier/modifier-type.ts
  src/test/mystery-encounter/encounters/clowning-around-encounter.test.ts
  src/test/mystery-encounter/encounters/the-expert-breeder-encounter.test.ts
Labels: Balance Team

#4931 [Bug] Prevent battle skip with Wimp Out
  src/data/ability.ts
  src/data/arena-tag.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
  src/phases/post-turn-status-effect-phase.ts
  src/phases/turn-end-phase.ts
  src/phases/weather-effect-phase.ts
  src/test/abilities/wimp_out.test.ts
Labels: Ability, P2 Bug

#4935 [Bug] Fix Wimp Out/EE Trainer Battle causing enemy stack with multi hit
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
Labels: Ability, P2 Bug

#4755 [Bug] Fix Lingering Arena Trap if Pokemon Switches Out
  src/field/pokemon.ts
  src/test/abilities/arena_trap.test.ts
Labels: Miscellaneous, P2 Bug
