Repository pagefaultgames/pokerogue, pull requests merged in 2024-10, with the labels that each got.

#4528 [Bug] Chilly Reception's Snow is called during Enemy AI Move Selection
  src/data/move.ts
  src/test/moves/chilly_reception.test.ts
Labels: Move, P2 Bug

#4539 [Bug][external-locales] fix locales hard wiring
  src/ui/egg-gacha-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/test-dialogue-ui-handler.ts
Labels: Localization

#4542 [Misc] Remove obsolete comments
  src/ui/egg-gacha-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Miscellaneous

#4541 [P2][Move] Fix Tera Shell to apply to all hits of multi-strike moves
  src/data/ability.ts
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
  src/test/abilities/tera_shell.test.ts
Labels: Move, P2 Bug

#4510 [Refactor] Move some relevant files, tables etc to new balance folder
  src/battle-scene.ts
  src/data/balance/biomes.ts
  src/data/balance/egg-moves.ts
  src/data/balance/passives.ts
  src/data/balance/pokemon-evolutions.ts
  src/data/balance/pokemon-level-moves.ts
  src/data/balance/rates.ts
  src/data/balance/starters.ts
  src/data/balance/tms.ts
  src/data/challenge.ts
  src/data/daily-run.ts
  src/data/egg.ts
  src/data/mystery-encounters/encounters/an-offer-you-cant-refuse-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/data/mystery-encounters/encounters/the-pokemon-salesman-encounter.ts
  src/data/mystery-encounters/encounters/training-session-encounter.ts
  src/data/mystery-encounters/mystery-encounter-requirements.ts
  src/data/mystery-encounters/mystery-encounters.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/data/pokemon-species.ts
  src/data/trainer-config.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/field/trainer.ts
  src/loading-scene.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/phases/command-phase.ts
  src/phases/evolution-phase.ts
  src/phases/game-over-phase.ts
  src/phases/select-biome-phase.ts
  src/system/achv.ts
  src/system/game-data.ts
  src/test/evolution.test.ts
  src/test/mystery-encounter/encounters/uncommon-breed-encounter.test.ts
  src/test/mystery-encounter/mystery-encounter-utils.test.ts
  src/test/vitest.setup.ts
  src/ui/game-stats-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/pokemon-hatch-info-container.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/summary-ui-handler.ts
Labels: Balance Team, Refactor

#4547 [Dev][Misc] Cleanup test boilerplate script
  create-test-boilerplate.js
Labels: Miscellaneous

#4546 [Misc] Disable some leftover debug code
  .env.beta
  .env.development
  src/data/mystery-encounters/mystery-encounters.ts
Labels: Miscellaneous

#4559 [P2] Make weather damage round down for consistency
  src/phases/weather-effect-phase.ts
  src/test/arena/weather_hail.test.ts
  src/test/arena/weather_sandstorm.test.ts
Labels: P2 Bug

#4490 [QOL] Have Friendship Value be shown in summary
  public/images/ui/friendship.png
  public/images/ui/friendship_overlay.png
  public/images/ui/legacy/friendship.png
  public/images/ui/legacy/friendship_overlay.png
  src/loading-scene.ts
  src/ui/summary-ui-handler.ts
Labels: Enhancement, UI/UX

#4445 [P2] Fix Toxic to bypass semi-invulnerability when used by a Poison-type.
  src/phases/move-effect-phase.ts
  src/test/moves/toxic.test.ts
Labels: Move, P2 Bug

#4551 [Move] Implement Scale Shot
  src/data/move.ts
  src/test/moves/scale_shot.test.ts
Labels: Move

#4294 [Qol][Mirror] Modifiers type inference v2
  src/battle-scene.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/phases/battle-end-phase.ts
  src/phases/berry-phase.ts
Labels: Refactor

#3369 [P2] Fixes party status cure moves only curing the player's pokemon, even when used by enemy pokemon
  src/data/move.ts
  src/phases/party-status-cure-phase.ts
  src/test/moves/aromatherapy.test.ts
  src/test/moves/heal_bell.test.ts
  src/test/moves/sparkly_swirl.test.ts
Labels: Move, P2 Bug

#4549 [Move] Update Tera Starstorm (still Partial), Readd Partial tag to Tera Blast
  src/data/move.ts
  src/field/pokemon.ts
  src/test/moves/tera_starstorm.test.ts
Labels: Move

#4561 [Beta][P1] Fix rare/-er candy
  src/modifier/modifier.ts
Labels: P1 Bug, Beta

#4530 [Move] Unique Messages for Heal Block / Taunt / Torment / Imprison
  src/data/battler-tags.ts
Labels: Move, Miscellaneous

#4562 [P3] Fix persisting sleep animation when sprite is already loaded
  src/data/pokemon-species.ts
Labels: P3 Bug

#4567 [Bug][Beta] Fix hit check so Poison-types do not brick semi-invuln.
  src/phases/move-effect-phase.ts
  src/test/moves/toxic.test.ts
Labels: P2 Bug

#4298 [QoL] Add fusion options to overrides
  src/battle-scene.ts
  src/field/pokemon.ts
  src/overrides.ts
  src/phases/select-starter-phase.ts
  src/test/utils/helpers/overridesHelper.ts
Labels: Enhancement

#4573 [Misc] Update README.md to include relevant links
  README.md
Labels: Miscellaneous, Lead Dev Review

#3974 [Refactor] Refactor move phase and add documentation
  src/battle-scene.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
  src/phases/move-phase.ts
  src/test/moves/whirlwind.test.ts
Labels: Documentation, Miscellaneous, Refactor

#4572 [Sprite] Fix variant Farigiraf icon names
  public/images/pokemon_icons_9v.json
Labels: Sprite/Animation, P3 Bug

#4568 [Balance] Fix TM compatibility on forms, Tera Blast on Indigo Disk mons
  src/data/balance/tms.ts
Labels: Move, Balance Team

#4511 [Move] Fully Implement the Pledge Moves
  package-lock.json
  src/data/arena-tag.ts
  src/data/move.ts
  src/enums/arena-tag-type.ts
  src/field/pokemon.ts
  src/phases/move-phase.ts
  src/test/moves/pledge_moves.test.ts
Labels: Move

#4569 [Move] Implement Electrify
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/test/moves/electrify.test.ts
Labels: Move

#4544 [Bug] Diamond Storm should only trigger once when hitting multiple pokemon
  src/data/move.ts
  src/test/moves/diamond_storm.test.ts
Labels: Move, P2 Bug

#4558 [P3] Fix start button cursor not being cleared properly in starter select
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#4579 [Move] Implement Ion Deluge
  src/data/arena-tag.ts
  src/data/move.ts
  src/enums/arena-tag-type.ts
  src/field/pokemon.ts
Labels: Move

#4588 Make duplicate abilities not stack
  src/data/ability.ts
  src/test/abilities/ability_duplication.test.ts
Labels: Ability, Balance Team, P2 Bug

#4587 [Test] Update `create-test` script for linting changes
  create-test-boilerplate.js
Labels: Tests

#4581 [P2] Fix evolutions unable to strictly apply to base Pokemon forms
  src/field/pokemon.ts
Labels: Miscellaneous, P2 Bug

#4557 [Github] Change deploy script to specify "main" instead of `default_branch`
  .github/workflows/deploy.yml
Labels: Miscellaneous, Lead Dev Review

#4601 [P1] Fix Shop Cursor Indexing Crash
  src/ui/modifier-select-ui-handler.ts
Labels: Mystery Encounter, P1 Bug

#4593 [Sprite] Compress Bronzor animation
  public/images/pokemon/436.json
  public/images/pokemon/436.png
  public/images/pokemon/back/436.json
  public/images/pokemon/back/436.png
  public/images/pokemon/back/shiny/436.json
  public/images/pokemon/back/shiny/436.png
  public/images/pokemon/shiny/436.json
  public/images/pokemon/shiny/436.png
Labels: Sprite/Animation

#4589 [Beta][P1] Fix regression in Metal Burst caused by #3974
  src/phases/move-phase.ts
  src/test/moves/metal_burst.test.ts
  src/test/utils/helpers/moveHelper.ts
Labels: Move, P1 Bug, Beta

#4564 [Beta][Test] Fix Scale Shot flaky test
  src/test/moves/scale_shot.test.ts
Labels: Tests, Beta

#4543 [Move] Triple Arrows effect chance for stat change is now 50%
  src/data/move.ts
  src/test/moves/triple_arrows.test.ts
Labels: Enhancement, Move

#4612 [Sprite] Fix stray pixels in Kirlia's animation
  public/images/pokemon/281.json
  public/images/pokemon/shiny/281.json
Labels: Sprite/Animation, P3 Bug

#4613 [P2] Fix damage achievements
  src/field/pokemon.ts
  src/phases/level-up-phase.ts
  src/system/achv.ts
Labels: P2 Bug

#4600 [P3][UI] Fix egg gacha overlay not getting cleared properly
  src/overrides.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#4598 [P1] Fix wrong local save being deleted when creating a new run
  src/system/game-data.ts
Labels: P1 Bug

#4614 [Beta][P2] Fix Grip Claw
  src/modifier/modifier.ts
  src/test/items/grip_claw.test.ts
Labels: Item, P2 Bug, Beta

#4623 [Bug] Prevent generating Pokemon with duplicate IDs in daily mode
  src/phases/title-phase.ts
Labels: P2 Bug

#4410 [Feature][UI] Save Preview
  src/battle-scene.ts
  src/data/mystery-encounters/encounters/a-trainers-test-encounter.ts
  src/data/mystery-encounters/encounters/absolute-avarice-encounter.ts
  src/data/mystery-encounters/encounters/an-offer-you-cant-refuse-encounter.ts
  src/data/mystery-encounters/encounters/berries-abound-encounter.ts
  src/data/mystery-encounters/encounters/bug-type-superfan-encounter.ts
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/data/mystery-encounters/encounters/dancing-lessons-encounter.ts
  src/data/mystery-encounters/encounters/dark-deal-encounter.ts
  src/data/mystery-encounters/encounters/delibirdy-encounter.ts
  src/data/mystery-encounters/encounters/department-store-sale-encounter.ts
  src/data/mystery-encounters/encounters/field-trip-encounter.ts
  src/data/mystery-encounters/encounters/fiery-fallout-encounter.ts
  src/data/mystery-encounters/encounters/fight-or-flight-encounter.ts
  src/data/mystery-encounters/encounters/fun-and-games-encounter.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/lost-at-sea-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-challengers-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-chest-encounter.ts
  src/data/mystery-encounters/encounters/part-timer-encounter.ts
  src/data/mystery-encounters/encounters/safari-zone-encounter.ts
  src/data/mystery-encounters/encounters/shady-vitamin-dealer-encounter.ts
  src/data/mystery-encounters/encounters/slumbering-snorlax-encounter.ts
  src/data/mystery-encounters/encounters/teleporting-hijinks-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/data/mystery-encounters/encounters/the-pokemon-salesman-encounter.ts
  src/data/mystery-encounters/encounters/the-strong-stuff-encounter.ts
  src/data/mystery-encounters/encounters/the-winstrate-challenge-encounter.ts
  src/data/mystery-encounters/encounters/training-session-encounter.ts
  src/data/mystery-encounters/encounters/trash-to-treasure-encounter.ts
  src/data/mystery-encounters/encounters/uncommon-breed-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/data/mystery-encounters/mystery-encounter.ts
  src/ui/run-history-ui-handler.ts
  src/ui/run-info-ui-handler.ts
  src/ui/save-slot-select-ui-handler.ts
Labels: Miscellaneous, UI/UX, Lead Dev Review

#4553 [Qol] Load i18n en locales during tests
  global.d.ts
  src/test/abilities/ability_timing.test.ts
  src/test/items/toxic_orb.test.ts
  src/test/mystery-encounter/encounters/a-trainers-test-encounter.test.ts
  src/test/mystery-encounter/encounters/absolute-avarice-encounter.test.ts
  src/test/mystery-encounter/encounters/an-offer-you-cant-refuse-encounter.test.ts
  src/test/mystery-encounter/encounters/field-trip-encounter.test.ts
  src/test/mystery-encounter/encounters/fiery-fallout-encounter.test.ts
  src/test/mystery-encounter/encounters/lost-at-sea-encounter.test.ts
  src/test/mystery-encounter/encounters/teleporting-hijinks-encounter.test.ts
  src/test/phases/mystery-encounter-phase.test.ts
  src/test/system/game_data.test.ts
  src/test/ui/starter-select.test.ts
  src/test/ui/type-hints.test.ts
  src/test/vitest.setup.ts
Labels: Tests, Refactor

#4631 [P1 Bug] Fix infinite recursion from abilities disabled by Sheer Force
  src/field/pokemon.ts
  src/test/abilities/sheer_force.test.ts
Labels: Ability, P1 Bug

#4629 [Bug] Fix enemy used PP flyout
  src/phases/move-phase.ts
Labels: P3 Bug, Beta

#4627 [Bug] Obstruct/etc no longer reduce stats through Clear Body/etc
  src/data/battler-tags.ts
  src/test/moves/obstruct.test.ts
Labels: Move, P2 Bug

#4615 [Bug] Pollen Puff behavior fix
  src/data/move.ts
  src/field/pokemon.ts
Labels: Move, P2 Bug

#4602 [Bug] Fix Battle Bond continuing to affect Water Shuriken after Greninja returns to base form
  src/data/move.ts
  src/test/abilities/battle_bond.test.ts
Labels: Move, P2 Bug

#4570 [Bug] Fix substitute interactions with `PostDefendAbAttr`s
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/test/abilities/disguise.test.ts
  src/test/abilities/gulp_missile.test.ts
  src/test/abilities/ice_face.test.ts
Labels: Move, Ability, P2 Bug

#4560 [Dev] Improve typing in `phaseInterceptor.ts`
  src/test/utils/phaseInterceptor.ts
Labels: Tests, Refactor

#4591 [Enhancement] Refactor Starter Species to use separate EggTier map
  src/data/balance/species-egg-tiers.ts
  src/data/egg.ts
  src/data/mystery-encounters/encounters/a-trainers-test-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/enums/egg-type.ts
  src/field/pokemon.ts
  src/test/eggs/egg.test.ts
  src/test/mystery-encounter/encounters/a-trainers-test-encounter.test.ts
  src/test/mystery-encounter/encounters/the-expert-breeder-encounter.test.ts
  src/ui/battle-info.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/text.ts
  src/utils.ts
Labels: Enhancement, Balance Team, Beta

#4606 [Bug] Syrup Bomb effect is removed when user leaves the field
  src/data/battler-tags.ts
  src/test/moves/syrup_bomb.test.ts
Labels: Move, P2 Bug, Beta

#4635 [P3] Fix "Won't Go Any Lower/Higher" Not Appearing
  src/enums/stat.ts
Labels: UI/UX, P3 Bug

#4620 [Misc] Enemy item override will now apply to all enemies
  src/battle-scene.ts
  src/modifier/modifier.ts
Labels: Miscellaneous

#4633 [P3 Beta][UI] Fix loading behavior introduced with save preview
  src/ui/save-slot-select-ui-handler.ts
Labels: UI/UX, P3 Bug, Beta

#4616 [P3][UI] Remove unecessary score display in Voucher menu
  src/ui/achvs-ui-handler.ts
Labels: UI/UX, P3 Bug

#3528 [Bug] Fix first-turn status damage and arena hazards
  src/data/arena-tag.ts
  src/phases/check-status-effect-phase.ts
  src/phases/obtain-status-effect-phase.ts
  src/phases/turn-start-phase.ts
  src/system/arena-data.ts
  src/system/game-data.ts
  src/test/items/toxic_orb.test.ts
  src/test/moves/toxic_spikes.test.ts
Labels: Move, P2 Bug

#4641 [P3][UI] Fix tooltip bugs in Starter Select screen
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#4642 [Sprite][Bug][Color] Hisui Goodra, Sliggoo, Shiftree
  public/images/pokemon/275.png
  public/images/pokemon/6706.png
  public/images/pokemon/back/6706.png
  public/images/pokemon/exp/6706.png
  public/images/pokemon/exp/705.png
  public/images/pokemon/exp/back/6706.png
  public/images/pokemon/female/275.png
  public/images/pokemon/shiny/275.png
  public/images/pokemon/shiny/female/275.png
  public/images/pokemon/variant/6706.json
  public/images/pokemon/variant/6706_2.json
  public/images/pokemon/variant/6706_2.png
  public/images/pokemon/variant/6706_3.json
  public/images/pokemon/variant/6706_3.png
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/6706.json
  public/images/pokemon/variant/back/6706_2.json
  public/images/pokemon/variant/back/6706_2.png
  public/images/pokemon/variant/back/6706_3.json
  public/images/pokemon/variant/back/6706_3.png
  public/images/pokemon/variant/exp/6706.json
  public/images/pokemon/variant/exp/6706_2.json
  public/images/pokemon/variant/exp/6706_2.png
  public/images/pokemon/variant/exp/6706_3.json
  public/images/pokemon/variant/exp/6706_3.png
  public/images/pokemon/variant/exp/705.json
  public/images/pokemon/variant/exp/705_2.json
  public/images/pokemon/variant/exp/705_2.png
  public/images/pokemon/variant/exp/705_3.json
  public/images/pokemon/variant/exp/705_3.png
  public/images/pokemon/variant/exp/back/6706.json
  public/images/pokemon/variant/exp/back/6706_2.json
  public/images/pokemon/variant/exp/back/6706_2.png
  public/images/pokemon/variant/exp/back/6706_3.json
  public/images/pokemon/variant/exp/back/6706_3.png
Labels: Sprite/Animation

#4638 [P3] Fix "falsex" type hint for Sheer Cold
  src/data/move.ts
Labels: Move, P3 Bug

#4506 [Move] Telekinesis + [Bug] Ingrain
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
  src/test/moves/telekinesis.test.ts
  src/test/moves/thousand_arrows.test.ts
Labels: Enhancement, Move, P2 Bug

#4639 [Test] Fix several flaky tests
  src/test/moves/safeguard.test.ts
  src/test/mystery-encounter/encounters/an-offer-you-cant-refuse-encounter.test.ts
  src/test/mystery-encounter/encounters/berries-abound-encounter.test.ts
  src/test/mystery-encounter/encounters/the-pokemon-salesman-encounter.test.ts
Labels: Tests

#4457 [Bug] Stat Stages are now changed individually instead of all at once
  src/phases/stat-stage-change-phase.ts
  src/test/abilities/competitive.test.ts
  src/test/abilities/defiant.test.ts
Labels: Ability, P2 Bug

#4650 [Documentation] Document all (P) moves
  src/data/move.ts
Labels: Documentation, Move

#4652 [Bug] [Balance] Gmax BST fixes, fixed ability indexing for gmax forms
  src/data/pokemon-species.ts
Labels: Balance Team, P2 Bug

#4649 [Documentation] Document all (P) abilities
  src/data/ability.ts
Labels: Documentation, Ability

#4648 [P3][Move] Fix Substitute visual bugs on wave transition
  src/field/pokemon.ts
Labels: Move, P3 Bug

#4536 [Bug] Move Restriction Battler Tag bugs
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/command-phase.ts
Labels: Move, P2 Bug

#4654 [P1 Bug] Fix softlock when a phazing attack activates a reviver seed
  src/data/move.ts
  src/test/moves/dragon_tail.test.ts
  src/test/moves/u_turn.test.ts
Labels: Move, P1 Bug

#4585 [Bug] Trainer Party Generation checks Trainer's Static Pokemon List for Duplicates too
  src/field/trainer.ts
Labels: Miscellaneous, P2 Bug

#4644 [QoL][UI] Add input delay before skipping egg summary
  src/phases/egg-lapse-phase.ts
  src/phases/egg-summary-phase.ts
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/confirm-ui-handler.ts
  src/ui/egg-summary-ui-handler.ts
Labels: Enhancement, UI/UX

#2658 [Move] Implement Power Trick
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/test/moves/power_trick.test.ts
Labels: Move

#4662 [Bug] Prevent duplicate move failure message
  src/phases/move-phase.ts
Labels: Move, P3 Bug, Beta

#4577 [Balance] Evil Team Update / Penny Adjustments
  src/data/trainer-config.ts
Labels: Balance Team

#4664 [P3][Beta] Fix missing move text when a move fails
  src/phases/move-phase.ts
Labels: P3 Bug, Beta

#4663 [Bug Fix] Attacks that miss against pokemon in semi invul state that have abilities such as volt absorb will not trigger while semi invulnerable
  src/phases/move-effect-phase.ts
  src/test/abilities/volt_absorb.test.ts
Labels: Move, Ability, P2 Bug

#4656 [Misc][UI] Default Case for Challenge Rules
  src/ui/run-info-ui-handler.ts
Labels: Miscellaneous, UI/UX

#4659 [Refactor] Add type inference and support for simulated calls to `ArenaTag.apply`
  src/data/arena-tag.ts
  src/data/move.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
  src/phases/post-summon-phase.ts
  src/phases/stat-stage-change-phase.ts
  src/phases/turn-start-phase.ts
  src/test/moves/aurora_veil.test.ts
  src/test/moves/light_screen.test.ts
  src/test/moves/reflect.test.ts
Labels: Refactor

#4626 [Ability] Allow Power Construct to transform 10% PC Zygardes
  public/audio/cry/718-10-complete.m4a
  src/battle-scene.ts
  src/data/ability.ts
  src/data/pokemon-forms.ts
  src/data/pokemon-species.ts
  src/test/abilities/power_construct.test.ts
Labels: Ability

#4555 [Balance] Add Memory Mushroom to Shop
  src/battle-scene.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/phases/learn-move-phase.ts
  src/phases/select-modifier-phase.ts
  src/test/items/lock_capsule.test.ts
  src/test/phases/select-modifier-phase.test.ts
  src/ui/modifier-select-ui-handler.ts
Labels: Enhancement, Balance Team, Game Design

#4665 [P1 Bug] Fix several Destiny Bond crashes
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/faint-phase.ts
  src/test/moves/destiny_bond.test.ts
Labels: Move, P1 Bug

#4661 [Bug] Potential fix for Expert Breeder's Pokemon being invisible
  src/battle-scene.ts
  src/data/mystery-encounters/encounters/a-trainers-test-encounter.ts
  src/data/mystery-encounters/encounters/absolute-avarice-encounter.ts
  src/data/mystery-encounters/encounters/dancing-lessons-encounter.ts
  src/data/mystery-encounters/encounters/dark-deal-encounter.ts
  src/data/mystery-encounters/encounters/fiery-fallout-encounter.ts
  src/data/mystery-encounters/encounters/fun-and-games-encounter.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/lost-at-sea-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-challengers-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-chest-encounter.ts
  src/data/mystery-encounters/encounters/safari-zone-encounter.ts
  src/data/mystery-encounters/encounters/shady-vitamin-dealer-encounter.ts
  src/data/mystery-encounters/encounters/teleporting-hijinks-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/data/mystery-encounters/encounters/the-strong-stuff-encounter.ts
  src/data/mystery-encounters/encounters/the-winstrate-challenge-encounter.ts
  src/data/mystery-encounters/encounters/training-session-encounter.ts
  src/data/mystery-encounters/encounters/trash-to-treasure-encounter.ts
  src/test/mystery-encounter/encounters/the-expert-breeder-encounter.test.ts
Labels: P3 Bug

#4647 [Move] Fully Implement Secret Power
  src/data/move.ts
  src/test/moves/secret_power.test.ts
Labels: Move

#4671 [Misc] Clean up commented safari zone code from #4661
  src/data/mystery-encounters/encounters/safari-zone-encounter.ts
Labels: Refactor

#4673 [Localization] [UI/UX] Italian Type and Status icons
  public/images/statuses_it.png
  public/images/types_it.png
Labels: Localization, UI/UX

#4674 [Misc] Restore info comment that was accidentally removed
  src/data/mystery-encounters/encounters/safari-zone-encounter.ts
Labels: Miscellaneous

#4675 [P2 Bug] Fix Expert Breeder species entry for Jynx not using baby species
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
Labels: Mystery Encounter, P2 Bug

#4388 [Dev] Bump Game Version, Overhaul Version Migration
  package-lock.json
  package.json
  src/phases/outdated-phase.ts
  src/system/game-data.ts
  src/system/version-converter.ts
  src/system/version_migration/version_converter.ts
  src/system/version_migration/versions/v1_0_4.ts
  src/test/utils/gameWrapper.ts
  src/ui/outdated-modal-ui-handler.ts
  src/ui/ui.ts
Labels: Documentation, Miscellaneous, Refactor

#4677 [Bug][Beta] Corrected Secret Power's secondary effect chance + removed edgecase tags
  src/data/ability.ts
  src/data/move.ts
Labels: P2 Bug, Beta

#4678 [Beta P3][UI] Fix item/cursor placement in shop screen
  src/ui/modifier-select-ui-handler.ts
Labels: UI/UX, P3 Bug, Beta

#4683 [Misc] [Beta] Fix crash when loading save preview with Mystery Encounter Override active
  src/battle-scene.ts
Labels: Beta

#4695 [P All][Bug] Various ME bugfixes (copy)
  public/images/items.json
  public/images/items.png
  public/images/items/black_sludge.png
  src/battle-scene.ts
  src/data/custom-pokemon-data.ts
  src/data/mystery-encounters/encounters/an-offer-you-cant-refuse-encounter.ts
  src/data/mystery-encounters/encounters/bug-type-superfan-encounter.ts
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/data/mystery-encounters/encounters/dancing-lessons-encounter.ts
  src/data/mystery-encounters/encounters/fight-or-flight-encounter.ts
  src/data/mystery-encounters/encounters/part-timer-encounter.ts
  src/data/mystery-encounters/encounters/shady-vitamin-dealer-encounter.ts
  src/data/mystery-encounters/encounters/slumbering-snorlax-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/data/mystery-encounters/encounters/the-strong-stuff-encounter.ts
  src/data/mystery-encounters/encounters/uncommon-breed-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/data/mystery-encounters/mystery-encounter-requirements.ts
  src/data/mystery-encounters/mystery-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/field/pokemon.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/phases/encounter-phase.ts
  src/phases/mystery-encounter-phases.ts
  src/system/pokemon-data.ts
  src/system/version_migration/version_converter.ts
  src/system/version_migration/versions/v1_1_0.ts
  src/test/mystery-encounter/encounters/bug-type-superfan-encounter.test.ts
  src/test/mystery-encounter/encounters/clowning-around-encounter.test.ts
  src/test/mystery-encounter/encounters/the-strong-stuff-encounter.test.ts
  src/test/mystery-encounter/encounters/weird-dream-encounter.test.ts
Labels: (Legacy) Bug, Blocker, Mystery Encounter

#4697 [Localization][UI/UX] emerald-pro font update
  public/fonts/pokemon-emerald-pro.ttf
Labels: Localization, UI/UX

#4690 [Refactor] Replace duplicate code with `getDoubleBattleChance()`
  src/battle-scene.ts
Labels: Refactor

#4698 [P3] Fix mistimed sound effect when replacing a move
  src/phases/learn-move-phase.ts
Labels: P3 Bug, Audio

#4699 [Misc] Shiny overrides can now force Pokemon to not be shiny
  src/field/pokemon.ts
  src/overrides.ts
  src/test/utils/helpers/challengeModeHelper.ts
  src/test/utils/helpers/classicModeHelper.ts
  src/test/utils/helpers/dailyModeHelper.ts
  src/test/utils/helpers/overridesHelper.ts
Labels: Enhancement, Miscellaneous, Tests

#4693 [Bug] The pokemon that set an arena hazard shouldn't ignore it
  src/data/arena-tag.ts
  src/test/moves/toxic_spikes.test.ts
Labels: Move, P2 Bug

#4636 [Ability] Partially Implement Infiltrator
  src/data/ability.ts
  src/data/arena-tag.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/stat-stage-change-phase.ts
  src/test/abilities/infiltrator.test.ts
  src/test/moves/aurora_veil.test.ts
  src/test/moves/light_screen.test.ts
  src/test/moves/reflect.test.ts
Labels: Ability

#3655 [Refactor] Added `BattlerTagLapseType.AFTER_HIT`
  src/data/battler-tags.ts
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
Labels: Move, Miscellaneous, Refactor

#4632 [Bug] Fix Early Bird
  src/data/ability.ts
  src/data/move.ts
  src/data/status-effect.ts
  src/field/pokemon.ts
  src/phases/move-phase.ts
  src/phases/obtain-status-effect-phase.ts
  src/phases/post-summon-phase.ts
  src/phases/post-turn-status-effect-phase.ts
  src/system/pokemon-data.ts
  src/test/abilities/early_bird.test.ts
  src/test/abilities/magic_guard.test.ts
  src/test/data/status-effect.test.ts
  src/test/items/toxic_orb.test.ts
  src/test/moves/nightmare.test.ts
  src/test/moves/will_o_wisp.test.ts
Labels: Ability, Refactor, P2 Bug

#4666 [UI][QoL] Cursor defaults to Fight at the start of each new wave
  src/phases/command-phase.ts
Labels: Miscellaneous, UI/UX

#4704 [Balance] Starmobile Stat Adjustments
  src/data/pokemon-species.ts
Labels: Balance Team

#4681 [Balance] [QoL] Add Exclusive Moves from a Prior Evolution to Evolutions via Memory Mushroom
  src/data/balance/pokemon-level-moves.ts
Labels: Balance Team

#4689 [Test] Add a way for tests to force activation of Statuses
  src/overrides.ts
  src/phases/move-phase.ts
  src/test/data/status-effect.test.ts
  src/test/utils/helpers/moveHelper.ts
  src/test/utils/helpers/overridesHelper.ts
Labels: Enhancement, Tests, Blocker

#4712 [P3][UI] Fix Egg Summary not showing new abilities in blue
  src/ui/pokemon-info-container.ts
Labels: UI/UX, P3 Bug

#4711 [Bug] All forms of Minior can now spawn in the wild
  src/battle-scene.ts
Labels: P3 Bug

#4709 [P2] Fix binding, etc. not being removed when switching with Baton Pass
  src/phases/switch-summon-phase.ts
  src/test/moves/baton_pass.test.ts
Labels: Move, P2 Bug

#4198 [Misc] Admin panel unlink accounts
  public/images/ui/legacy/link_icon.png
  public/images/ui/legacy/unlink_icon.png
  public/images/ui/link_icon.png
  public/images/ui/unlink_icon.png
  src/loading-scene.ts
  src/ui/admin-ui-handler.ts
  src/ui/form-modal-ui-handler.ts
  src/ui/login-form-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/modal-ui-handler.ts
  src/ui/registration-form-ui-handler.ts
  src/ui/rename-form-ui-handler.ts
  src/ui/test-dialogue-ui-handler.ts
Labels: Enhancement, Miscellaneous, Blocker

#4694 [Balance] Move-based Tyrogue Evolutions
  src/data/balance/pokemon-evolutions.ts
  src/data/balance/pokemon-level-moves.ts
Labels: Miscellaneous, Balance Team

#4720 [Sprite] Fix transparency of pixels on Fletchinder
  public/images/pokemon/exp/662.png
  public/images/pokemon/exp/back/662.png
  public/images/pokemon/exp/back/shiny/662.png
  public/images/pokemon/exp/shiny/662.png
Labels: Sprite/Animation, P3 Bug

#4722 [Beta] Stop Transform giving copied moves negative fractional `ppUp`
  src/data/ability.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/system/pokemon-data.ts
  src/test/abilities/imposter.test.ts
  src/test/moves/transform.test.ts
Labels: P1 Bug, Beta

#4721 Change Ferroseed's Hidden Ability from Iron Barbs to Anticipation
  src/data/pokemon-species.ts
Labels: Ability, Game Balance, Balance Team

#4726 [UI][Dev] Improve event banner placement
  public/images/events/halloween2024-event-de.png
  public/images/events/halloween2024-event-en.png
  public/images/events/halloween2024-event-es.png
  public/images/events/halloween2024-event-fr.png
  public/images/events/halloween2024-event-it.png
  public/images/events/halloween2024-event-ja.png
  public/images/events/halloween2024-event-ko.png
  public/images/events/halloween2024-event-pt-BR.png
  public/images/events/halloween2024-event-zh-CN.png
  src/loading-scene.ts
  src/timed-event-manager.ts
  src/ui/title-ui-handler.ts
Labels: Miscellaneous, UI/UX

#4732 [Hotfix] Fix status damage triggering before berry usage
  package-lock.json
  package.json
  src/phases/turn-start-phase.ts
Labels: Miscellaneous, P2 Bug

#4734 [Hotfix] Fix Eternatus egg tier
  package-lock.json
  package.json
  src/data/balance/species-egg-tiers.ts
  src/data/egg.ts
  src/test/eggs/egg.test.ts
Labels: Balance Team, P2 Bug

#4739 [Hotfix] Fix manifest getting loaded before the game is initialized
  package-lock.json
  package.json
  src/main.ts
  src/plugins/i18n.ts
Labels: P0 Bug

#4741 [Sprite] Hotfix cut off Binacle sprite
  package-lock.json
  package.json
  public/images/pokemon/688.json
  public/images/pokemon/back/688.json
  public/images/pokemon/back/shiny/688.json
  public/images/pokemon/shiny/688.json
Labels: Sprite/Animation, P3 Bug

#4746 [Hotfix] Fix crash when Mist would block a stat drop
  package-lock.json
  package.json
  src/data/arena-tag.ts
  src/phases/stat-stage-change-phase.ts
  src/test/moves/mist.test.ts
Labels: Move, P1 Bug

#4718 [Ability] Implementing Friend Guard
  src/data/ability.ts
  src/field/pokemon.ts
  src/test/abilities/friend_guard.test.ts
Labels: Enhancement, Ability

#4725 [Refactor] Change attack type booster names to enum
  src/modifier/modifier-type.ts
Labels: Refactor

#4680 [Bug] Fix enemy faint causing Frenzy moves to mishandle paralysis
  src/phases/move-phase.ts
  src/test/phases/frenzy-move-reset.test.ts
Labels: Move, P2 Bug

#4749 [Move] Mark Last Respects as partial
  src/data/ability.ts
  src/data/move.ts
Labels: Move, Miscellaneous

#4757 [Balance] Change Bouncy Bubble's Attributes
  src/data/move.ts
Labels: Balance Team

#4742 [P3] [Bug] Fixing form name being incorrect for some evolved pokemon
  src/ui/pokemon-info-container.ts
Labels: P3 Bug

#4713 [Balance] TM changes- drop Sacred Sword, add Secret Power, update Reflect
  src/data/balance/tms.ts
Labels: Balance Team

#4719 [Bug] Chloroblast & Struggle should not recoil if the move failed
  src/data/move.ts
  src/test/moves/chloroblast.test.ts
Labels: Move, P2 Bug

#4717 [P2][AI] Fix Enemy AI targeting their allies with Status Effect Moves
  src/data/move.ts
Labels: P2 Bug, AI

#4676 [Bug Fix] Fix for Speed Boost is Activated on the Turn a Pokemon is Switched In, and When a Pokemon Fails to Escape #4353
  src/data/ability.ts
  src/enums/switch-type.ts
  src/field/pokemon.ts
  src/phases/attempt-run-phase.ts
  src/phases/check-switch-phase.ts
  src/phases/switch-summon-phase.ts
  src/test/abilities/speed_boost.test.ts
Labels: Ability, P2 Bug

#4687 [Bug fix] No Exp Gained after Switching in a Pokemon as the Opponent Faints
  src/phases/faint-phase.ts
Labels: P2 Bug

#4763 [UI][Misc] Update Donation Link
  src/ui/menu-ui-handler.ts
Labels: Miscellaneous, UI/UX

#4762 [P2 Bug] Fix Own Tempo Rockruff not being able to evolve
  src/data/balance/pokemon-evolutions.ts
Labels: P2 Bug

#4765 [Audio] Replace Graveyard BGM with Firel's custom BGM
  public/audio/bgm/graveyard.mp3
  src/field/arena.ts
Labels: Audio

#4733 [UI][QoL] Target Selection Defaults to Left-Most Enemy Pokemon in Doubles
  src/ui/target-select-ui-handler.ts
Labels: Enhancement, UI/UX
