Repository pagefaultgames/pokerogue, pull requests merged in 2024-06, with the labels that each got.

#1655 Trigger the github-pages workflow even during pull requests
  .github/workflows/github-pages.yml
Labels: enhancement

#1633 [QoL] Add type inference to getAttrs methods and refactor accordingly
  src/data/ability.ts
  src/data/battle-anims.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/data/terrain.ts
  src/data/weather.ts
  src/field/pokemon.ts
  src/phases.ts
Labels: enhancement

#1670 [Balance] Simplify and fix flame/toxic orb weight
  src/modifier/modifier-type.ts
Labels: Bug, game design/balance

#1665 [Localization] Some minor modifications on Korean locales
  src/locales/ko/biome.ts
  src/locales/ko/command-ui-handler.ts
  src/locales/ko/modifier-type.ts
  src/locales/ko/voucher.ts
Labels: Localization

#1666 Menu - Controls Rebind - Gamepad & Keyboard (Cleaner git log)
  index.css
  public/images/inputs/dualshock.json
  public/images/inputs/dualshock.png
  public/images/inputs/keyboard.json
  public/images/inputs/keyboard.png
  public/images/inputs/xbox.json
  public/images/inputs/xbox.png
  src/battle-scene.ts
  src/configs/inputs/cfg_keyboard_qwerty.ts
  src/configs/inputs/configHandler.ts
  src/configs/inputs/pad_dualshock.ts
  src/configs/inputs/pad_generic.ts
  src/configs/inputs/pad_procon.ts
  src/configs/inputs/pad_unlicensedSNES.ts
  src/configs/inputs/pad_xbox360.ts
  src/configs/pad_dualshock.ts
  src/configs/pad_generic.ts
  src/configs/pad_procon.ts
  src/configs/pad_unlicensedSNES.ts
  src/configs/pad_xbox360.ts
  src/enums/devices.ts
  src/inputs-controller.ts
  src/loading-scene.ts
  src/system/game-data.ts
  src/system/settings-gamepad.ts
  src/system/settings-keyboard.ts
  src/system/settings.ts
  src/test/helpers/inGameManip.ts
  src/test/helpers/menuManip.ts
  src/test/rebinding_setting.test.ts
  src/touch-controls.ts
  src/ui-inputs.ts
  src/ui/settings/abstract-binding-ui-handler.ts
  src/ui/settings/abstract-settings-ui-handler.ts
  src/ui/settings/gamepad-binding-ui-handler.ts
  src/ui/settings/keyboard-binding-ui-handler.ts
  src/ui/settings/navigationMenu.ts
  src/ui/settings/option-select-ui-handler.ts
  src/ui/settings/settings-gamepad-ui-handler.ts
  src/ui/settings/settings-keyboard-ui-handler.ts
  src/ui/settings/settings-ui-handler.ts
  src/ui/summary-ui-handler.ts
  src/ui/text.ts
  src/ui/title-ui-handler.ts
  src/ui/ui.ts
  src/utils.ts
Labels: enhancement

#1301 Bugfix: Liquid Ooze hurts move user instead of one with ability
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_TW/battle.ts
  src/phases.ts
Labels: Bug, Ability

#1654 [Qol]? Disables all double battles but tate and Liza. And those two will now…
  src/battle.ts
  src/field/trainer.ts
Labels: game design/balance

#1150 Achievements localization, organized some locales files and ptBR translations
  src/locales/de/ability.ts
  src/locales/de/achv.ts
  src/locales/de/config.ts
  src/locales/de/pokemon-info.ts
  src/locales/de/starter-select-ui-handler.ts
  src/locales/en/achv.ts
  src/locales/en/config.ts
  src/locales/es/achv.ts
  src/locales/es/config.ts
  src/locales/fr/achv.ts
  src/locales/fr/config.ts
  src/locales/it/achv.ts
  src/locales/it/config.ts
  src/locales/ko/achv.ts
  src/locales/ko/config.ts
  src/locales/pt_BR/ability.ts
  src/locales/pt_BR/achv.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/pt_BR/voucher.ts
  src/locales/zh_CN/achv.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_TW/achv.ts
  src/locales/zh_TW/config.ts
  src/locales/zh_TW/game-stats-ui-handler.ts
  src/plugins/i18n.ts
  src/system/achv.ts
  src/test/achievement.test.ts
  src/ui/achv-bar.ts
  src/ui/achvs-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/text.ts
Labels: Localization

#1704 [Localization] Korean rival dialogue very small fix
  src/locales/ko/dialogue.ts
Labels: Localization

#1472 Wide Lens to Ultra item tier, Berry Count limits, and small Berry Pouch % chance reduction
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
Labels: enhancement, Item, game design/balance

#1717 [Bug] Add variant Larvesta icons
  public/images/pokemon_icons_5v.json
  public/images/pokemon_icons_5v.png
Labels: Miscellaneous

#1718 [Bug] Female variant Rhyhorn line missing .json palette [#1681]
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/female/111.json
  public/images/pokemon/variant/back/female/112.json
  public/images/pokemon/variant/back/female/464.json
  public/images/pokemon/variant/female/111.json
  public/images/pokemon/variant/female/112.json
  public/images/pokemon/variant/female/464.json
Labels: Bug

#1719 [Bug] Fix undesired opaque pixels
  public/images/pokemon_icons_2v.png
Labels: Bug

#1722 [Localization] Weather and Achievements ES translations
  src/locales/es/achv.ts
  src/locales/es/weather.ts
Labels: Localization

#1431 Added "Skip Seen Dialogues" option
  src/battle-scene.ts
  src/phases.ts
  src/system/game-data.ts
  src/system/settings.ts
  src/ui/ui.ts
Labels: enhancement, game design/balance

#1559 [ptBR Translations] Dialogue, game-stats and more
  src/locales/en/dialogue.ts
  src/locales/pt_BR/ability-trigger.ts
  src/locales/pt_BR/battle.ts
  src/locales/pt_BR/biome.ts
  src/locales/pt_BR/dialogue.ts
  src/locales/pt_BR/game-stats-ui-handler.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/pt_BR/move.ts
  src/locales/pt_BR/trainers.ts
Labels: Localization

#1757 [Localization] Modified script spelling at the tutorial (by korean)
  src/locales/ko/tutorial.ts
Labels: Localization

#1752 Implement Pity System
  src/egg-hatch-phase.ts
  src/system/game-data.ts
  src/ui/egg-gacha-ui-handler.ts
Labels: enhancement, game design/balance

#1732 [Move] Implement pollen puff
  src/data/move.ts
Labels: Move

#1759 [Localization] Use proper postpositional particle for Korean
  package-lock.json
  package.json
  src/locales/ko/ability-trigger.ts
  src/locales/ko/battle.ts
  src/locales/ko/command-ui-handler.ts
  src/locales/ko/menu.ts
  src/locales/ko/modifier-type.ts
  src/locales/ko/weather.ts
  src/plugins/i18n.ts
Labels: Localization

#1678 [Localization] Korean Font update
  public/fonts/PokePT_Wansung.ttf
Labels: Localization

#1734 [QoL] Add Arena Info Flyout for Weather, Terrain, etc.
  public/images/ui/dawn_icon.png
  public/images/ui/day_icon.png
  public/images/ui/dusk_icon.png
  public/images/ui/legacy/dawn_icon.png
  public/images/ui/legacy/day_icon.png
  public/images/ui/legacy/dusk_icon.png
  public/images/ui/legacy/night_icon.png
  public/images/ui/night_icon.png
  src/battle-scene.ts
  src/field/arena-events.ts
  src/field/arena.ts
  src/loading-scene.ts
  src/system/settings/settings.ts
  src/ui-inputs.ts
  src/ui/arena-flyout.ts
  src/ui/ui.ts
Labels: enhancement, game design/balance

#1740 [Bug] Curse should do at least 1 damage
  src/data/battler-tags.ts
Labels: Bug, Move

#1765 [Localization] #1761 Korean trainer dialogue partial update
  src/locales/ko/dialogue.ts
Labels: Localization

#1742 [Bug] Add missing snowscape TM mons
  src/data/tms.ts
Labels: Bug

#1643 [Feature] Add possibility to override whole user party
  src/battle-scene.ts
  src/data/daily-run.ts
  src/field/pokemon.ts
  src/overrides.ts
  src/phases.ts
Labels: enhancement

#1676 [Feature] Updated Champion teams
  src/data/trainer-config.ts
  src/locales/en/dialogue.ts
Labels: game design/balance

#1795 [Bug] Handle if the browser gives a long form of a language (like "de-DE") …
  src/loading-scene.ts
  src/ui/fight-ui-handler.ts
  src/ui/pokemon-info-container.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/summary-ui-handler.ts
  src/ui/text.ts
  src/utils.ts
Labels: Bug, Localization

#1733 Balance endless tokens
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/ko/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/system/game-data.ts
Labels: enhancement, game design/balance

#1806 [Bug] Fix Leppa Berries not Updating Flyout PP
  src/battle-scene-events.ts
  src/phases.ts
  src/ui/arena-flyout.ts
  src/ui/battle-flyout.ts
Labels: Bug

#1684 [QoL] Show message when quick claw is triggered
  src/modifier/modifier.ts
Labels: Localization

#1782 [QoL] Pokemon Info Container always on top of Battle UI
  src/ui/pokemon-info-container.ts
Labels: enhancement

#1516 Voucher Item tier changes/addition
  src/modifier/modifier-type.ts
Labels: Item, game design/balance, Balance Team

#1794 [Localization] #1761 Korean trainer dialogue (Gym leader in Kanto region)
  src/locales/ko/dialogue.ts
Labels: Localization

#1819 [Bug] Fix quick claw message showing up if command is not fight
  src/modifier/modifier.ts
Labels: Bug, Item

#1809 [Localization] #1761 Korean trainer dialogue (youngster, lass)
  src/locales/ko/dialogue.ts
Labels: Localization

#1820 [QoL] [FIXED!] Pokemon Info Container always on top of Enemy Modifier Bar
  src/battle-scene.ts
  src/ui/pokemon-info-container.ts
Labels: enhancement

#1825 [Localization] Phrase fix in weather.ts and pokemon-info-container.ts Spanish translation
  src/locales/es/pokemon-info-container.ts
  src/locales/es/weather.ts
Labels: Localization

#1708 [Bug] Fix for Dancer activating when enemy in not on field / using a 2 steps charging move
  src/data/ability.ts
  src/phases.ts
Labels: Bug, Ability

#1821 [ptBR] Translated text
  src/locales/pt_BR/game-stats-ui-handler.ts
  src/locales/pt_BR/menu.ts
Labels: Localization

#1840 Hotfix for NaN luck
  src/modifier/modifier-type.ts
Labels: Bug

#1737 [Balance] Give Partner Pikachu its Signature Moves and change Cosplay's stats
  src/data/pokemon-level-moves.ts
  src/data/pokemon-species.ts
Labels: game design/balance, Balance Team

#1837 [Refactor] Move enums from game-data into their respective files in `src/data/enums`
  src/battle-scene.ts
  src/battle.ts
  src/data/enums/game-data-type.ts
  src/data/enums/passive.ts
  src/data/enums/player-gender.ts
  src/phases.ts
  src/system/game-data.ts
  src/system/settings/settings.ts
  src/ui/menu-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/summary-ui-handler.ts
  src/ui/ui.ts
Labels: enhancement

#1827 [Bug] Change confuse chance from 2/3 to 1/3
  src/data/battler-tags.ts
Labels: Bug

#1847 dont make api calls when no server is connected in local
  src/field/pokemon.ts
  src/loading-scene.ts
  src/utils.ts
Labels: enhancement

#1585 [QoL] Move Info Overlay
  src/battle-scene.ts
  src/loading-scene.ts
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/ko/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
  src/modifier/modifier-type.ts
  src/overrides.ts
  src/system/settings/settings.ts
  src/ui-inputs.ts
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/move-info-overlay.ts
  src/ui/party-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: enhancement

#1830 [Localization] #1761 Korean trainer dialogue (Gym leader in Hoenn region)
  src/locales/ko/dialogue.ts
Labels: Localization

#1838 [Localization] #1761 Paldean gym leaders and elite 4 dialogue Korean translation
  src/locales/ko/dialogue.ts
Labels: Localization

#1850 [ptBR] Translated new TM text
  src/locales/pt_BR/modifier-type.ts
  src/locales/pt_BR/tutorial.ts
Labels: Localization

#1848 [BUG] Fix some tokens in existing saves not updating after rebalance
  src/modifier/modifier.ts
Labels: Bug, Item

#1846 [QoL] Add Time of Day Widget to Arena Flyout
  public/images/ui/dawn_icon.png
  public/images/ui/dawn_icon_bg.png
  public/images/ui/dawn_icon_fg.png
  public/images/ui/dawn_icon_mg.png
  public/images/ui/day_icon.png
  public/images/ui/day_icon_bg.png
  public/images/ui/day_icon_fg.png
  public/images/ui/day_icon_mg.png
  public/images/ui/dusk_icon.png
  public/images/ui/dusk_icon_bg.png
  public/images/ui/dusk_icon_fg.png
  public/images/ui/dusk_icon_mg.png
  public/images/ui/legacy/dawn_icon.png
  public/images/ui/legacy/dawn_icon_bg.png
  public/images/ui/legacy/dawn_icon_fg.png
  public/images/ui/legacy/dawn_icon_mg.png
  public/images/ui/legacy/day_icon.png
  public/images/ui/legacy/day_icon_bg.png
  public/images/ui/legacy/day_icon_fg.png
  public/images/ui/legacy/day_icon_mg.png
  public/images/ui/legacy/dusk_icon.png
  public/images/ui/legacy/dusk_icon_bg.png
  public/images/ui/legacy/dusk_icon_fg.png
  public/images/ui/legacy/dusk_icon_mg.png
  public/images/ui/legacy/night_icon.png
  public/images/ui/legacy/night_icon_bg.png
  public/images/ui/legacy/night_icon_fg.png
  public/images/ui/legacy/night_icon_mg.png
  public/images/ui/night_icon.png
  public/images/ui/night_icon_bg.png
  public/images/ui/night_icon_fg.png
  public/images/ui/night_icon_mg.png
  src/battle-scene-events.ts
  src/battle-scene.ts
  src/loading-scene.ts
  src/phases.ts
  src/system/settings/settings.ts
  src/ui/arena-flyout.ts
  src/ui/enums/ease-type.ts
  src/ui/time-of-day-widget.ts
Labels: enhancement

#1855 [BUG] whops... revert start-label text to translation
  src/ui/starter-select-ui-handler.ts
Labels: Bug

#1852 [ptBR Localization] Minor nature mint text fix, text was too big
  src/locales/pt_BR/modifier-type.ts
Labels: Localization

#1276 useMove + pokemon affix localization
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/weather.ts
  src/locales/de/battle.ts
  src/locales/de/weather.ts
  src/locales/en/battle.ts
  src/locales/en/weather.ts
  src/locales/es/battle.ts
  src/locales/es/weather.ts
  src/locales/fr/battle.ts
  src/locales/fr/weather.ts
  src/locales/it/battle.ts
  src/locales/it/weather.ts
  src/locales/ko/battle.ts
  src/locales/ko/weather.ts
  src/locales/pt_BR/battle.ts
  src/locales/pt_BR/weather.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_CN/weather.ts
  src/locales/zh_TW/battle.ts
  src/locales/zh_TW/weather.ts
  src/messages.ts
  src/phases.ts
Labels: Localization

#1870 [ptBR Localization] Translated new battle.ts texts
  src/locales/pt_BR/battle.ts
Labels: Localization

#1868 [Localization] #1761 Korean trainer dialogue (ramos, viola)
  src/locales/ko/dialogue.ts
Labels: Localization

#1860 [Refactor] Refactored Game Settings UI navigation menu and sorting
  index.css
  src/system/settings/settings.ts
  src/ui-inputs.ts
  src/ui/settings/navigationMenu.ts
  src/ui/settings/settings-audio-ui-handler.ts
  src/ui/settings/settings-display-ui-handler.ts
  src/ui/ui.ts
Labels: enhancement

#1783 [Bug] Fix generateVariant to account for forms
  src/field/pokemon.ts
Labels: Bug

#1873 [ptBR Localization] Removed capital letters battle.ts
  src/locales/pt_BR/battle.ts
Labels: Localization

#1709 [Misc] Remove unnecessary text on summary_bg.png
  public/images/ui/summary_bg.png
Labels: Bug

#1755 [Ability] Implement Ice Face
  public/audio/cry/875-no-ice.m4a
  src/battle-scene.ts
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/enums/battler-tag-type.ts
  src/data/pokemon-forms.ts
  src/locales/de/ability-trigger.ts
  src/locales/en/ability-trigger.ts
  src/locales/es/ability-trigger.ts
  src/locales/fr/ability-trigger.ts
  src/locales/it/ability-trigger.ts
  src/locales/ko/ability-trigger.ts
  src/locales/pt_BR/ability-trigger.ts
  src/locales/zh_CN/ability-trigger.ts
  src/locales/zh_TW/ability-trigger.ts
Labels: Ability

#1188 Attempt to sort items on summary & battle screen for user's party.
  src/modifier/modifier.ts
Labels: enhancement

#1853 [Localization] #1761 Translation to Korean about dialogue of some trainers
  src/locales/ko/dialogue.ts
Labels: Localization

#1772 [QoL] Added an indicator when money changes.
  src/battle-scene.ts
  src/phases.ts
Labels: enhancement

#1411 [enhancement] Added Sailor trainer class
  public/images/trainer/sailor.json
  public/images/trainer/sailor.png
  src/data/biomes.ts
  src/data/dialogue.ts
  src/data/enums/trainer-type.ts
  src/data/trainer-config.ts
  src/data/trainer-names.ts
  src/locales/de/dialogue.ts
  src/locales/de/trainers.ts
  src/locales/en/dialogue.ts
  src/locales/en/trainers.ts
  src/locales/es/dialogue.ts
  src/locales/es/trainers.ts
  src/locales/fr/dialogue.ts
  src/locales/fr/trainers.ts
  src/locales/it/dialogue.ts
  src/locales/it/trainers.ts
  src/locales/ko/dialogue.ts
  src/locales/ko/trainers.ts
  src/locales/pt_BR/dialogue.ts
  src/locales/pt_BR/trainers.ts
  src/locales/zh_CN/dialogue.ts
  src/locales/zh_CN/trainers.ts
  src/locales/zh_TW/dialogue.ts
  src/locales/zh_TW/trainers.ts
Labels: enhancement

#1880 Sort items on summary screen changes.
  src/ui/summary-ui-handler.ts
Labels: enhancement

#1874 [Localization] Fix typo in healing charm for Chinese localization
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
Labels: Localization

#1884 [Bug] Thunderclap should not let the AI read your inputs
  src/field/pokemon.ts
Labels: Bug, Move

#1891 [Localization] Korean Multi Lens description translation correction
  src/locales/ko/modifier-type.ts
Labels: Localization

#1842 Fix - double inputs
  src/inputs-controller.ts
Labels: Bug

#1885 [Move] Rototiller implementation
  src/data/move.ts
Labels: Move

#1828 [Documentation] documentation of move.ts
  src/data/move.ts
Labels: documentation

#1895 [Bug] Fix speed tie code
  src/phases.ts
  src/utils.ts
Labels: Bug

#1863 [Localization] Correct and Apply update to Korean
  src/locales/ko/ability-trigger.ts
  src/locales/ko/menu.ts
  src/locales/ko/modifier-type.ts
  src/locales/ko/starter-select-ui-handler.ts
Labels: Localization

#1881 [ptBR Localization] Updated dialogue.ts, Tera Shards and trainer.ts
  src/locales/pt_BR/ability-trigger.ts
  src/locales/pt_BR/dialogue.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/pt_BR/trainers.ts
Labels: Localization

#1813 [Bug] fix sleep talk targeting issue #1727
  src/data/move.ts
Labels: Bug, Move

#1892 [Localization] Spanish dialogues
  src/locales/es/dialogue.ts
Labels: Localization

#1799 [Move] Implemented Court Change
  src/data/arena-tag.ts
  src/data/move.ts
  src/field/arena.ts
Labels: Move

#1784 [BUG] fix language auto detect
  src/locales/zh_CN/tutorial.ts
  src/plugins/i18n.ts
  src/system/settings/settings.ts
Labels: Bug, Localization

#1909 [Refactor] Move enum ExpNotification into separated file
  src/battle-scene.ts
  src/enums/exp-notification.ts
  src/phases.ts
Labels: enhancement

#1679 [Bug] Fix ability Download switch in (1669)
  src/data/ability.ts
Labels: Bug, Ability

#1712 [Localization] Add localization in party-ui-handler
  src/locales/de/config.ts
  src/locales/de/party-ui-handler.ts
  src/locales/en/config.ts
  src/locales/en/party-ui-handler.ts
  src/locales/es/config.ts
  src/locales/es/party-ui-handler.ts
  src/locales/fr/config.ts
  src/locales/fr/party-ui-handler.ts
  src/locales/it/config.ts
  src/locales/it/party-ui-handler.ts
  src/locales/ko/config.ts
  src/locales/ko/party-ui-handler.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/party-ui-handler.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_CN/party-ui-handler.ts
  src/locales/zh_TW/config.ts
  src/locales/zh_TW/party-ui-handler.ts
  src/plugins/i18n.ts
  src/ui/party-ui-handler.ts
Labels: Localization

#1682 [Bug] Fix strong winds' interaction with Stealth Rock and Anticipation (#1657)
  src/data/ability.ts
  src/data/arena-tag.ts
  src/field/pokemon.ts
Labels: Bug, Move

#1744 [Bug] Fixed primal weather interaction.
  src/data/ability.ts
Labels: Bug, Ability

#1764 [QoL] Added https and server url is read from the env now
  .env
  .env.development
  src/utils.ts
  src/vite.env.d.ts
Labels: enhancement

#1888 [Bug] fixed wrong stacking of move info overlay issues
  src/loading-scene.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Bug

#1911 [Localization] #1761 Korean trainer dialogue (some unnamed trainers)
  src/locales/ko/dialogue.ts
Labels: Localization

#1440 Bugfix: Abilities check final move type instead of default move type
  src/data/ability.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases.ts
Labels: Bug, Ability, game design/balance

#1920 [Bug] Fix Harvest not checking stack limits for berries
  src/data/ability.ts
Labels: Bug, Ability

#1919 [Bug] Fix female trainer names on male Backpackers/Hikers
  src/data/trainer-names.ts
Labels: Bug

#1883 [Localization] Added missing german dialogue for sailor and firebreather
  src/locales/de/dialogue.ts
Labels: Localization

#1908 [Testing] Flexible Testing Wrapper for Phaser-Based Battle-Scenes
  src/battle-scene.ts
  src/field/pokemon.ts
  src/inputs-controller.ts
  src/loading-scene.ts
  src/overrides.ts
  src/phases.ts
  src/system/achv.ts
  src/system/game-data.ts
  src/test/abilities/intimidate.test.ts
  src/test/abilities/intrepid_sword.test.ts
  src/test/abilities/moxie.test.ts
  src/test/achievement.test.ts
  src/test/achievements/achievement.test.ts
  src/test/battle/battle-order.test.ts
  src/test/battle/battle.test.ts
  src/test/eggs/egg.test.ts
  src/test/imports.test.ts
  src/test/inputs/inputs.test.ts
  src/test/items/toxic_orb.test.ts
  src/test/lokalisation/french.test.ts
  src/test/moves/growth.test.ts
  src/test/moves/tackle.test.ts
  src/test/moves/tail_whip.test.ts
  src/test/phaser.setup.ts
  src/test/phases/phases.test.ts
  src/test/pokemon.test.ts
  src/test/settingMenu/helpers/inGameManip.ts
  src/test/settingMenu/helpers/menuManip.ts
  src/test/settingMenu/rebinding_setting.test.ts
  src/test/sprites/pokemonSprite.test.ts
  src/test/sprites/spritesUtils.ts
  src/test/ui/starter-select.test.ts
  src/test/utils/TextInterceptor.ts
  src/test/utils/fakeMobile.html
  src/test/utils/gameManager.ts
  src/test/utils/gameManagerUtils.ts
  src/test/utils/gameWrapper.ts
  src/test/utils/inputsHandler.ts
  src/test/utils/misc.test.ts
  src/test/utils/mocks/mockClock.ts
  src/test/utils/mocks/mockConsoleLog.ts
  src/test/utils/mocks/mockFetch.ts
  src/test/utils/mocks/mockLoader.ts
  src/test/utils/mocks/mockLocalStorage.ts
  src/test/utils/mocks/mockTextureManager.ts
  src/test/utils/mocks/mocksContainer/mockContainer.ts
  src/test/utils/mocks/mocksContainer/mockGraphics.ts
  src/test/utils/mocks/mocksContainer/mockImage.ts
  src/test/utils/mocks/mocksContainer/mockNineslice.ts
  src/test/utils/mocks/mocksContainer/mockPolygon.ts
  src/test/utils/mocks/mocksContainer/mockRectangle.ts
  src/test/utils/mocks/mocksContainer/mockSprite.ts
  src/test/utils/mocks/mocksContainer/mockText.ts
  src/test/utils/phaseInterceptor.ts
  src/test/utils/saves/everything.prsv
  src/test/vitest.setup.ts
  src/ui/game-stats-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/utils.test.ts
  vitest.config.js
Labels: enhancement

#1926 [QoL] Cleanup Money format and Show correct value for money rewards
  src/battle-scene.ts
  src/modifier/modifier-type.ts
  src/ui/game-stats-ui-handler.ts
  src/ui/modifier-select-ui-handler.ts
  src/utils.ts
Labels: enhancement

#1910 [Bug] Update Sweet Scent to reduce evasion by 2
  src/data/move.ts
Labels: Move

#1878 [Localization] #1761 Korean trainer dialogue (Gym leader in Johto region with Elite-4)
  src/locales/ko/dialogue.ts
Labels: Localization

#1753 [Enhancement] Add more legendary battle music; add music preference setting
  README.md
  public/audio/bgm/battle_legendary_arceus.mp3
  public/audio/bgm/battle_legendary_birds_galar.mp3
  public/audio/bgm/battle_legendary_calyrex.mp3
  public/audio/bgm/battle_legendary_deoxys.mp3
  public/audio/bgm/battle_legendary_dia_pal.mp3
  public/audio/bgm/battle_legendary_dusk_dawn.mp3
  public/audio/bgm/battle_legendary_entei.mp3
  public/audio/bgm/battle_legendary_giratina.mp3
  public/audio/bgm/battle_legendary_glas_spec.mp3
  public/audio/bgm/battle_legendary_gro_kyo.mp3
  public/audio/bgm/battle_legendary_ho_oh.mp3
  public/audio/bgm/battle_legendary_kanto.mp3
  public/audio/bgm/battle_legendary_lake_trio.mp3
  public/audio/bgm/battle_legendary_loyal_three.mp3
  public/audio/bgm/battle_legendary_lugia.mp3
  public/audio/bgm/battle_legendary_ogerpon.mp3
  public/audio/bgm/battle_legendary_pecharunt.mp3
  public/audio/bgm/battle_legendary_raikou.mp3
  public/audio/bgm/battle_legendary_rayquaza.mp3
  public/audio/bgm/battle_legendary_regis.mp3
  public/audio/bgm/battle_legendary_regis_g5.mp3
  public/audio/bgm/battle_legendary_regis_g6.mp3
  public/audio/bgm/battle_legendary_ruinous.mp3
  public/audio/bgm/battle_legendary_sinnoh.mp3
  public/audio/bgm/battle_legendary_sol_lun.mp3
  public/audio/bgm/battle_legendary_suicune.mp3
  public/audio/bgm/battle_legendary_tapu.mp3
  public/audio/bgm/battle_legendary_ub.mp3
  public/audio/bgm/battle_legendary_ultra_nec.mp3
  public/audio/bgm/battle_legendary_xern_yvel.mp3
  public/audio/bgm/battle_legendary_zac_zam.mp3
  src/battle-scene.ts
  src/battle.ts
  src/system/settings/settings.ts
Labels: enhancement, Miscellaneous

#1459 Add Challenges
  src/battle-scene.ts
  src/battle.ts
  src/data/challenge.ts
  src/data/daily-run.ts
  src/data/enums/challenges.ts
  src/evolution-phase.ts
  src/field/pokemon.ts
  src/game-mode.ts
  src/loading-scene.ts
  src/locales/de/challenges.ts
  src/locales/de/config.ts
  src/locales/en/achv.ts
  src/locales/en/challenges.ts
  src/locales/en/config.ts
  src/locales/es/challenges.ts
  src/locales/es/config.ts
  src/locales/fr/challenges.ts
  src/locales/fr/config.ts
  src/locales/it/challenges.ts
  src/locales/it/config.ts
  src/locales/ko/challenges.ts
  src/locales/ko/config.ts
  src/locales/pt_BR/challenges.ts
  src/locales/pt_BR/config.ts
  src/locales/zh_CN/challenges.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_TW/challenges.ts
  src/locales/zh_TW/config.ts
  src/phases.ts
  src/plugins/i18n.ts
  src/system/achv.ts
  src/system/challenge-data.ts
  src/system/game-data.ts
  src/system/unlockables.ts
  src/test/battle/battle.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/gameManagerUtils.ts
  src/ui/challenges-select-ui-handler.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/save-slot-select-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/ui-handler.ts
  src/ui/ui.ts
Labels: enhancement, help wanted, game design/balance

#1937 [Localization] Fix typo in korean skill name (비검천충파 -> 비검천중파)
  src/locales/ko/move.ts
Labels: Localization

#1946 [Localization] Added Korean localization for challenges
  src/locales/ko/challenges.ts
Labels: Localization

#1945 [Localization] Added French localization for challenges
  src/locales/fr/challenges.ts
Labels: Localization

#1942 [Bug] Fix to show current locale in setting
  src/ui/settings/settings-display-ui-handler.ts
Labels: Bug

#1951 [ptBR Localization] Added many translations
  src/locales/pt_BR/battle.ts
  src/locales/pt_BR/challenges.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/growth.ts
  src/locales/pt_BR/party-ui-handler.ts
Labels: Localization

#1728 Localized game-mode and save-slot-select-ui-handler
  src/game-mode.ts
  src/locales/de/config.ts
  src/locales/de/game-mode.ts
  src/locales/de/menu.ts
  src/locales/de/save-slot-select-ui-handler.ts
  src/locales/en/config.ts
  src/locales/en/game-mode.ts
  src/locales/en/menu.ts
  src/locales/en/save-slot-select-ui-handler.ts
  src/locales/es/config.ts
  src/locales/es/game-mode.ts
  src/locales/es/menu.ts
  src/locales/es/save-slot-select-ui-handler.ts
  src/locales/fr/config.ts
  src/locales/fr/game-mode.ts
  src/locales/fr/menu.ts
  src/locales/fr/save-slot-select-ui-handler.ts
  src/locales/it/config.ts
  src/locales/it/game-mode.ts
  src/locales/it/menu.ts
  src/locales/it/save-slot-select-ui-handler.ts
  src/locales/ko/config.ts
  src/locales/ko/game-mode.ts
  src/locales/ko/menu.ts
  src/locales/ko/save-slot-select-ui-handler.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/game-mode.ts
  src/locales/pt_BR/menu.ts
  src/locales/pt_BR/save-slot-select-ui-handler.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_CN/game-mode.ts
  src/locales/zh_CN/menu.ts
  src/locales/zh_CN/save-slot-select-ui-handler.ts
  src/locales/zh_TW/config.ts
  src/locales/zh_TW/game-mode.ts
  src/locales/zh_TW/menu.ts
  src/locales/zh_TW/save-slot-select-ui-handler.ts
  src/plugins/i18n.ts
  src/ui/save-slot-select-ui-handler.ts
Labels: Localization

#1955 [Localization] French update the menu.ts
  src/locales/fr/menu.ts
Labels: Localization

#1061 Add setting for showing type effectiveness hints
  src/battle-scene.ts
  src/data/type.ts
  src/field/pokemon.ts
  src/system/settings/settings.ts
  src/ui/battle-flyout.ts
  src/ui/battle-info.ts
  src/ui/fight-ui-handler.ts
Labels: enhancement

#1890 [Bug] Fix run away ability
  src/data/ability.ts
Labels: Bug, Ability

#1967 [Tests] added silent flag to run tests and added a missing properties in the MockText
  package.json
  src/test/utils/mocks/mocksContainer/mockText.ts
Labels: Bug

#1958 [Localization] challenge.ts zh_cn translation
  src/locales/zh_CN/challenges.ts
Labels: Localization

#1973 [Bug] Fix Victini's generation for challenges.
  src/data/challenge.ts
Labels: Bug

#1976 [Bug] Make getTypes ignore transform when ignoring overrides
  src/field/pokemon.ts
Labels: Bug

#1859 [QoL] Show currently bound controls on starter menu for last active device
  src/battle-scene.ts
  src/locales/en/starter-select-ui-handler.ts
  src/locales/es/starter-select-ui-handler.ts
  src/locales/fr/starter-select-ui-handler.ts
  src/locales/it/starter-select-ui-handler.ts
  src/locales/ko/starter-select-ui-handler.ts
  src/locales/pt_BR/starter-select-ui-handler.ts
  src/locales/zh_CN/starter-select-ui-handler.ts
  src/locales/zh_TW/starter-select-ui-handler.ts
  src/touch-controls.ts
  src/ui-inputs.ts
  src/ui/starter-select-ui-handler.ts
Labels: enhancement

#1974 Bugfix: Fixing multi-hit drain moves so they heal based on individual hit and not total damage dealt
  src/data/move.ts
Labels: Bug

#1988 [Hotfix] Add Mixed Battle BGM entries for the Gen 1-5 trainers
  src/data/trainer-config.ts
Labels: Bug

#1696 [Localization] Locales punctuation fix in descriptions in (en/es/de/it/fr/ko/pt/zh) modifier-type.ts, and other German locales punctuation fixes
  src/locales/de/ability-trigger.ts
  src/locales/de/berry.ts
  src/locales/de/egg.ts
  src/locales/de/menu.ts
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/ko/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
Labels: Localization

#1851 [Feature] Update E4 teams
  src/data/trainer-config.ts
Labels: game design/balance

#1981 [ptBR Translation] Added new achievements.ts translation
  src/locales/pt_BR/achv.ts
Labels: Localization

#1987 [Localization] #1761 Korean trainer dialogue (other unnamed trainers)
  src/locales/ko/dialogue.ts
Labels: Localization

#2006 [Bug] Fixed moves with type multiplier effects not being considered in type hints and enemy AI
  src/field/pokemon.ts
Labels: Bug, enhancement

#1721 [Localization] Achievements are now based on Player Gender (because some languages differ based on that).
  src/locales/de/achv.ts
  src/locales/de/config.ts
  src/locales/en/achv.ts
  src/locales/en/config.ts
  src/locales/es/achv.ts
  src/locales/es/config.ts
  src/locales/fr/achv.ts
  src/locales/fr/config.ts
  src/locales/it/achv.ts
  src/locales/it/config.ts
  src/locales/ko/achv.ts
  src/locales/ko/config.ts
  src/locales/pt_BR/achv.ts
  src/locales/pt_BR/config.ts
  src/locales/zh_CN/achv.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_TW/achv.ts
  src/locales/zh_TW/config.ts
  src/plugins/i18n.ts
  src/system/achv.ts
  src/system/voucher.ts
  src/ui/achv-bar.ts
  src/ui/achvs-ui-handler.ts
Labels: Localization

#1933 [enhacement] Show Egg tier icon on starter UI
  src/data/egg.ts
  src/ui/starter-select-ui-handler.ts
Labels: enhancement

#2015 [ptBR Localization] Fixed typo in Ace Trainers' names
  src/locales/pt_BR/trainers.ts
Labels: Localization

#2014 [Enhancement] Color code for used PP in fight UI
  src/ui/fight-ui-handler.ts
Labels: enhancement

#1059 Fix for sparkly swirl apply check
  src/data/move.ts
Labels: Bug, Move

#1943 [Localization] Added german localization for challenges
  src/locales/de/challenges.ts
Labels: Localization

#2013 [ptBR Localization] Added female achievements
  src/locales/pt_BR/achv.ts
Labels: Localization

#2021 [Localization] Fix FR typo 'Desert' instead of 'Désert'
  src/locales/fr/biome.ts
Labels: Localization

#1577 [Feature] Add evil teams assets
  public/audio/bgm/battle_plasma_grunt.mp3
  public/audio/bgm/encounter_plasma_grunt.mp3
  public/images/trainer/aqua_grunt_f.json
  public/images/trainer/aqua_grunt_f.png
  public/images/trainer/aqua_grunt_m.json
  public/images/trainer/aqua_grunt_m.png
  public/images/trainer/archie.json
  public/images/trainer/archie.png
  public/images/trainer/cyrus.json
  public/images/trainer/cyrus.png
  public/images/trainer/flare_grunt_f.json
  public/images/trainer/flare_grunt_f.png
  public/images/trainer/flare_grunt_m.json
  public/images/trainer/flare_grunt_m.png
  public/images/trainer/galactic_grunt_f.json
  public/images/trainer/galactic_grunt_f.png
  public/images/trainer/galactic_grunt_m.json
  public/images/trainer/galactic_grunt_m.png
  public/images/trainer/lysandre.json
  public/images/trainer/lysandre.png
  public/images/trainer/magma_grunt_f.json
  public/images/trainer/magma_grunt_f.png
  public/images/trainer/magma_grunt_m.json
  public/images/trainer/magma_grunt_m.png
  public/images/trainer/maxie.json
  public/images/trainer/maxie.png
  public/images/trainer/plasma_grunt_f.json
  public/images/trainer/plasma_grunt_f.png
  public/images/trainer/plasma_grunt_m.json
  public/images/trainer/plasma_grunt_m.png
  public/images/trainer/rocket_grunt_f.json
  public/images/trainer/rocket_grunt_f.png
  public/images/trainer/rocket_grunt_m.json
  public/images/trainer/rocket_grunt_m.png
  src/battle-scene.ts
  src/battle.ts
  src/data/dialogue.ts
  src/data/enums/trainer-type.ts
  src/data/trainer-config.ts
  src/field/trainer.ts
  src/locales/de/dialogue.ts
  src/locales/de/trainers.ts
  src/locales/en/dialogue.ts
  src/locales/en/trainers.ts
Labels: enhancement, game design/balance

#1936 [QoL] Improve Input Accuracy by Refactoring Button Handling
  src/battle-scene.ts
  src/inputs-controller.ts
  src/test/inputs/inputs.test.ts
  src/test/utils/inputsHandler.ts
  src/touch-controls.ts
Labels: Bug, enhancement, Unit Test

#2017 [Localization][ko] Fix minor typo in challenges
  src/locales/ko/challenges.ts
Labels: Localization

#2000 [Localization][es] Translated Ice Face text to Spanish
  src/locales/es/ability-trigger.ts
Labels: Localization

#2009 [Localization][ko] Fix minor typo
  src/locales/ko/dialogue.ts
Labels: Localization

#1754 [QOL] Updating pokemon-info-container to show what is new when you catch/hatch a pokemon
  .gitignore
  src/locales/en/pokemon-info-container.ts
  src/ui/pokemon-info-container.ts
  src/ui/stats-container.ts
Labels: enhancement, game design/balance

#1195 Implement Arceus Plates and Silvally Memories
  public/images/items.json
  public/images/items.png
  public/images/items/blank_memory.png
  public/images/items/blank_plate.png
  public/images/items/bug_memory.png
  public/images/items/dark_memory.png
  public/images/items/draco_plate.png
  public/images/items/dragon_memory.png
  public/images/items/dread_plate.png
  public/images/items/earth_plate.png
  public/images/items/electric_memory.png
  public/images/items/fairy_memory.png
  public/images/items/fighting_memory.png
  public/images/items/fire_memory.png
  public/images/items/fist_plate.png
  public/images/items/flame_plate.png
  public/images/items/flying_memory.png
  public/images/items/ghost_memory.png
  public/images/items/grass_memory.png
  public/images/items/ground_memory.png
  public/images/items/ice_memory.png
  public/images/items/icicle_plate.png
  public/images/items/insect_plate.png
  public/images/items/iron_plate.png
  public/images/items/legend_plate.png
  public/images/items/meadow_plate.png
  public/images/items/memory_normal.png
  public/images/items/mind_plate.png
  public/images/items/pixie_plate.png
  public/images/items/poison_memory.png
  public/images/items/psychic_memory.png
  public/images/items/rock_memory.png
  public/images/items/sky_plate.png
  public/images/items/splash_plate.png
  public/images/items/spooky_plate.png
  public/images/items/steel_memory.png
  public/images/items/stone_plate.png
  public/images/items/toxic_plate.png
  public/images/items/water_memory.png
  public/images/items/zap_plate.png
  src/data/ability.ts
  src/data/move.ts
  src/data/pokemon-forms.ts
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/ko/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
Labels: Move, Ability, Item

#1978 [Test] Add Tests for Zen Mode Ability
  src/phases.ts
  src/test/abilities/zen_mode.test.ts
  src/test/battle/battle.test.ts
  src/test/battle/error-handling.test.ts
  src/test/battle/special_battle.test.ts
  src/test/utils/TextInterceptor.ts
  src/test/utils/gameManager.ts
  src/test/utils/gameWrapper.ts
  src/test/utils/mocks/mockClock.ts
  src/test/utils/mocks/mocksContainer/mockSprite.ts
  src/test/utils/phaseInterceptor.ts
Labels: Unit Test

#2039 [Bug] Add dynamic default pp color
  src/ui/fight-ui-handler.ts
Labels: Bug

#2041 [Bug] [Localization] [pt] Small UI fix pokemon-info-container
  src/ui/pokemon-info-container.ts
Labels: Bug

#1982 [Bug] resolve issue with input text persisting in top left of game screen in certain cases
  src/ui/starter-select-ui-handler.ts
Labels: Bug

#1822 [Localization] Localizing "Loading..." text
  src/ui/loading-modal-ui-handler.ts
Labels: Localization

#2042 [Bug] Add check to ignore ability when using type hints
  src/field/pokemon.ts
Labels: Bug

#2054 [Bug] Fix inputs being annoying again
  src/ui/starter-select-ui-handler.ts
Labels: Bug

#1844 [Bug] Fix toxic damage increment not resetting upon switching
  src/phases.ts
Labels: Bug

#2044 [Bug] Make speed ties seed based on current turn
  src/phases.ts
Labels: Bug

#2024 [Move] Implement Core Enforcer
  src/data/move.ts
Labels: Move

#1918 [Enhancement] Move event files to a central directory
  src/battle-scene.ts
  src/events/battle-scene.ts
  src/field/arena.ts
  src/field/events/arena.ts
  src/phases.ts
  src/system/game-data.ts
  src/system/settings/settings.ts
  src/ui/arena-flyout.ts
  src/ui/battle-flyout.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/time-of-day-widget.ts
Labels: enhancement

#1996 [Enhancement] Refactor egg counter
  src/egg-hatch-phase.ts
  src/events/egg.ts
  src/phases.ts
  src/ui/egg-counter-container.ts
  src/ui/egg-hatch-scene-handler.ts
  src/ui/eggs-to-hatch-count-container.ts
Labels: enhancement

#2046 [Localization] Some localization updates for Korean
  src/locales/ko/achv.ts
  src/locales/ko/battle.ts
  src/locales/ko/dialogue.ts
  src/locales/ko/pokemon-info-container.ts
  src/locales/ko/trainers.ts
  src/locales/ko/tutorial.ts
Labels: Localization

#2066 [Feature] add zh localization font
  index.html
  public/fonts/VonwaonBitmap-16px.ttf
  src/data/trainer-config.ts
  src/main.ts
  src/plugins/i18n.ts
  src/ui/text.ts
Labels: enhancement, Localization

#2065 [Fix] Remove and Deactivate Unused Color Palettes to Pass All Tests
  public/images/pokemon/variant/641-incarnate.json
  public/images/pokemon/variant/641-therian.json
  public/images/pokemon/variant/642-incarnate.json
  public/images/pokemon/variant/642-therian.json
  public/images/pokemon/variant/645-incarnate.json
  public/images/pokemon/variant/645-therian.json
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/641-incarnate.json
  public/images/pokemon/variant/back/641-therian.json
  public/images/pokemon/variant/back/642-incarnate.json
  public/images/pokemon/variant/back/642-therian.json
  public/images/pokemon/variant/back/645-incarnate.json
  public/images/pokemon/variant/back/645-therian.json
Labels: Bug

#2067 [Localization] Improve Simplified Chinese Localization Content
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_CN/party-ui-handler.ts
  src/locales/zh_CN/save-slot-select-ui-handler.ts
Labels: Localization

#2064 [Bug] Restrict Menu Access to Specific Game Modes + Gamepad Start Button in Select-Starter Menu
  src/ui-inputs.ts
Labels: Bug
