Repository pagefaultgames/pokerogue, pull requests merged in 2024-05, with the labels that each got.

#382 Change pokemon stats chart
  src/ui/stats-container.ts
Labels: enhancement

#221 Implemented Synchronoise's effect
  src/data/move.ts
Labels: move

#388 Fix effect spore immunities, tera blast TM distribution, and IVs shown on catch
  src/data/ability.ts
  src/data/tms.ts
  src/phases.ts
Labels: move, ability

#391 feat: added support for localisation on battle scene sentences
  src/field/pokemon.ts
  src/locales/de/battle.ts
  src/locales/de/fight-ui-handler.ts
  src/locales/de/menu.ts
  src/locales/en/battle.ts
  src/locales/en/menu.ts
  src/locales/es/battle.ts
  src/locales/es/fight-ui-handler.ts
  src/locales/es/menu.ts
  src/locales/fr/battle.ts
  src/locales/fr/menu.ts
  src/locales/it/battle.ts
  src/locales/it/fight-ui-handler.ts
  src/locales/it/menu.ts
  src/phases.ts
  src/plugins/i18n.ts
Labels: Localisation

#393 Implement Gastro Acid
  src/data/move.ts
Labels: move

#375 Updated French transaltion for tutorial.ts
  src/locales/fr/tutorial.ts
Labels: Localisation

#389 Update italian pokemon-stat.ts
  src/locales/it/pokemon-stat.ts
Labels: Localisation

#351 Catch global errors and rejected promises and display them in an alert box.
  src/main.ts
  src/phases.ts
  src/ui/daily-run-scoreboard.ts
  src/ui/title-ui-handler.ts
Labels: enhancement

#398 Implement Tailwind
  src/data/arena-tag.ts
  src/data/enums/arena-tag-type.ts
  src/data/move.ts
  src/field/pokemon.ts
Labels: move

#400 Fix Shedinja Luck and Crash
  src/field/pokemon.ts
Labels: bug

#399 Patch Ita
  src/locales/it/pokemon-stat.ts
  src/locales/it/tutorial.ts
Labels: Localisation

#407 Issue/smack down should cancel fly
  src/data/battler-tags.ts
  src/data/enums/battler-tag-type.ts
  src/data/move.ts
  src/phases.ts
Labels: bug, move

#409 Fix Shedinja PPused Share
  src/field/pokemon.ts
Labels: bug

#402 Fix attacks with charge allowing to switch target on second turn
  src/data/battler-tags.ts
  src/data/enums/battler-tag-type.ts
  src/data/move.ts
  src/phases.ts
Labels: bug

#415 Minor correction to apostrophes in French menu-ui-handler.ts
  src/locales/fr/menu-ui-handler.ts
Labels: Localisation

#416 Gen 5, 6, 7 de local
  src/locales/de/pokemon.ts
Labels: Localisation

#390 Rework - Inputs management to include all gamepad mapping
  src/battle-scene.ts
  src/configs/pad_dualshock.ts
  src/configs/pad_generic.ts
  src/configs/pad_unlicensedSNES.ts
  src/configs/pad_xbox360.ts
  src/inputs-controller.ts
  src/ui-inputs.ts
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/achvs-ui-handler.ts
  src/ui/awaitable-ui-handler.ts
  src/ui/ball-ui-handler.ts
  src/ui/battle-message-ui-handler.ts
  src/ui/command-ui-handler.ts
  src/ui/confirm-ui-handler.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/egg-hatch-scene-handler.ts
  src/ui/egg-list-ui-handler.ts
  src/ui/evolution-scene-handler.ts
  src/ui/fight-ui-handler.ts
  src/ui/form-modal-ui-handler.ts
  src/ui/game-stats-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/modal-ui-handler.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/save-slot-select-ui-handler.ts
  src/ui/settings-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/summary-ui-handler.ts
  src/ui/target-select-ui-handler.ts
  src/ui/ui-handler.ts
  src/ui/ui.ts
  src/ui/vouchers-ui-handler.ts
Labels: enhancement

#423 Bugfix: Ensure direct stat modifying moves update both pokemon's stats
  src/data/move.ts
Labels: bug, Move

#421 Implement Anger Shell and Berserk
  src/data/ability.ts
Labels: Ability

#431 Bugfix: Ensure recoil moves always do at least 1hp in recoil
  src/data/move.ts
Labels: bug, Move

#422 Spanish translations
  src/locales/de/menu.ts
  src/locales/en/menu.ts
  src/locales/es/command-ui-handler.ts
  src/locales/es/menu.ts
  src/locales/es/tutorial.ts
  src/locales/fr/menu.ts
  src/locales/it/menu.ts
  src/ui/confirm-ui-handler.ts
  src/ui/save-slot-select-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Localization

#436 French Update to menu.ts
  src/locales/fr/menu.ts
Labels: Localization

#437 Update French tutorial.ts
  src/locales/fr/tutorial.ts
Labels: Localization

#438 Minor update to French battle.ts
  src/locales/fr/battle.ts
Labels: Localization

#441 Fix Enemy Counter Moves
  src/field/pokemon.ts
Labels: Move

#241 Implement Forewarn, Frisk, and BattlerTags for Magnet Rise (WIP)
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/enums/battler-tag-type.ts
  src/data/move.ts
Labels: Move, Ability

#322 Add Neutralizing Gas message, display Manaphy egg gacha origin, allow catching wonder guard bosses
  src/data/ability.ts
  src/data/egg.ts
  src/phases.ts
Labels: enhancement, Ability

#369 Fix Shedinja passive, mummy passive, acupressure, moody, and added a second move override
  README.md
  src/data/ability.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/overrides.ts
Labels: Move, Ability

#443 Removed Hardcoded Values
  src/field/pokemon.ts
Labels: enhancement

#446 Add Form Text to Starter UI
  src/ui/starter-select-ui-handler.ts
Labels: enhancement

#455 Minor Update to French battle.ts
  src/locales/fr/battle.ts
Labels: Localization

#417 Implement Expanding Force
  src/data/move.ts
Labels: Move

#449 Updated Learnset of Gen1 to Indigo Disc
  src/data/pokemon-level-moves.ts
Labels: Move

#459 Expanding force hotfix
  src/phases.ts
Labels: bug, Move

#464 Bugfix Tickle, Tearful Look, Decorate
  src/data/move.ts
Labels: bug, Move

#463 Added Candy Progress UI
  public/images/ui/candy.png
  public/images/ui/candy_overlay.png
  public/images/ui/legacy/candy.png
  public/images/ui/legacy/candy_overlay.png
  src/loading-scene.ts
  src/ui/summary-ui-handler.ts
Labels: enhancement

#460 Implement Opportunist
  src/data/ability.ts
  src/phases.ts
Labels: Ability

#467 PP Up/Max now show current PP on the move select
  src/phases.ts
Labels: enhancement

#469 Updated Learnset of Gen2 to Indigo Disc
  src/data/pokemon-level-moves.ts
Labels: Move

#465 Prevent Fusing Status Errors
  public/manifest.webmanifest
  src/data/status-effect.ts
  src/field/pokemon.ts
  src/phases.ts
  src/utils.ts
Labels: enhancement

#470 Psychic Terrain no longer blocks priority moves targeted at the user's side
  src/data/terrain.ts
  src/field/arena.ts
  src/phases.ts
Labels: bug, Move

#466 Implement Water Shuriken Battle Bond condition
  src/data/ability.ts
  src/data/move.ts
Labels: Move

#471 Added Italian translations for ability.ts and other elements
  src/locales/it/ability.ts
  src/locales/it/battle.ts
  src/locales/it/command-ui-handler.ts
  src/locales/it/fight-ui-handler.ts
  src/locales/it/menu-ui-handler.ts
  src/locales/it/menu.ts
  src/locales/it/move.ts
  src/locales/it/pokeball.ts
  src/locales/it/pokemon.ts
  src/plugins/i18n.ts
  src/system/settings.ts
Labels: Localization

#472 Prevent Fusion Status Errors +Fix Double Battle Issue
  public/manifest.webmanifest
  src/data/status-effect.ts
  src/field/pokemon.ts
  src/phases.ts
  src/utils.ts
Labels: bug, enhancement

#447 have arena tags check their sides.
  src/data/move.ts
  src/field/arena.ts
Labels: enhancement

#396 Fix Pokemon stuck in semi-vulnerable state after Yawn
  src/field/pokemon.ts
Labels: bug, Move

#429 Rework - Inputs management to include all gamepad mapping V2
  src/battle-scene.ts
  src/configs/pad_dualshock.ts
  src/configs/pad_generic.ts
  src/configs/pad_unlicensedSNES.ts
  src/configs/pad_xbox360.ts
  src/enums/buttons.ts
  src/inputs-controller.ts
  src/system/settings.ts
  src/ui-inputs.ts
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/achvs-ui-handler.ts
  src/ui/awaitable-ui-handler.ts
  src/ui/ball-ui-handler.ts
  src/ui/battle-message-ui-handler.ts
  src/ui/command-ui-handler.ts
  src/ui/confirm-ui-handler.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/egg-hatch-scene-handler.ts
  src/ui/egg-list-ui-handler.ts
  src/ui/evolution-scene-handler.ts
  src/ui/fight-ui-handler.ts
  src/ui/form-modal-ui-handler.ts
  src/ui/game-stats-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/modal-ui-handler.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/save-slot-select-ui-handler.ts
  src/ui/settings-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/summary-ui-handler.ts
  src/ui/target-select-ui-handler.ts
  src/ui/ui-handler.ts
  src/ui/ui.ts
  src/ui/vouchers-ui-handler.ts
Labels: enhancement

#448 Implement Guard Dog, attribute for abilities to give Intimidate immunity
  src/data/ability.ts
  src/data/move.ts
  src/phases.ts
Labels: Ability

#495 Fix parting shot stack bug
  src/data/move.ts
Labels: bug, Move

#326 Changed Bouncy Bubble to heal 100% of damage dealt and implemented Take Heart
  src/data/move.ts
Labels: Move

#501 Fix issue with self switch moves causing softlocks
  src/data/move.ts
Labels: bug, Move

#507 Fix blank fail text on switch out moves
  src/data/ability.ts
  src/data/move.ts
  src/phases.ts
Labels: bug, Move

#289 Fix Protosynthesis and Quark Drive
  src/data/ability.ts
  src/data/battler-tags.ts
  src/field/pokemon.ts
Labels: Ability

#519 updated move.ts german translation
  src/locales/de/move.ts
Labels: Localization

#531 Fixes Struggle Softlock
  src/field/pokemon.ts
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/phases.ts
Labels: bug, Move

#473 Add Scrappy ability handling
  src/data/ability.ts
  src/data/move.ts
  src/field/pokemon.ts
Labels: Ability

#539 Hunger switch shouldn't trigger if terastallized
  src/data/ability.ts
Labels: bug, Ability

#166 Implemented Revelation Dance
  src/data/move.ts
  src/data/type.ts
  src/field/pokemon.ts
Labels: Move

#175 add unit test for util function padInt
  src/utils.test.ts
Labels: enhancement

#553 Minor TM learn fixes and make glacial lance non contact
  src/data/move.ts
  src/data/tms.ts
Labels: Move

#552 New spanish translations and literals for all langs
  src/locales/de/menu.ts
  src/locales/de/starter-select-ui-handler.ts
  src/locales/en/menu.ts
  src/locales/en/starter-select-ui-handler.ts
  src/locales/es/menu.ts
  src/locales/es/pokemon-stat.ts
  src/locales/es/starter-select-ui-handler.ts
  src/locales/es/tutorial.ts
  src/locales/fr/menu.ts
  src/locales/fr/starter-select-ui-handler.ts
  src/locales/it/menu.ts
  src/locales/it/starter-select-ui-handler.ts
  src/plugins/i18n.ts
  src/ui/starter-select-ui-handler.ts
Labels: Localization

#562 I18n import cleanup
  src/locales/de/config.ts
  src/locales/en/config.ts
  src/locales/es/config.ts
  src/locales/fr/config.ts
  src/locales/it/config.ts
  src/plugins/i18n.ts
Labels: enhancement, Localization

#564 Fix overflowing fr locale
  src/locales/fr/starter-select-ui-handler.ts
Labels: Localization

#565 double battle and passive overrides
  src/battle-scene.ts
  src/field/pokemon.ts
  src/overrides.ts
Labels: enhancement

#571 Update Learnsets for Gen3 to Indigo Disk
  src/data/pokemon-level-moves.ts
Labels: Move

#573 Show number of Pokeballs in inventory when selecting a pokeball in the reward phase
  src/modifier/modifier-type.ts
Labels: enhancement

#248 add hazard removal for Rapid Spin, Defog, Tidy Up, Mortal Spin
  src/data/move.ts
Labels: Move

#583 Implement once per battle restriction on abilities
  src/data/ability.ts
  src/field/pokemon.ts
Labels: Ability

#370 Adds ribbon in starter screen if mon has beat classic mode
  public/images/items.json
  public/images/items.png
  public/images/items/bronze_ribbon.png
  public/images/items/great_ribbon.png
  public/images/items/master_ribbon.png
  public/images/items/rogue_ribbon.png
  public/images/items/ultra_ribbon.png
  public/images/ui/champion_ribbon.png
  public/images/ui/legacy/champion_ribbon.png
  src/field/pokemon.ts
  src/loading-scene.ts
  src/phases.ts
  src/system/achv.ts
  src/system/game-data.ts
  src/system/game-stats.ts
  src/ui/game-stats-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: enhancement

#606 FIx Sceptile and Blaziken Learnsets
  src/data/pokemon-level-moves.ts
Labels: Move

#586 Added hyperlinks to Moves, Abilities, and Species enums
  public/update-source-omments.py
  src/data/enums/abilities.ts
  src/data/enums/moves.ts
  src/data/enums/species.ts
Labels: enhancement, Move

#609 Fixed Crash Moves and Reckless
  src/data/ability.ts
  src/data/move.ts
Labels: bug, Move

#202 Add fell stingers effect
  src/data/move.ts
  src/phases.ts
Labels: Move

#567 fix scrappy and mindseye working as passive ability
  src/data/ability.ts
  src/field/pokemon.ts
Labels: bug, Ability

#637 Fix Flare Blitz in Gravity
  src/data/move.ts
Labels: bug, Move

#635 Names of the languages in their respectives languages
  src/system/settings.ts
Labels: Localization

#649 Hide Ribbons When Not Owned
  src/ui/summary-ui-handler.ts
Labels: bug

#648 Overflowing fix in French menu.ts
  src/locales/fr/menu.ts
Labels: bug, Localization

#651 Small fixes to burning bulwark and alluring voice
  src/data/move.ts
Labels: bug, Move

#634 Fixed Failed Moves Not Using PP
  src/field/pokemon.ts
  src/phases.ts
Labels: bug, Move

#254 Implements Cotton Down
  src/data/ability.ts
Labels: Ability

#659 Fix offline mode imports in the app
  src/utils.ts
Labels: bug

#227 Implements cursed body
  src/data/ability.ts
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/phases.ts
Labels: Ability

#663 Fix French battle.ts
  src/locales/fr/battle.ts
Labels: Localization

#259 Implements healer
  src/data/ability.ts
  src/field/pokemon.ts
Labels: Ability

#485 add simplifed chinese locale, translation is complete now.
  src/locales/chs/ability.ts
  src/locales/chs/battle.ts
  src/locales/chs/command-ui-handler.ts
  src/locales/chs/config.ts
  src/locales/chs/fight-ui-handler.ts
  src/locales/chs/menu-ui-handler.ts
  src/locales/chs/menu.ts
  src/locales/chs/move.ts
  src/locales/chs/pokeball.ts
  src/locales/chs/pokemon-stat.ts
  src/locales/chs/pokemon.ts
  src/locales/chs/starter-select-ui-handler.ts
  src/locales/chs/tutorial.ts
  src/plugins/i18n.ts
  src/system/settings.ts
Labels: Localization

#655 Update spacing of icons upon Name/Tera update
  src/ui/battle-info.ts
Labels: bug

#614 Fix charge
  src/data/move.ts
  src/field/pokemon.ts
Labels: bug, Move

#670 Add wordwrap to Chinese words
  src/locales/zh_CN/ability.ts
  src/locales/zh_CN/move.ts
  src/locales/zh_CN/tutorial.ts
Labels: bug, Localization

#516 Save battler tags
  src/data/battler-tags.ts
  src/field/pokemon.ts
  src/system/pokemon-data.ts
Labels: enhancement

#641 Make max and z moves unable to be chosen with metronome
  src/data/move.ts
Labels: bug

#642 Prevent doubles trainers generating with one pokemon
  src/field/trainer.ts
Labels: bug

#667 Fix starters with multiple forms being unable to change move
  src/ui/starter-select-ui-handler.ts
Labels: bug, Move

#671 Fix Water Compaction Triggering on Status Moves
  src/data/ability.ts
Labels: bug, Ability

#687 Fix loading protosynthesis/quark drive boosts
  src/data/battler-tags.ts
Labels: bug, Ability

#617 French typos + forgotten description in move.ts
  src/locales/fr/move.ts
Labels: Localization

#603 Cleanup overrides and imports
  src/battle-scene.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/game-mode.ts
  src/modifier/modifier.ts
  src/overrides.ts
  src/phases.ts
Labels: enhancement

#231 Hydro Steam
  src/data/move.ts
  src/field/pokemon.ts
Labels: Move

#640 German - All Gen 8 pokemons
  src/locales/de/pokemon.ts
Labels: Localization

#650 German - Tutorials and UI Buttons
  src/locales/de/starter-select-ui-handler.ts
  src/locales/de/tutorial.ts
Labels: Localization

#605 Settings navigation, when on top to go to the bottom, and when on the bottom to go to the top
  src/ui/settings-ui-handler.ts
Labels: enhancement

#658 Fix - Gamepad support setting "lost focus" behaviour
  src/battle-scene.ts
  src/inputs-controller.ts
  src/system/settings.ts
Labels: bug

#488 QOL - Settings to choose party Exp display at the end of fight
  src/battle-scene.ts
  src/phases.ts
  src/system/settings.ts
  src/ui/party-exp-bar.ts
Labels: enhancement

#716 Fix some errors from previous PR #711
  src/locales/es/fight-ui-handler.ts
  src/locales/it/fight-ui-handler.ts
  src/ui/text.ts
Labels: bug

#661 Implement Snipe Shot, and Propeller Tail/Stalwart
  src/data/ability.ts
  src/data/move.ts
  src/phases.ts
Labels: Move, Ability

#717 Bugfix: Tidy Up removes hazards from both sides now
  src/data/move.ts
Labels: bug, Move

#550 Redo moveset generation
  src/field/pokemon.ts
Labels: Move

#735 Stop pokemon generating with no moves
  src/field/pokemon.ts
Labels: bug, Move

#683 Modified Chinese translation and added line breaks.
  src/locales/zh_CN/ability.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_CN/menu-ui-handler.ts
  src/locales/zh_CN/menu.ts
  src/locales/zh_CN/move.ts
  src/locales/zh_CN/pokemon.ts
  src/locales/zh_CN/tutorial.ts
Labels: Localization

#738 Adds session playtime to gameInfo for Rich Presence
  src/battle-scene.ts
Labels: enhancement

#712 Heart Swap implementation.
  src/data/move.ts
Labels: Move

#743 Fix fluctuating xp curve
  src/data/exp.ts
Labels: bug

#746 Lowers xp curve for fluctuating slightly
  src/data/exp.ts
Labels: bug

#747 Fix fusion icon variant id
  src/field/pokemon.ts
Labels: bug

#563 New growth rate lang files
  src/locales/de/config.ts
  src/locales/de/growth.ts
  src/locales/en/config.ts
  src/locales/en/growth.ts
  src/locales/es/config.ts
  src/locales/es/growth.ts
  src/locales/fr/config.ts
  src/locales/fr/growth.ts
  src/locales/it/config.ts
  src/locales/it/growth.ts
  src/plugins/i18n.ts
  src/ui/starter-select-ui-handler.ts
Labels: Localization

#611 Natures langs with new config
  src/data/nature.ts
  src/locales/de/config.ts
  src/locales/de/nature.ts
  src/locales/en/config.ts
  src/locales/en/nature.ts
  src/locales/es/config.ts
  src/locales/es/nature.ts
  src/locales/fr/config.ts
  src/locales/fr/nature.ts
  src/locales/it/config.ts
  src/locales/it/nature.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_CN/nature.ts
  src/plugins/i18n.ts
Labels: Localization

#764 Add tsdoc comments for ability getters
  src/field/pokemon.ts
Labels: documentation

#758 Add ignoresProtect to Life Dew
  src/data/move.ts
Labels: bug, Move

#750 Fix Roost doesn't ground correctly.
  src/field/pokemon.ts
Labels: bug, Move

#615 Fix cry when pokemon is fused with its own species and form
  src/field/pokemon.ts
Labels: bug

#529 Technician considers variable power moves
  src/data/ability.ts
Labels: bug, Move

#612 More german translations
  src/locales/de/ability.ts
  src/locales/de/battle.ts
  src/locales/de/menu-ui-handler.ts
  src/locales/de/menu.ts
  src/locales/de/move.ts
Labels: Localization

#763 French translation of growth.ts
  src/locales/fr/growth.ts
Labels: Localization

#794 fixed typo in german pokemon names
  src/locales/de/pokemon.ts
Labels: Localization

#736 Fix Duplicate Egg Moves
  src/ui/starter-select-ui-handler.ts
Labels: bug, Move

#604 Fix sturdy
  src/data/ability.ts
Labels: bug, Ability

#802 Show Default Pokemon icon for missing shiny icon
  src/battle-scene.ts
  src/field/pokemon.ts
  src/overrides.ts
  src/ui/starter-select-ui-handler.ts
Labels: bug, enhancement

#569 Implement innards out
  src/data/ability.ts
Labels: Ability

#807 Fix getSunday function
  src/utils.ts
Labels: bug

#700 Rockruff dusk form not evolving
  src/data/pokemon-evolutions.ts
Labels: bug

#777 Add combined save between waves
  src/phases.ts
  src/system/game-data.ts
Labels: enhancement

#703 Added Passives to the Summary Screen
  public/images/ui/legacy/summary_profile.png
  public/images/ui/legacy/summary_profile_ability.png
  public/images/ui/legacy/summary_profile_passive.png
  public/images/ui/legacy/summary_profile_prompt_a.png
  public/images/ui/legacy/summary_profile_prompt_z.png
  public/images/ui/summary_profile.png
  public/images/ui/summary_profile_ability.png
  public/images/ui/summary_profile_passive.png
  public/images/ui/summary_profile_prompt_a.png
  public/images/ui/summary_profile_prompt_z.png
  src/loading-scene.ts
  src/ui/summary-ui-handler.ts
Labels: enhancement

#800 Stench should not trigger on status moves
  src/data/ability.ts
Labels: bug, Ability

#793 add pokeball override
  src/battle-scene.ts
  src/overrides.ts
  src/system/game-data.ts
Labels: enhancement

#250 Fully implemented floral healing
  src/data/move.ts
Labels: Move

#263 Implemented Curious Medicine
  src/data/ability.ts
Labels: Ability

#307 Implements telepathy
  src/data/ability.ts
Labels: Ability

#815 Update italian translations
  src/locales/it/fight-ui-handler.ts
  src/locales/it/growth.ts
  src/locales/it/nature.ts
Labels: Localization

#797 ToggleSize is now dependend on language + added some missing german t…
  src/locales/de/fight-ui-handler.ts
  src/locales/de/growth.ts
  src/ui/starter-select-ui-handler.ts
Labels: Localization

#766 Added Portuguese (Brazil) translations
  src/locales/pt_BR/ability.ts
  src/locales/pt_BR/battle.ts
  src/locales/pt_BR/command-ui-handler.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/fight-ui-handler.ts
  src/locales/pt_BR/growth.ts
  src/locales/pt_BR/menu-ui-handler.ts
  src/locales/pt_BR/menu.ts
  src/locales/pt_BR/move.ts
  src/locales/pt_BR/nature.ts
  src/locales/pt_BR/pokeball.ts
  src/locales/pt_BR/pokemon-stat.ts
  src/locales/pt_BR/pokemon.ts
  src/locales/pt_BR/starter-select-ui-handler.ts
  src/locales/pt_BR/tutorial.ts
  src/plugins/i18n.ts
  src/system/settings.ts
Labels: Localization

#759 Fixes some variable damage moves not working with tinted lens
  src/data/ability.ts
  src/field/pokemon.ts
Labels: bug, Move

#530 Facade should ignore burn damage reduction
  src/data/move.ts
  src/field/pokemon.ts
Labels: bug, Move

#823 ptBR localization for new entries in starter-select
  src/locales/pt_BR/starter-select-ui-handler.ts
Labels: Localization

#786 Fix Zygarge Complete form changing back into 50%
  src/data/ability.ts
Labels: bug, Ability

#829 Minor pt-BR translation fixes
  src/locales/pt_BR/battle.ts
  src/locales/pt_BR/tutorial.ts
Labels: Localization

#831 Add "Uncaught" localization in Starter Selection UI
  src/locales/de/starter-select-ui-handler.ts
  src/locales/en/starter-select-ui-handler.ts
  src/locales/es/starter-select-ui-handler.ts
  src/locales/fr/starter-select-ui-handler.ts
  src/locales/it/starter-select-ui-handler.ts
  src/locales/pt_BR/starter-select-ui-handler.ts
  src/locales/zh_CN/starter-select-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Localization

#811 Added Ability Triggers Localization
  src/data/ability.ts
  src/locales/de/ability-trigger.ts
  src/locales/de/config.ts
  src/locales/en/ability-trigger.ts
  src/locales/en/config.ts
  src/locales/es/ability-trigger.ts
  src/locales/es/config.ts
  src/locales/fr/ability-trigger.ts
  src/locales/fr/config.ts
  src/locales/it/ability-trigger.ts
  src/locales/it/config.ts
  src/locales/zh_CN/ability-trigger.ts
  src/locales/zh_CN/config.ts
  src/plugins/i18n.ts
Labels: Localization

#636 Issue#613 Prevent evo item use on none base form Pokes
  src/modifier/modifier-type.ts
Labels: bug, Item

#781 Fix Comeuppance doing no damage with multi-lens
  src/data/move.ts
Labels: bug, Move

#795 Prevent applying item boosts when power is <1
  src/modifier/modifier.ts
Labels: Item
