Repository pagefaultgames/pokerogue, pull requests merged in 2024-12, with the labels that each got.

#4908 [Bug] Fix Post-Summon abilities not applying after initially accepting a switch prompt
  src/phases/check-switch-phase.ts
  src/phases/post-summon-phase.ts
  src/phases/switch-phase.ts
Labels: Ability, P2 Bug

#4827 [Sprite][Bug][ME] Fix ME Intro visuals for shinies and other shiny related fixes
  src/battle-scene.ts
  src/data/mystery-encounters/encounters/absolute-avarice-encounter.ts
  src/data/mystery-encounters/encounters/berries-abound-encounter.ts
  src/data/mystery-encounters/encounters/dancing-lessons-encounter.ts
  src/data/mystery-encounters/encounters/fight-or-flight-encounter.ts
  src/data/mystery-encounters/encounters/fun-and-games-encounter.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/slumbering-snorlax-encounter.ts
  src/data/mystery-encounters/encounters/the-pokemon-salesman-encounter.ts
  src/data/mystery-encounters/encounters/the-strong-stuff-encounter.ts
  src/data/mystery-encounters/encounters/trash-to-treasure-encounter.ts
  src/data/mystery-encounters/encounters/uncommon-breed-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/data/pokemon-species.ts
  src/data/trainer-config.ts
  src/field/anims.ts
  src/field/mystery-encounter-intro.ts
  src/field/pokemon.ts
  src/phases/egg-hatch-phase.ts
  src/phases/encounter-phase.ts
  src/system/pokemon-data.ts
  src/test/mystery-encounter/encounters/global-trade-system-encounter.test.ts
  src/test/mystery-encounter/encounters/the-pokemon-salesman-encounter.test.ts
  src/test/mystery-encounter/encounters/the-strong-stuff-encounter.test.ts
  src/test/mystery-encounter/encounters/trash-to-treasure-encounter.test.ts
Labels: UI/UX, Sprite/Animation, Mystery Encounter, P2 Bug

#4922 [Tests] Enemy Held Item overrides are now applied after generateEnemyModifiers()
  src/battle-scene.ts
  src/phases/encounter-phase.ts
  src/test/moves/effectiveness.test.ts
Labels: Tests

#4890 [Ability] Fully implement Sheer Force
  src/data/ability.ts
  src/data/pokemon-forms.ts
  src/modifier/modifier.ts
  src/test/abilities/serene_grace.test.ts
  src/test/abilities/sheer_force.test.ts
Labels: Ability

#4921 [Bug][Balance] Fix fusions learning moves of wrong component mon on evolution
  src/data/balance/pokemon-level-moves.ts
  src/field/pokemon.ts
  src/phases/evolution-phase.ts
Labels: Game Balance, P2 Bug

#4317 [UI] Add error message for too many eggs in starter UI
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#4821 [P1 Bug] Prevent crash from missing pokemon sprite
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/utils/encounter-transformation-sequence.ts
  src/field/pokemon.ts
  src/phases/egg-hatch-phase.ts
  src/phases/evolution-phase.ts
  src/phases/form-change-phase.ts
  src/phases/quiet-form-change-phase.ts
  src/ui/summary-ui-handler.ts
Labels: Sprite/Animation, P1 Bug

#4716 [Bug][UI] Fixes to Run History Logging
  src/data/mystery-encounters/encounters/mysterious-chest-encounter.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/overrides.ts
  src/phases/game-over-phase.ts
  src/ui/run-info-ui-handler.ts
Labels: UI/UX

#4959 [Test] Added additional safeguards to prevent Serene Grace test flakiness
  src/test/abilities/serene_grace.test.ts
Labels: Tests, Beta

#4857 [Move] Partially Implement Instruct
  src/battle-scene.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/move-effect-phase.ts
  src/test/moves/instruct.test.ts
  src/test/utils/helpers/moveHelper.ts
Labels: Enhancement, Move

#3662 [Move] Implement Powder (with edge case)
  public/battle-anims/common-powder.json
  public/images/battle_anims/PRAS- Powder.png
  src/data/battle-anims.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/test/moves/powder.test.ts
Labels: Move

#4961 [P1 Bug] Fix multi lens granting infinite Future Sight hits
  src/data/move.ts
  src/phases/move-effect-phase.ts
  src/test/abilities/parental_bond.test.ts
  src/test/items/multi_lens.test.ts
Labels: Move, Blocker, P1 Bug

#4883 [Balance] December Starter Balance Changes
  src/data/balance/egg-moves.ts
  src/data/balance/passives.ts
  src/data/balance/species-egg-tiers.ts
  src/data/balance/starters.ts
  src/test/eggs/egg.test.ts
Labels: Game Balance, Balance Team

#4960 [Move][Beta] Powder edge cases
  src/data/battler-tags.ts
  src/data/move.ts
  src/phases/move-phase.ts
  src/test/moves/powder.test.ts
Labels: Move, Blocker, P2 Bug, Beta

#4965 [Balance] [Beta] Egg Move Fixes
  src/data/balance/egg-moves.ts
Labels: Game Balance, Balance Team

#4942 [Misc] Update credits
  CREDITS.md
  README.md
Labels: Documentation, Miscellaneous, Blocker

#4971 [Localization] Localizable Event Timer
  src/timed-event-manager.ts
Labels: Localization

#4926 [Move] Implement Lunar Dance
  src/data/move.ts
  src/phases/pokemon-heal-phase.ts
  src/test/moves/lunar_dance.test.ts
Labels: Enhancement, Move

#4988 [Misc] Update "Yda's Dex" credit (the tool is now gone)
  CREDITS.md
Labels: Documentation, Miscellaneous

#4986 [Localization] Missing localized "Able" & "Not able" in Transfer option
  src/ui/party-ui-handler.ts
Labels: Localization

#5003 [Misc] Update CREDITS.md
  CREDITS.md
Labels: Documentation, Miscellaneous

#5013 Bump version number to 1.4.0
  package-lock.json
  package.json
Labels: Miscellaneous

#4996 [Balance] Check previous level moves for redundancy when spawning TMs
  src/modifier/modifier-type.ts
Labels: Game Balance, Balance Team

#4998 [Balance] Change a few early gym teams
  src/data/trainer-config.ts
Labels: Game Balance, Balance Team

#5015 Winter Holiday Event
  public/images/events/winter_holidays2024-event-de.png
  public/images/events/winter_holidays2024-event-en.png
  public/images/events/winter_holidays2024-event-es-ES.png
  public/images/events/winter_holidays2024-event-fr.png
  public/images/events/winter_holidays2024-event-it.png
  public/images/events/winter_holidays2024-event-ja.png
  public/images/events/winter_holidays2024-event-ko.png
  public/images/events/winter_holidays2024-event-pt-BR.png
  public/images/events/winter_holidays2024-event-zh-CN.png
  src/data/balance/starters.ts
  src/data/mystery-encounters/encounters/berries-abound-encounter.ts
  src/data/mystery-encounters/encounters/delibirdy-encounter.ts
  src/data/mystery-encounters/encounters/fight-or-flight-encounter.ts
  src/data/mystery-encounters/encounters/uncommon-breed-encounter.ts
  src/data/mystery-encounters/mystery-encounters.ts
  src/data/trainer-config.ts
  src/data/weather.ts
  src/loading-scene.ts
  src/phases/trainer-victory-phase.ts
  src/test/mystery-encounter/encounters/delibirdy-encounter.test.ts
  src/timed-event-manager.ts
Labels: Miscellaneous

#5016 [Balance] Fix Annihilape Tera Blast Compatibility
  src/data/balance/tms.ts
Labels: Balance Team

#5060 [Hotfix] Prevent Keldeo from changing forms in Daily Run
  package-lock.json
  package.json
  src/data/pokemon-forms.ts
Labels: P1 Bug
