Repository pagefaultgames/pokerogue, pull requests merged in 2024-08, with the labels that each got.

#2503 [QoL] Making the transfer button show which pokemon can have items be transferred to them
  src/ui/party-ui-handler.ts
Labels: Enhancement, Miscellaneous

#3276 [Beta][Localization] Some missing French translations
  src/locales/fr/achv.ts
  src/locales/fr/menu-ui-handler.ts
Labels: Localization, Beta

#3282 [Sprite] Add female Ursaring variant palettes
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/female/217.json
  public/images/pokemon/variant/female/217.json
Labels: Sprite

#3266 [Bug] fix double battle edge case stuck/sprite issue when double battle both died and only one bench pokemon not fainted.
  src/phases.ts
Labels: Bug

#3293 [Bug] Fix remaining pokerus and starter cursor on scrolling in stater select UI
  src/ui/starter-select-ui-handler.ts
Labels: Bug, UI/UX

#3292 [Fix][Sprite] Victreebil's stem not connected to the head
  public/images/pokemon/back/71.json
  public/images/pokemon/back/71.png
  public/images/pokemon/back/shiny/71.json
  public/images/pokemon/back/shiny/71.png
Labels: Sprite

#3288 [Bug][Mirror] Fixed impossible forced switch
  src/phases.ts
Labels: Bug, Duplicate

#3278 [Refactor/Bug] Use Bit Shifting & Masking
  src/data/pokemon-species.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/system/game-data.ts
  src/ui/pokemon-info-container.ts
  src/ui/starter-select-ui-handler.ts
  src/utils.ts
Labels: Documentation

#3275 [Localization] Localize pokemon form change message and translate
  src/data/pokemon-forms.ts
  src/data/pokemon-species.ts
  src/locales/de/config.ts
  src/locales/de/pokemon-form.ts
  src/locales/en/config.ts
  src/locales/en/pokemon-form.ts
  src/locales/es/config.ts
  src/locales/es/pokemon-form.ts
  src/locales/fr/config.ts
  src/locales/fr/pokemon-form.ts
  src/locales/it/config.ts
  src/locales/it/pokemon-form.ts
  src/locales/ko/config.ts
  src/locales/ko/pokemon-form.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/pokemon-form.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_CN/pokemon-form.ts
  src/locales/zh_TW/config.ts
  src/locales/zh_TW/pokemon-form.ts
Labels: Localization

#3092 [Documentation] Document `EnemyCommandPhase` and Enemy AI functions
  docs/enemy-ai.md
  src/field/pokemon.ts
  src/phases.ts
Labels: Documentation

#3296 [Bug] fix sprite bug when remove from party in starter select UI
  src/ui/starter-select-ui-handler.ts
Labels: Bug

#3297 [Sprite] Shiny animated Clawitzer using wrong palette
  public/images/pokemon/exp/shiny/693.png
Labels: Sprite

#2482 [Enhancement] Allow Starters to Remember Egg Moves
  src/field/pokemon.ts
  src/system/pokemon-data.ts
Labels: Enhancement, Game Design / Balance, Balance Team

#3236 [Bug] Fix affixes appearing when they shouldn't
  src/phases.ts
Labels: Bug, Localization

#3280 [Enhancement] Add female and double grunts
  src/battle.ts
  src/locales/en/trainers.ts
  src/locales/es/trainers.ts
  src/locales/fr/trainers.ts
  src/locales/it/trainers.ts
  src/locales/ko/trainers.ts
  src/locales/pt_BR/trainers.ts
  src/locales/zh_CN/trainers.ts
  src/locales/zh_TW/trainers.ts
Labels: Enhancement, Localization

#3308 [Balance] Adjust White Herb weight and add Scope Lens to Trainer item pool
  src/modifier/modifier-type.ts
Labels: Item, Game Design / Balance

#3309 [Beta][Localization] Small batch of missing French entires
  src/locales/fr/bgm-name.ts
  src/locales/fr/trainers.ts
Labels: Localization

#2738 [QoL] Added the ability for tandemaus to evolve into a 3 family maushold
  src/data/pokemon-evolutions.ts
  src/data/pokemon-species.ts
  src/test/evolutions/evolutions.test.ts
Labels: Enhancement, Miscellaneous

#3301 [Bug] Weather should be reset upon arena reset
  src/field/arena.ts
Labels: Bug

#3298 [Test] added revive function in gamaManager & a double-battle test
  src/test/battle/double_battle.test.ts
  src/test/utils/gameManager.ts
Labels: Unit Test

#3281 [Localization] add missed move trigger and remove getPokemonMessage
  src/data/move.ts
  src/locales/de/move-trigger.ts
  src/locales/en/move-trigger.ts
  src/locales/es/move-trigger.ts
  src/locales/fr/move-trigger.ts
  src/locales/it/move-trigger.ts
  src/locales/ko/move-trigger.ts
  src/locales/pt_BR/move-trigger.ts
  src/locales/zh_CN/move-trigger.ts
  src/locales/zh_TW/move-trigger.ts
  src/messages.ts
Labels: Localization

#3317 [Beta][Localization] Fresh Start challenge entries added to French locales
  src/locales/fr/achv.ts
  src/locales/fr/challenges.ts
Labels: Localization

#3306 [QoL] Move victini to gen 5
  src/data/challenge.ts
  src/data/pokemon-species.ts
Labels: Enhancement, UI/UX

#3311 [Sprite/Misc] Repo Icon cleanup
  public/images/pokemon/icons/9/1012-artisan.png
  public/images/pokemon/icons/9/1012s-artisan.png
  public/images/pokemon/icons/9/1013-masterpiece.png
  public/images/pokemon/icons/9/1013s-masterpiece.png
  public/images/pokemon/icons/variant/3/354-mega_2.png
  public/images/pokemon/icons/variant/3/354-mega_3.png
  public/images/pokemon/icons/variant/7/742_2.png
  public/images/pokemon/icons/variant/7/742_3.png
  public/images/pokemon/icons/variant/7/743_2.png
  public/images/pokemon/icons/variant/7/743_3.png
  public/images/pokemon/icons/variant/7/777_2.png
  public/images/pokemon/icons/variant/7/777_3.png
  public/images/pokemon/icons/variant/7/778-busted_2.png
  public/images/pokemon/icons/variant/7/778-busted_3.png
  public/images/pokemon/icons/variant/7/779_2.png
  public/images/pokemon/icons/variant/7/779_3.png
Labels: Sprite

#3310 Refactor duplicated code into a common Pokemon#leaveField() function
  src/data/move.ts
  src/field/pokemon.ts
  src/phases.ts
Labels: Refactor

#3312 [QoL] Auto filtering on challenge mode
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement

#3291 [Balance] [Beta] Give Dipplin Dragon Cheer as a relearn move
  src/data/egg-moves.ts
  src/data/pokemon-level-moves.ts
Labels: Balance Team

#3255 [Misc] Merged implementation of CutHpStatBoostAttr moves
  src/data/move.ts
  src/test/moves/belly_drum.test.ts
  src/test/moves/clangorous_soul.test.ts
  src/test/moves/fillet_away.test.ts
Labels: Move, Miscellaneous, Refactor

#3320 [Sprite] Move Victini graphics to Generation 5 atlases
  public/images/pokemon/icons/5/494.png
  public/images/pokemon/icons/5/494s.png
  public/images/pokemon/icons/variant/5/494_2.png
  public/images/pokemon/icons/variant/5/494_3.png
  public/images/pokemon_icons_4.json
  public/images/pokemon_icons_4.png
  public/images/pokemon_icons_4v.json
  public/images/pokemon_icons_4v.png
  public/images/pokemon_icons_5.json
  public/images/pokemon_icons_5.png
  public/images/pokemon_icons_5v.json
  public/images/pokemon_icons_5v.png
  src/data/pokemon-species.ts
Labels: Sprite

#3234 Implement generic evil team admins
  public/images/trainer/aqua_admin.json
  public/images/trainer/aqua_admin.png
  public/images/trainer/aqua_admin_f.json
  public/images/trainer/aqua_admin_f.png
  public/images/trainer/flare_admin_f.png
  public/images/trainer/flare_admin_m copy.json
  public/images/trainer/flare_admin_m.json
  public/images/trainer/flare_admin_m.png
  public/images/trainer/galactic_admin_f.json
  public/images/trainer/galactic_admin_f.png
  public/images/trainer/galactic_admin_m.json
  public/images/trainer/galactic_admin_m.png
  public/images/trainer/magma_admin_f.json
  public/images/trainer/magma_admin_f.png
  public/images/trainer/magma_admin_m.json
  public/images/trainer/magma_admin_m.png
  public/images/trainer/plasma_sage.json
  public/images/trainer/plasma_sage.png
  public/images/trainer/rocket_admin_f.json
  public/images/trainer/rocket_admin_f.png
  public/images/trainer/rocket_admin_m.json
  public/images/trainer/rocket_admin_m.png
  src/battle.ts
  src/data/dialogue.ts
  src/data/trainer-config.ts
  src/enums/trainer-type.ts
  src/field/trainer.ts
  src/locales/de/dialogue.ts
  src/locales/de/trainers.ts
  src/locales/en/dialogue.ts
  src/locales/en/trainers.ts
  src/locales/es/trainers.ts
  src/locales/fr/dialogue.ts
  src/locales/fr/trainers.ts
  src/locales/it/dialogue.ts
  src/locales/it/trainers.ts
  src/locales/ko/dialogue.ts
  src/locales/ko/trainers.ts
  src/locales/pt_BR/trainers.ts
  src/locales/zh_CN/dialogue.ts
  src/locales/zh_CN/trainers.ts
  src/locales/zh_TW/dialogue.ts
  src/locales/zh_TW/trainers.ts
Labels: Enhancement

#3329 [Balance] Starter Cost Rebalance
  src/data/pokemon-species.ts
Labels: Game Design / Balance, Balance Team

#1236 Skip forced switch if the fainted party member has been revived already
  src/phases.ts
Labels: Bug

#3322 [Sprite] Target FormSpriteKey-labelled sprite assets
  src/data/pokemon-species.ts
Labels: Sprite

#3325 [Enhancement] Improvements to starter selection and filtering user experience
  src/locales/de/filter-bar.ts
  src/locales/en/filter-bar.ts
  src/locales/es/filter-bar.ts
  src/locales/fr/filter-bar.ts
  src/locales/it/filter-bar.ts
  src/locales/ko/filter-bar.ts
  src/locales/pt_BR/filter-bar.ts
  src/locales/zh_CN/filter-bar.ts
  src/locales/zh_TW/filter-bar.ts
  src/ui/dropdown.ts
  src/ui/filter-bar.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement

#3333 [Bug] Fix blocking menu when 6 starter selected
  src/ui/starter-select-ui-handler.ts
Labels: Bug

#3338 [Misc] Use `tagType` instead of manually passing `BattlerTagType.BYPASS_SLEEP`
  src/data/battler-tags.ts
Labels: Refactor

#3195 [BUG] - Re: Parting shot debuff applies even if move fails
  src/phases.ts
Labels: Bug, Duplicate

#3350 [Sprite] Trim Skeledirge back exp palettes
  public/images/pokemon/exp/back/911.png
  public/images/pokemon/exp/back/shiny/911.png
Labels: Sprite

#3353 [Localization] Update Portuguese translation for filter-bar.ts
  src/locales/pt_BR/filter-bar.ts
Labels: Localization

#3351 [Music] Add ORAS Champion theme for Mixed music
  public/audio/bgm/battle_hoenn_champion_g5.mp3
  public/audio/bgm/battle_hoenn_champion_g6.mp3
  src/battle-scene.ts
  src/data/trainer-config.ts
  src/locales/de/bgm-name.ts
  src/locales/en/bgm-name.ts
  src/locales/es/bgm-name.ts
  src/locales/fr/bgm-name.ts
  src/locales/it/bgm-name.ts
  src/locales/ko/bgm-name.ts
  src/locales/pt_BR/bgm-name.ts
  src/locales/zh_CN/bgm-name.ts
  src/locales/zh_TW/bgm-name.ts
Labels: Miscellaneous

#3356 [Bug] Player pokemon shouldn't generate an NPC moveset
  src/field/pokemon.ts
  src/phases.ts
Labels: Bug

#3126 [GH] Replace `Feature request` template with form
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: Miscellaneous

#3340 [Bug,Enhancement] Fix and improve Starter selector UI
  src/ui/dropdown.ts
  src/ui/filter-bar.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement

#3337 [Bug] Sand Spit should only activate when hit with a damaging move
  src/data/ability.ts
  src/test/abilities/sand_spit.test.ts
Labels: Bug, Ability

#3360 New pr template
  .github/pull_request_template.md
Labels: Miscellaneous

#3365 [Bug] Cosplay Pikachu and Rotom forms not starting with signature moves
  src/data/pokemon-level-moves.ts
Labels: Bug, Move

#3363 [Localization] Updated Portuguese filter-bar.ts and confirmExit in the starter select UI
  src/locales/pt_BR/filter-bar.ts
  src/locales/pt_BR/starter-select-ui-handler.ts
Labels: Localization

#3366 [Balance] "Old Yeller" White Herb
  src/modifier/modifier-type.ts
Labels: Item, Game Design / Balance, Balance Team

#3368 [Balance] Adjustments to Beta Starter Costs
  src/data/pokemon-species.ts
Labels: Game Design / Balance, Balance Team

#3361 [QoL] Change Dex filter name to Caught
  src/locales/de/filter-bar.ts
  src/locales/en/filter-bar.ts
  src/locales/es/filter-bar.ts
  src/locales/fr/filter-bar.ts
  src/locales/it/filter-bar.ts
  src/locales/ko/filter-bar.ts
  src/locales/pt_BR/filter-bar.ts
  src/locales/zh_CN/filter-bar.ts
  src/locales/zh_TW/filter-bar.ts
  src/ui/filter-bar.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement, Refactor

#3370 [Localization][ko] Translate missed texts in filter bar.
  src/locales/ko/filter-bar.ts
  src/locales/ko/starter-select-ui-handler.ts
Labels: Localization

#3372 [Balance] Beta Passive Changes August
  src/data/pokemon-species.ts
Labels: Ability, Balance Team

#3371 [Misc/Sprite] Clean up extra Drifblim-related files
  public/images/pokemon/variant/back/426_3.json
  public/images/pokemon/variant/back/426_3.png
Labels: Sprite

#3382 [Localization] Moar French adjuestments
  src/locales/fr/battle.ts
  src/locales/fr/starter-select-ui-handler.ts
Labels: Localization

#3381 [Bug] FIx Storm move accuracies in sun
  src/data/move.ts
Labels: Bug, Documentation, Move

#2787 [Feature] Allow Phione eggs to have a 1/8 chance to hatch Manaphy
  src/data/egg.ts
Labels: Game Design / Balance

#3359 [Bug] Fix tier weights and remove unnecessary `Math.min()`
  src/modifier/modifier-type.ts
Labels: Bug, Item

#3327 [Ability] Partially implement Gulp Missile
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/data/pokemon-forms.ts
  src/enums/battler-tag-type.ts
  src/test/abilities/gulp_missile.test.ts
Labels: Ability

#3388 [Bug] Fixes Moveset Flyout not updating PP from Spite PP reduction
  src/data/move.ts
  src/phases.ts
  src/ui/battle-flyout.ts
Labels: Bug, Move

#3389 [Balance] Adjustments 2 to Beta Starter Costs
  src/data/pokemon-species.ts
Labels: Game Design / Balance, Balance Team

#3396 [Localization] JA move-trigger.ts
  src/locales/ja/move-trigger.ts
Labels: Localization

#3397 [Localization] Fixed wrong trainer's information (Korean)
  src/locales/ko/trainers.ts
Labels: Localization

#3321 [Bug] Fix a couple small issues with uturn and friends
  src/data/move.ts
  src/phases.ts
  src/test/battle/battle.test.ts
  src/test/moves/baton_pass.test.ts
  src/test/moves/u_turn.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/phaseInterceptor.ts
  src/ui/party-ui-handler.ts
Labels: Bug

#3352 [Move] Implement (or re-implement?) Lucky Chant
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/arena-tag-type.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/locales/de/arena-tag.ts
  src/locales/en/arena-tag.ts
  src/locales/es/arena-tag.ts
  src/locales/fr/arena-tag.ts
  src/locales/it/arena-tag.ts
  src/locales/ja/arena-tag.ts
  src/locales/ko/arena-tag.ts
  src/locales/pt_BR/arena-tag.ts
  src/locales/zh_CN/arena-tag.ts
  src/locales/zh_TW/arena-tag.ts
  src/test/moves/dragon_rage.test.ts
  src/test/moves/lucky_chant.test.ts
Labels: Move

#3374 [Test] Add helper function to modify the turn order for tests
  src/test/abilities/serene_grace.test.ts
  src/test/abilities/sheer_force.test.ts
  src/test/abilities/shield_dust.test.ts
  src/test/abilities/zen_mode.test.ts
  src/test/items/leek.test.ts
  src/test/items/scope_lens.test.ts
  src/test/moves/fusion_flare_bolt.test.ts
  src/test/moves/gastro_acid.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/testUtils.ts
Labels: Unit Test

#3399 [Localization][JA] Translation of weather.ts
  src/locales/ja/weather.ts
Labels: Localization

#3401 [Ja] [Localization] Update ability.ts
  src/locales/ja/ability.ts
Labels: Localization

#3379 [Move] Add type immunity removal moves
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/locales/ca-ES/move-trigger.ts
  src/locales/de/move-trigger.ts
  src/locales/en/move-trigger.ts
  src/locales/es/move-trigger.ts
  src/locales/fr/move-trigger.ts
  src/locales/it/move-trigger.ts
  src/locales/ja/move-trigger.ts
  src/locales/ko/move-trigger.ts
  src/locales/pt_BR/move-trigger.ts
  src/locales/zh_CN/move-trigger.ts
  src/locales/zh_TW/move-trigger.ts
  src/test/moves/foresight.test.ts
  src/test/moves/miracle_eye.test.ts
Labels: Move

#3403 [JA] Update move.ts [Localization]
  src/locales/ja/move.ts
Labels: Localization

#3405 [JA] [Localization] Translate egg.ts
  src/locales/ja/egg.ts
Labels: Localization

#3406 [Bug] Fix healing modifying the HP stat instead of the Pokemon's HP
  src/data/move.ts
Labels: Bug

#3407 [Refactor] allow null UI mode (rid of `mode!`)
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/achvs-ui-handler.ts
  src/ui/awaitable-ui-handler.ts
  src/ui/challenges-select-ui-handler.ts
  src/ui/form-modal-ui-handler.ts
  src/ui/game-stats-ui-handler.ts
  src/ui/loading-modal-ui-handler.ts
  src/ui/login-form-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/message-ui-handler.ts
  src/ui/modal-ui-handler.ts
  src/ui/outdated-modal-ui-handler.ts
  src/ui/session-reload-modal-ui-handler.ts
  src/ui/settings/abstract-binding-ui-handler.ts
  src/ui/settings/abstract-control-settings-ui-handler.ts
  src/ui/settings/abstract-settings-ui-handler.ts
  src/ui/settings/gamepad-binding-ui-handler.ts
  src/ui/settings/keyboard-binding-ui-handler.ts
  src/ui/settings/settings-audio-ui-handler.ts
  src/ui/settings/settings-display-ui-handler.ts
  src/ui/settings/settings-gamepad-ui-handler.ts
  src/ui/settings/settings-keyboard-ui-handler.ts
  src/ui/settings/settings-ui-handler.ts
  src/ui/ui-handler.ts
  src/ui/unavailable-modal-ui-handler.ts
  src/ui/vouchers-ui-handler.ts
Labels: Refactor

#2716 [Enhancement] Add Move Header phase and attributes
  src/data/move.ts
  src/locales/ca-ES/move-trigger.ts
  src/locales/de/move-trigger.ts
  src/locales/en/move-trigger.ts
  src/locales/es/move-trigger.ts
  src/locales/fr/move-trigger.ts
  src/locales/it/move-trigger.ts
  src/locales/ja/move-trigger.ts
  src/locales/ko/move-trigger.ts
  src/locales/pt_BR/move-trigger.ts
  src/locales/zh_CN/move-trigger.ts
  src/locales/zh_TW/move-trigger.ts
  src/phases.ts
  src/test/moves/focus_punch.test.ts
Labels: Enhancement

#3410 Fixing the German stats page
  src/ui/text.ts
Labels: Localization

#3413 [Localization] [JA] Translated biome.ts
  src/locales/ja/biome.ts
Labels: Localization

#3414 Fix the other issue with `HitHealAttr`
  src/data/move.ts
Labels: Bug

#3395 [Enhancement] Achievements Page is now Scrollable
  src/ui/achvs-ui-handler.ts
Labels: Enhancement, UI/UX

#3390 [Enhancement/Item] Add Achievement to Unlock Eviolite
  src/locales/ca-ES/achv.ts
  src/locales/de/achv.ts
  src/locales/en/achv.ts
  src/locales/es/achv.ts
  src/locales/fr/achv.ts
  src/locales/it/achv.ts
  src/locales/ja/achv.ts
  src/locales/ko/achv.ts
  src/locales/pt_BR/achv.ts
  src/locales/zh_CN/achv.ts
  src/locales/zh_TW/achv.ts
  src/modifier/modifier-type.ts
  src/phases.ts
  src/system/achv.ts
  src/system/game-data.ts
  src/system/unlockables.ts
Labels: Enhancement, Help Wanted, Item, Game Design / Balance, Balance Team

#3387 [Misc] Eternatus Dialogue reflects # of Classic Sessions Played
  src/locales/de/dialogue.ts
  src/locales/en/dialogue.ts
  src/locales/es/dialogue.ts
  src/locales/fr/dialogue.ts
  src/locales/it/dialogue.ts
  src/locales/ko/dialogue.ts
  src/locales/pt_BR/dialogue.ts
  src/locales/zh_CN/dialogue.ts
  src/locales/zh_TW/dialogue.ts
  src/phases.ts
Labels: Miscellaneous

#3346 [BUG] - dragon tail switchout ability in wild battles proc crashes game
  src/battle-scene.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases.ts
  src/test/moves/dragon_tail.test.ts
Labels: Bug, Move

#3331 [Feature] [Beta] Implement Additional Grunt Dialogue
  src/data/dialogue.ts
  src/locales/ca-ES/dialogue.ts
  src/locales/de/dialogue.ts
  src/locales/en/dialogue.ts
  src/locales/es/dialogue.ts
  src/locales/fr/dialogue.ts
  src/locales/it/dialogue.ts
  src/locales/ja/dialogue.ts
  src/locales/ko/dialogue.ts
  src/locales/pt_BR/dialogue.ts
  src/locales/zh_CN/dialogue.ts
  src/locales/zh_TW/dialogue.ts
Labels: Enhancement

#3425 [Localization]Zh_cn adding translation 8/8
  src/locales/zh_CN/achv.ts
  src/locales/zh_CN/dialogue.ts
  src/locales/zh_CN/filter-bar.ts
  src/locales/zh_CN/starter-select-ui-handler.ts
  src/locales/zh_CN/trainers.ts
Labels: Localization

#3423 [Localization] French - Some missing translations, typos and rephrasing.
  src/locales/fr/modifier-type.ts
  src/locales/fr/tutorial.ts
Labels: Localization

#3422 [Dev] Update changeTurnOrder name to mockTurnOrder (naming convention)
  src/test/abilities/serene_grace.test.ts
  src/test/abilities/sheer_force.test.ts
  src/test/abilities/shield_dust.test.ts
  src/test/abilities/zen_mode.test.ts
  src/test/items/leek.test.ts
  src/test/items/scope_lens.test.ts
  src/test/moves/fusion_flare_bolt.test.ts
  src/test/moves/gastro_acid.test.ts
  src/test/utils/testUtils.ts
Labels: Unit Test

#3421 [Dev] Add mockHitCheck util
  src/test/abilities/hustle.test.ts
  src/test/abilities/libero.test.ts
  src/test/abilities/magic_guard.test.ts
  src/test/abilities/parental_bond.test.ts
  src/test/abilities/protean.test.ts
  src/test/abilities/sweet_veil.test.ts
  src/test/utils/testUtils.ts
Labels: Unit Test

#3426 [Bug] no wild evolutions
  src/data/pokemon-evolutions.ts
  src/test/evolution.test.ts
Labels: Bug

#3285 [QoL] IV scanner update to hide the prompt and let you see the stats mid battle on the stats screen
  public/images/ui/legacy/pbinfo_stat.json
  public/images/ui/legacy/pbinfo_stat.png
  public/images/ui/legacy/pbinfo_stat_numbers.json
  public/images/ui/legacy/pbinfo_stat_numbers.png
  public/images/ui/pbinfo_stat.json
  public/images/ui/pbinfo_stat.png
  public/images/ui/pbinfo_stat_numbers.json
  public/images/ui/pbinfo_stat_numbers.png
  src/battle-scene.ts
  src/data/battle-stat.ts
  src/locales/de/settings.ts
  src/locales/en/pokemon-info.ts
  src/locales/en/settings.ts
  src/locales/es/settings.ts
  src/locales/fr/settings.ts
  src/locales/it/settings.ts
  src/locales/ja/settings.ts
  src/locales/ko/settings.ts
  src/locales/pt_BR/settings.ts
  src/locales/zh_CN/settings.ts
  src/locales/zh_TW/settings.ts
  src/phases.ts
  src/system/settings/settings.ts
  src/ui/battle-info.ts
  src/ui/battle-message-ui-handler.ts
  src/ui/text.ts
Labels: Enhancement

#3373 [Bug] Starter UI challenge form fix
  src/data/challenge.ts
  src/system/game-data.ts
  src/test/ui/starter-select.test.ts
  src/ui/starter-select-ui-handler.ts
Labels: Bug

#3437 [Test] Mock turn order in Miracle Eye test
  src/test/moves/miracle_eye.test.ts
Labels: Unit Test

#3436 [Localization] German missing keys
  src/locales/de/ability-trigger.ts
  src/locales/de/pokemon-info-container.ts
  src/locales/de/pokemon-info.ts
Labels: Localization

#3427 [Move] Reimplement Beak Blast
  src/data/battle-anims.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/phases.ts
  src/test/moves/beak_blast.test.ts
Labels: Move

#3428 [Localization][JA] Translated ability-trigger.ts, status-effect.ts
  src/locales/ja/ability-trigger.ts
  src/locales/ja/status-effect.ts
Labels: Localization

#3392 [Documentation] Add comments to `MoveEffectPhase` (+ some style changes)
  src/phases.ts
Labels: Documentation

#3408 [JA] [Localization] First draft translated achv.ts
  src/locales/ja/achv.ts
Labels: Localization

#3345 [Enhancement] Add go filter shortcut
  src/locales/de/starter-select-ui-handler.ts
  src/locales/en/starter-select-ui-handler.ts
  src/locales/es/starter-select-ui-handler.ts
  src/locales/fr/starter-select-ui-handler.ts
  src/locales/it/starter-select-ui-handler.ts
  src/locales/ko/starter-select-ui-handler.ts
  src/locales/pt_BR/starter-select-ui-handler.ts
  src/locales/zh_CN/starter-select-ui-handler.ts
  src/locales/zh_TW/starter-select-ui-handler.ts
  src/ui-inputs.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement

#3393 [QoL] Disables final boss passive for starter Eternatus passive changes
  src/field/pokemon.ts
  src/test/final_boss.test.ts
Labels: Game Balance, Balance Team

#3454 [Bug] DNA-splicer broken
  src/data/status-effect.ts
  src/field/pokemon.ts
Labels: Bug

#3446 [JA] [Localisation] Added kanji to battle.ts
  src/locales/ja/battle.ts
Labels: Localization

#3449 [Test] Fix test RNG
  src/test/moves/hyper_beam.test.ts
  src/test/moves/purify.test.ts
Labels: Unit Test

#3362 [Bug] Fixes bug with freezy frost not eliminating all Pokemon's stat changes
  src/data/move.ts
  src/locales/ca_ES/move-trigger.ts
  src/locales/de/move-trigger.ts
  src/locales/en/move-trigger.ts
  src/locales/es/move-trigger.ts
  src/locales/fr/move-trigger.ts
  src/locales/it/move-trigger.ts
  src/locales/ja/move-trigger.ts
  src/locales/ko/move-trigger.ts
  src/locales/pt_BR/move-trigger.ts
  src/locales/zh_CN/move-trigger.ts
  src/locales/zh_TW/move-trigger.ts
  src/test/moves/freezy_frost.test.ts
  src/test/moves/haze.test.ts
Labels: Bug

#3456 [Enhancement] Allow nickname assignment in the starter select UI.
  src/phases.ts
  src/system/game-data.ts
  src/ui/rename-form-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement, UI/UX

#3431 [Enhancement] Add favorite filter in Starter UI
  public/images/ui/favorite.png
  public/images/ui/legacy/favorite.png
  src/loading-scene.ts
  src/locales/ca_ES/filter-bar.ts
  src/locales/ca_ES/starter-select-ui-handler.ts
  src/locales/de/filter-bar.ts
  src/locales/de/starter-select-ui-handler.ts
  src/locales/en/filter-bar.ts
  src/locales/en/starter-select-ui-handler.ts
  src/locales/es/filter-bar.ts
  src/locales/es/starter-select-ui-handler.ts
  src/locales/fr/filter-bar.ts
  src/locales/fr/starter-select-ui-handler.ts
  src/locales/it/filter-bar.ts
  src/locales/it/starter-select-ui-handler.ts
  src/locales/ja/filter-bar.ts
  src/locales/ja/starter-select-ui-handler.ts
  src/locales/ko/filter-bar.ts
  src/locales/ko/starter-select-ui-handler.ts
  src/locales/pt_BR/filter-bar.ts
  src/locales/pt_BR/starter-select-ui-handler.ts
  src/locales/zh_CN/filter-bar.ts
  src/locales/zh_CN/starter-select-ui-handler.ts
  src/locales/zh_TW/filter-bar.ts
  src/locales/zh_TW/starter-select-ui-handler.ts
  src/system/game-data.ts
  src/ui/starter-container.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement, UI/UX

#3430 [Dev] Move function from testUtils.ts to gameManager.ts (1/3)
  src/test/abilities/hustle.test.ts
  src/test/abilities/libero.test.ts
  src/test/abilities/magic_guard.test.ts
  src/test/abilities/parental_bond.test.ts
  src/test/abilities/protean.test.ts
  src/test/abilities/sweet_veil.test.ts
  src/test/moves/make_it_rain.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/gameManagerHelper.ts
  src/test/utils/moveHelper.ts
  src/test/utils/overridesHelper.ts
  src/test/utils/testUtils.ts
Labels: Unit Test

#3432 [Dev] Move function from testUtils.ts to gameManager.ts (2/3)
  src/test/abilities/serene_grace.test.ts
  src/test/abilities/sheer_force.test.ts
  src/test/abilities/shield_dust.test.ts
  src/test/abilities/zen_mode.test.ts
  src/test/items/leek.test.ts
  src/test/items/scope_lens.test.ts
  src/test/moves/fusion_flare_bolt.test.ts
  src/test/moves/gastro_acid.test.ts
  src/test/moves/miracle_eye.test.ts
  src/test/moves/purify.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/moveHelper.ts
  src/test/utils/testUtils.ts
Labels: Unit Test

#3455 [Bug][Localhost] fix Json parse issue when trying to load battle-anim
  src/data/battle-anims.ts
  src/test/utils/gameWrapper.ts
  src/test/utils/mocks/mockFetch.ts
Labels: Bug

#3445 [Balance] Change Some Mainline Starter's Early Learnset
  src/data/pokemon-level-moves.ts
Labels: Game Balance, Balance Team

#3461 [Bug][Hotfix] - Calling destroy() on enemy pokemon after BattleEndPhase breaks endless
  src/phases.ts
Labels: Bug

#3256 [Feature] Move touch controls configuration (Reopened)
  index.css
  index.html
  src/inputs-controller.ts
  src/locales/de/settings.ts
  src/locales/en/settings.ts
  src/locales/es/settings.ts
  src/locales/fr/settings.ts
  src/locales/it/settings.ts
  src/locales/ko/settings.ts
  src/locales/pt_BR/settings.ts
  src/locales/zh_CN/settings.ts
  src/locales/zh_TW/settings.ts
  src/system/settings/settings.ts
  src/test/utils/fakeMobile.html
  src/touch-controls.ts
  src/ui/settings/abstract-settings-ui-handler.ts
  src/ui/settings/move-touch-controls-handler.ts
  src/ui/settings/settings-audio-ui-handler.ts
  src/ui/settings/settings-display-ui-handler.ts
  src/ui/settings/settings-ui-handler.ts
Labels: Enhancement

#3476 [JA] [Localisation] Translated voucher.ts
  src/locales/ja/voucher.ts
Labels: Localization

#3451 Disable endless boss passives
  src/field/pokemon.ts
  src/test/endless_boss.test.ts
  src/test/final_boss.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/gameWrapper.ts
  src/test/utils/mocks/mockTextureManager.ts
  src/test/utils/mocks/mocksContainer/mockTexture.ts
Labels: Bug, Balance Team

#3479 [Bug] Immediately update the passive background upon unlocking
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#3480 [Enhancement] Add "open filter" button for mobile touch pad
  index.css
  index.html
Labels: UI/UX, Lead Dev Review

#3478 [Enhancement] Add Passive / Cost Reduction - Can Unlock option and Egg purchasable filter
  src/locales/ca_ES/filter-bar.ts
  src/locales/de/filter-bar.ts
  src/locales/en/filter-bar.ts
  src/locales/es/filter-bar.ts
  src/locales/fr/filter-bar.ts
  src/locales/it/filter-bar.ts
  src/locales/ja/filter-bar.ts
  src/locales/ko/filter-bar.ts
  src/locales/pt_BR/filter-bar.ts
  src/locales/zh_CN/filter-bar.ts
  src/locales/zh_TW/filter-bar.ts
  src/ui/dropdown.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#3502 [Test] Fix test names that weren't changed from copy/pasting
  src/test/abilities/libero.test.ts
  src/test/abilities/sand_spit.test.ts
  src/test/battle/double_battle.test.ts
  src/test/battle/error-handling.test.ts
  src/test/moves/foresight.test.ts
  src/test/moves/miracle_eye.test.ts
  src/test/moves/tailwind.test.ts
Labels: Unit Test

#3494 [Dev] Move function from testUtils.ts to gameManager.ts (3/3)
  src/test/utils/gameManager.ts
  src/test/utils/testUtils.ts
Labels: Unit Test

#3477 [QoL] [Balance] Skip Ability Charm in rewards after classic wave 189
  src/modifier/modifier-type.ts
Labels: Balance Team

#3475 [JA] [Localisation] Translated save-slot-select-ui-handler.ts
  src/locales/ja/save-slot-select-ui-handler.ts
Labels: Localization

#3487 [Localization][JA] Translated modifier.ts, arena-tag.ts
  src/locales/ja/arena-tag.ts
  src/locales/ja/modifier.ts
Labels: Localization

#3481 [JA] [Localization] Translate starter-select-ui-handler.ts
  src/locales/ja/starter-select-ui-handler.ts
Labels: Localization

#3498 [Refactor] move and change localization key of battler-tags
  src/data/battler-tags.ts
  src/data/move.ts
  src/locales/ca_ES/battle.ts
  src/locales/ca_ES/battler-tags.ts
  src/locales/de/battle.ts
  src/locales/de/battler-tags.ts
  src/locales/en/battle.ts
  src/locales/en/battler-tags.ts
  src/locales/es/battle.ts
  src/locales/es/battler-tags.ts
  src/locales/fr/battle.ts
  src/locales/fr/battler-tags.ts
  src/locales/it/battle.ts
  src/locales/it/battler-tags.ts
  src/locales/ja/battle.ts
  src/locales/ja/battler-tags.ts
  src/locales/ko/battle.ts
  src/locales/ko/battler-tags.ts
  src/locales/pt_BR/battle.ts
  src/locales/pt_BR/battler-tags.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_CN/battler-tags.ts
  src/locales/zh_TW/battle.ts
  src/locales/zh_TW/battler-tags.ts
Labels: Localization, Refactor

#3412 [TEST] - adding parting shot move test
  src/test/moves/parting_shot.test.ts
Labels: Unit Test

#3458 [Bug][Test] Fix minor bug of ability Flash Fire, added test file
  src/data/ability.ts
  src/field/pokemon.ts
  src/test/abilities/flash_fire.test.ts
Labels: Bug

#3420 [Bug] Some fresh start fixes
  src/data/challenge.ts
  src/game-mode.ts
  src/modifier/modifier-type.ts
  src/phases.ts
Labels: Bug

#3466 [Bug] Prevent Relearnable Egg Moves in Fresh Start
  src/field/pokemon.ts
Labels: Bug, Challenges

#3506 [Enhancement] update initial filter setting when not in challenge mode
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement

#2684 [Fix] Refactor Disguise to work like Ice Face
  src/battle-scene.ts
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/pokemon-forms.ts
  src/enums/battler-tag-type.ts
  src/locales/ca_ES/ability-trigger.ts
  src/locales/ca_ES/pokemon-form.ts
  src/locales/de/ability-trigger.ts
  src/locales/de/pokemon-form.ts
  src/locales/en/ability-trigger.ts
  src/locales/en/pokemon-form.ts
  src/locales/es/ability-trigger.ts
  src/locales/es/pokemon-form.ts
  src/locales/fr/ability-trigger.ts
  src/locales/fr/pokemon-form.ts
  src/locales/it/ability-trigger.ts
  src/locales/it/pokemon-form.ts
  src/locales/ja/ability-trigger.ts
  src/locales/ja/pokemon-form.ts
  src/locales/ko/ability-trigger.ts
  src/locales/ko/pokemon-form.ts
  src/locales/pt_BR/ability-trigger.ts
  src/locales/pt_BR/pokemon-form.ts
  src/locales/zh_CN/ability-trigger.ts
  src/locales/zh_CN/pokemon-form.ts
  src/locales/zh_TW/ability-trigger.ts
  src/locales/zh_TW/pokemon-form.ts
  src/test/abilities/disguise.test.ts
Labels: Bug, Ability

#2320 [Refactor/Bug] Overhaul & Document Item/Modifier Overrides
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/overrides.ts
Labels: Bug, Enhancement, Refactor

#3491 [Localization] Updated and localized "The stack for this item is full." message
  src/battle-scene.ts
  src/locales/ca_ES/battle.ts
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/locales/ja/battle.ts
  src/locales/ko/battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_TW/battle.ts
Labels: Localization

#3511 [Localization] Updated Portuguese translations
  src/locales/pt_BR/ability-trigger.ts
  src/locales/pt_BR/battle.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/move-trigger.ts
  src/locales/pt_BR/pokemon-form.ts
  src/locales/pt_BR/starter-select-ui-handler.ts
Labels: Localization

#3457 [Localization] - Missing translations to the Filter bar in some languages
  src/locales/ca_ES/filter-bar.ts
  src/locales/de/filter-bar.ts
  src/locales/en/filter-bar.ts
  src/locales/es/filter-bar.ts
  src/locales/fr/filter-bar.ts
  src/locales/it/filter-bar.ts
  src/locales/ja/filter-bar.ts
  src/locales/pt_BR/filter-bar.ts
  src/locales/zh_CN/filter-bar.ts
  src/locales/zh_TW/filter-bar.ts
Labels: Localization

#3510 [JA] [Localisation] arena-tag.ts
  src/locales/ja/arena-tag.ts
Labels: Localization

#3507 [Bug][3497] bug report fields name swapped
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Bug

#3515 [Localization] Typo French filterbar
  src/locales/fr/filter-bar.ts
Labels: Localization

#3516 [Localization] French corrections/translations/adjustments tour
  src/locales/fr/achv.ts
  src/locales/fr/battler-tags.ts
  src/locales/fr/bgm-name.ts
  src/locales/fr/challenges.ts
  src/locales/fr/filter-bar.ts
  src/locales/fr/modifier-type.ts
  src/locales/fr/settings.ts
  src/locales/fr/starter-select-ui-handler.ts
Labels: Localization

#3442 [BUG] Pokemon with the Levitate ability - Sand Attack Interaction Fix
  src/data/ability.ts
Labels: Bug

#3419 [Balance] Egg and Starter Adjustments
  src/data/egg.ts
  src/ui/starter-select-ui-handler.ts
Labels: Game Balance, Balance Team

#3523 [Test] Fix Flash Fire tests to remove enemy ability RNG
  src/test/abilities/flash_fire.test.ts
Labels: Unit Test

#3488 [Bug] Fix No Retreat failing when trapped by a different move
  src/data/move.ts
Labels: Bug, Move

#3484 [Ability] Stall + Mycelium Might
  src/battle-scene.ts
  src/data/ability.ts
  src/data/terrain.ts
  src/phases.ts
  src/test/abilities/mycelium_might.test.ts
  src/test/abilities/stall.test.ts
Labels: Ability

#3448 [Enhancement] Target Selection also highlights target's held items
  src/battle-scene.ts
  src/modifier/modifier.ts
  src/ui/target-select-ui-handler.ts
Labels: Enhancement, UI/UX, Lead Dev Review

#3518 [QoL][UI] Add cursor wrap around to option select menus
  src/ui/abstact-option-select-ui-handler.ts
Labels: UI/UX

#3514 [Pokemon/Form/Item] Ultra Necrozma
  public/images/items.json
  public/images/items.png
  public/images/items/ultranecrozium_z.png
  src/battle-scene.ts
  src/data/pokemon-forms.ts
  src/locales/ca_ES/modifier-type.ts
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/ja/modifier-type.ts
  src/locales/ko/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
  src/modifier/modifier-type.ts
  src/ui/party-ui-handler.ts
Labels: Enhancement, Item

#3522 [QoL] [Balance] Skip useless rewards in last classic reward wave
  src/modifier/modifier-type.ts
Labels: Balance Team

#3521 [Balance] Remove wild evolution delays from time based level-up evolutions
  src/data/pokemon-evolutions.ts
Labels: Balance Team

#3500 [Move] Implement Shell Trap
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/locales/ca_ES/move-trigger.ts
  src/locales/de/move-trigger.ts
  src/locales/en/move-trigger.ts
  src/locales/es/move-trigger.ts
  src/locales/fr/move-trigger.ts
  src/locales/it/move-trigger.ts
  src/locales/ja/move-trigger.ts
  src/locales/ko/move-trigger.ts
  src/locales/pt_BR/move-trigger.ts
  src/locales/zh_CN/move-trigger.ts
  src/locales/zh_TW/move-trigger.ts
  src/phases.ts
  src/test/moves/shell_trap.test.ts
Labels: Move

#2731 [Move] Refactor Conditional Protection and Protect interactions
  src/data/arena-tag.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases.ts
  src/test/moves/crafty_shield.test.ts
  src/test/moves/glaive_rush.test.ts
  src/test/moves/mat_block.test.ts
  src/test/moves/protect.test.ts
  src/test/moves/quick_guard.test.ts
  src/test/moves/wide_guard.test.ts
Labels: Move, Refactor

#3468 [Balance] Replaced some custom starting moves with equivalent canon moves
  src/data/pokemon-level-moves.ts
Labels: Balance Team

#3519 [Bug] Fix daily run generated movesets
  src/field/pokemon.ts
  src/test/abilities/ability_timing.test.ts
  src/test/abilities/intimidate.test.ts
  src/test/abilities/intrepid_sword.test.ts
  src/test/daily_mode.test.ts
  src/test/evolution.test.ts
  src/test/field/pokemon.test.ts
  src/test/internals.test.ts
  src/test/moves/multi_target.test.ts
  src/test/moves/spikes.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/helpers/classicModeHelper.ts
  src/test/utils/helpers/dailyModeHelper.ts
  src/test/utils/helpers/gameManagerHelper.ts
  src/test/utils/helpers/moveHelper.ts
  src/test/utils/helpers/overridesHelper.ts
Labels: Bug

#2501 [Enhancement] improve typing
  src/data/pokemon-evolutions.ts
  src/data/pokemon-species.ts
  src/field/pokemon.ts
  src/phases.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement

#3524 [Ability] Heatproof now reduces burn damage by half
  src/data/ability.ts
  src/phases.ts
  src/test/abilities/heatproof.test.ts
Labels: Ability
