Repository pagefaultgames/pokerogue, pull requests merged in 2024-07, with the labels that each got.

#2734 [Localization] various zh_cn translation fix (7-1)
  src/locales/zh_CN/ability-trigger.ts
  src/locales/zh_CN/ability.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_CN/bgm-name.ts
  src/locales/zh_CN/challenges.ts
  src/locales/zh_CN/dialogue.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_CN/move.ts
  src/locales/zh_CN/splash-messages.ts
  src/locales/zh_CN/starter-select-ui-handler.ts
Labels: Localization

#2739 [Sprite] Swap static epic Dudunsparce back names
  public/images/pokemon/variant/back/982-three-segment_3.png
  public/images/pokemon/variant/back/982_3.png
Labels: Enhancement

#2745 Localization (pt): Added missing translations
  src/locales/pt_BR/ability-trigger.ts
  src/locales/pt_BR/menu-ui-handler.ts
Labels: Localization

#2755 [Sprite] Shiny Galarian Darmanitan Standard form using Unovan Zen form sprites
  public/images/pokemon/exp/back/shiny/4555.json
  public/images/pokemon/exp/back/shiny/4555.png
  public/images/pokemon/exp/shiny/4555.json
  public/images/pokemon/exp/shiny/4555.png
Labels: Bug

#2047 [Bug] Adjusts bug bite/pluck to remove berry pouch preservation on opponent berries
  src/data/move.ts
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/locales/ko/battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_TW/battle.ts
Labels: Bug

#2757 [Bug] Fix incorrect move effectiveness
  src/field/pokemon.ts
Labels: Bug

#2761 [bug][ui] Fix eternatus candy count and display hatched egg count
  src/ui/starter-select-ui-handler.ts
Labels: Bug, UI/UX

#2748 [Tests] add unit tests for accounts
  src/test/account.spec.ts
Labels: Unit Test

#2770 [Sprite] Female Scyther missing variant palettes
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/female/123.json
  public/images/pokemon/variant/female/123.json
Labels: Bug

#2765 [Bug] Fix evasion multiplier in hit check
  src/phases.ts
  src/test/abilities/sand_veil.test.ts
  src/test/lokalisation/status-effect.test.ts
Labels: Bug

#2749 [Ability] Fully Implement Steely Spirit
  src/data/ability.ts
  src/field/pokemon.ts
  src/test/abilities/steely_spirit.test.ts
Labels: Enhancement, Ability

#2766 [Bug] Fix Grip Claw sometimes stealing from the wrong enemy
  src/modifier/modifier.ts
  src/phases.ts
  src/test/items/grip_claw.test.ts
Labels: Bug, Item

#2552 [Balance] Don't apply Classic bonus to friendship decreases
  src/field/pokemon.ts
Labels: Balance Team

#2595 [Beta] Add deployment workflow for beta environment
  .env.beta
  .env.production
  .github/workflows/deploy-beta.yml
  package.json
  src/utils.ts
Labels: Enhancement

#2776 [Bug] Fix several incorrect movesets
  src/data/pokemon-level-moves.ts
Labels: Bug

#2784 Localization (pt): Fix translation for "Lax"
  src/locales/pt_BR/nature.ts
Labels: Localization

#2728 [Bug] Let eternatus keep stat changes when changing form
  src/form-change-phase.ts
Labels: Bug, Game Design / Balance

#2786 [Localization]Fix line break for zh-cn abilities
  src/locales/zh_CN/move.ts
Labels: Localization

#2781 [Sprite] Shiny Spritzee colour correction
  public/images/pokemon/exp/682.png
  public/images/pokemon/exp/shiny/682.png
Labels: Bug

#2789 [Localization] punctuation fix in descriptions in korean modifier-type.ts
  src/locales/ko/modifier-type.ts
Labels: Localization

#2779 [QoL][Refactor] replace `-1` with `RELEARN_MOVE` and `0` with `EVOLVE_MOVE`
  src/data/pokemon-level-moves.ts
Labels: Documentation, Miscellaneous

#2724 [Localization] Update French dialogues + typos in general
  src/locales/fr/berry.ts
  src/locales/fr/dialogue.ts
  src/locales/fr/menu-ui-handler.ts
  src/locales/fr/modifier-type.ts
  src/locales/fr/pokemon-info.ts
  src/locales/fr/starter-select-ui-handler.ts
  src/locales/fr/status-effect.ts
Labels: Localization

#2527 [Localization] modifier-select-ui-handler Locales
  src/locales/de/config.ts
  src/locales/de/modifier-select-ui-handler.ts
  src/locales/en/config.ts
  src/locales/en/modifier-select-ui-handler.ts
  src/locales/es/config.ts
  src/locales/es/modifier-select-ui-handler.ts
  src/locales/fr/config.ts
  src/locales/fr/modifier-select-ui-handler.ts
  src/locales/it/config.ts
  src/locales/it/modifier-select-ui-handler.ts
  src/locales/ko/config.ts
  src/locales/ko/modifier-select-ui-handler.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/modifier-select-ui-handler.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_CN/modifier-select-ui-handler.ts
  src/locales/zh_TW/config.ts
  src/locales/zh_TW/modifier-select-ui-handler.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/text.ts
Labels: Localization

#2645 Localization: Localized Gacha Machine Names
  src/locales/de/egg.ts
  src/locales/en/egg.ts
  src/locales/es/egg.ts
  src/locales/fr/egg.ts
  src/locales/it/egg.ts
  src/locales/ko/egg.ts
  src/locales/pt_BR/egg.ts
  src/locales/zh_CN/egg.ts
  src/locales/zh_TW/egg.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/text.ts
Labels: Localization

#2644 Localization: Localize luck indicator text and shiny labels
  src/battle-scene.ts
  src/locales/de/common.ts
  src/locales/de/pokemon-info-container.ts
  src/locales/en/common.ts
  src/locales/en/pokemon-info-container.ts
  src/locales/es/common.ts
  src/locales/es/pokemon-info-container.ts
  src/locales/fr/common.ts
  src/locales/fr/pokemon-info-container.ts
  src/locales/it/common.ts
  src/locales/it/pokemon-info-container.ts
  src/locales/ko/common.ts
  src/locales/ko/pokemon-info-container.ts
  src/locales/pt_BR/common.ts
  src/locales/pt_BR/pokemon-info-container.ts
  src/locales/zh_CN/common.ts
  src/locales/zh_CN/pokemon-info-container.ts
  src/locales/zh_TW/common.ts
  src/locales/zh_TW/pokemon-info-container.ts
  src/ui/battle-info.ts
  src/ui/pokemon-info-container.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/summary-ui-handler.ts
Labels: Localization

#2566 Localization: Add new translations for party UI handler
  src/locales/de/menu.ts
  src/locales/de/party-ui-handler.ts
  src/locales/en/menu.ts
  src/locales/en/party-ui-handler.ts
  src/locales/es/menu.ts
  src/locales/es/party-ui-handler.ts
  src/locales/fr/menu.ts
  src/locales/fr/party-ui-handler.ts
  src/locales/it/menu.ts
  src/locales/it/party-ui-handler.ts
  src/locales/ko/menu.ts
  src/locales/ko/party-ui-handler.ts
  src/locales/pt_BR/menu.ts
  src/locales/pt_BR/party-ui-handler.ts
  src/locales/zh_CN/menu.ts
  src/locales/zh_CN/party-ui-handler.ts
  src/locales/zh_TW/menu.ts
  src/locales/zh_TW/party-ui-handler.ts
  src/ui/party-ui-handler.ts
Labels: Localization

#2795 [Sprite] Fix Espeon's tail partially missing
  public/images/pokemon/196.json
  public/images/pokemon/196.png
  public/images/pokemon/shiny/196.json
  public/images/pokemon/shiny/196.png
  public/images/pokemon/variant/196.json
Labels: Bug

#2792 [BUG] Fixes SacrificialAttrOnHit attribute so that the pokemon does not faint if the move (final gambit, memento) fails
  src/data/move.ts
Labels: Bug

#2797 [Localization][ko] Translate missed entry (especially BGM names)
  src/locales/ko/battle.ts
  src/locales/ko/bgm-name.ts
  src/locales/ko/challenges.ts
  src/locales/ko/menu-ui-handler.ts
Labels: Localization

#2800 [Localization] fixed PR#2797 about boss's name right at BGM title
  src/locales/ko/bgm-name.ts
Labels: Localization

#2802 [Localization]fix zh-cn typo in party-ui-handler
  src/locales/zh_CN/party-ui-handler.ts
Labels: Localization

#2805 [Localization] Fix typos FR party-ui-handler
  src/locales/fr/party-ui-handler.ts
Labels: Localization

#2752 [Tests] add unit-tests for battle-stat.ts
  src/test/battle-stat.spec.ts
  src/test/lokalisation/status-effect.test.ts
  src/test/utils/testUtils.ts
Labels: Unit Test

#2810 [Localization] update korean translation on learning move UI
  src/locales/ko/party-ui-handler.ts
Labels: Localization

#2221 [QoL] Add red color to the quantity if the item is at it's held limit
  src/test/ui/transfer-item.test.ts
  src/ui/party-ui-handler.ts
Labels: Enhancement, UI/UX

#2423 [Bug] Fix strong winds calculation
  src/field/pokemon.ts
  src/locales/de/weather.ts
  src/locales/en/weather.ts
  src/locales/es/weather.ts
  src/locales/fr/weather.ts
  src/locales/it/weather.ts
  src/locales/ko/weather.ts
  src/locales/pt_BR/weather.ts
  src/locales/zh_CN/weather.ts
  src/locales/zh_TW/weather.ts
  src/test/arena/weather_strong_winds.test.ts
Labels: Bug, Ability

#2603 [Enhancement] Fixes sizing and legacy theme problem for bgm-bar
  public/images/ui/bgm_bar.png
  public/images/ui/legacy/bgm_bar.png
  src/loading-scene.ts
  src/locales/de/bgm-name.ts
  src/locales/en/bgm-name.ts
  src/locales/es/bgm-name.ts
  src/locales/fr/bgm-name.ts
  src/locales/it/bgm-name.ts
  src/locales/ko/bgm-name.ts
  src/locales/pt_BR/bgm-name.ts
  src/locales/zh_CN/bgm-name.ts
  src/locales/zh_TW/bgm-name.ts
  src/ui/bgm-bar.ts
  src/ui/text.ts
Labels: Enhancement

#2809 [Localization] Attack missed text is now localizable and uses the Gen 9 format instead of Gen 4 like before
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/locales/ko/battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_TW/battle.ts
  src/phases.ts
Labels: Localization

#2818 [Enhancement] Add ability bar popup for Parental Bond
  src/data/ability.ts
Labels: UI/UX

#2297 Update modifier-type.ts [Localization(it)]
  src/locales/it/modifier-type.ts
Labels: Localization

#2298 Update menu-ui-handler.ts [Localization(it)]
  src/locales/it/menu-ui-handler.ts
Labels: Localization

#2299 Update egg.ts [Localization(it)]
  src/locales/it/egg.ts
Labels: Localization

#2300 Update battle.ts [Localization(it)]
  src/locales/it/battle.ts
Labels: Localization

#2841 [Beta] Fix issues from merging Disguise changes
  src/battle-scene.ts
Labels: Bug

#2839 [Beta] Mystery Encounter bug fixes
  src/data/mystery-encounter-requirements.ts
  src/data/mystery-encounter.ts
  src/data/mystery-encounters/dark-deal.ts
  src/data/mystery-encounters/fight-or-flight.ts
  src/data/mystery-encounters/mysterious-challengers.ts
  src/data/mystery-encounters/mysterious-chest.ts
  src/data/mystery-encounters/mystery-encounter-utils.ts
  src/data/mystery-encounters/sleeping-snorlax.ts
  src/data/mystery-encounters/training-session.ts
  src/phases.ts
Labels: Bug

#2840 [BETA] Read title from env files to allow for environment base changes
  .env
  .env.beta
  .env.development
  .env.production
  index.html
  src/vite.env.d.ts
Labels: Miscellaneous

#2760 [Enhancement] Allow Roaming Form Gimmighoul to be caught
  src/battle-scene.ts
  src/data/pokemon-evolutions.ts
Labels: Enhancement

#2862 [Beta][QoL] Summary Option after catching a Pokemon with a full party
  src/battle-scene.ts
  src/data/pokemon-evolutions.ts
  src/data/tms.ts
  src/phases.ts
  src/ui/confirm-ui-handler.ts
  src/ui/pokemon-info-container.ts
  src/ui/summary-ui-handler.ts
Labels: Enhancement

#2860 [Bug] - beta - fixing game breaking u-turn faint switch interaction
  src/battle-scene.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases.ts
Labels: Bug

#2861 [Beta] #2806 add missed en messages
  src/locales/en/weather.ts
Labels: Localization

#2876 [Sprite] Shiny Minior Fixes
  public/images/pokemon/back/shiny/774.json
  public/images/pokemon/back/shiny/774.png
  public/images/pokemon/exp/back/shiny/774-blue.png
  public/images/pokemon/exp/back/shiny/774-green.png
  public/images/pokemon/exp/back/shiny/774-indigo.png
  public/images/pokemon/exp/back/shiny/774-orange.png
  public/images/pokemon/exp/back/shiny/774-red.png
  public/images/pokemon/exp/back/shiny/774-violet.png
  public/images/pokemon/exp/back/shiny/774-yellow.png
  public/images/pokemon/exp/shiny/774-blue.png
  public/images/pokemon/exp/shiny/774-green.png
  public/images/pokemon/exp/shiny/774-indigo.png
  public/images/pokemon/exp/shiny/774-orange.png
  public/images/pokemon/exp/shiny/774-red.png
  public/images/pokemon/exp/shiny/774-violet.png
  public/images/pokemon/exp/shiny/774-yellow.png
  public/images/pokemon/shiny/774.json
  public/images/pokemon/shiny/774.png
Labels: Bug

#2516 [Accessbility] Remove screen inversion if move animations are off
  src/phases.ts
Labels: Enhancement, Move

#2441 [Bug] Fix hard press bp and pp
  src/data/move.ts
  src/test/moves/hard_press.test.ts
Labels: Bug, Move

#1685 [Localization] Implement pokemon forms localization
  src/data/pokemon-species.ts
  src/locales/de/config.ts
  src/locales/de/pokemon-form.ts
  src/locales/en/config.ts
  src/locales/en/pokemon-form.ts
  src/locales/es/config.ts
  src/locales/es/pokemon-form.ts
  src/locales/fr/config.ts
  src/locales/fr/pokemon-form.ts
  src/locales/it/config.ts
  src/locales/it/pokemon-form.ts
  src/locales/ko/config.ts
  src/locales/ko/pokemon-form.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/pokemon-form.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_CN/pokemon-form.ts
  src/locales/zh_TW/config.ts
  src/locales/zh_TW/pokemon-form.ts
  src/ui/starter-select-ui-handler.ts
Labels: Localization

#2813 fix description of REVIVER_SEED to contain direct-hit detail
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/ko/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
Labels: Localization

#2905 [Beta] #2904
  public/images/pokemon/back/shiny/774.json
  public/images/pokemon/back/shiny/774.png
  public/images/pokemon/exp/back/shiny/774-blue.png
  public/images/pokemon/exp/back/shiny/774-green.png
  public/images/pokemon/exp/back/shiny/774-indigo.png
  public/images/pokemon/exp/back/shiny/774-orange.png
  public/images/pokemon/exp/back/shiny/774-red.png
  public/images/pokemon/exp/back/shiny/774-violet.png
  public/images/pokemon/exp/back/shiny/774-yellow.png
  public/images/pokemon/exp/shiny/774-blue.png
  public/images/pokemon/exp/shiny/774-green.png
  public/images/pokemon/exp/shiny/774-indigo.png
  public/images/pokemon/exp/shiny/774-orange.png
  public/images/pokemon/exp/shiny/774-red.png
  public/images/pokemon/exp/shiny/774-violet.png
  public/images/pokemon/exp/shiny/774-yellow.png
  public/images/pokemon/shiny/774.json
  public/images/pokemon/shiny/774.png
  src/battle-scene.ts
  src/data/move.ts
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/ko/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
  src/phases.ts
  src/system/achv.ts
  src/test/moves/hard_press.test.ts
Labels: Bug

#2910 [Bug] Fix venom drench tm learnset
  src/data/tms.ts
Labels: Bug

#2898 [Localization] fixed tranlastion error in germany
  src/locales/de/settings.ts
Labels: Localization

#2806 [Localization] Localize terrain message and translate in Korean
  src/data/terrain.ts
  src/data/weather.ts
  src/locales/de/config.ts
  src/locales/de/weather.ts
  src/locales/en/config.ts
  src/locales/en/weather.ts
  src/locales/es/config.ts
  src/locales/es/weather.ts
  src/locales/fr/config.ts
  src/locales/fr/weather.ts
  src/locales/it/config.ts
  src/locales/it/weather.ts
  src/locales/ko/config.ts
  src/locales/ko/weather.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/weather.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_CN/weather.ts
  src/locales/zh_TW/config.ts
  src/locales/zh_TW/weather.ts
  src/test/localization/battle-stat.test.ts
  src/test/localization/french.test.ts
  src/test/localization/status-effect.test.ts
  src/test/localization/terrain.test.ts
Labels: Localization

#2843 [Localization][ko] Modify Korean 'shiny' and gacha texts to match original
  src/locales/ko/egg.ts
  src/locales/ko/settings.ts
  src/locales/ko/starter-select-ui-handler.ts
  src/ui/egg-gacha-ui-handler.ts
Labels: Localization

#2882 [Localization] localize modifier.ts apply event message & translate in Korean
  src/locales/de/config.ts
  src/locales/de/modifier.ts
  src/locales/en/config.ts
  src/locales/en/modifier.ts
  src/locales/es/config.ts
  src/locales/es/modifier.ts
  src/locales/fr/config.ts
  src/locales/fr/modifier.ts
  src/locales/it/config.ts
  src/locales/it/modifier.ts
  src/locales/ko/config.ts
  src/locales/ko/modifier.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/modifier.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_CN/modifier.ts
  src/locales/zh_TW/config.ts
  src/locales/zh_TW/modifier.ts
  src/modifier/modifier.ts
Labels: Localization

#2788 Localized moneyPickedUp message
  src/battle.ts
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/locales/ko/battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_TW/battle.ts
Labels: Localization

#2610 [Feature] Stop random trainers from spawning near fixed battles
  src/field/arena.ts
  src/game-mode.ts
  src/test/game-mode.test.ts
Labels: Documentation, Game Design / Balance

#2897 [Beta][Item] Add Scope Lens and Leek + Alternative Texture Packing Test
  public/images/items.json
  public/images/items.png
  public/images/items/baton.png
  public/images/items/configuration.ftpp
  public/images/items/leek.png
  src/field/pokemon.ts
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/ko/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/test/items/leek.test.ts
  src/test/items/scope_lens.test.ts
Labels: Item

#2727 [Bug] Removes firstHitOnly from AddArenaTagAttr to allow multi hit set up with Ceaseless Edge
  src/data/move.ts
  src/test/moves/ceaseless_edge.test.ts
Labels: Bug

#2927 [Beta] 2 New Mystery Encounters, bug fixes, enhancements
  public/images/mystery-encounters/b2w2_lady.json
  public/images/mystery-encounters/b2w2_lady.png
  public/images/mystery-encounters/b2w2_veteran_m.json
  public/images/mystery-encounters/b2w2_veteran_m.png
  src/data/mystery-encounter-requirements.ts
  src/data/mystery-encounter.ts
  src/data/mystery-encounters/department-store-sale.ts
  src/data/mystery-encounters/dialogue/department-store-sale-dialogue.ts
  src/data/mystery-encounters/dialogue/mystery-encounter-dialogue.ts
  src/data/mystery-encounters/dialogue/shady-vitamin-dealer.ts
  src/data/mystery-encounters/fight-or-flight.ts
  src/data/mystery-encounters/mystery-encounter-utils.ts
  src/data/mystery-encounters/mystery-encounters.ts
  src/data/mystery-encounters/shady-vitamin-dealer.ts
  src/data/mystery-encounters/sleeping-snorlax.ts
  src/data/mystery-encounters/training-session.ts
  src/enums/mystery-encounter-type.ts
  src/field/mystery-encounter-intro.ts
  src/locales/en/mystery-encounter.ts
  src/phases.ts
  src/phases/mystery-encounter-phase.ts
  src/test/mystery-encounter/mystery-encounter-utils.test.ts
  src/test/mystery-encounter/mystery-encounter.test.ts
  src/test/phases/mystery-encounter-phase.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/phaseInterceptor.ts
  src/ui/mystery-encounter-ui-handler.ts
Labels: Bug, Enhancement, Beta

#2931 [Test] Prevent flying types/levitate from breaking Ceaseless Edge test
  src/test/moves/ceaseless_edge.test.ts
Labels: Unit Test

#2930 [Beta][Move] Implement Fusion Flare and Fusion Bolt
  src/data/move.ts
  src/field/pokemon.ts
  src/phases.ts
  src/test/moves/fusion_bolt.test.ts
  src/test/moves/fusion_flare.test.ts
  src/test/moves/fusion_flare_bolt.test.ts
Labels: Move, Beta

#2924 [Bug] fix starter select alpha in challenge modes
  src/ui/starter-select-ui-handler.ts
Labels: Bug, UI/UX

#2952 Update common.ts (Italian)
  src/locales/it/common.ts
Labels: Localization

#2957 [Misc] Fix inaccurate docs for TypeImmunityAbAttr
  src/data/ability.ts
Labels: Documentation

#2955 Localization(pt): translated bgm-name.ts
  src/locales/pt_BR/bgm-name.ts
Labels: Localization

#1693 [QoL] Add Discord and Google Login
  .env
  .env.beta
  .env.development
  .env.production
  public/images/ui/discord.png
  public/images/ui/google.png
  public/images/ui/legacy/discord.png
  public/images/ui/legacy/google.png
  src/account.ts
  src/loading-scene.ts
  src/locales/de/menu-ui-handler.ts
  src/locales/de/menu.ts
  src/locales/en/menu-ui-handler.ts
  src/locales/en/menu.ts
  src/locales/es/menu-ui-handler.ts
  src/locales/es/menu.ts
  src/locales/fr/menu-ui-handler.ts
  src/locales/fr/menu.ts
  src/locales/it/menu-ui-handler.ts
  src/locales/it/menu.ts
  src/locales/ko/menu-ui-handler.ts
  src/locales/ko/menu.ts
  src/locales/pt_BR/menu-ui-handler.ts
  src/locales/pt_BR/menu.ts
  src/locales/zh_CN/menu-ui-handler.ts
  src/locales/zh_CN/menu.ts
  src/locales/zh_TW/menu-ui-handler.ts
  src/locales/zh_TW/menu.ts
  src/phases.ts
  src/test/utils/mocks/mocksContainer/mockText.ts
  src/ui/login-form-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/vite.env.d.ts
Labels: Enhancement

#2941 [Bug] Hardcoded Pokemon should have proper names
  src/data/trainer-config.ts
  src/field/pokemon.ts
Labels: Bug, Documentation

#2692 [Feature][ENV] make i18n debugging an optional env setting
  .env
  .env.beta
  .env.development
  .env.production
  src/plugins/i18n.ts
  src/vite.env.d.ts
Labels: Enhancement, Miscellaneous

#2963 Refactor challenges and add fresh start
  src/data/challenge.ts
  src/locales/en/challenges.ts
  src/phases.ts
  src/system/game-data.ts
  src/ui/challenges-select-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement, Beta

#2879 [Balance] Update many TM learnsets
  src/data/tms.ts
Labels: Move, Balance Team

#2822 [Bugfix] Fix a bug during bgm-bar initialization
  src/system/settings/settings.ts
  src/ui/bgm-bar.ts
  src/ui/settings/abstract-settings-ui-handler.ts
Labels: Bug

#2906 [Mirror][Localization] Translate forgotten phrases sentences #2254
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/locales/ko/battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_TW/battle.ts
  src/phases.ts
Labels: Localization

#2932 [Localization] Localization arena flyout (Active Battle Effects)
  src/battle-scene.ts
  src/locales/de/arena-flyout.ts
  src/locales/de/config.ts
  src/locales/en/arena-flyout.ts
  src/locales/en/config.ts
  src/locales/es/arena-flyout.ts
  src/locales/es/config.ts
  src/locales/fr/arena-flyout.ts
  src/locales/fr/config.ts
  src/locales/it/arena-flyout.ts
  src/locales/it/config.ts
  src/locales/ko/arena-flyout.ts
  src/locales/ko/config.ts
  src/locales/pt_BR/arena-flyout.ts
  src/locales/pt_BR/config.ts
  src/locales/zh_CN/arena-flyout.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_TW/arena-flyout.ts
  src/locales/zh_TW/config.ts
  src/ui/arena-flyout.ts
  src/utils.ts
Labels: Localization

#2904 [BUG] This should prevent gym leaders appear as doubles (marnie & piers) wh…
  src/battle-scene.ts
Labels: Bug

#2600 The stat messages can now be plural
  src/data/battle-stat.ts
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/locales/ko/battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_TW/battle.ts
  src/phases.ts
  src/test/localization/battle-stat.test.ts
Labels: Localization

#2622 [Enhancement][QoL] Add option to adjust shop overlay opacity
  src/battle-scene.ts
  src/locales/de/settings.ts
  src/locales/en/settings.ts
  src/locales/es/settings.ts
  src/locales/fr/settings.ts
  src/locales/it/settings.ts
  src/locales/ko/settings.ts
  src/locales/pt_BR/settings.ts
  src/locales/zh_CN/settings.ts
  src/locales/zh_TW/settings.ts
  src/system/settings/settings.ts
Labels: Enhancement

#2944 [Bug] Fix battler tags lapsing at incorrect times
  src/data/battler-tags.ts
  src/field/pokemon.ts
  src/test/abilities/parental_bond.test.ts
  src/test/moves/astonish.test.ts
Labels: Bug

#2110 [Test] Prevent tests from running if overrides are different from the default values
  package.json
  src/data/nature.ts
  src/data/pokeball.ts
  src/data/pokemon-stat.ts
  src/data/weather.ts
  src/enums/nature.ts
  src/enums/pokeball.ts
  src/enums/stat.ts
  src/enums/weather-type.ts
  src/modifier/modifier-type.ts
  src/overrides.ts
  src/test/pre.test.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
  vitest.workspace.ts
Labels: Enhancement, Unit Test

#2863 [QoL] Highlight targets of multitarget moves instead of immediate execution
  src/phases.ts
  src/test/utils/gameManager.ts
  src/ui/target-select-ui-handler.ts
Labels: Enhancement

#2540 [Qol/Balance] Dynamax cannon tweak
  src/data/move.ts
  src/locales/de/move.ts
  src/locales/en/move.ts
  src/locales/es/move.ts
  src/locales/fr/move.ts
  src/locales/it/move.ts
  src/locales/ko/move.ts
  src/locales/pt_BR/move.ts
  src/locales/zh_CN/move.ts
  src/locales/zh_TW/move.ts
  src/test/moves/dynamax_cannon.test.ts
Labels: Move, Balance Team

#2992 [Test] Fix/Extend Unit Tests for Hard Press
  src/test/moves/hard_press.test.ts
Labels: Unit Test

#2971 [Test] Update tests to enable no-crits override
  src/test/abilities/dry_skin.test.ts
  src/test/abilities/parental_bond.test.ts
Labels: Unit Test

#2913 [Localization]Localized move-trigger text
  src/data/move.ts
  src/locales/de/config.ts
  src/locales/de/move-trigger.ts
  src/locales/en/config.ts
  src/locales/en/move-trigger.ts
  src/locales/es/config.ts
  src/locales/es/move-trigger.ts
  src/locales/fr/config.ts
  src/locales/fr/move-trigger.ts
  src/locales/it/config.ts
  src/locales/it/move-trigger.ts
  src/locales/ko/config.ts
  src/locales/ko/move-trigger.ts
  src/locales/pt_BR/config.ts
  src/locales/pt_BR/move-trigger.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_CN/move-trigger.ts
  src/locales/zh_TW/config.ts
  src/locales/zh_TW/move-trigger.ts
Labels: Localization

#2903 [Bug] Fix description of rare candy to have proper amount of level
  src/locales/de/modifier-type.ts
  src/locales/en/modifier-type.ts
  src/locales/es/modifier-type.ts
  src/locales/fr/modifier-type.ts
  src/locales/it/modifier-type.ts
  src/locales/ko/modifier-type.ts
  src/locales/pt_BR/modifier-type.ts
  src/locales/zh_CN/modifier-type.ts
  src/locales/zh_TW/modifier-type.ts
  src/modifier/modifier-type.ts
Labels: Enhancement

#2997 [Feature][ENV] add .env.test
  .env.test
Labels: Enhancement, Unit Test

#2631 [Feature][FUN] add breedersInSpace splash message
  src/data/splash-messages.ts
  src/locales/de/splash-messages.ts
  src/locales/en/splash-messages.ts
  src/locales/es/splash-messages.ts
  src/locales/fr/splash-messages.ts
  src/locales/it/splash-messages.ts
  src/locales/ko/splash-messages.ts
  src/locales/pt_BR/splash-messages.ts
  src/locales/zh_CN/splash-messages.ts
  src/locales/zh_TW/splash-messages.ts
Labels: Miscellaneous

#2642 [Enhancement] Pokemon generation number tooltip
  src/locales/de/battle-info.ts
  src/locales/de/config.ts
  src/locales/en/battle-info.ts
  src/locales/en/config.ts
  src/locales/es/battle-info.ts
  src/locales/es/config.ts
  src/locales/fr/battle-info.ts
  src/locales/fr/config.ts
  src/locales/it/battle-info.ts
  src/locales/it/config.ts
  src/locales/ko/battle-info.ts
  src/locales/ko/config.ts
  src/locales/pt_BR/battle-info.ts
  src/locales/pt_BR/config.ts
  src/locales/zh_CN/battle-info.ts
  src/locales/zh_CN/config.ts
  src/locales/zh_TW/battle-info.ts
  src/locales/zh_TW/config.ts
  src/ui/battle-info.ts
Labels: Enhancement, UI/UX

#2967 [Beta] Updating the manage data->unlock all option to work with all abilities, natures, forms and passives
  src/test/utils/saves/everything.prsv
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/utils.ts
Labels: Miscellaneous

#3003 [Bug] vite port (for development)
  .env.development
  src/test/abilities/quick_draw.test.ts
  src/vite.env.d.ts
  vite.config.ts
Labels: Bug, Miscellaneous, Unit Test

#2497 [QOL] Add yellow background glow behind starters with unlocked passives in starter select
  public/images/ui/passive_bg.png
  src/loading-scene.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement, UI/UX

#2985 [Feature] Fully implement Octolock
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/test/battlerTags/octolock.test.ts
  src/test/moves/octolock.test.ts
Labels: Move

#3009 [Bug] Fix import of overrides in Octolock test
  src/test/moves/octolock.test.ts
Labels: Bug, Unit Test

#2759 [BUG] Fixes Sketch copying the first move used by the opponent instead of the last
  src/data/move.ts
Labels: Bug

#2695 [Bug] Making FormChangeItems Untransferrable
  src/battle.ts
  src/data/ability.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/phases.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/summary-ui-handler.ts
Labels: Bug, Item, Game Design / Balance, UI/UX

#2027 [Bug] Fix Clear terrains upon Trainer Battle
  src/battle-scene.ts
  src/field/arena.ts
Labels: Bug

#2996 [Localization] Localize Berry Heal message
  src/data/berry.ts
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/locales/ko/battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_TW/battle.ts
Labels: Localization

#3007 [Fix] BGM Bar display error when the 1st track of the game takes too long to arrive
  src/ui/bgm-bar.ts
Labels: Bug, UI/UX

#3020 [Sprite] Improves Corviknight Palette usage
  public/images/pokemon/exp/823.png
  public/images/pokemon/exp/back/823.png
  public/images/pokemon/exp/back/shiny/823.png
  public/images/pokemon/exp/shiny/823.png
Labels: Bug

#3015 [Beta][Localization] Update French battler-tags.ts and battle.ts
  src/locales/fr/battle.ts
  src/locales/fr/battler-tags.ts
Labels: Localization

#3001 [Bug] Fixes bug with Lock-On and Zap Cannon where Zap Cannon misses if Lock-On is the first move on entering battle.
  src/phases.ts
Labels: Bug

#3017 [Bug] Fixing inaccuracies with handling Struggle's recoil
  src/data/move.ts
Labels: Bug

#2984 [Enhancement] Decouple move power calculation from Pokemon.apply(), Fixes Power Spot & Battery not boosting ally's move
  src/data/move.ts
  src/field/pokemon.ts
  src/test/abilities/aura_break.test.ts
  src/test/abilities/battery.test.ts
  src/test/abilities/power_spot.test.ts
  src/test/abilities/steely_spirit.test.ts
  src/test/moves/hard_press.test.ts
Labels: Enhancement

#2966 [QoL] Offset the status indicator to keep pokeball in view
  src/ui/battle-info.ts
Labels: UI/UX

#3016 [Bug] Fix to epic shiny Yungoos icon (#2991)
  public/images/pokemon_icons_7v.json
  public/images/pokemon_icons_7v.png
Labels: Bug

#3025 [Localization] fixed some typo in Bertha's Korean dialouge
  src/locales/ko/dialogue.ts
Labels: Localization

#2703 [Bug] Prevent fixed-damage and OHKO moves from being modified by damage-reducing abilities
  src/field/pokemon.ts
  src/test/moves/dragon_rage.test.ts
  src/test/moves/fissure.test.ts
Labels: Bug

#3010 [Localization] Brought german localization up to date
  src/locales/de/battle-info.ts
  src/locales/de/battle.ts
  src/locales/de/battler-tags.ts
  src/locales/de/challenges.ts
  src/locales/de/game-mode.ts
  src/locales/de/menu.ts
  src/locales/de/modifier-type.ts
  src/locales/de/move-trigger.ts
  src/locales/de/save-slot-select-ui-handler.ts
  src/locales/de/settings.ts
Labels: Localization

#3024 [Bug] Remove redundant damage number popups
  src/data/move.ts
Labels: Bug, Move, UI/UX

#2943 [Feature] Implements Conversion 2
  src/data/move.ts
  src/data/type.ts
  src/locales/de/battle.ts
  src/locales/en/battle.ts
  src/locales/es/battle.ts
  src/locales/fr/battle.ts
  src/locales/it/battle.ts
  src/locales/ko/battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/zh_CN/battle.ts
  src/locales/zh_TW/battle.ts
Labels: Enhancement, Move

#2819 [BUG] Fixes bug with Metronome freezing the game
  src/data/move.ts
Labels: Bug

#2972 [Localization] Localize ability messages in ability.ts (trigger, apply...)
  src/data/ability.ts
  src/locales/de/ability-trigger.ts
  src/locales/en/ability-trigger.ts
  src/locales/es/ability-trigger.ts
  src/locales/fr/ability-trigger.ts
  src/locales/it/ability-trigger.ts
  src/locales/ko/ability-trigger.ts
  src/locales/pt_BR/ability-trigger.ts
  src/locales/zh_CN/ability-trigger.ts
  src/locales/zh_TW/ability-trigger.ts
Labels: Localization

#3038 Update egg.ts (italian)
  src/locales/it/egg.ts
Labels: Localization

#3044 [Bug][Fix][Surf][Muddy Water][Sludge Wave][Animation] Added image to move animations.
  public/battle-anims/muddy-water.json
  public/battle-anims/sludge-wave.json
  public/battle-anims/surf.json
Labels: Bug, Move

#3051 [Localization][FR] Fix typo ability-trigger.ts
  src/locales/fr/ability-trigger.ts
Labels: Localization

#3050 [Beta][Localization] Update Portuguese battler-tags.ts and battle.ts
  src/locales/pt_BR/battle.ts
  src/locales/pt_BR/battler-tags.ts
Labels: Localization

#3053 [Music/BGM] Fix bgm file & loop for battle_rival
  public/audio/bgm/battle_rival.mp3
  src/battle-scene.ts
Labels: Miscellaneous

#3057 Optimization/remove unused event banner
  src/loading-scene.ts
Labels: Miscellaneous

#3000 [Music/BGM] New music added for the "Slum" biome, composed by Andr06
  README.md
  public/audio/bgm/slum.mp3
  src/field/arena.ts
  src/locales/de/bgm-name.ts
  src/locales/en/bgm-name.ts
  src/locales/es/bgm-name.ts
  src/locales/fr/bgm-name.ts
  src/locales/it/bgm-name.ts
  src/locales/ko/bgm-name.ts
  src/locales/pt_BR/bgm-name.ts
  src/locales/zh_CN/bgm-name.ts
  src/locales/zh_TW/bgm-name.ts
Labels: Miscellaneous

#2329 [Bug] implemented multi target damage penalty
  src/field/pokemon.ts
  src/test/moves/multi_target.test.ts
Labels: Bug, Game Design / Balance

#2980 [BUG] Uturn faint switch bug fix
  src/battle-scene.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases.ts
Labels: Bug, Move

#3065 [Sprite] Mega Mewtwo sprite fixes
  public/images/pokemon/exp/back/150-mega-x.png
  public/images/pokemon/exp/back/shiny/150-mega-x.png
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/150-mega-y.json
Labels: Bug

#3063 [Music/BGM] New music added for the "Sea" biome, composed by Andr06
  README.md
  public/audio/bgm/sea.mp3
  src/field/arena.ts
  src/locales/de/bgm-name.ts
  src/locales/en/bgm-name.ts
  src/locales/es/bgm-name.ts
  src/locales/fr/bgm-name.ts
  src/locales/it/bgm-name.ts
  src/locales/ko/bgm-name.ts
  src/locales/pt_BR/bgm-name.ts
  src/locales/zh_CN/bgm-name.ts
  src/locales/zh_TW/bgm-name.ts
Labels: Miscellaneous

#2733 [Balance] Add 12 new TMs and remove 3
  src/data/tms.ts
Labels: Enhancement

#3074 [Refactor/Test] Update Dynamax Cannon Unit Tests
  src/test/moves/dynamax_cannon.test.ts
Labels: Unit Test

#2772 [Feature] replace bug-report template with form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Enhancement, Miscellaneous

#3060 [Bug] Fixes Encore bug with multi-target moves missing
  src/phases.ts
Labels: Bug

#2894 [Balance] Add remaining move reminder only moves
  src/data/pokemon-level-moves.ts
Labels: Balance Team

#2899 [Enhancement] Decouple move accuracy and accuracy multiplier calculation from phases.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases.ts
  src/test/abilities/wonder_skin.test.ts
  src/test/arena/arena_gravity.test.ts
  src/test/arena/weather_fog.test.ts
  src/test/moves/double_team.test.ts
Labels: Miscellaneous

#3069 [Sprite] Fix a number of sprite issues including the Zubat line, Goldeen, Golett, Dudunsparce, H-Sneasel, Garchomp, Sylveon, Marshadow
  public/images/pokemon/802-zenith.png
  public/images/pokemon/back/700.png
  public/images/pokemon/back/802-zenith.png
  public/images/pokemon/back/shiny/715.png
  public/images/pokemon/back/shiny/802-zenith.png
  public/images/pokemon/back/shiny/982-three-segment.png
  public/images/pokemon/back/shiny/982.png
  public/images/pokemon/female/6215.png
  public/images/pokemon/shiny/802-zenith.png
  public/images/pokemon/variant/169.json
  public/images/pokemon/variant/169_1.png
  public/images/pokemon/variant/41.json
  public/images/pokemon/variant/41_1.png
  public/images/pokemon/variant/41_2.png
  public/images/pokemon/variant/41_3.png
  public/images/pokemon/variant/42.json
  public/images/pokemon/variant/42_2.png
  public/images/pokemon/variant/42_3.png
  public/images/pokemon/variant/622.json
  public/images/pokemon/variant/622_1.png
  public/images/pokemon/variant/622_2.png
  public/images/pokemon/variant/623.json
  public/images/pokemon/variant/623_1.json
  public/images/pokemon/variant/623_1.png
  public/images/pokemon/variant/623_2.png
  public/images/pokemon/variant/802.json
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/169.json
  public/images/pokemon/variant/back/41.json
  public/images/pokemon/variant/back/41_1.png
  public/images/pokemon/variant/back/42.json
  public/images/pokemon/variant/back/42_1.png
  public/images/pokemon/variant/back/445.json
  public/images/pokemon/variant/back/622.json
  public/images/pokemon/variant/back/622_1.png
  public/images/pokemon/variant/back/622_2.png
  public/images/pokemon/variant/back/623.json
  public/images/pokemon/variant/back/623_1.json
  public/images/pokemon/variant/back/623_1.png
  public/images/pokemon/variant/back/623_2.png
  public/images/pokemon/variant/back/female/6215.json
  public/images/pokemon/variant/female/118.json
  public/images/pokemon/variant/female/41_2.png
  public/images/pokemon/variant/female/41_3.png
  public/images/pokemon/variant/female/42_2.png
  public/images/pokemon/variant/female/42_3.png
  public/images/pokemon/variant/female/6215.json
Labels: Enhancement

#2720 [Move] Finish implementation of Glaive Rush
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/field/pokemon.ts
  src/phases.ts
  src/test/moves/glaive_rush.test.ts
Labels: Move

#2396 [Bug] fix not changing moveset after add to starter
  src/ui/starter-select-ui-handler.ts
Labels: Bug

#2570 [Feature] Added pokemon nicknames/renaming
  src/data/ability.ts
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/data/pokemon-forms.ts
  src/egg-hatch-phase.ts
  src/evolution-phase.ts
  src/field/pokemon.ts
  src/form-change-phase.ts
  src/locales/de/menu.ts
  src/locales/de/party-ui-handler.ts
  src/locales/en/menu.ts
  src/locales/en/party-ui-handler.ts
  src/locales/es/menu.ts
  src/locales/es/party-ui-handler.ts
  src/locales/fr/menu.ts
  src/locales/fr/party-ui-handler.ts
  src/locales/it/menu.ts
  src/locales/it/party-ui-handler.ts
  src/locales/ko/menu.ts
  src/locales/ko/party-ui-handler.ts
  src/locales/pt_BR/menu.ts
  src/locales/pt_BR/party-ui-handler.ts
  src/locales/zh_CN/menu.ts
  src/locales/zh_CN/party-ui-handler.ts
  src/locales/zh_TW/menu.ts
  src/locales/zh_TW/party-ui-handler.ts
  src/messages.ts
  src/modifier/modifier-type.ts
  src/phases.ts
  src/system/pokemon-data.ts
  src/ui/ability-bar.ts
  src/ui/battle-flyout.ts
  src/ui/battle-info.ts
  src/ui/command-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/rename-form-ui-handler.ts
  src/ui/summary-ui-handler.ts
  src/ui/ui.ts
Labels: Enhancement, Game Design / Balance

#3097 [Sprite] Show Partner Eevee variants
  public/images/pokemon/variant/133-partner.json
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/133-partner.json
Labels: Bug

#3054 [Misc] Allow Necrozma forms to play their special music
  src/battle.ts
Labels: Miscellaneous

#2981 [BUG] fixing multi-hit and move messages on faint
  src/battle-scene.ts
  src/field/pokemon.ts
  src/phases.ts
Labels: Bug

#2496 Sheer Force/Serene Grace Flyout Bugfix
  src/data/ability.ts
  src/data/move.ts
Labels: Bug, Ability

#3088 [Enhancement] Add tests checklist item to pull_request_template.md
  .github/pull_request_template.md
Labels: Miscellaneous

#1983 [QoL] Starter UI selection update to allow removing specific pokemon from party
  .gitignore
  src/data/challenge.ts
  src/locales/de/starter-select-ui-handler.ts
  src/locales/en/starter-select-ui-handler.ts
  src/locales/es/starter-select-ui-handler.ts
  src/locales/fr/starter-select-ui-handler.ts
  src/locales/it/starter-select-ui-handler.ts
  src/locales/ko/starter-select-ui-handler.ts
  src/locales/pt_BR/starter-select-ui-handler.ts
  src/locales/zh_CN/starter-select-ui-handler.ts
  src/locales/zh_TW/starter-select-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement

#2995 [Bug] Evolution ability fix
  src/field/pokemon.ts
Labels: Bug

#3078 Localization(pt): Updated move.ts
  src/locales/pt_BR/move.ts
Labels: Localization

#3077 [Bug] Enemy pokemon's Harvest creates berry icons on the player's side when triggered
  src/data/ability.ts
Labels: Bug, Ability

#3107 [Bug] fix label for bug report form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Bug, Miscellaneous

#3101 [Ability] Fix Hustle not applying Attack boost
  src/data/ability.ts
  src/test/abilities/hustle.test.ts
Labels: Bug, Ability
