Repository pagefaultgames/pokerogue, pull requests merged in 2025-06, with the labels that each got.

#5917 [UI/UX] Moves menu position adjustments
  src/ui/fight-ui-handler.ts
Labels: Localization, UI/UX

#5907 [Test] Remove redundant entries and `Array.fill()` in moveset overrides
  test/abilities/aura_break.test.ts
  test/abilities/contrary.test.ts
  test/abilities/ice_face.test.ts
  test/abilities/libero.test.ts
  test/abilities/mycelium_might.test.ts
  test/abilities/power_construct.test.ts
  test/abilities/protean.test.ts
  test/abilities/sand_veil.test.ts
  test/abilities/schooling.test.ts
  test/abilities/screen_cleaner.test.ts
  test/abilities/stall.test.ts
  test/abilities/sweet_veil.test.ts
  test/abilities/synchronize.test.ts
  test/abilities/unseen_fist.test.ts
  test/battle/inverse_battle.test.ts
  test/battle/special_battle.test.ts
  test/items/leek.test.ts
  test/items/leftovers.test.ts
  test/moves/astonish.test.ts
  test/moves/aurora_veil.test.ts
  test/moves/chilly_reception.test.ts
  test/moves/double_team.test.ts
  test/moves/dynamax_cannon.test.ts
  test/moves/flower_shield.test.ts
  test/moves/freezy_frost.test.ts
  test/moves/fusion_bolt.test.ts
  test/moves/fusion_flare.test.ts
  test/moves/fusion_flare_bolt.test.ts
  test/moves/light_screen.test.ts
  test/moves/magnet_rise.test.ts
  test/moves/powder.test.ts
  test/moves/reflect.test.ts
  test/moves/retaliate.test.ts
  test/moves/swallow.test.ts
  test/moves/tackle.test.ts
  test/moves/throat_chop.test.ts
  test/moves/tidy_up.test.ts
Labels: Tests

#5913 [Bug][UI/UX] Fix name position and types not being updated in battle info
  src/ui/battle-info/battle-info.ts
Labels: Ability, P2 Bug

#5893 [P3 Bug] Remove Expert Breeder trainer type from ME egg source
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
Labels: UI/UX, P3 Bug

#5922 Update version to 1.9.5
  package-lock.json
  package.json
Labels: Miscellaneous

#5923 Sync beta with main
  package-lock.json
  package.json
Labels: Miscellaneous

#5928 [UI/UX] Move Reload Required text to bottom of settings
  src/ui/settings/abstract-settings-ui-handler.ts
Labels: UI/UX

#5890 [Refactor] Cleanup egg list ui handler
  src/ui/egg-list-ui-handler.ts
Labels: Refactor

#5934 [UI/UX] Adding more space in Egg Gacha for another languge
  src/ui/egg-gacha-ui-handler.ts
Labels: UI/UX, P3 Bug

#5919 [Refactor] Cleanup achvs ui handler
  src/system/game-data.ts
  src/ui/achvs-ui-handler.ts
Labels: Refactor

#5921 [UI/UX] Legendary UP Gacha timer
  public/images/egg/gacha_legendary.png
  src/ui/egg-gacha-ui-handler.ts
Labels: Enhancement, UI/UX

#5947 [Dev] Enable Biome linting of `move-effect-phase.ts`
  biome.jsonc
  src/phases/move-effect-phase.ts
Labels: Development

#5951 [Refactor] Merged `interfaces` into `@types`; removed runtime orphan modules
  src/@types/dex-data.ts
  src/@types/held-modifier-config.ts
  src/@types/locales.ts
  src/@types/trainer-funcs.ts
  src/battle-scene.ts
  src/data/abilities/ability-class.ts
  src/data/egg-hatch-data.ts
  src/data/moves/move.ts
  src/data/mystery-encounters/encounters/absolute-avarice-encounter.ts
  src/data/mystery-encounters/encounters/training-session-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/data/pokemon-species.ts
  src/data/trainers/evil-admin-trainer-pools.ts
  src/data/trainers/trainer-config.ts
  src/debug.js
  src/global-vars/starter-colors.ts
  src/starter-colors.ts
  src/system/game-data.ts
  src/system/session-history.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/pokemon-info-container.ts
  src/ui/starter-select-ui-handler.ts
Labels: Refactor

#5902 [Refactor] Added functions `isPlayer` and `isEnemy` to reduce circular imports
  src/battle-scene.ts
  src/data/abilities/ability.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
  src/messages.ts
  src/phases/faint-phase.ts
  src/phases/move-effect-phase.ts
  src/phases/quiet-form-change-phase.ts
  src/phases/switch-summon-phase.ts
  test/mystery-encounter/encounters/an-offer-you-cant-refuse-encounter.test.ts
  test/mystery-encounter/encounters/the-pokemon-salesman-encounter.test.ts
Labels: Refactor

#5948 [Dev] Enable Biome checking of `ability.ts`
  biome.jsonc
  src/data/abilities/ability.ts
Labels: Development

#5567 [Bug] Gorilla Tactics now activates on protect and miss
  src/data/abilities/ability.ts
  src/phases/move-effect-phase.ts
  test/abilities/gorilla_tactics.test.ts
Labels: Ability, P2 Bug

#5886 [Refactor] Refactor select-modifier-phase.ts
  src/phases/select-modifier-phase.ts
Labels: Refactor

#5958 [Bug] Fix TM compatibility for Terapagos and Knock Off
  src/data/balance/tms.ts
Labels: Move, Balance Team

#5939 [Dev] Update test creation script
  create-test-boilerplate.js
  package.json
  scripts/create-test/create-test.js
  scripts/create-test/test-boilerplate.ts
Labels: Tests, Development

#5930 [i18n] Added locales text for force switch moves
  src/phases/switch-summon-phase.ts
Labels: Move, Localization

#5924 [UI/UX] Default cursor to no when stop trying to teach move
  src/enums/confirm-ui-mode.ts
  src/phases/learn-move-phase.ts
  src/ui/confirm-ui-handler.ts
  test/phases/learn-move-phase.test.ts
Labels: UI/UX

#5513 [Bug] Activate PostSummon Abilities in Speed and Priority Order
  src/data/abilities/ability.ts
  src/data/abilities/apply-ab-attrs.ts
  src/data/phase-priority-queue.ts
  src/enums/dynamic-phase-type.ts
  src/field/pokemon.ts
  src/phase-manager.ts
  src/phases/activate-priority-queue-phase.ts
  src/phases/post-summon-activate-ability-phase.ts
  src/phases/post-summon-phase.ts
  src/phases/switch-summon-phase.ts
  test/abilities/ability_activation_order.test.ts
Labels: Ability, P2 Bug

#5975 [Balance] Add wild encounter chance to Maushold and Dudunsparce forms
  src/battle-scene.ts
Labels: Game Balance

#5987 [Bug] Fix Fog interactions with Morning Sun/Synthesis/Moonlight and Solar Beam/Blade
  src/data/moves/move.ts
Labels: P2 Bug

#5969 [UI/UX] Position setting Icons dynamically
  src/ui/settings/abstract-control-settings-ui-handler.ts
  src/ui/settings/abstract-settings-ui-handler.ts
Labels: UI/UX, P3 Bug

#5962 [Chore] Ran biome on all files; changed certain easily-fixable `warn` rules into errors
  .dependency-cruiser.cjs
  .github/CODEOWNERS
  .github/workflows/deploy.yml
  .github/workflows/quality.yml
  biome.jsonc
  global.d.ts
  package.json
  src/@types/modifier-types.ts
  src/data/battler-tags.ts
  src/data/mystery-encounters/encounters/fight-or-flight-encounter.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/overrides.ts
  src/phases/add-enemy-buff-modifier-phase.ts
  src/phases/command-phase.ts
  src/phases/move-phase.ts
  src/phases/pokemon-anim-phase.ts
  src/phases/pokemon-transform-phase.ts
  src/phases/quiet-form-change-phase.ts
  src/pipelines/glsl/fieldSpriteFragShader.frag
  src/pipelines/glsl/spriteFragShader.frag
  src/plugins/i18n.ts
  src/system/settings/settings-gamepad.ts
  src/system/settings/settings.ts
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/admin-ui-handler.ts
  src/ui/daily-run-scoreboard.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/run-info-ui-handler.ts
  src/ui/settings/abstract-settings-ui-handler.ts
  src/ui/settings/move-touch-controls-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/test-dialogue-ui-handler.ts
Labels: Miscellaneous

#5992 [Bug] Fix zombie pokemon in Fun+Games ME
  src/data/mystery-encounters/encounters/fun-and-games-encounter.ts
Labels: Mystery Encounter, P2 Bug

#5966 [Dev] Enable dependency cruiser workflow
  .dependency-cruiser.cjs
  .github/workflows/linting.yml
  .github/workflows/quality.yml
  package.json
  src/data/battle-anims.ts
Labels: GitHub, Development

#5803 [Refactor] Clean up shiny/HA reroll methods
  src/field/pokemon.ts
Labels: Refactor

#5857 [Bug] Fix weather form changes not changing with innate weather abilities
  src/data/abilities/ability.ts
  test/abilities/forecast.test.ts
Labels: Ability, P2 Bug

#5995 [Bug] Fix incorrect form key being checked for evo items
  src/data/balance/pokemon-evolutions.ts
  src/modifier/modifier-type.ts
Labels: P2 Bug, Beta

#5996 [Test] Fix flaky gastro acid test
  test/moves/gastro_acid.test.ts
Labels: Tests

#6006 [Event] W event
  public/images/events/pride2025-de.png
  public/images/events/pride2025-en.png
  public/images/events/pride2025-es-ES.png
  public/images/events/pride2025-es-MX.png
  public/images/events/pride2025-fr.png
  public/images/events/pride2025-it.png
  public/images/events/pride2025-ja.png
  public/images/events/pride2025-ko.png
  public/images/events/pride2025-pt-BR.png
  public/images/events/pride2025-zh-CN.png
  public/images/events/pride2025-zh-TW.png
  src/timed-event-manager.ts
Labels: Miscellaneous, Event

#5957 [UI/UX] Add Pokémon category flavor text to Pokédex
  src/data/pokemon-species.ts
  src/plugins/i18n.ts
  src/ui/pokedex-page-ui-handler.ts
Labels: UI/UX

#5843 [Move] Fixed Chilly Reception displaying message when used virtually
  src/data/moves/move.ts
  src/phases/move-phase.ts
  test/moves/chilly_reception.test.ts
Labels: Move, P3 Bug

#6000 [Bug] Fix when using arrow keys in Pokédex after catching a Pokémon from mystery event
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
Labels: UI/UX, P1 Bug

#5994 [Balance] Change Kirlia and Snorunt evolutions to match mainline
  src/data/balance/pokemon-evolutions.ts
  src/modifier/modifier-type.ts
Labels: Balance Team

#6004 [Dev] Update Biome to 2.0.0
  .github/workflows/linting.yml
  biome.jsonc
  eslint.config.js
  package-lock.json
  package.json
  src/battle-scene.ts
  src/battle.ts
  src/data/balance/egg-moves.ts
  src/data/battle-anims.ts
  src/data/egg.ts
  src/data/moves/pokemon-move.ts
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-challengers-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/data/pokemon-species.ts
  src/data/trainers/trainer-config.ts
  src/field/pokemon.ts
  src/field/trainer.ts
  src/inputs-controller.ts
  src/phase-manager.ts
  src/phases/attempt-run-phase.ts
  src/phases/game-over-phase.ts
  src/phases/move-effect-phase.ts
  src/phases/switch-summon-phase.ts
  src/plugins/api/api-base.ts
  src/sprites/pokemon-sprite.ts
  src/sprites/sprite-utils.ts
  src/system/game-data.ts
  src/system/version_migration/version_converter.ts
  src/touch-controls.ts
  src/ui-inputs.ts
  src/ui/battle-flyout.ts
  src/ui/daily-run-scoreboard.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/mystery-encounter-ui-handler.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/run-info-ui-handler.ts
  src/ui/save-slot-select-ui-handler.ts
  src/ui/settings/abstract-control-settings-ui-handler.ts
  src/ui/settings/navigationMenu.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/summary-ui-handler.ts
  src/ui/text.ts
  src/utils/common.ts
  src/utils/cookies.ts
  test/abilities/mycelium_might.test.ts
  test/abilities/stall.test.ts
  test/abilities/wonder_skin.test.ts
  test/mystery-encounter/encounter-test-utils.ts
  test/sprites/pokemonSprite.test.ts
  test/testUtils/gameWrapper.ts
  test/testUtils/inputsHandler.ts
  test/testUtils/mocks/mocksContainer/mockImage.ts
  test/testUtils/mocks/mocksContainer/mockSprite.ts
  test/testUtils/testFileInitialization.ts
Labels: Development

#5621 [Misc] Add CONTRIBUTING.md and rewrite README.md
  CONTRIBUTING.md
  README.md
Labels: Documentation, GitHub

#6021 [i18n] Large Numbers Abbreviations Translation
  src/utils/common.ts
Labels: Localization

#5932 [Bug] Reworked BattlerTag/ArenaTag code to prevent breakage on 0 PIDs
  src/battle-scene.ts
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/data/mystery-encounters/encounters/dancing-lessons-encounter.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  test/abilities/gorilla_tactics.test.ts
  test/abilities/unburden.test.ts
  test/field/pokemon-id-checks.test.ts
Labels: Item, P2 Bug

#5735 [Refactor] Refactor evo phase
  src/phases/evolution-phase.ts
  src/phases/form-change-phase.ts
  src/system/game-speed.ts
  test/testUtils/gameWrapper.ts
  test/testUtils/mocks/mockVideoGameObject.ts
Labels: Refactor

#6002 [Refactor] [Ability] Ab attr apply type safety
  src/@types/ability-types.ts
  src/@types/type-helpers.ts
  src/battle-scene.ts
  src/data/abilities/ability.ts
  src/data/abilities/apply-ab-attrs.ts
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/berry.ts
  src/data/moves/move.ts
  src/data/mystery-encounters/encounters/the-winstrate-challenge-encounter.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/phases/attempt-run-phase.ts
  src/phases/battle-end-phase.ts
  src/phases/berry-phase.ts
  src/phases/encounter-phase.ts
  src/phases/faint-phase.ts
  src/phases/move-effect-phase.ts
  src/phases/move-end-phase.ts
  src/phases/move-phase.ts
  src/phases/new-biome-encounter-phase.ts
  src/phases/obtain-status-effect-phase.ts
  src/phases/post-summon-activate-ability-phase.ts
  src/phases/post-summon-phase.ts
  src/phases/post-turn-status-effect-phase.ts
  src/phases/quiet-form-change-phase.ts
  src/phases/stat-stage-change-phase.ts
  src/phases/summon-phase.ts
  src/phases/switch-summon-phase.ts
  src/phases/turn-end-phase.ts
  src/phases/turn-start-phase.ts
  src/phases/weather-effect-phase.ts
  test/abilities/cud_chew.test.ts
  test/abilities/harvest.test.ts
  test/abilities/healer.test.ts
  test/abilities/moody.test.ts
  test/abilities/neutralizing_gas.test.ts
  test/abilities/sand_veil.test.ts
  test/abilities/shield_dust.test.ts
  test/abilities/unburden.test.ts
  test/field/pokemon.test.ts
  test/moves/safeguard.test.ts
Labels: Ability, Refactor

#5931 [Bug] Status moves blocked by terrain now use correct message
  src/data/battler-tags.ts
  src/data/terrain.ts
  src/data/weather.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/phases/move-phase.ts
Labels: P3 Bug

#6031 [Dev] Mark the fixer for Biome's `useBlockStatements` as "safe"
  biome.jsonc
Labels: Development

#6034 [Docs] Fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Documentation

#6044 [Bug] Fix Shields Down blocking status in Core Form, unnecessarily resetting before battle
  src/data/abilities/ability.ts
Labels: Ability, P2 Bug
