Repository pagefaultgames/pokerogue, pull requests merged in 2025-05, with the labels that each got.

#5697 [UI/UX] Caught battle forms are displayed correctly in Pokédex
  src/ui/pokedex-page-ui-handler.ts
  test/testUtils/saves/data_pokedex_tests_v2.prsv
  test/ui/pokedex.test.ts
Labels: UI/UX, P3 Bug

#5734 [Sprite] Update Mystical Rock sprite with smaller variant
  public/images/items.json
  public/images/items.png
  public/images/items/mystical_rock.png
Labels: Sprite/Animation

#5737 [Bug][Ability] Fix shell armor not blocking crits
  src/data/abilities/ability.ts
Labels: Ability, P2 Bug

#5741 [Balance] 1.9 Passive and Egg Move Changes
  src/data/balance/egg-moves.ts
  src/data/balance/passives.ts
Labels: Game Balance, Balance Team

#5682 [Docs] Added changes to markdown files + comment fixes
  .gitignore
  biome.jsonc
  docs/comments.md
  docs/enemy-ai.md
  docs/linting.md
  lefthook.yml
  src/data/moves/move.ts
  src/utils/common.ts
  test/testUtils/gameManager.ts
Labels: Documentation

#5740 [Bug] Correctly get cursor position in command UI
  src/ui/command-ui-handler.ts
Labels: P2 Bug

#5665 [Bug][Ability] Fix change move type abilities
  src/constants.ts
  src/data/abilities/ability.ts
  src/data/moves/invalid-moves.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  test/abilities/galvanize.test.ts
  test/abilities/normal-move-type-change.test.ts
  test/abilities/normalize.test.ts
  test/moves/tera_blast.test.ts
Labels: Ability, P2 Bug

#5739 [Bug] Clear status immediately in menus
  src/data/moves/move.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/phases/party-heal-phase.ts
  src/phases/reset-status-phase.ts
  src/phases/revival-blessing-phase.ts
Labels: UI/UX, P2 Bug

#5742 [Misc] Spring Stuff
  public/images/events/spr25event-de.png
  public/images/events/spr25event-en.png
  public/images/events/spr25event-es-ES.png
  public/images/events/spr25event-es-MX.png
  public/images/events/spr25event-fr.png
  public/images/events/spr25event-it.png
  public/images/events/spr25event-ja.png
  public/images/events/spr25event-ko.png
  public/images/events/spr25event-pt-BR.png
  src/data/mystery-encounters/encounters/the-pokemon-salesman-encounter.ts
  src/timed-event-manager.ts
Labels: Miscellaneous, Event

#5726 [Balance] [Mystery Encounter] Many Minor Mystery Encounter Adjustments
  src/data/mystery-encounters/encounters/absolute-avarice-encounter.ts
  src/data/mystery-encounters/encounters/bug-type-superfan-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-chest-encounter.ts
  src/data/mystery-encounters/encounters/slumbering-snorlax-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/data/mystery-encounters/mystery-encounters.ts
  src/modifier/modifier.ts
  test/mystery-encounter/encounters/absolute-avarice-encounter.test.ts
  test/mystery-encounter/encounters/bug-type-superfan-encounter.test.ts
Labels: Game Balance, Balance Team, Mystery Encounter

#5749 [Balance] [Beta] 1.9 Egg Move Followup
  src/data/balance/egg-moves.ts
Labels: Game Balance, Balance Team

#5752 [Bug] Disable Illusion in Fusions
  src/data/abilities/ability.ts
Labels: P1 Bug

#5750 [Move] [Beta] Undo Order Up Sheer Force change
  src/data/moves/move.ts
  test/moves/order_up.test.ts
Labels: Move, Miscellaneous

#5754 Up version 1.8.5 -> 1.9.0
  package-lock.json
  package.json
Labels: Miscellaneous

#5746 [Balance][Mystery][Beta] Salesman doesn't offer event mons without HA or shiny
  src/data/mystery-encounters/encounters/the-pokemon-salesman-encounter.ts
Labels: Game Balance, Balance Team, Mystery Encounter, P2 Bug

#5756 [Bug] Fix crash when loading a save with a statused Pokemon
  src/system/pokemon-data.ts
Labels: P1 Bug, Beta

#5743 [GitHub] Create release action workflows
  .github/workflows/create-release.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/post-release-deleted.yml
  .github/workflows/tests.yml
Labels: GitHub, Development

#5759 [Misc] More Spring
  src/timed-event-manager.ts
Labels: Miscellaneous, Event

#5760 [Tiny] Removed unused loc in v1_9_0.ts
  src/system/version_migration/versions/v1_9_0.ts
Labels: Miscellaneous

#5763 [Hotfix] Fix evil grunts using wrong template
  src/data/trainers/TrainerPartyTemplate.ts
Labels: Game Balance, Balance Team, P2 Bug

#5769 [Bug][Hotfix] Always show hit result message
  src/phases/move-effect-phase.ts
Labels: P3 Bug

#5775 [Bug] Fix local save encoding crash and Psychic anim
  public/battle-anims/psychic.json
  src/system/game-data.ts
Labels: Miscellaneous, Sprite/Animation, P1 Bug, P3 Bug

#5777 [Sprite] Fix Clauncher consistent variants, floating Jangmo-o
  public/images/pokemon/692.json
  public/images/pokemon/692.png
  public/images/pokemon/782.json
  public/images/pokemon/back/692.json
  public/images/pokemon/back/692.png
  public/images/pokemon/back/782.json
Labels: Sprite/Animation

#5780 [Bug] Fix shiny save bug
  src/system/pokemon-data.ts
Labels: P2 Bug

#5781 [Bug][UI/UX] Ensure pokemon hop when animations are selected
  src/ui/pokedex-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#5782 [Hotfix] Remove Charcadet line from exp variant masterlist
  public/images/pokemon/variant/_exp_masterlist.json
Labels: Sprite/Animation, P1 Bug

#5778 [Bug][UI/UX] Update battle-info inside pokemon#damageAndUpdate
  src/field/pokemon.ts
  src/ui/battle-info.ts
Labels: UI/UX, P3 Bug

#5783 [Test] Fix sprite test due to unused files
  public/images/pokemon/exp/935.json
  public/images/pokemon/exp/935.png
  public/images/pokemon/exp/936.json
  public/images/pokemon/exp/936.png
  public/images/pokemon/exp/937.json
  public/images/pokemon/exp/937.png
  public/images/pokemon/exp/back/935.json
  public/images/pokemon/exp/back/935.png
  public/images/pokemon/exp/back/936.json
  public/images/pokemon/exp/back/936.png
  public/images/pokemon/exp/back/937.json
  public/images/pokemon/exp/back/937.png
  public/images/pokemon/exp/back/shiny/935.json
  public/images/pokemon/exp/back/shiny/935.png
  public/images/pokemon/exp/back/shiny/936.json
  public/images/pokemon/exp/back/shiny/936.png
  public/images/pokemon/exp/back/shiny/937.json
  public/images/pokemon/exp/back/shiny/937.png
  public/images/pokemon/exp/shiny/935.json
  public/images/pokemon/exp/shiny/935.png
  public/images/pokemon/exp/shiny/936.json
  public/images/pokemon/exp/shiny/936.png
  public/images/pokemon/exp/shiny/937.json
  public/images/pokemon/exp/shiny/937.png
  public/images/pokemon/variant/exp/935.json
  public/images/pokemon/variant/exp/935_1.png
  public/images/pokemon/variant/exp/935_2.png
  public/images/pokemon/variant/exp/935_3.json
  public/images/pokemon/variant/exp/935_3.png
  public/images/pokemon/variant/exp/936_1.json
  public/images/pokemon/variant/exp/936_1.png
  public/images/pokemon/variant/exp/936_2.json
  public/images/pokemon/variant/exp/936_2.png
  public/images/pokemon/variant/exp/936_3.json
  public/images/pokemon/variant/exp/936_3.png
  public/images/pokemon/variant/exp/937_1.json
  public/images/pokemon/variant/exp/937_1.png
  public/images/pokemon/variant/exp/937_2.json
  public/images/pokemon/variant/exp/937_2.png
  public/images/pokemon/variant/exp/937_3.json
  public/images/pokemon/variant/exp/937_3.png
  public/images/pokemon/variant/exp/back/935_1.json
  public/images/pokemon/variant/exp/back/935_1.png
  public/images/pokemon/variant/exp/back/935_2.json
  public/images/pokemon/variant/exp/back/935_2.png
  public/images/pokemon/variant/exp/back/935_3.json
  public/images/pokemon/variant/exp/back/935_3.png
  public/images/pokemon/variant/exp/back/936_1.json
  public/images/pokemon/variant/exp/back/936_1.png
  public/images/pokemon/variant/exp/back/936_2.json
  public/images/pokemon/variant/exp/back/936_2.png
  public/images/pokemon/variant/exp/back/936_3.json
  public/images/pokemon/variant/exp/back/936_3.png
  public/images/pokemon/variant/exp/back/937_1.json
  public/images/pokemon/variant/exp/back/937_1.png
  public/images/pokemon/variant/exp/back/937_2.json
  public/images/pokemon/variant/exp/back/937_2.png
  public/images/pokemon/variant/exp/back/937_3.json
  public/images/pokemon/variant/exp/back/937_3.png
Labels: Tests, Sprite/Animation

#5784 [Bug] Ensure shiny and variant status respects illusion properly
  src/system/pokemon-data.ts
Labels: P2 Bug

#5772 [Bug] Fix some move using the type of the illusion instead of the actual type
  src/battle-scene.ts
  src/data/abilities/ability.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/ui/battle-info.ts
Labels: Move, P2 Bug

#5786 [Bug] Lock Capsule not locking rarities consistently
  src/modifier/modifier-type.ts
Labels: Item, P2 Bug

#5787 [Bug] Prevent some corrupt eggs from crashing the game
  src/data/egg.ts
Labels: P0 Bug

#5793 [Bug] `PokemonSummonData` movesets will now be loaded correctly
  src/field/pokemon.ts
  src/system/version_migration/versions/v1_9_0.ts
Labels: P1 Bug

#5794 [Bug] Fix seed not being reset now that Select Biome Phase goes before New Battle
  src/phases/select-biome-phase.ts
Labels: Miscellaneous, P2 Bug

#5797 [Bug][Hotfix] Suppress Illusion if NG is already active
  src/field/pokemon.ts
  test/abilities/illusion.test.ts
Labels: Ability, P2 Bug

#5789 Hotfix 1.9.2 to Main
  package-lock.json
  package.json
  src/data/egg.ts
  src/field/pokemon.ts
  src/modifier/modifier-type.ts
  src/phases/select-biome-phase.ts
  src/system/version_migration/versions/v1_9_0.ts
  test/abilities/illusion.test.ts
Labels: Miscellaneous

#5788 Hotfix 1.9.2 to Beta
  package-lock.json
  package.json
  src/data/egg.ts
  src/field/pokemon.ts
  src/modifier/modifier-type.ts
  src/phases/select-biome-phase.ts
  src/system/version_migration/versions/v1_9_0.ts
  test/abilities/illusion.test.ts
Labels: Miscellaneous

#5806 [Bug][Hotfix] Fix crashes when loading save with a transformed pokemon
  src/battle-scene.ts
  src/field/pokemon.ts
  src/system/pokemon-data.ts
Labels: P0 Bug

#5812 [Bug][Move] Fix move effects not applying with multi-lens
  src/phases/move-effect-phase.ts
Labels: Move, P2 Bug

#5811 [Bug] [Move] Fix KO causing effects to occur twice
  src/phases/move-effect-phase.ts
Labels: Move, P2 Bug

#5808 [Bug][Hotfix] Fix Transformed Sprites not loading properly
  src/field/pokemon.ts
  src/system/game-data.ts
Labels: P1 Bug

#5829 [Bug] Fix Substitute sprite crash & revived Pokemon softlock
  src/field/pokemon.ts
  src/phases/encounter-phase.ts
  src/phases/summon-phase.ts
  src/phases/switch-summon-phase.ts
Labels: P1 Bug

#5822 [Bug] IVs of trainers were incorrectly using the battle seed
  src/data/abilities/ability.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/data/trainers/trainer-config.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/phases/attempt-capture-phase.ts
  src/phases/attempt-run-phase.ts
  src/phases/move-effect-phase.ts
  src/phases/move-phase.ts
  src/utils/common.ts
  test/abilities/cud_chew.test.ts
  test/abilities/desolate-land.test.ts
  test/abilities/neutralizing_gas.test.ts
  test/items/reviver_seed.test.ts
  test/moves/u_turn.test.ts
Labels: P2 Bug

#5830 [Bug] Fix field moves always playing their animations
  src/phases/move-effect-phase.ts
Labels: P3 Bug

#5836 [Localization] Localizable "Cancel" text in Ball selection menu
  src/ui/ball-ui-handler.ts
Labels: Localization

#5839 [UI/UX] [Localization] Text ratio adjustment for es-MX Egg Gatcha
  src/ui/egg-gacha-ui-handler.ts
Labels: Localization, UI/UX

#5844 [UI/UX] [Localization] Update Korean starterInfoText
  src/ui/starter-select-ui-handler.ts
Labels: Localization, UI/UX

#5791 [Balance] Update TM compatibility for Curse
  src/data/balance/tms.ts
Labels: Move, Game Balance, Balance Team

#5856 [Misc] Fix trailing whitespace
  src/data/balance/signature-species.ts
  src/data/balance/tms.ts
  src/field/pokemon.ts
Labels: Miscellaneous

#5779 [Bug] [Move] Synchronoise hitting Tera Type fix
  src/data/moves/move.ts
  test/moves/synchronoise.test.ts
Labels: Move, P2 Bug

#5852 [UI/UX] [Localization] Update Japanese starterInfoText
  src/ui/starter-select-ui-handler.ts
Labels: Localization, UI/UX

#5801 [Balance] Moveset generation adjustments
  src/field/pokemon.ts
Labels: Move, Game Balance, Balance Team

#5845 [UI/UX] Remove Redundant Unlock Passive text
  src/ui/pokedex-page-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#5802 [Sprite] Fix T1 shiny Eternatus not animating in consistent, remove unused exp for Giratina Origin
  public/exp-sprites.json
  public/images/pokemon/exp/487-origin.json
  public/images/pokemon/exp/487-origin.png
  public/images/pokemon/exp/back/487-origin.json
  public/images/pokemon/exp/back/487-origin.png
  public/images/pokemon/exp/back/shiny/487-origin.json
  public/images/pokemon/exp/back/shiny/487-origin.png
  public/images/pokemon/exp/shiny/487-origin.json
  public/images/pokemon/exp/shiny/487-origin.png
  public/images/pokemon/shiny/890.json
  public/images/pokemon/shiny/890.png
Labels: Sprite/Animation

#5659 [Bug]: Fix #5010: roar and whirlwind missing fail message when against a trainer
  src/data/moves/move.ts
  test/moves/whirlwind.test.ts
Labels: Move, P3 Bug

#5744 [GitHub] Make tests skip if no filters are matched
  .github/test-filters.yml
  .github/workflows/test-shard-template.yml
  .github/workflows/tests.yml
Labels: GitHub

#5865 [Sprite] Fix Cacturne and Kyurem variants
  public/images/pokemon/332.png
  public/images/pokemon/646.png
  public/images/pokemon/back/332.png
  public/images/pokemon/back/female/332.png
  public/images/pokemon/female/332.png
  public/images/pokemon/variant/332.json
  public/images/pokemon/variant/back/332.json
  public/images/pokemon/variant/back/female/332.json
  public/images/pokemon/variant/female/332.json
Labels: Sprite/Animation

#5866 Moved Ball "Cancel" label to a different locale file
  src/ui/ball-ui-handler.ts
Labels: Localization

#5078 [Item] Add Deep Sea Scale & Deep Sea Tooth items
  src/data/balance/pokemon-evolutions.ts
  src/modifier/modifier-type.ts
  test/items/light_ball.test.ts
  test/items/metal_powder.test.ts
  test/items/quick_powder.test.ts
  test/items/thick_club.test.ts
Labels: Enhancement, Item

#5821 [UI/UX] Party UI handler refactor (part I)
  src/ui/party-ui-handler.ts
Labels: UI/UX, Refactor

#5720 [Dev] Enable Biome checking of `pokemon.ts`
  biome.jsonc
  src/data/mystery-encounters/encounters/the-pokemon-salesman-encounter.ts
  src/data/trainers/TrainerPartyTemplate.ts
  src/field/pokemon.ts
  src/phases/revival-blessing-phase.ts
  src/ui/login-form-ui-handler.ts
Labels: Development

#5854 [Bug][Move] Allow gastro acid to suppress passives if main ability is unsuppressable
  src/data/moves/move.ts
  test/moves/gastro_acid.test.ts
Labels: Move, P2 Bug

#5859 [UI/UX] [Localization] starterInfoText adjustments and clean up
  src/ui/starter-select-ui-handler.ts
Labels: Localization, UI/UX

#5696 [Refactor][UI/UX] Cleanup battle-info ui code
  src/field/pokemon.ts
  src/main.ts
  src/typings/phaser/index.d.ts
  src/ui-inputs.ts
  src/ui/battle-flyout.ts
  src/ui/battle-info.ts
  src/ui/battle-info/battle-info.ts
  src/ui/battle-info/enemy-battle-info.ts
  src/ui/battle-info/player-battle-info.ts
  src/ui/fight-ui-handler.ts
  src/ui/pokemon-info-container.ts
  src/ui/summary-ui-handler.ts
  src/utils/common.ts
  test/testUtils/mocks/mockGameObject.ts
  test/testUtils/mocks/mocksContainer/mockContainer.ts
  test/testUtils/mocks/mocksContainer/mockGraphics.ts
  test/testUtils/mocks/mocksContainer/mockRectangle.ts
  test/testUtils/mocks/mocksContainer/mockSprite.ts
  test/testUtils/mocks/mocksContainer/mockText.ts
  test/testUtils/testFileInitialization.ts
Labels: UI/UX, Refactor

#5884 [Test] Fix mock text to make it compatible with method chaining
  test/testUtils/mocks/mocksContainer/mockText.ts
Labels: Tests

#5888 [Bug] Fix improperly named sprite key for enemy boss' battle info bar
  src/ui/battle-info/battle-info.ts
  src/ui/battle-info/enemy-battle-info.ts
Labels: UI/UX, P3 Bug

#5776 [Dev] Fixed biome override not working for Daily Mode
  src/game-mode.ts
  src/overrides.ts
Labels: P2 Bug, Development

#5848 [Test] Update test utils
  src/data/abilities/ability.ts
  test/abilities/good_as_gold.test.ts
  test/moves/alluring_voice.test.ts
  test/moves/chloroblast.test.ts
  test/moves/powder.test.ts
  test/testUtils/gameManager.ts
  test/testUtils/helpers/field-helper.ts
  test/testUtils/helpers/moveHelper.ts
Labels: Tests

#5905 [GitHub] Change total shard numbers and change job name
  .github/workflows/test-shard-template.yml
  .github/workflows/tests.yml
Labels: GitHub

#5892 [Refactor] Cleanup egg-counter-container
  src/ui/egg-counter-container.ts
Labels: Refactor

#5896 [Refactor] Cleanup filter bar
  src/enums/drop-down-column.ts
  src/ui/filter-bar.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  test/ui/pokedex.test.ts
Labels: Refactor

#5895 [Refactor] Cleanup evolution scene handler
  src/ui/evolution-scene-handler.ts
Labels: Refactor

#5908 [UI/UIX] Default cursor to new move when learning a move
  src/ui/summary-ui-handler.ts
Labels: Enhancement, UI/UX
