Repository pagefaultgames/pokerogue, pull requests merged in 2025-08, with the labels that each got.

#6185 [Misc] Disallow using NonFunctionProperties in loadTag methods
  src/data/arena-tag.ts
  src/data/battler-tags.ts
Labels: Miscellaneous

#6187 [Dev] `pnpm biome` will now only display errors by default
  package.json
Labels: Development

#6188 [Misc] Fix missing types in battler tags and remove DragonCheerTag
  src/@types/battler-tags.ts
  src/data/battler-tags.ts
  src/field/pokemon.ts
Labels: Miscellaneous

#6193 [Bug] [Beta] Remove setting currentPhase to null in clearAllPhases
  src/phase-manager.ts
Labels: P1 Bug, Beta

#6174 [Test] `game.move.use` overrides summon data moveset if present
  test/test-utils/helpers/move-helper.ts
Labels: Tests

#6196 [Balance] [Beta] Remove non-Legend Fresh Start option, fix starting movesets
  src/data/challenge.ts
  src/phases/select-starter-phase.ts
Labels: Game Balance, Balance Team, Challenges

#6109 [Misc] Move asset initialization into `preload` instead of `launchBattle`
  src/battle-scene.ts
  test/misc.test.ts
  test/test-utils/game-manager-utils.ts
  test/test-utils/game-manager.ts
Labels: Miscellaneous

#6198 [Balance] Adjust Cosmog / Cosmoem Evolutions, Lower Buneary Friendship requirements
  src/data/balance/biomes.ts
  src/data/balance/pokemon-evolutions.ts
Labels: Game Balance, Balance Team

#6159 [Test] Ported over + augmented remaining test matchers from pkty
  biome.jsonc
  global.d.ts
  src/@types/helpers/type-helpers.ts
  src/data/battler-tags.ts
  src/typings/i18next.d.ts
  src/typings/phaser/index.d.ts
  src/vite.env.d.ts
  test/@types/vitest.d.ts
  test/matchers.setup.ts
  test/moves/grudge.test.ts
  test/moves/spite.test.ts
  test/test-utils/matchers/to-equal-array-unsorted.ts
  test/test-utils/matchers/to-have-ability-applied.ts
  test/test-utils/matchers/to-have-battler-tag.ts
  test/test-utils/matchers/to-have-effective-stat.ts
  test/test-utils/matchers/to-have-fainted.ts
  test/test-utils/matchers/to-have-full-hp.ts
  test/test-utils/matchers/to-have-hp.ts
  test/test-utils/matchers/to-have-stat-stage.ts
  test/test-utils/matchers/to-have-status-effect.ts
  test/test-utils/matchers/to-have-taken-damage.ts
  test/test-utils/matchers/to-have-terrain.ts
  test/test-utils/matchers/to-have-types.ts
  test/test-utils/matchers/to-have-used-move.ts
  test/test-utils/matchers/to-have-used-pp.ts
  test/test-utils/matchers/to-have-weather.ts
  test/test-utils/string-utils.ts
  test/test-utils/test-utils.ts
  test/types/type-helpers.test-d.ts
Labels: Tests

#6203 [Beta] [Balance] Further Cosmog Evolution Readjustments
  src/data/balance/pokemon-evolutions.ts
Labels: Game Balance, Balance Team

#6155 [Dev] Moved some functions out of pokemon-species.ts, moved initSpecies to balance
  src/data/balance/pokemon-species.ts
  src/data/challenge.ts
  src/data/daily-run.ts
  src/data/pokemon-species.ts
  src/data/pokemon/pokemon-data.ts
  src/field/pokemon.ts
  src/init/init.ts
  src/system/pokemon-data.ts
  src/system/version-migration/versions/v1_7_0.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/pokemon-hatch-info-container.ts
  src/ui/starter-select-ui-handler.ts
  src/utils/pokemon-utils.ts
  test/test-utils/game-manager-utils.ts
Labels: Development

#6200 [Balance] Update and Change Breeder Trainer Class Teams
  src/data/trainers/trainer-config.ts
  src/data/trainers/trainer-party-template.ts
  test/moves/whirlwind.test.ts
Labels: Game Balance, Balance Team

#6207 [Bug] [Beta] Fix serialization with transform
  src/data/pokemon/pokemon-data.ts
Labels: P1 Bug, Beta

#6214 [Bug] Fix override move animations not loading for enemy Pokemon
  src/field/pokemon.ts
Labels: Sprite/Animation, P2 Bug

#6215 [Bug] Release Fainted Pokémon in Switch Menu
  src/ui/party-ui-handler.ts
Labels: P2 Bug

#5938 [UI/UX] Add change password ui
  src/@types/api/pokerogue-account-api.ts
  src/enums/ui-mode.ts
  src/plugins/api/pokerogue-account-api.ts
  src/ui/change-password-form-ui-handler.ts
  src/ui/form-modal-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/modal-ui-handler.ts
  src/ui/ui.ts
Labels: UI/UX

#6080 [Bug][UI/UX][Refactor] Fix empty movesets related to starter forms and general SSUI cleanup
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, Refactor, P2 Bug

#6186 [Challenge] Add Nuzlocke-related Challenges
  src/data/challenge.ts
  src/data/moves/move.ts
  src/data/moves/pokemon-move.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/enums/challenge-type.ts
  src/enums/challenges.ts
  src/field/pokemon.ts
  src/game-mode.ts
  src/modifier/modifier-type.ts
  src/phases/attempt-capture-phase.ts
  src/phases/command-phase.ts
  src/phases/party-heal-phase.ts
  src/phases/select-biome-phase.ts
  src/phases/select-starter-phase.ts
  src/phases/victory-phase.ts
  src/system/achv.ts
  src/system/game-data.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/utils/challenge-utils.ts
  test/challenges/hardcore.test.ts
  test/challenges/limited-catch.test.ts
  test/challenges/limited-support.test.ts
Labels: Challenges

#6165 [UI/UX] Clean up some magic numbers
  src/battle-scene.ts
  src/data/mystery-encounters/encounters/bug-type-superfan-encounter.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/field/damage-number-handler.ts
  src/phases/egg-hatch-phase.ts
  src/phases/end-card-phase.ts
  src/phases/evolution-phase.ts
  src/timed-event-manager.ts
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/achv-bar.ts
  src/ui/achvs-ui-handler.ts
  src/ui/ball-ui-handler.ts
  src/ui/base-stats-overlay.ts
  src/ui/battle-info/player-battle-info.ts
  src/ui/battle-message-ui-handler.ts
  src/ui/candy-bar.ts
  src/ui/challenges-select-ui-handler.ts
  src/ui/char-sprite.ts
  src/ui/confirm-ui-handler.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/egg-hatch-scene-handler.ts
  src/ui/egg-list-ui-handler.ts
  src/ui/egg-summary-ui-handler.ts
  src/ui/evolution-scene-handler.ts
  src/ui/fight-ui-handler.ts
  src/ui/filter-text.ts
  src/ui/login-form-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/modal-ui-handler.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/move-info-overlay.ts
  src/ui/mystery-encounter-ui-handler.ts
  src/ui/party-exp-bar.ts
  src/ui/party-ui-handler.ts
  src/ui/pokeball-tray.ts
  src/ui/pokedex-info-overlay.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/run-history-ui-handler.ts
  src/ui/run-info-ui-handler.ts
  src/ui/save-slot-select-ui-handler.ts
  src/ui/saving-icon-handler.ts
  src/ui/settings/abstract-binding-ui-handler.ts
  src/ui/settings/abstract-control-settings-ui-handler.ts
  src/ui/settings/abstract-settings-ui-handler.ts
  src/ui/settings/navigation-menu.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/title-ui-handler.ts
  src/ui/ui.ts
Labels: UI/UX, Refactor

#6231 [Docs/Misc/i18n] Fix typos
  src/@types/move-types.ts
  src/battle-scene.ts
  src/data/abilities/ability.ts
  src/data/mystery-encounters/encounters/bug-type-superfan-encounter.ts
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/data/mystery-encounters/encounters/dancing-lessons-encounter.ts
  src/data/mystery-encounters/encounters/delibirdy-encounter.ts
  src/data/mystery-encounters/encounters/field-trip-encounter.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/training-session-encounter.ts
  src/data/mystery-encounters/mystery-encounter-option.ts
  src/data/mystery-encounters/mystery-encounter.ts
  src/data/mystery-encounters/utils/encounter-dialogue-utils.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/field/pokemon.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/phase.ts
  src/phases/command-phase.ts
  src/phases/select-biome-phase.ts
  src/phases/title-phase.ts
  src/system/settings/settings-gamepad.ts
  src/ui/abstract-option-select-ui-handler.ts
  src/ui/arena-flyout.ts
  src/ui/autocomplete-ui-handler.ts
  src/ui/battle-info/player-battle-info.ts
  src/ui/command-ui-handler.ts
  src/ui/confirm-ui-handler.ts
  src/ui/login-form-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-scan-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/run-info-ui-handler.ts
  src/ui/save-slot-select-ui-handler.ts
  src/ui/settings/abstract-binding-ui-handler.ts
  src/ui/settings/option-select-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/summary-ui-handler.ts
  src/ui/test-dialogue-ui-handler.ts
  test/ui/starter-select.test.ts
Labels: Documentation, Miscellaneous

#6209 [Test] Improved tests for arena trap
  test/abilities/arena-trap.test.ts
Labels: Tests

#6182 [Misc] Added chance for alt title logo
  public/images/logo_fake.png
  src/constants.ts
  src/loading-scene.ts
  src/timed-event-manager.ts
  src/ui/title-ui-handler.ts
  src/utils/common.ts
Labels: Miscellaneous, Sprite/Animation

#6132 [Balance] Champion Team Adjustments
  src/data/balance/signature-species.ts
  src/data/trainers/trainer-config.ts
Labels: Game Balance, Balance Team

#6234 [Balance] More Passive/Egg Move/Cost changes for 1.10
  src/data/balance/egg-moves.ts
  src/data/balance/passives.ts
  src/data/balance/starters.ts
Labels: Game Balance, Balance Team

#5712 [Bug] Fix Recoil Damage and Shell Bell Healing Not Applying When Hitting Substitute
  src/phases/move-effect-phase.ts
  test/moves/recoil-moves.test.ts
Labels: Move, P2 Bug

#6240 [GitHub] Update `.github/CODEOWNERS` file
  .github/CODEOWNERS
Labels: GitHub

#6245 [UI/UX][Bug] Removed extra division by 6 in starter-select-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#6251 [Sprite/Animation] Optimized PNGs sizes for sprites introduced in PR6244
  public/images/pokemon/550-white-striped.png
  public/images/pokemon/769.png
  public/images/pokemon/770.png
  public/images/pokemon/843.png
  public/images/pokemon/844.png
  public/images/pokemon/902-female.png
  public/images/pokemon/902.png
  public/images/pokemon/back/550-white-striped.png
  public/images/pokemon/back/769.png
  public/images/pokemon/back/770.png
  public/images/pokemon/back/843.png
  public/images/pokemon/back/844.png
  public/images/pokemon/back/902-female.png
  public/images/pokemon/back/902.png
  public/images/pokemon/shiny/550-white-striped.png
  public/images/pokemon/shiny/769.png
  public/images/pokemon/shiny/770.png
  public/images/pokemon/shiny/843.png
  public/images/pokemon/shiny/844.png
  public/images/pokemon/shiny/902-female.png
  public/images/pokemon/shiny/902.png
Labels: Sprite/Animation

#6253 [Sprite] Remove random unused empty Palossand exp variant masterlist entry
  public/images/pokemon/variant/_exp_masterlist.json
Labels: Sprite/Animation, P3 Bug

#6257 [Audio] Add new Desert and Fairy Cave biome music
  public/audio/bgm/desert.mp3
  public/audio/bgm/fairy_cave.mp3
  src/field/arena.ts
Labels: Audio

#6239 [Balance] Updates to Twins Trainer Class Pool
  src/data/trainers/trainer-config.ts
Labels: Game Balance, Balance Team

#6202 [Move] Added laser focus locales
  src/@types/move-types.ts
  src/data/abilities/ability.ts
  src/data/moves/move.ts
  test/moves/whirlwind.test.ts
Labels: Localization

#6262 [Bug] [UI/UX] [Beta] Fix icons not showing in save slot selection
  src/ui/save-slot-select-ui-handler.ts
Labels: UI/UX, P3 Bug, Beta

#6254 [Refactor] Remove bgm param from arena constructor
  src/battle-scene.ts
  src/field/arena.ts
Labels: Refactor

#6256 [Refactor] Removed `map(x => x)`
  src/battle-scene.ts
  src/data/abilities/ability.ts
  src/data/balance/pokemon-evolutions.ts
  src/data/moves/move.ts
  src/data/pokemon-forms/form-change-triggers.ts
  src/loading-scene.ts
  src/modifier/modifier.ts
  src/system/game-data.ts
  src/ui/run-info-ui-handler.ts
  src/ui/test-dialogue-ui-handler.ts
  test/mystery-encounter/encounters/weird-dream-encounter.test.ts
Labels: Refactor

#6199 [UI/UX] Party slots refactor
  public/images/ui/party_bg_double_manage.png
  public/images/ui/party_slot_main_short.json
  public/images/ui/party_slot_main_short.png
  src/loading-scene.ts
  src/ui/party-ui-handler.ts
Labels: UI/UX, Refactor

#6246 [Feature] Add per-species tracking for ribbons, show nuzlocke ribbon
  public/images/ui/champion_ribbon_emerald.png
  public/images/ui/legacy/champion_ribbon_emerald.png
  src/@types/dex-data.ts
  src/@types/helpers/type-helpers.ts
  src/constants.ts
  src/data/challenge.ts
  src/data/egg-hatch-data.ts
  src/field/pokemon.ts
  src/loading-scene.ts
  src/modifier/modifier.ts
  src/phases/game-over-phase.ts
  src/system/achv.ts
  src/system/game-data.ts
  src/system/ribbons/ribbon-data.ts
  src/system/ribbons/ribbon-methods.ts
  src/ui/starter-select-ui-handler.ts
  src/utils/challenge-utils.ts
Labels: Enhancement

#6268 [Bug] [Beta] Fix renaming runs
  package.json
  pnpm-lock.yaml
  src/account.ts
  src/plugins/api/pokerogue-session-savedata-api.ts
  src/system/game-data.ts
  src/ui/run-info-ui-handler.ts
  src/ui/save-slot-select-ui-handler.ts
  src/utils/data.ts
Labels: P3 Bug, Beta

#6261 [Beta] [Bug] Fix Various Nuzlocke-related Issues
  src/data/mystery-encounters/encounters/dark-deal-encounter.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/phases/attempt-capture-phase.ts
  src/phases/select-biome-phase.ts
  src/phases/victory-phase.ts
  src/system/achv.ts
  test/challenges/limited-catch.test.ts
  test/challenges/limited-support.test.ts
Labels: Game Balance, P2 Bug, P3 Bug

#6190 [Dev] Added `devcontainer.json` and VS code config files
  .devcontainer/devcontainer.json
  .gitignore
  .ls-lint.yml
  .vscode/extensions.json
  CONTRIBUTING.md
  biome.jsonc
Labels: Development

#6039 [Dev] Generate moveset when using player Species override
  src/field/pokemon.ts
  src/overrides.ts
Labels: Development

#6195 [Test] Removed deprecated functions from phase interceptor
  src/phase.ts
  test/abilities/moxie.test.ts
  test/battle/battle-order.test.ts
  test/battle/battle.test.ts
  test/items/temp-stat-stage-booster.test.ts
  test/moves/fusion-flare-bolt.test.ts
  test/moves/growth.test.ts
  test/moves/parting-shot.test.ts
  test/moves/tackle.test.ts
  test/moves/tail-whip.test.ts
  test/mystery-encounter/encounter-test-utils.ts
  test/mystery-encounter/encounters/berries-abound-encounter.test.ts
  test/mystery-encounter/encounters/bug-type-superfan-encounter.test.ts
  test/mystery-encounter/encounters/clowning-around-encounter.test.ts
  test/mystery-encounter/encounters/dancing-lessons-encounter.test.ts
  test/mystery-encounter/encounters/department-store-sale-encounter.test.ts
  test/mystery-encounter/encounters/fight-or-flight-encounter.test.ts
  test/mystery-encounter/encounters/fun-and-games-encounter.test.ts
  test/mystery-encounter/encounters/global-trade-system-encounter.test.ts
  test/mystery-encounter/encounters/mysterious-challengers-encounter.test.ts
  test/mystery-encounter/encounters/teleporting-hijinks-encounter.test.ts
  test/mystery-encounter/encounters/the-expert-breeder-encounter.test.ts
  test/mystery-encounter/encounters/the-strong-stuff-encounter.test.ts
  test/mystery-encounter/encounters/the-winstrate-challenge-encounter.test.ts
  test/mystery-encounter/encounters/trash-to-treasure-encounter.test.ts
  test/mystery-encounter/encounters/weird-dream-encounter.test.ts
  test/phases/mystery-encounter-phase.test.ts
  test/phases/select-modifier-phase.test.ts
  test/test-utils/game-manager.ts
  test/test-utils/helpers/challenge-mode-helper.ts
  test/test-utils/helpers/reload-helper.ts
  test/test-utils/phase-interceptor.ts
  test/ui/pokedex.test.ts
  test/ui/starter-select.test.ts
  test/ui/transfer-item.test.ts
  test/ui/type-hints.test.ts
Labels: Tests

#5872 [Bug] Refactored status code, fixed Rest/Sleep Talk status checks
  src/data/abilities/ability.ts
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/data/mystery-encounters/encounters/fiery-fallout-encounter.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/enums/status-effect.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/phases/attempt-capture-phase.ts
  src/phases/attempt-run-phase.ts
  src/phases/faint-phase.ts
  src/phases/move-phase.ts
  src/phases/obtain-status-effect-phase.ts
  src/phases/pokemon-heal-phase.ts
  test/abilities/corrosion.test.ts
  test/abilities/healer.test.ts
  test/abilities/immunity.test.ts
  test/abilities/infiltrator.test.ts
  test/abilities/insomnia.test.ts
  test/abilities/limber.test.ts
  test/abilities/magma-armor.test.ts
  test/abilities/status-immunity-ab-attrs.test.ts
  test/abilities/thermal-exchange.test.ts
  test/abilities/vital-spirit.test.ts
  test/abilities/water-bubble.test.ts
  test/field/pokemon-funcs.test.ts
  test/field/pokemon.test.ts
  test/moves/beat-up.test.ts
  test/moves/fusion-flare.test.ts
  test/moves/rest.test.ts
  test/moves/sleep-talk.test.ts
  test/mystery-encounter/mystery-encounter-utils.test.ts
Labels: Move, P2 Bug

#6216 [Test] Cleaned up shields down tests; added more tests
  test/abilities/shields-down.test.ts
Labels: Tests

#6287 [UI/UX] Save in starter select screen after moveset changes
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#6309 [Balance] Hisui Lilligant Evo Method Change
  src/data/balance/pokemon-evolutions.ts
Labels: Game Balance, Balance Team

#6303 [Animation] Update fog animation to use strong winds BG
  public/battle-anims/common-wind.json
Labels: Sprite/Animation

#6273 [Balance][Challenge] Block master ball catching final boss in challenges
  src/data/challenge.ts
  src/game-mode.ts
  src/phases/command-phase.ts
  test/field/catching.test.ts
Labels: Game Balance, Challenges, Game Design

#6277 [UI/UX][Challenge] Starter select screen shows reduced information in fresh start
  src/data/challenge.ts
  src/enums/challenge-type.ts
  src/system/game-data.ts
  src/ui/starter-select-ui-handler.ts
  src/utils/challenge-utils.ts
Labels: UI/UX, Challenges

#6305 [Refactor] Change rare egg rate consts to array, rare egg move common egg boosted chance boosted
  src/data/balance/rates.ts
  src/data/egg.ts
Labels: Game Balance, Balance Team, Refactor

#6313 [Bug] [Beta] Prevent crash when attempting to select a move not in the user's moveset
  src/phases/command-phase.ts
Labels: P1 Bug, Beta

#6316 Removed last vestiges of `/ 4096` from codebase
  src/data/arena-tag.ts
  src/data/moves/move.ts
  test/moves/aurora-veil.test.ts
  test/moves/light-screen.test.ts
  test/moves/reflect.test.ts
Labels: Miscellaneous

#6329 [GitHub] Workflows will now run on `release` branch
  .github/workflows/github-pages.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
Labels: GitHub

#6333 [Bug] Fresh start does _not_ override iv unlocks
  src/ui/starter-select-ui-handler.ts
Labels: P2 Bug, Beta

#6334 [Challenge] No hardcore breeder
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
Labels: Challenges, Mystery Encounter

#6322 [Beta][Bug][UI/UX] Fix broken candy upgrades
  src/ui/starter-select-ui-handler.ts
Labels: P2 Bug, Beta

#6330 [Bug][Sprite] Remove fake Deerling variants
  public/images/pokemon/variant/585-autumn_1.json
  public/images/pokemon/variant/585-autumn_1.png
  public/images/pokemon/variant/585-spring_1.json
  public/images/pokemon/variant/585-spring_1.png
  public/images/pokemon/variant/585-summer_1.json
  public/images/pokemon/variant/585-summer_1.png
  public/images/pokemon/variant/585-winter_1.json
  public/images/pokemon/variant/585-winter_1.png
  public/images/pokemon/variant/586-autumn.json
  public/images/pokemon/variant/586-spring.json
  public/images/pokemon/variant/586-summer.json
  public/images/pokemon/variant/586-winter.json
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/585-autumn_1.json
  public/images/pokemon/variant/back/585-autumn_1.png
  public/images/pokemon/variant/back/585-spring_1.json
  public/images/pokemon/variant/back/585-spring_1.png
  public/images/pokemon/variant/back/585-summer.json
  public/images/pokemon/variant/back/585-winter_1.json
  public/images/pokemon/variant/back/585-winter_1.png
  public/images/pokemon/variant/back/586-autumn.json
  public/images/pokemon/variant/back/586-spring.json
  public/images/pokemon/variant/back/586-summer.json
  public/images/pokemon/variant/back/586-winter.json
Labels: Sprite/Animation, P3 Bug

#6341 [Balance] [ME] Trash to Treasure Option 1 Adjustment
  src/data/mystery-encounters/encounters/trash-to-treasure-encounter.ts
  test/mystery-encounter/encounters/trash-to-treasure-encounter.test.ts
Labels: Game Balance, Balance Team

#6292 [Misc][UX] Add Daily Run Achievement, Re-Arrange Achievements, Replace some Icon Sprites
  public/images/items.json
  public/images/items.png
  public/images/items/bronze_ribbon.png
  public/images/items/calendar.png
  public/images/items/common_egg.png
  public/images/items/common_ribbon.png
  public/images/items/epic_egg.png
  public/images/items/flying_tera_shard.png
  public/images/items/great_ribbon.png
  public/images/items/legendary_egg.png
  public/images/items/manaphy_egg.png
  public/images/items/master_ribbon.png
  public/images/items/rare_egg.png
  public/images/items/rogue_egg.png
  public/images/items/rogue_ribbon.png
  public/images/items/ultra_ribbon.png
  public/images/ui/champion_ribbon.png
  public/images/ui/champion_ribbon_bronze.png
  public/images/ui/champion_ribbon_diamond.png
  public/images/ui/champion_ribbon_emerald.png
  public/images/ui/champion_ribbon_silver.png
  public/images/ui/common_egg.png
  public/images/ui/legacy/champion_ribbon.png
  public/images/ui/legacy/champion_ribbon_bronze.png
  public/images/ui/legacy/champion_ribbon_diamond.png
  public/images/ui/legacy/champion_ribbon_emerald.png
  public/images/ui/legacy/champion_ribbon_silver.png
  public/images/ui/legacy/common_egg.png
  public/images/ui/legacy/mystery_egg.png
  public/images/ui/mystery_egg.png
  src/loading-scene.ts
  src/phases/game-over-phase.ts
  src/system/achv.ts
  src/ui/achvs-ui-handler.ts
  src/ui/pokedex-mon-container.ts
  test/achievements/achievement.test.ts
Labels: UI/UX

#6343 [Bug] [UI/UX] [Beta] Fix visibility of egg moves in ssui
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug, Beta

#6392 [Bug] Fix status effects overwriting each other
  src/data/pokemon/pokemon-data.ts
  src/field/pokemon.ts
  test/status-effects/general-status-effect.test.ts
Labels: P2 Bug

#6212 [Bug/Ability] Fixed bugs with Intimidate triggers after reload/initial switch
  src/data/phase-priority-queue.ts
  src/field/pokemon.ts
  src/phase-manager.ts
  src/phases/switch-phase.ts
  test/abilities/intimidate.test.ts
  test/test-utils/helpers/classic-mode-helper.ts
Labels: Tests

#6393 [Bug] Fix speedup/slowdown buttons not working properly
  src/ui-inputs.ts
Labels: P2 Bug

#6395 [Bug] [Sprite] Fix third type icon missing texture
  src/ui/battle-info/enemy-battle-info.ts
  src/ui/battle-info/player-battle-info.ts
Labels: Sprite/Animation, P3 Bug

#6398 [Bug] [Ability] Fix trace's RNG
  src/data/abilities/ability.ts
Labels: Ability, P2 Bug

#6397 [Bug] [Sprite] Fix fusion shiny party icon
  src/ui/battle-info/battle-info.ts
  src/ui/party-ui-handler.ts
  src/ui/summary-ui-handler.ts
Labels: Sprite/Animation, P3 Bug

#6399 [Bug] [Ability] Fix cute charm
  src/data/abilities/ability.ts
Labels: Ability, P2 Bug

#6402 [Bug] [Ability] Fix berserk multi proc
  src/data/abilities/ability.ts
  src/phases/move-effect-phase.ts
Labels: Ability, P2 Bug

#6415 [Bug] Fix typecheck bug
  tsconfig.json
Labels: P3 Bug

#6387 Adjust moveset generation weighting.
  src/field/pokemon.ts
Labels: Game Balance

#6441 [GitHub] Workflows will now time out after 10 minutes
  .github/workflows/create-release.yml
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy.yml
  .github/workflows/github-pages.yml
  .github/workflows/linting.yml
  .github/workflows/post-release-deleted.yml
  .github/workflows/test-shard-template.yml
  .github/workflows/tests.yml
Labels: GitHub

#6443 [Bug] Fix soak message type
  src/data/moves/move.ts
Labels: P3 Bug

#6345 [Item] Held item implementation rework
  src/enums/held-item-effect.ts
  src/field/pokemon.ts
  src/items/all-held-items.ts
  src/items/held-item-manager.ts
  src/items/held-item-parameter.ts
  src/items/held-item.ts
  src/items/held-items/accuracy-booster.ts
  src/items/held-items/attack-type-booster.ts
  src/items/held-items/base-stat-booster.ts
  src/items/held-items/base-stat-flat.ts
  src/items/held-items/base-stat-total.ts
  src/items/held-items/baton.ts
  src/items/held-items/berry.ts
  src/items/held-items/bypass-speed-chance.ts
  src/items/held-items/crit-booster.ts
  src/items/held-items/damage-money-reward.ts
  src/items/held-items/evo-tracker.ts
  src/items/held-items/exp-booster.ts
  src/items/held-items/field-effect.ts
  src/items/held-items/flinch-chance.ts
  src/items/held-items/form-change-item.ts
  src/items/held-items/friendship-booster.ts
  src/items/held-items/hit-heal.ts
  src/items/held-items/incrementing-stat.ts
  src/items/held-items/instant-revive.ts
  src/items/held-items/item-steal.ts
  src/items/held-items/multi-hit.ts
  src/items/held-items/nature-weight-booster.ts
  src/items/held-items/reset-negative-stat-stage.ts
  src/items/held-items/stat-booster.ts
  src/items/held-items/survive-chance.ts
  src/items/held-items/turn-end-heal.ts
  src/items/held-items/turn-end-status.ts
  src/phases/move-effect-phase.ts
  src/utils/common.ts
Labels: Item, Refactor

#6450 [Bug][Sprite] Ensure evo silhouette disappears in evo phase
  src/phases/evolution-phase.ts
Labels: Sprite/Animation, P3 Bug

#6454 [Bug] Pokemon not on the field can't be caught
  src/phases/command-phase.ts
Labels: P2 Bug

#6453 [Bug] [UI]Fix ribbon and status effect overlap
  src/ui/battle-info/enemy-battle-info.ts
Labels: UI/UX, P3 Bug

#6458 [Sprite] Round of optimized PNGs
  public/images/arenas/beach_b_2.png
  public/images/arenas/cave_b_2.png
  public/images/arenas/factory_b_3.png
  public/images/arenas/forest_b.png
  public/images/arenas/ice_cave_b_2.png
  public/images/arenas/island_bg.png
  public/images/arenas/jungle_bg.png
  public/images/arenas/laboratory_b_2.png
  public/images/arenas/laboratory_bg.png
  public/images/arenas/lake_b_1.png
  public/images/arenas/lake_b_2.png
  public/images/arenas/metropolis_bg.png
  public/images/arenas/plains_b_2.png
  public/images/arenas/plains_bg.png
  public/images/arenas/snowy_forest_b_3.png
  public/images/arenas/snowy_forest_bg.png
  public/images/arenas/wasteland_b_1.png
  public/images/arenas/wasteland_b_3.png
  public/images/battle_anims/PRAS- Pulverizing Pancake BG2.png
  public/images/battle_anims/PRAS- Pulverizing Pancake.png
  public/images/battle_anims/PRAS- Spectral thief BG.png
  public/images/egg/egg_crack.png
  public/images/items.png
  public/images/items/common_egg.png
  public/images/items/great_ribbon.png
  public/images/mystery-encounters/fun_and_games_wobbuffet.png
  public/images/mystery-encounters/mysterious_chest_blue.png
  public/images/ui/champion_ribbon_bronze.png
  public/images/ui/champion_ribbon_diamond.png
  public/images/ui/champion_ribbon_silver.png
  public/images/ui/legacy/champion_ribbon_bronze.png
  public/images/ui/legacy/champion_ribbon_diamond.png
  public/images/ui/legacy/champion_ribbon_silver.png
Labels: Sprite/Animation

#6452 [UI/UX] [Localization] Korean and Chinese Visual Fixes
  src/ui/text.ts
Labels: Localization, UI/UX

#6461 [Balance] TM tier changes 1.10.6
  src/data/balance/tms.ts
Labels: Game Balance, Balance Team

#6463 [Balance] Make e4 not automatically recharge tera
  src/battle-scene.ts
Labels: Game Balance
