Repository pagefaultgames/pokerogue, pull requests merged in 2025-09, with the labels that each got.

#6438 [Bug] Fix monotype challenge using unlocalized type names
  src/data/challenge.ts
Labels: P3 Bug

#6467 Sound error handling improvement
  src/battle-scene.ts
  src/data/battle-anims.ts
  src/data/pokemon-species.ts
  src/field/pokemon.ts
  src/phases/egg-hatch-phase.ts
  src/phases/evolution-phase.ts
  src/phases/party-heal-phase.ts
Labels: P1 Bug, Audio

#6473 [Bug] [Move] Fix poltergeist crash when no remaining enemies
  src/data/moves/move.ts
  src/phases/move-phase.ts
  test/moves/poltergeist.test.ts
Labels: Move, P1 Bug

#6470 [Dev] Simplify `isLocal` and add `start:prod`/`start:beta`
  package.json
  src/utils/common.ts
  src/utils/utility-vars.ts
Labels: Refactor, Development

#6472 [UI/UX][Refactor] Remove redundant references to globalScene.uiTheme
  src/data/mystery-encounters/encounters/training-session-encounter.ts
  src/data/mystery-encounters/utils/encounter-dialogue-utils.ts
  src/data/nature.ts
  src/phases/scan-ivs-phase.ts
  src/ui/abstract-option-select-ui-handler.ts
  src/ui/admin-ui-handler.ts
  src/ui/ball-ui-handler.ts
  src/ui/battle-info/battle-info.ts
  src/ui/battle-info/enemy-battle-info.ts
  src/ui/battle-message-ui-handler.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/fight-ui-handler.ts
  src/ui/filter-bar.ts
  src/ui/filter-text.ts
  src/ui/form-modal-ui-handler.ts
  src/ui/menu-ui-handler.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/pokemon-info-container.ts
  src/ui/run-info-ui-handler.ts
  src/ui/settings/abstract-binding-ui-handler.ts
  src/ui/settings/abstract-control-settings-ui-handler.ts
  src/ui/settings/abstract-settings-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/stats-container.ts
  src/ui/summary-ui-handler.ts
  src/ui/text.ts
  src/ui/ui-handler.ts
  src/ui/ui-theme.ts
Labels: UI/UX, Refactor

#6466 [Misc] Cleaned up implementation of `ChargeMove` mixin
  src/data/moves/move.ts
Labels: Miscellaneous

#6444 [UI/UX] Show correct able text when transferring all items
  src/ui/party-ui-handler.ts
Labels: UI/UX

#6479 [Bug] Future Sight no longer crashes after catching the user
  src/battle-scene.ts
  src/data/battle-anims.ts
  src/data/positional-tags/positional-tag.ts
  test/moves/delayed-attack.test.ts
  test/test-utils/phase-interceptor.ts
Labels: Move, P1 Bug

#6490 [GitHub] Fix Typedoc workflow
  .github/workflows/github-pages.yml
Labels: GitHub

#6374 [Test] Added/cleaned up tests for Pastel/Sweet Veil
  test/abilities/pastel-veil.test.ts
  test/abilities/sweet-veil.test.ts
Labels: Tests

#6338 [Test] Improved typing on `BattlerTagData` and `ArenaTagData`; improved test matchers
  src/@types/arena-tags.ts
  src/@types/battler-tags.ts
  src/@types/helpers/type-helpers.ts
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/system/arena-data.ts
  test/@types/vitest.d.ts
  test/moves/dragon-cheer.test.ts
  test/moves/focus-energy.test.ts
  test/test-utils/matchers/to-have-arena-tag.ts
  test/test-utils/matchers/to-have-battler-tag.ts
  test/test-utils/string-utils.ts
Labels: Tests

#6496 [GitHub] [Bug] fix: add nullish operator to dryRun check
  typedoc.config.js
Labels: GitHub

#6464 [Bug] [UI/UX] Fix random button activation bug
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P2 Bug

#6404 [UI] Add cyclic navigation in settings menu for LEFT/RIGHT buttons
  src/ui/settings/abstract-control-settings-ui-handler.ts
  src/ui/settings/abstract-settings-ui-handler.ts
Labels: Enhancement, UI/UX

#6116 [Dev] Added egg move parse utility script & script type checking
  .github/workflows/linting.yml
  biome.jsonc
  package.json
  scripts/create-test/create-test.js
  scripts/decrypt-save.js
  scripts/jsconfig.json
  scripts/parse-egg-moves/egg-move-template.boilerplate.ts
  scripts/parse-egg-moves/help-message.js
  scripts/parse-egg-moves/interactive.js
  scripts/parse-egg-moves/main.js
  scripts/parse-egg-moves/parse.js
  scripts/scrape-trainer-names/fetch-names.js
  src/data/balance/egg-moves.ts
  src/init/init.ts
  test/@types/vitest.d.ts
  test/test-utils/helpers/challenge-mode-helper.ts
  tsconfig.json
Labels: Development

#6511 [Bug] Fix memory leak in egg hatch
  src/phases/egg-hatch-phase.ts
  src/phases/egg-summary-phase.ts
Labels: P1 Bug, Performance

#6390 [UI/UX][Refactor] Starter select UI refactor
  src/constants.ts
  src/system/game-data.ts
  src/ui-inputs.ts
  src/ui/containers/starter-container.ts
  src/ui/handlers/pokedex-page-ui-handler.ts
  src/ui/handlers/pokedex-ui-handler.ts
  src/ui/handlers/starter-select-ui-handler.ts
  src/ui/starter-select-ui-utils.ts
  src/ui/starter-summary.ts
  src/ui/ui.ts
  src/utils/data.ts
  test/ui/pokedex.test.ts
Labels: UI/UX, Refactor

#6519 [ui] ssui refactor: show starter cost above sprite
  src/ui/containers/starter-container.ts
Labels: UI/UX, P3 Bug

#6532 [Misc] [Bug] Remove `summary_overlay_shiny` from loading scene
  src/loading-scene.ts
Labels: Miscellaneous, P3 Bug

#6504 [UI/UX] In settings, clamp volume cursor at boundary
  src/system/settings/settings.ts
  src/ui/settings/abstract-settings-ui-handler.ts
Labels: UI/UX, Beta

#6538 [UI/UX][Refactor] Moved and renamed some ui files
  src/phases/egg-hatch-phase.ts
  src/phases/evolution-phase.ts
  src/phases/learn-move-phase.ts
  src/ui-inputs.ts
  src/ui/containers/egg-counter-container.ts
  src/ui/containers/hatched-pokemon-container.ts
  src/ui/containers/saving-icon-handler.ts
  src/ui/handlers/egg-hatch-scene-ui-handler.ts
  src/ui/handlers/egg-list-ui-handler.ts
  src/ui/handlers/egg-summary-ui-handler.ts
  src/ui/handlers/evolution-scene-ui-handler.ts
  src/ui/handlers/party-ui-handler.ts
  src/ui/handlers/pokedex-page-ui-handler.ts
  src/ui/handlers/pokedex-ui-handler.ts
  src/ui/handlers/starter-select-ui-handler.ts
  src/ui/ui.ts
  src/ui/utils/pokemon-icon-anim-helper.ts
  src/ui/utils/scrollable-grid-helper.ts
  test/ui/pokedex.test.ts
Labels: UI/UX, Refactor

#6299 [Test] Added matcher to check message contents; added tests for Splash, Celebrate, Laser Focus
  src/data/abilities/ability.ts
  src/field/pokemon.ts
  test/@types/vitest.d.ts
  test/abilities/arena-trap.test.ts
  test/abilities/cud-chew.test.ts
  test/abilities/truant.test.ts
  test/matchers.setup.ts
  test/moves/chilly-reception.test.ts
  test/moves/delayed-attack.test.ts
  test/moves/laser-focus.test.ts
  test/moves/splash-celebrate.test.ts
  test/moves/wish.test.ts
  test/test-utils/helpers/overrides-helper.ts
  test/test-utils/matchers/to-have-shown-message.ts
Labels: Tests

#6302 [UI/UX] Add language selection to login screen
  public/images/ui/language_icon.png
  public/images/ui/legacy/language_icon.png
  src/loading-scene.ts
  src/system/settings/settings-language.ts
  src/system/settings/settings.ts
  src/ui/handlers/login-form-ui-handler.ts
Labels: UI/UX

#6528 [Bug] Make touch events prevent pointer events
  src/touch-controls.ts
Labels: UI/UX, P3 Bug

#6297 [Test] Moved test setup code to its own folder
  scripts/create-test/boilerplates/default.ts
  test/setup/font-face.setup.ts
  test/setup/matchers.setup.ts
  test/setup/vitest.setup.ts
  vitest.config.ts
Labels: Tests

#6150 [Dev] Add Podman support
  .dockerignore
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy.yml
  .github/workflows/linting.yml
  .github/workflows/test-shard-template.yml
  CONTRIBUTING.md
  Dockerfile
  docs/podman.md
  package.json
Labels: Development

#6508 [i18n] Camel case remaining keys
  src/data/splash-messages.ts
  src/phases/command-phase.ts
  src/phases/move-effect-phase.ts
  src/ui/handlers/egg-gacha-ui-handler.ts
  src/ui/handlers/game-stats-ui-handler.ts
Labels: Localization

#6550 [Deps] Update biome to 2.2.4
  biome.jsonc
  package.json
  pnpm-lock.yaml
  src/overrides.ts
Labels: Dependencies

#6552 [Balance] Trainer boss Pokémon no longer gain a stat boost when a boss segment is broken
  src/field/pokemon.ts
Labels: Game Balance, Balance Team

#6553 [Bug] [Beta] Fix bug where boss segments are not actually broken
  src/field/pokemon.ts
Labels: P2 Bug

#6533 [Balance] Tweak trainer moveset TM generation.
  src/ai/ai-moveset-gen.ts
  src/data/balance/moveset-generation.ts
  src/data/trainers/trainer-config.ts
  src/field/pokemon.ts
Labels: Game Balance, Balance Team

#6510 [Bug] Secondary fusions with gender evo condition can now evolve
  src/data/balance/pokemon-evolutions.ts
  src/field/pokemon.ts
Labels: P2 Bug

#6559 [Tests][Bug][Beta] Fix ditto bug and add unit tests
  src/ai/ai-moveset-gen.ts
  src/data/balance/moveset-generation.ts
  src/vite.env.d.ts
  test/ai/ai-moveset-gen.test.ts
Labels: Tests, P1 Bug, Beta

#6566 [UI/UX] Show correct max duration in flyout
  src/data/arena-tag.ts
  src/data/terrain.ts
  src/data/weather.ts
  src/events/arena.ts
  src/field/arena.ts
  src/system/arena-data.ts
  src/system/game-data.ts
  src/ui/containers/arena-flyout.ts
Labels: UI/UX, P3 Bug

#6576 [Deps] Bump typedoc version
  package.json
  pnpm-lock.yaml
Labels: Dependencies

#6577 [Bug][Ability] Remove flyout for rivalry
  src/data/abilities/ability.ts
Labels: Ability, P3 Bug

#6575 [Bug] Apply Supreme Overlord only once on summon
  src/@types/battler-tags.ts
  src/data/abilities/ability.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/enums/battler-tag-type.ts
  test/abilities/supreme-overlord.test.ts
Labels: Ability, P2 Bug

#6543 [Docs] Cleanup docs in pokemon.ts
  src/@types/damage-params.ts
  src/field/pokemon.ts
Labels: Documentation

#6561 [Test] Added Map key matcher; enforced strong typing on matchers
  test/@types/vitest.d.ts
  test/setup/matchers.setup.ts
  test/test-utils/helpers/modifiers-helper.ts
  test/test-utils/matchers/to-equal-unsorted.ts
  test/test-utils/matchers/to-have-key.ts
  test/test-utils/matchers/to-have-terrain.ts
  test/test-utils/matchers/to-have-weather.ts
Labels: Tests

#6477 [Refactor] Refactor `Starter` and its handling
  src/@types/save-data.ts
  src/data/daily-run.ts
  src/phases/select-starter-phase.ts
  src/phases/title-phase.ts
  src/ui/handlers/starter-select-ui-handler.ts
  test/mystery-encounter/encounters/part-timer-encounter.test.ts
  test/test-utils/game-manager-utils.ts
  test/test-utils/game-manager.ts
  test/test-utils/helpers/challenge-mode-helper.ts
  test/test-utils/helpers/classic-mode-helper.ts
Labels: Refactor

#6569 [Bug][Ability] Queenly Majesty flyout during move select
  src/field/pokemon.ts
Labels: Ability, P3 Bug

#6571 [UI/UX] Show username now works with up to 7 local user accounts instead of 2
  src/ui/handlers/login-form-ui-handler.ts
Labels: UI/UX

#6593 [Test] Added Modifier Rework test boilerplate + `allHeldItems` type safety
  scripts/create-test/boilerplates/item.boilerplate.ts
  scripts/create-test/boilerplates/reward.boilerplate.ts
  scripts/create-test/create-test.js
  src/@types/held-item-data-types.ts
  src/@types/held-item-parameter.ts
  src/battle-scene.ts
  src/data/abilities/ability.ts
  src/data/balance/pokemon-evolutions.ts
  src/data/data-lists.ts
  src/data/moves/move.ts
  src/data/mystery-encounters/encounters/absolute-avarice-encounter.ts
  src/data/mystery-encounters/encounters/bug-type-superfan-encounter.ts
  src/data/mystery-encounters/encounters/delibirdy-encounter.ts
  src/data/mystery-encounters/encounters/fiery-fallout-encounter.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/shady-vitamin-dealer-encounter.ts
  src/data/mystery-encounters/encounters/trash-to-treasure-encounter.ts
  src/data/mystery-encounters/mystery-encounter-requirements.ts
  src/data/pokemon-forms/form-change-triggers.ts
  src/items/all-held-items.ts
  src/items/held-item-manager.ts
  src/items/held-item-pool.ts
  src/items/held-item.ts
  src/items/held-items/attack-type-booster.ts
  src/items/held-items/base-stat-multiply.ts
  src/items/held-items/baton.ts
  src/items/held-items/item-steal.ts
  src/items/init-reward-pools.ts
  src/items/item-utility.ts
  src/items/reward.ts
  src/items/rewards/form-change.ts
  src/items/rewards/held-item-reward.ts
  src/items/rewards/species-stat-booster.ts
  src/phases/berry-phase.ts
  src/ui/handlers/party-ui-handler.ts
  src/ui/handlers/run-info-ui-handler.ts
  src/ui/handlers/summary-ui-handler.ts
  src/ui/item-bar-ui.ts
  src/utils/common.ts
  test/@types/vitest.d.ts
  test/items/reviver-seed.test.ts
  test/setup/matchers.setup.ts
  test/test-utils/matchers/to-have-applied-item.ts
  test/test-utils/utils/item-test-utils.ts
  test/test-utils/utils/reward-test-utils.ts
Labels: Tests

#6579 [Admin][UI/UX] See stats of other users in control panel
  src/@types/api/pokerogue-admin-api.ts
  src/enums/admin-mode.ts
  src/plugins/api/pokerogue-admin-api.ts
  src/system/game-data.ts
  src/ui/handlers/admin-ui-handler.ts
  src/ui/handlers/form-modal-ui-handler.ts
  src/ui/handlers/game-stats-ui-handler.ts
  src/ui/handlers/menu-ui-handler.ts
  src/ui/handlers/modal-ui-handler.ts
  src/ui/handlers/pokedex-ui-handler.ts
  test/plugins/api/pokerogue-admin-api.test.ts
  test/test-utils/game-manager.ts
Labels: UI/UX

#6578 [Bug][Balance] Make type boost items consider moves that have a variable type when rolling one for rewards
  src/ai/ai-moveset-gen.ts
  src/constants.ts
  src/data/moves/move.ts
  src/modifier/modifier-type.ts
  src/ui/handlers/command-ui-handler.ts
  src/utils/pokemon-utils.ts
Labels: Item, Game Balance, P2 Bug

#6607 [Balance] Add Stored Power / Power Trip to STAB blacklist
  src/data/balance/moveset-generation.ts
Labels: Game Balance, Balance Team, AI

#6609 [Bug]]Beta] Boss segments not fully clearing
  src/field/pokemon.ts
  src/utils/damage.ts
Labels: P2 Bug, Beta
