Repository pagefaultgames/pokerogue, pull requests merged in 2025-07, with the labels that each got.

#6017 [Refactor] Minor run phase rework
  src/battle-scene.ts
  src/battle.ts
  src/overrides.ts
  src/phases/attempt-run-phase.ts
  src/phases/turn-start-phase.ts
  test/abilities/desolate-land.test.ts
  test/abilities/honey_gather.test.ts
  test/abilities/neutralizing_gas.test.ts
  test/abilities/speed_boost.test.ts
  test/escape-calculations.test.ts
Labels: Refactor

#5998 [Test] Made `game.move.select` fail if move not in moveset
  test/abilities/good_as_gold.test.ts
  test/abilities/ice_face.test.ts
  test/abilities/imposter.test.ts
  test/abilities/intimidate.test.ts
  test/abilities/lightningrod.test.ts
  test/abilities/mold_breaker.test.ts
  test/abilities/moxie.test.ts
  test/abilities/screen_cleaner.test.ts
  test/abilities/storm_drain.test.ts
  test/arena/weather_strong_winds.test.ts
  test/items/dire_hit.test.ts
  test/moves/aurora_veil.test.ts
  test/moves/baddy_bad.test.ts
  test/moves/gastro_acid.test.ts
  test/moves/instruct.test.ts
  test/moves/reflect_type.test.ts
  test/moves/spikes.test.ts
  test/testUtils/gameManager.ts
  test/testUtils/gameManagerUtils.ts
  test/testUtils/helpers/field-helper.ts
  test/testUtils/helpers/moveHelper.ts
Labels: Tests

#6060 [Docs] Add links to `CONTRIBUTING.md` for forking/cloning
  CONTRIBUTING.md
Labels: Documentation

#6016 [Balance] Berry Juice and Old Gateau do not depend on the instance
  public/images/items.json
  public/images/items.png
  public/images/items/berry_juice_bad.png
  public/images/items/berry_juice_good.png
  src/data/mystery-encounters/encounters/the-strong-stuff-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
Labels: Game Balance, Refactor, Blocker

#6061 [Dev] Remove warnings from `pnpm` interactions
  dependency-graph.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Development

#6055 [Bug] Fix fusion name not showing on evolution
  src/phases/evolution-phase.ts
Labels: P3 Bug

#6066 [Sprite] Replace Foul Berry Juice sprite
  public/images/items.json
  public/images/items.png
  public/images/items/berry_juice_bad.png
Labels: Sprite/Animation

#6070 [Bug] Prevent save corruption when loading a pokemonData that has no moves
  src/system/pokemon-data.ts
Labels: P0 Bug

#6071 [Refactor] Replace `.fill().map` "loops" with real `for` loops
  src/data/mystery-encounters/encounters/training-session-encounter.ts
  src/field/anims.ts
  src/field/arena.ts
  src/modifier/modifier-type.ts
  src/system/settings/settings.ts
  src/ui/egg-gacha-ui-handler.ts
  src/ui/game-stats-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/stats-container.ts
Labels: Refactor

#5970 [Docs] Add `localization.md`
  CONTRIBUTING.md
  docs/localization.md
Labels: Documentation

#6075 [Audio] Replace Abyss biome BGM with custom BGM by Firel
  public/audio/bgm/abyss.mp3
  src/field/arena.ts
Labels: Audio

#6076 [Docs] Fix typos in localization.md
  docs/localization.md
Labels: Documentation

#5889 [Performance] [Refactor] [UI/UX] Cleanup egg gacha UI
  src/enums/gacha-types.ts
  src/loading-scene.ts
  src/ui/egg-gacha-ui-handler.ts
Labels: UI/UX, Refactor, Performance

#6083 [Bug][Performance] Plug memory leak related to enemy pokemon lingering around
  src/data/battle-anims.ts
Labels: P0 Bug, Performance

#5883 [Refactor] Cleanup fight UI
  src/battle-scene.ts
  src/ui/fight-ui-handler.ts
Labels: Refactor

#5858 [Test] Added tests for Intimidate, Fishious Rend/Bolt Beak, Payback and Moongeist Beam & co.
  src/data/moves/move.ts
  src/phases/attempt-capture-phase.ts
  test/abilities/guard-dog.test.ts
  test/abilities/intimidate.test.ts
  test/moves/ability-ignore-moves.test.ts
  test/moves/first-attack-double-power.test.ts
  test/moves/moongeist_beam.test.ts
  test/moves/payback.test.ts
  test/testUtils/gameManager.ts
Labels: Tests

#5855 [Refactor/Bug] Fix Protean not applying due to terrain + minor cleanup of move phase
  src/data/abilities/ability.ts
  src/data/moves/move.ts
  src/phases/move-phase.ts
  test/abilities/libero.test.ts
  test/abilities/protean-libero.test.ts
  test/abilities/protean.test.ts
Labels: Refactor, P2 Bug

#6089 [UI/UX] HEADER_LABEL TextStyle Fix
  src/ui/text.ts
Labels: UI/UX

#6097 [Balance] 1.10 Passive, Egg Move, and Starter Cost Changes
  src/data/balance/egg-moves.ts
  src/data/balance/passives.ts
  src/data/balance/starters.ts
Labels: Game Balance, Balance Team

#6054 [Dev] Move Fixed Battle Configs to own file
  src/@types/trainer-funcs.ts
  src/battle.ts
  src/data/mystery-encounters/encounters/bug-type-superfan-encounter.ts
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-challengers-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/data/trainers/fixed-battle-configs.ts
  src/data/trainers/trainer-config.ts
  src/data/trainers/trainer-party-template.ts
  src/field/trainer.ts
  src/game-mode.ts
  test/mystery-encounter/encounters/mysterious-challengers-encounter.test.ts
Labels: Development

#6102 [Dev] Move typedoc settings to `typedoc.json` and add `tsdoc.json`
  tsconfig.json
  tsdoc.json
  typedoc.json
Labels: Development

#6084 [Balance] Encounter condition adjustments for Legendaries and Random Trainers
  src/data/balance/biomes.ts
  src/data/balance/pokemon-evolutions.ts
  src/field/arena.ts
  src/game-mode.ts
Labels: Game Balance, Balance Team

#6099 [Bug] Fix return in applyChosenModifier; prevent race condition in modifier-ui-handler
  src/phases/select-modifier-phase.ts
  src/ui/modifier-select-ui-handler.ts
Labels: P0 Bug

#6107 [Dev] Fix `if` statement in beta deploy script
  .github/workflows/deploy-beta.yml
Labels: Development

#6104 [UI/UX] Baton shows on top, De/Activate form shows on bottom
  src/ui/party-ui-handler.ts
Labels: UI/UX

#6053 [i18n] `Pokemon#getOpponentDescriptor` no longer returns a pokemon name
  src/data/arena-tag.ts
  src/field/pokemon.ts
Labels: Move, Localization, P3 Bug

#6118 [Art][Sprite] Improve Plains Background, add Biome Props
  CREDITS.md
  public/images/arenas/plains_b_1.png
  public/images/arenas/plains_b_2.png
  public/images/arenas/plains_b_3.png
  public/images/arenas/plains_bg.png
  src/field/arena.ts
Labels: Sprite/Animation

#6103 [Dev] Add support for manually rolling polyfills. Add polyfill for `promise.withResolvers`
  src/main.ts
  src/polyfills.ts
  tsconfig.json
Labels: Development

#6120 [UI/UX] [Localization] Optimized type/status icons + new translations
  public/images/statuses.png
  public/images/statuses_ca.png
  public/images/statuses_da.png
  public/images/statuses_de.png
  public/images/statuses_es-ES.png
  public/images/statuses_es-MX.png
  public/images/statuses_fr.png
  public/images/statuses_it.png
  public/images/statuses_ja.png
  public/images/statuses_ko.png
  public/images/statuses_pt-BR.png
  public/images/statuses_ro.png
  public/images/statuses_ru.png
  public/images/statuses_tr.png
  public/images/statuses_zh-CN.png
  public/images/statuses_zh-TW.png
  public/images/types.png
  public/images/types_ca.png
  public/images/types_da.png
  public/images/types_de.png
  public/images/types_es-ES.png
  public/images/types_es-MX.png
  public/images/types_fr.png
  public/images/types_it.png
  public/images/types_ja.png
  public/images/types_ko.png
  public/images/types_pt-BR.png
  public/images/types_ro.png
  public/images/types_ru.png
  public/images/types_tr.png
  public/images/types_zh-CN.png
  public/images/types_zh-TW.png
Labels: Localization, UI/UX

#6122 [Balance] Add faint trigger to various form changes
  src/data/abilities/ability.ts
  test/abilities/disguise.test.ts
Labels: Game Balance

#6108 [Test] Removed unnecessary calls to `PhaseInterceptor.to("CommandPhase")`
  test/abilities/commander.test.ts
  test/abilities/costar.test.ts
  test/abilities/pastel_veil.test.ts
  test/abilities/sand_veil.test.ts
  test/abilities/sweet_veil.test.ts
  test/final_boss.test.ts
  test/moves/aromatherapy.test.ts
  test/moves/assist.test.ts
  test/moves/crafty_shield.test.ts
  test/moves/freezy_frost.test.ts
  test/moves/heal_bell.test.ts
  test/moves/lunar_blessing.test.ts
  test/moves/lunar_dance.test.ts
  test/moves/magnet_rise.test.ts
  test/moves/mat_block.test.ts
  test/moves/metronome.test.ts
  test/moves/rollout.test.ts
  test/moves/sparkly_swirl.test.ts
  test/moves/stockpile.test.ts
  test/moves/wide_guard.test.ts
  test/mystery-encounter/encounters/fun-and-games-encounter.test.ts
  test/mystery-encounter/encounters/the-winstrate-challenge-encounter.test.ts
  test/testUtils/gameManager.ts
Labels: Tests

#5745 [Misc/Docs] Assorted code cleanups + doc updates
  src/battle-scene.ts
  src/data/abilities/ability.ts
  src/data/abilities/apply-ab-attrs.ts
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/data/moves/pokemon-move.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/enums/MoveFlags.ts
  src/enums/battle-style.ts
  src/enums/battler-index.ts
  src/enums/exp-gains-speed.ts
  src/enums/exp-notification.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/phase-manager.ts
  src/phases/command-phase.ts
  src/phases/select-starter-phase.ts
  src/phases/title-phase.ts
  src/system/game-data.ts
Labels: Documentation, P2 Bug

#6110 [Bug][Refactor] Fix loading arena tags
  src/@types/arena-tags.ts
  src/@types/type-helpers.ts
  src/data/arena-tag.ts
  src/data/terrain.ts
  src/data/weather.ts
  src/enums/arena-tag-type.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/system/arena-data.ts
  src/system/game-data.ts
Labels: Refactor, P2 Bug

#6128 [Bug] Appropriately load future sight / doom desire when target index was player
  src/data/arena-tag.ts
Labels: P2 Bug

#6131 [Dev] test:silent now passes --silent='passed-only' to Vitest
  .github/workflows/test-shard-template.yml
  package.json
Labels: Development

#6134 [Dev] Remove `sanitizeOverrides`, consolidate initialization code into 1 file
  src/data/balance/biomes.ts
  src/init/init.ts
  src/loading-scene.ts
  test/test-utils/game-manager.ts
  test/test-utils/helpers/overrides-helper.ts
  test/test-utils/test-file-initialization.ts
  test/vitest.setup.ts
  vitest.config.ts
Labels: Development

#4989 [Misc] Sinistea and Poltchageist line alt forms now available
  src/battle-scene.ts
  src/data/pokemon-species.ts
Labels: Miscellaneous

#6121 [UI/UX] [Bug] Fix modifier-select-phase animation delay
  src/ui/modifier-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#5915 [Test] `MoveHelper#changeMoveset` disables moveset overrides
  test/moves/assist.test.ts
  test/test-utils/helpers/move-helper.ts
Labels: Tests

#6127 [Refactor] Minor cleanup of `initExpKeys`
  src/battle-scene.ts
Labels: Refactor

#6139 [UI/UX] Replace 'Neutral' in the Arena Flyout with 'Field'
  src/ui/arena-flyout.ts
Labels: UI/UX

#6147 [Dev] Added typedoc deployments for Beta
  .github/workflows/github-pages.yml
Labels: Documentation, Development

#6140 [Refactor][Bug] Illusion no longer overwrites data of original Pokemon
  src/@types/illusion-data.ts
  src/data/abilities/ability.ts
  src/field/pokemon.ts
  src/phases/evolution-phase.ts
  src/system/pokemon-data.ts
  src/ui/party-ui-handler.ts
  src/ui/summary-ui-handler.ts
  test/abilities/illusion.test.ts
Labels: Ability, Refactor, P3 Bug

#6105 [UI/UX] Added "Hide Username" Setting
  src/battle-scene.ts
  src/system/settings/settings.ts
  src/ui/summary-ui-handler.ts
Labels: UI/UX

#6154 [Beta] [Bug] Fix shiny display issues
  src/field/pokemon.ts
Labels: P3 Bug, Beta

#6145 [Refactor] Prevent serialization of entire species form in pokemon summon data
  src/@types/type-helpers.ts
  src/data/pokemon/pokemon-data.ts
Labels: Refactor

#6160 [Dev] Change `target` to `ES2023` in `tsconfig.json`
  src/field/pokemon.ts
  src/field/trainer.ts
  src/modifier/modifier.ts
  tsconfig.json
Labels: Development

#5873 [Refactor] Refactor command phase
  src/phases/command-phase.ts
Labels: Refactor

#6162 [Balance][Challenge] Added expanded Fresh Start options
  src/data/challenge.ts
  src/system/achv.ts
Labels: Enhancement, Challenges

#6158 [Test] Add support for custom boilerplates to `create-test.js`
  scripts/create-test/boilerplates/default.ts
  scripts/create-test/create-test.js
Labels: Tests, Development

#6163 [Dev] Update Vite from 6.3.5 to 7.0.6
  package.json
  pnpm-lock.yaml
Labels: Dependencies, Development

#6129 [Refactor] Minor refactor of battler tags
  src/@types/battler-tags.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/data/pokemon/pokemon-data.ts
  src/enums/battler-tag-type.ts
Labels: Refactor, Blocker

#6169 [Balance] End of turn triggers won't occur when you end a biome
  src/phase-manager.ts
  src/phases/check-interlude-phase.ts
  src/phases/turn-end-phase.ts
  src/phases/turn-start-phase.ts
  test/phases/check-biome-end-phase.test.ts
Labels: Game Balance

#6123 [Dev] Moved type helpers to separate directory; renamed `EnumValues` to `ObjectValues`
  src/@types/arena-tags.ts
  src/@types/helpers/enum-types.ts
  src/@types/helpers/type-helpers.ts
  src/@types/modifier-types.ts
  src/@types/phase-types.ts
  src/enums/ability-attr.ts
  src/enums/dex-attr.ts
  src/enums/gacha-types.ts
  src/enums/hit-check-result.ts
  src/utils/enums.ts
  test/types/enum-types.test-d.ts
  tsconfig.json
Labels: Development

#6180 [Misc] Improve type signatures of serialized arena/battler tags
  src/@types/arena-tags.ts
  src/@types/battler-tags.ts
  src/data/arena-tag.ts
  src/data/battler-tags.ts
Labels: Miscellaneous

#6179 [Balance] Updated SF/Triage interactions for moves
  src/data/moves/move.ts
  src/enums/move-flags.ts
  test/moves/order-up.test.ts
Labels: Game Balance

#5985 [UI/UX] Implement Discard Button
  public/images/ui/legacy/party_bg_double_manage.png
  public/images/ui/legacy/party_discard.json
  public/images/ui/legacy/party_discard.png
  public/images/ui/legacy/party_transfer.json
  public/images/ui/legacy/party_transfer.png
  public/images/ui/party_bg_double_manage.png
  public/images/ui/party_discard.json
  public/images/ui/party_discard.png
  public/images/ui/party_transfer.json
  public/images/ui/party_transfer.png
  src/battle-scene.ts
  src/loading-scene.ts
  src/ui/modifier-select-ui-handler.ts
  src/ui/party-ui-handler.ts
  test/ui/item-manage-button.test.ts
Labels: Enhancement, UI/UX

#6171 [Bug] Fix Truant behavior
  src/data/battler-tags.ts
  test/abilities/truant.test.ts
Labels: Ability, P2 Bug
