Repository pagefaultgames/pokerogue, pull requests merged in 2025-02, with the labels that each got.

#5220 [Bug] Fix #5211 gender override would not activate for Male
  src/field/pokemon.ts
Labels: P2 Bug

#5235 [Balance] Removing Pain Split from boss move pool
  src/field/pokemon.ts
Labels: Game Balance

#5139 [UI/UX] Moving the "Run History" option to title phase
  src/phases/title-phase.ts
  src/ui/menu-ui-handler.ts
Labels: UI/UX

#5224 [Enhancement] Add Kukui and Mustard as Champions and Colress as an admin.
  public/audio/bgm/battle_champion_kukui.mp3
  public/audio/bgm/battle_colress.mp3
  public/audio/bgm/battle_mustard.mp3
  public/images/trainer/kukui.json
  public/images/trainer/kukui.png
  public/images/trainer/mustard.json
  public/images/trainer/mustard.png
  src/battle-scene.ts
  src/battle.ts
  src/data/challenge.ts
  src/data/dialogue.ts
  src/data/trainer-config.ts
  src/enums/trainer-type.ts
Labels: Enhancement, Game Balance, Balance Team

#5237 [Misc] Add `update-locales:remote` command to `package.json`
  package.json
Labels: Miscellaneous

#5229 [Bug][Refactor] Custom types from MEs are correctly applied on form changes
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/field/pokemon.ts
  src/test/field/pokemon.test.ts
  src/test/mystery-encounter/encounters/clowning-around-encounter.test.ts
Labels: Refactor, Mystery Encounter, P2 Bug

#5234 [Bug][Mystery] Force Clowning Around Blacephalon to roll two different types
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
Labels: Mystery Encounter, P2 Bug

#5238 [Audio] Update Team Plasma battle theme to B2W2 version
  public/audio/bgm/battle_plasma_grunt.mp3
  src/battle-scene.ts
Labels: Audio

#5241 [BUG] Ensuring proper .getTypes() behavior with secondary Normal type
  src/field/pokemon.ts
  src/test/field/pokemon.test.ts
  src/test/moves/effectiveness.test.ts
Labels: P2 Bug

#5246 [Misc] add .editorconfig
  .editorconfig
Labels: Miscellaneous

#5223 [Misc] New data structures for pokedex
  src/data/balance/biomes.ts
  src/data/balance/passives.ts
  src/data/balance/tms.ts
Labels: Miscellaneous

#5245 [Ability] Fix good as gold
  src/data/ability.ts
  src/test/abilities/good_as_gold.test.ts
Labels: Ability

#5256 [Misc] Prevent auto-imports from appending `.js` to imports
  package.json
  src/data/move.ts
  tsconfig.json
Labels: Miscellaneous

#4738 [Bug] Silvally/Arceus should not change form without its ability
  src/data/pokemon-forms.ts
Labels: Ability, P2 Bug

#5173 [Bug] Update Biome text after using Teleporting Hijinks
  src/data/mystery-encounters/encounters/teleporting-hijinks-encounter.ts
Labels: P3 Bug

#5191 [Refactor] `Pokemon.leaveField()` (fixes epic weather abilities)
  src/data/ability.ts
  src/data/mystery-encounters/encounters/dancing-lessons-encounter.ts
  src/data/mystery-encounters/encounters/fun-and-games-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/field/pokemon.ts
  src/overrides.ts
  src/phases/attempt-capture-phase.ts
  src/phases/faint-phase.ts
  src/phases/switch-summon-phase.ts
  src/test/abilities/desolate-land.test.ts
  src/test/moves/instruct.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/helpers/overridesHelper.ts
Labels: Ability, Refactor, P2 Bug

#5263 [Hotfix] Adding warning message for the maintenance
  package-lock.json
  package.json
  src/ui/title-ui-handler.ts
Labels: Miscellaneous

#5269 [Bug] [Balance] Fix Bouncy Bubble being a spread move, revert back to 100% drain effect
  src/data/move.ts
Labels: Game Balance, P2 Bug

#5268 [UX/UI] Update emerald font for zero (again)
  public/fonts/pokemon-emerald-pro.ttf
Labels: UI/UX

#5266 [Move] [Bug] Fix super-niche edgecase with mega gengar and telekinesis
  src/data/battler-tags.ts
  src/field/pokemon.ts
  src/test/moves/telekinesis.test.ts
Labels: Move, P2 Bug

#5273 [UI/UX] Moving Daily Run option
  src/phases/title-phase.ts
  src/ui/title-ui-handler.ts
Labels: UI/UX

#5274 [Balance] February 2025 Starter Balance Changes
  src/data/balance/egg-moves.ts
  src/data/balance/passives.ts
  src/data/balance/starters.ts
Labels: Game Balance, Balance Team

#5270 [Misc] Add .nvmrc
  .nvmrc
Labels: Miscellaneous

#5240 [Balance] Update base exp values to gen 9
  src/data/pokemon-species.ts
Labels: Game Balance

#5083 [UI/UX] Internal pokedex
  public/images/ui/legacy/mystery_egg.png
  public/images/ui/legacy/normal_memory.png
  public/images/ui/legacy/pokedex_summary_bg.png
  public/images/ui/mystery_egg.png
  public/images/ui/normal_memory.png
  public/images/ui/pokedex_summary_bg.png
  src/battle-scene.ts
  src/data/balance/pokemon-evolutions.ts
  src/data/pokemon-forms.ts
  src/data/pokemon-species.ts
  src/loading-scene.ts
  src/plugins/i18n.ts
  src/system/settings/settings.ts
  src/test/evolution.test.ts
  src/tutorial.ts
  src/ui-inputs.ts
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/base-stats-overlay.ts
  src/ui/dropdown.ts
  src/ui/filter-bar.ts
  src/ui/filter-text.ts
  src/ui/menu-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/pokedex-info-overlay.ts
  src/ui/pokedex-mon-container.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-scan-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/text.ts
  src/ui/ui.ts
Labels: Enhancement, UI/UX

#5280 Main (1.5.4) -> Beta
  package-lock.json
  package.json
Labels: Miscellaneous

#4723 [Bug] Fix Fell Stinger giving boost when enemy dies to another source
  src/phases/faint-phase.ts
  src/test/moves/fell_stinger.test.ts
Labels: Move, P2 Bug

#5281 [Test] Update sprite test to give more useful error messages
  src/test/sprites/pokemonSprite.test.ts
Labels: Tests

#4769 [Ability] Implement Mirror Armor
  src/battle.ts
  src/data/ability.ts
  src/data/arena-tag.ts
  src/phases/move-effect-phase.ts
  src/phases/show-ability-phase.ts
  src/phases/stat-stage-change-phase.ts
  src/test/abilities/mirror_armor.test.ts
Labels: Enhancement, Ability

#5172 [UI/UX] Show IVs on stats page of summary
  src/ui/summary-ui-handler.ts
Labels: Enhancement, UI/UX

#5228 [Test] Add eslint rule enforcing proper `await` usage in tests
  eslint.config.js
  src/test/abilities/shield_dust.test.ts
  src/test/abilities/unseen_fist.test.ts
  src/test/data/status_effect.test.ts
  src/test/evolution.test.ts
  src/test/items/light_ball.test.ts
  src/test/items/metal_powder.test.ts
  src/test/items/quick_powder.test.ts
  src/test/items/thick_club.test.ts
  src/test/moves/dragon_rage.test.ts
  src/test/moves/fissure.test.ts
  src/test/moves/toxic_spikes.test.ts
  src/test/mystery-encounter/mystery-encounter-utils.test.ts
  src/test/ui/transfer-item.test.ts
Labels: Tests

#5291 Reapply [UI/UX] Show IVs on stats page of summary (#5172)
  src/ui/summary-ui-handler.ts
Labels: UI/UX

#5244 [Misc] Add data for theoretical Valentine's event
  public/images/events/valentines2025event-de.png
  public/images/events/valentines2025event-en.png
  public/images/events/valentines2025event-es-ES.png
  public/images/events/valentines2025event-fr.png
  public/images/events/valentines2025event-it.png
  public/images/events/valentines2025event-ja.png
  public/images/events/valentines2025event-ko.png
  public/images/events/valentines2025event-pt-BR.png
  public/images/events/valentines2025event-zh-CN.png
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/field/pokemon.ts
  src/loading-scene.ts
  src/modifier/modifier-type.ts
  src/timed-event-manager.ts
Labels: Event

#5187 [Bug] Fix Fun and Games playing move animations even if off
  src/data/mystery-encounters/encounters/fun-and-games-encounter.ts
Labels: Mystery Encounter, P3 Bug

#5254 [Ability] Ignore Held Items for Stat Calculation
  src/data/battler-tags.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/test/abilities/protosynthesis.test.ts
  src/test/moves/tera_blast.test.ts
Labels: Ability, P2 Bug

#5042 [Sprite] Index Zangoose sprites
  public/images/pokemon/335.json
  public/images/pokemon/335.png
  public/images/pokemon/shiny/335.json
  public/images/pokemon/shiny/335.png
Labels: Sprite/Animation

#5292 [Sprite] Fix Greninja floating static backsprite
  public/images/pokemon/back/658.json
  public/images/pokemon/back/658.png
  public/images/pokemon/back/shiny/658.json
  public/images/pokemon/back/shiny/658.png
Labels: Sprite/Animation

#5200 [Ability][Move] Last Respects Refactor and Full Implementation
  src/battle-scene.ts
  src/battle.ts
  src/data/ability.ts
  src/data/move.ts
  src/field/arena.ts
  src/phases/faint-phase.ts
  src/phases/game-over-phase.ts
  src/system/game-data.ts
  src/test/abilities/supreme_overlord.test.ts
  src/test/moves/last_respects.test.ts
Labels: Move, Ability, P2 Bug

#5297 [Test] Fix Tera Blast test
  src/test/moves/tera_blast.test.ts
Labels: Tests

#5282 [UI/UX] Pokedex updates batch
  src/ui/abstact-option-select-ui-handler.ts
  src/ui/pokedex-mon-container.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P1 Bug, P2 Bug, P3 Bug

#5225 [Ability] [Move] Implement Magic Bounce and Magic Coat
  src/battle-scene.ts
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/enums/battler-tag-type.ts
  src/phases/move-effect-phase.ts
  src/phases/move-phase.ts
  src/test/abilities/magic_bounce.test.ts
  src/test/moves/magic_coat.test.ts
Labels: Move, Ability

#5294 [Refactor] Add support for showing separate species form names
  src/data/pokemon-species.ts
  src/phases/egg-hatch-phase.ts
  src/phases/evolution-phase.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokemon-info-container.ts
  src/ui/starter-select-ui-handler.ts
Labels: Refactor

#5296 [Balance] Item Table Removals and increased Wide Lens Frequency
  src/modifier/modifier-type.ts
Labels: Item, Game Balance, Balance Team

#5260 [Sprite] Update Litleo/Pyroar exp sprites, enable female exp sprites
  public/exp-sprites.json
  public/images/pokemon/back/668-female.json
  public/images/pokemon/back/668-female.png
  public/images/pokemon/back/shiny/668-female.json
  public/images/pokemon/back/shiny/668-female.png
  public/images/pokemon/exp/667.json
  public/images/pokemon/exp/667.png
  public/images/pokemon/exp/668.json
  public/images/pokemon/exp/668.png
  public/images/pokemon/exp/back/667.json
  public/images/pokemon/exp/back/667.png
  public/images/pokemon/exp/back/668.json
  public/images/pokemon/exp/back/668.png
  public/images/pokemon/exp/back/female/6215.json
  public/images/pokemon/exp/back/female/6215.png
  public/images/pokemon/exp/back/female/668.json
  public/images/pokemon/exp/back/female/668.png
  public/images/pokemon/exp/back/shiny/667.json
  public/images/pokemon/exp/back/shiny/667.png
  public/images/pokemon/exp/back/shiny/668.json
  public/images/pokemon/exp/back/shiny/668.png
  public/images/pokemon/exp/back/shiny/female/6215.json
  public/images/pokemon/exp/back/shiny/female/6215.png
  public/images/pokemon/exp/back/shiny/female/668.json
  public/images/pokemon/exp/back/shiny/female/668.png
  public/images/pokemon/exp/female/6215.json
  public/images/pokemon/exp/female/6215.png
  public/images/pokemon/exp/female/668.json
  public/images/pokemon/exp/female/668.png
  public/images/pokemon/exp/shiny/667.json
  public/images/pokemon/exp/shiny/667.png
  public/images/pokemon/exp/shiny/668.json
  public/images/pokemon/exp/shiny/668.png
  public/images/pokemon/exp/shiny/female/6215.json
  public/images/pokemon/exp/shiny/female/6215.png
  public/images/pokemon/exp/shiny/female/668.json
  public/images/pokemon/exp/shiny/female/668.png
  public/images/pokemon/shiny/668-female.json
  public/images/pokemon/shiny/668-female.png
  public/images/pokemon/shiny/668.png
  public/images/pokemon/shiny/female/668.png
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/exp/back/female/6215.json
  public/images/pokemon/variant/exp/female/6215.json
  src/test/sprites/pokemonSprite.test.ts
Labels: Sprite/Animation

#5299 [Balance] Change IV Scanner to single stack
  src/data/mystery-encounters/encounters/safari-zone-encounter.ts
  src/modifier/modifier.ts
  src/phases/encounter-phase.ts
  src/phases/mystery-encounter-phases.ts
  src/phases/scan-ivs-phase.ts
  src/ui/battle-message-ui-handler.ts
Labels: Item, Game Balance, Balance Team

#5293 [Sprite] Fix Stunfisk variant backs to use shader
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/618.json
  public/images/pokemon/variant/back/618_2.json
  public/images/pokemon/variant/back/618_2.png
  public/images/pokemon/variant/back/618_3.json
  public/images/pokemon/variant/back/618_3.png
Labels: Sprite/Animation

#5300 [UI/UX] Show form name on main screen in dex
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX

#5302 [UI/UX] Fix showing form names and types
  src/data/pokemon-species.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX

#5307 [Bug][UI/UX] Dex bug fixes 12 feb
  index.css
  src/data/pokemon-species.ts
  src/ui/filter-text.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-scan-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX, P0 Bug, P1 Bug, P2 Bug, P3 Bug

#5310 [UI/UX] Valentine 2025 Event Banners
  public/images/events/valentines2025event-de.png
  public/images/events/valentines2025event-en.png
  public/images/events/valentines2025event-es-ES.png
  public/images/events/valentines2025event-fr.png
  public/images/events/valentines2025event-it.png
  public/images/events/valentines2025event-ja.png
  public/images/events/valentines2025event-ko.png
  public/images/events/valentines2025event-pt-BR.png
  public/images/events/valentines2025event-zh-CN.png
Labels: UI/UX, Event

#5303 [Misc][Balance] Organizing Evil Teams
  src/data/trainer-config.ts
Labels: Game Balance, Miscellaneous, Balance Team

#5315 [Ability][Bug] Remove `partial` designation from Quark Drive and Protosynthesis
  src/data/ability.ts
Labels: Ability, P3 Bug

#5319 [Bug][Hotfix] Display caught forms in dex as intended
  package-lock.json
  package.json
  src/data/pokemon-species.ts
Labels: P2 Bug

#5320 [Bug][Hotfix] Show caught pokemon correctly
  package-lock.json
  package.json
  src/data/pokemon-species.ts
Labels: P2 Bug

#5322 [Bug][Hotfix] Fix fusion with dual type + monotype with shared primary type.
  package-lock.json
  package.json
  src/field/pokemon.ts
  src/test/field/pokemon.test.ts
Labels: P2 Bug

#5328 [QOL] Make the name and formName readable for bigger sprites in pokedex
  src/ui/pokedex-ui-handler.ts
Labels: Miscellaneous, UI/UX

#5301 [Sprite] Fix Zenith Marshadow missing a party icon
  public/images/pokemon/icons/7/802-zenith.png
  public/images/pokemon/icons/7/802s-zenith.png
  public/images/pokemon_icons_7.json
  public/images/pokemon_icons_7.png
Labels: Sprite/Animation, P3 Bug

#5316 [Bug][UI/UX] Setting proper labels in cost reduction dropdown filter
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX, P3 Bug

#5309 [Refactor] Remove outdated Victini check for monogen challenge
  src/data/challenge.ts
Labels: Miscellaneous, Refactor

#5091 Fix [BUG] #5081 Wrong visual text when using priority moves on Psychic Terrain
  src/phases/move-phase.ts
Labels: P3 Bug

#5233 [Feature]Tera rework
  public/battle-anims/common-terastallize.json
  public/images/battle_anims/terastallize.png
  public/images/ui/button_tera.json
  public/images/ui/button_tera.png
  public/images/ui/legacy/button_tera.json
  public/images/ui/legacy/button_tera.png
  src/battle-scene.ts
  src/battle.ts
  src/data/ability.ts
  src/data/battle-anims.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/data/mystery-encounters/utils/encounter-transformation-sequence.ts
  src/data/pokemon-forms.ts
  src/data/trainer-config.ts
  src/field/arena.ts
  src/field/pokemon-sprite-sparkle-handler.ts
  src/field/pokemon.ts
  src/field/trainer.ts
  src/loading-scene.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/phases/command-phase.ts
  src/phases/enemy-command-phase.ts
  src/phases/evolution-phase.ts
  src/phases/faint-phase.ts
  src/phases/move-effect-phase.ts
  src/phases/party-heal-phase.ts
  src/phases/quiet-form-change-phase.ts
  src/phases/tera-phase.ts
  src/phases/turn-start-phase.ts
  src/pipelines/sprite.ts
  src/system/arena-data.ts
  src/system/game-data.ts
  src/system/pokemon-data.ts
  src/system/version_migration/version_converter.ts
  src/system/version_migration/versions/v1_7_0.ts
  src/test/abilities/libero.test.ts
  src/test/abilities/protean.test.ts
  src/test/moves/effectiveness.test.ts
  src/test/moves/freeze_dry.test.ts
  src/test/moves/tar_shot.test.ts
  src/test/moves/tera_blast.test.ts
  src/test/moves/tera_starstorm.test.ts
  src/ui/battle-info.ts
  src/ui/command-ui-handler.ts
  src/ui/fight-ui-handler.ts
  src/ui/run-info-ui-handler.ts
  src/ui/summary-ui-handler.ts
Labels: Enhancement, Refactor

#5350 [Refactor] Replace integer holder with number holder
  src/battle-scene.ts
  src/battle.ts
  src/data/ability.ts
  src/data/challenge.ts
  src/data/move.ts
  src/data/mystery-encounters/encounters/safari-zone-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/field/pokemon.ts
  src/modifier/modifier-type.ts
  src/phases/money-reward-phase.ts
  src/phases/pokemon-heal-phase.ts
  src/phases/select-modifier-phase.ts
  src/test/achievements/achievement.test.ts
  src/ui/modifier-select-ui-handler.ts
  src/utils.ts
Labels: Refactor

#5354 Update version number for beta
  package-lock.json
  package.json
  src/system/version_migration/version_converter.ts
Labels: Miscellaneous

#5353 [Balance] Guarantee Tera Orb as a reward from Rival 4, Remove it from Classic Item Pool
  src/data/trainer-config.ts
  src/modifier/modifier-type.ts
Labels: Item, Balance Team

#5356 [UX/UI] Update Starter Select Screen Spanish text size
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#5349 [Localization] Move Touch controls Localization
  src/ui/settings/move-touch-controls-handler.ts
Labels: Localization

#5339 [Bug] Changes Daily Run item stack full message to a delay
  src/battle-scene.ts
Labels: P1 Bug

#5363 [Sprite] Fix random translucent red pixel on Poochyena front sprite
  public/images/pokemon/261.png
  public/images/pokemon/shiny/261.png
Labels: Sprite/Animation

#5314 [Sprite] Exp change batch 2.2
  public/images/pokemon/exp/651.json
  public/images/pokemon/exp/651.png
  public/images/pokemon/exp/661.json
  public/images/pokemon/exp/661.png
  public/images/pokemon/exp/662.json
  public/images/pokemon/exp/662.png
  public/images/pokemon/exp/672.json
  public/images/pokemon/exp/672.png
  public/images/pokemon/exp/back/651.json
  public/images/pokemon/exp/back/651.png
  public/images/pokemon/exp/back/661.json
  public/images/pokemon/exp/back/661.png
  public/images/pokemon/exp/back/662.json
  public/images/pokemon/exp/back/662.png
  public/images/pokemon/exp/back/672.json
  public/images/pokemon/exp/back/672.png
  public/images/pokemon/exp/back/shiny/651.json
  public/images/pokemon/exp/back/shiny/651.png
  public/images/pokemon/exp/back/shiny/661.json
  public/images/pokemon/exp/back/shiny/661.png
  public/images/pokemon/exp/back/shiny/662.json
  public/images/pokemon/exp/back/shiny/662.png
  public/images/pokemon/exp/back/shiny/672.json
  public/images/pokemon/exp/back/shiny/672.png
  public/images/pokemon/exp/shiny/651.json
  public/images/pokemon/exp/shiny/651.png
  public/images/pokemon/exp/shiny/661.json
  public/images/pokemon/exp/shiny/661.png
  public/images/pokemon/exp/shiny/662.json
  public/images/pokemon/exp/shiny/662.png
  public/images/pokemon/exp/shiny/672.json
  public/images/pokemon/exp/shiny/672.png
Labels: Sprite/Animation

#5342 [Sprite] Fix Impidimp front, Arctozolt back variants
  public/images/pokemon/back/881.png
  public/images/pokemon/back/shiny/881.png
  public/images/pokemon/variant/859.json
  public/images/pokemon/variant/859_2.json
  public/images/pokemon/variant/859_2.png
  public/images/pokemon/variant/859_3.json
  public/images/pokemon/variant/859_3.png
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/881.json
  public/images/pokemon/variant/back/881_2.json
  public/images/pokemon/variant/back/881_2.png
  public/images/pokemon/variant/back/881_3.json
  public/images/pokemon/variant/back/881_3.png
Labels: Sprite/Animation, P3 Bug

#5338 [Sprite]Dusknoir sprite fix and base sprite fix
  public/images/pokemon/477.png
  public/images/pokemon/back/477.png
  public/images/pokemon/back/shiny/477.png
Labels: Sprite/Animation

#5231 [Sprite][Exp First batch of exp change
  public/images/pokemon/exp/696.json
  public/images/pokemon/exp/696.png
  public/images/pokemon/exp/697.json
  public/images/pokemon/exp/697.png
  public/images/pokemon/exp/700.json
  public/images/pokemon/exp/700.png
  public/images/pokemon/exp/702.json
  public/images/pokemon/exp/702.png
  public/images/pokemon/exp/712.json
  public/images/pokemon/exp/712.png
  public/images/pokemon/exp/713.json
  public/images/pokemon/exp/713.png
  public/images/pokemon/exp/back/697.json
  public/images/pokemon/exp/back/697.png
  public/images/pokemon/exp/back/700.json
  public/images/pokemon/exp/back/700.png
  public/images/pokemon/exp/back/702.json
  public/images/pokemon/exp/back/702.png
  public/images/pokemon/exp/back/712.json
  public/images/pokemon/exp/back/712.png
  public/images/pokemon/exp/back/713.json
  public/images/pokemon/exp/back/713.png
  public/images/pokemon/exp/back/shiny/697.json
  public/images/pokemon/exp/back/shiny/697.png
  public/images/pokemon/exp/back/shiny/700.json
  public/images/pokemon/exp/back/shiny/700.png
  public/images/pokemon/exp/back/shiny/702.json
  public/images/pokemon/exp/back/shiny/702.png
  public/images/pokemon/exp/back/shiny/712.json
  public/images/pokemon/exp/back/shiny/712.png
  public/images/pokemon/exp/back/shiny/713.json
  public/images/pokemon/exp/back/shiny/713.png
  public/images/pokemon/exp/shiny/696.json
  public/images/pokemon/exp/shiny/696.png
  public/images/pokemon/exp/shiny/697.json
  public/images/pokemon/exp/shiny/697.png
  public/images/pokemon/exp/shiny/700.json
  public/images/pokemon/exp/shiny/700.png
  public/images/pokemon/exp/shiny/702.json
  public/images/pokemon/exp/shiny/702.png
  public/images/pokemon/exp/shiny/712.json
  public/images/pokemon/exp/shiny/712.png
  public/images/pokemon/exp/shiny/713.json
  public/images/pokemon/exp/shiny/713.png
  public/images/pokemon/variant/exp/696.json
  public/images/pokemon/variant/exp/697.json
  public/images/pokemon/variant/exp/700.json
  public/images/pokemon/variant/exp/702.json
  public/images/pokemon/variant/exp/713.json
  public/images/pokemon/variant/exp/back/697.json
  public/images/pokemon/variant/exp/back/700.json
  public/images/pokemon/variant/exp/back/702.json
  public/images/pokemon/variant/exp/back/713.json
Labels: Sprite/Animation

#5321 [Move] Make Disable disable most recent move instead of oldest move
  src/data/battler-tags.ts
  src/data/move.ts
  src/test/moves/disable.test.ts
Labels: Move, P2 Bug

#5369 [Test] Disable broken Wimp Out test
  src/test/abilities/wimp_out.test.ts
Labels: Tests

#5146 [Bug] Fix moves/abilities which modify abilities
  src/data/ability.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/test/abilities/imposter.test.ts
  src/test/abilities/mummy.test.ts
  src/test/abilities/trace.test.ts
  src/test/abilities/wandering_spirit.test.ts
  src/test/battle/ability_swap.test.ts
  src/test/moves/doodle.test.ts
  src/test/moves/entrainment.test.ts
  src/test/moves/role_play.test.ts
  src/test/moves/simple_beam.test.ts
  src/test/moves/skill_swap.test.ts
  src/test/moves/transform.test.ts
Labels: Move, P2 Bug

#5380 [Bug/Item] Fix Flame Orb Weight Function
  src/modifier/modifier-type.ts
Labels: Item, P2 Bug

#5049 [Move] Implement Quash
  src/data/move.ts
  src/phases/move-phase.ts
  src/test/moves/quash.test.ts
Labels: Move

#5361 [UX/UI] [Localization] Summary removed Lv and ID No. as image texts
  public/images/ui/legacy/summary_bg.png
  public/images/ui/legacy/summary_profile.png
  public/images/ui/summary_bg.png
  public/images/ui/summary_profile.png
  src/ui/summary-ui-handler.ts
Labels: Localization, UI/UX

#5366 [UI] Allow tera type choice on starter select
  index.css
  index.html
  src/configs/inputs/cfg_keyboard_qwerty.ts
  src/configs/inputs/pad_dualshock.ts
  src/configs/inputs/pad_generic.ts
  src/configs/inputs/pad_procon.ts
  src/configs/inputs/pad_unlicensedSNES.ts
  src/configs/inputs/pad_xbox360.ts
  src/data/challenge.ts
  src/enums/buttons.ts
  src/phases/select-starter-phase.ts
  src/system/game-data.ts
  src/system/settings/settings-gamepad.ts
  src/system/settings/settings-keyboard.ts
  src/test/settingMenu/rebinding_setting.test.ts
  src/test/utils/fakeMobile.html
  src/ui-inputs.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement, UI/UX

#5383 [Balance] Make stat a much larger factor in moveset gen
  src/field/pokemon.ts
Labels: Game Balance

#5347 [Bug] Fix endless tokens allowing attacks to deal 0 damage
  src/data/ability.ts
  src/modifier/modifier.ts
  src/test/battle/damage_calculation.test.ts
Labels: P2 Bug

#5389 [Misc] Update console logging of encounter pokemon on beta/local
  src/phases/encounter-phase.ts
Labels: Miscellaneous

#5388 [UI/UX] Pokédex - Informative messages for level up moves
  src/ui/pokedex-page-ui-handler.ts
Labels: UI/UX

#5391 [Bug][UI] Fix bgm bar
  src/ui/pokedex-page-ui-handler.ts
Labels: UI/UX, P3 Bug

#5376 [UI/UX] Pokédex - Move Pokédex option up the starter select screen menu
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#5283 [Refactor] Remove Promises from moves and abilities
  src/battle-scene.ts
  src/data/ability.ts
  src/data/move.ts
  src/data/mystery-encounters/encounters/the-winstrate-challenge-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/field/pokemon.ts
  src/modifier/modifier.ts
  src/phases/add-enemy-buff-modifier-phase.ts
  src/phases/battle-end-phase.ts
  src/phases/game-over-modifier-reward-phase.ts
  src/phases/load-move-anim-phase.ts
  src/phases/modifier-reward-phase.ts
  src/phases/move-anim-phase.ts
  src/phases/move-charge-phase.ts
  src/phases/move-effect-phase.ts
  src/phases/move-header-phase.ts
  src/phases/pokemon-transform-phase.ts
  src/phases/post-summon-phase.ts
  src/phases/revival-blessing-phase.ts
  src/phases/ribbon-modifier-reward-phase.ts
  src/phases/select-modifier-phase.ts
  src/test/abilities/unburden.test.ts
  src/test/moves/revival_blessing.test.ts
  src/test/mystery-encounter/encounters/clowning-around-encounter.test.ts
  src/test/mystery-encounter/encounters/dancing-lessons-encounter.test.ts
  src/test/mystery-encounter/encounters/delibirdy-encounter.test.ts
  src/test/mystery-encounter/encounters/global-trade-system-encounter.test.ts
  src/test/mystery-encounter/encounters/uncommon-breed-encounter.test.ts
  src/test/utils/gameWrapper.ts
  src/test/utils/phaseInterceptor.ts
Labels: Refactor, Blocker

#5326 [Bug] Giratina no longer loses its' Hidden Ability going from Origin back to Altered Form
  src/data/pokemon-species.ts
Labels: P2 Bug

#5371 [UI/UX] Pokedex - Separate shiny icons
  src/ui/pokedex-page-ui-handler.ts
Labels: UI/UX

#5341 [Bug] [Move] Add focus punch lost focus message
  src/data/ability.ts
  src/data/move.ts
  src/phases/move-phase.ts
  src/test/moves/focus_punch.test.ts
Labels: Move, P3 Bug

#5395 [Misc] Fix bbcode test error
  src/test/utils/gameWrapper.ts
Labels: Miscellaneous

#5396 [UI/UX] Text is grey again in delay confirm option menu
  src/ui/abstact-option-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#5392 [Move] Add flavor text for Splash and Celebrate
  src/data/move.ts
Labels: Move

#5397 [Misc] Update Encounter Phase logging nature display and passive check
  src/phases/encounter-phase.ts
Labels: Miscellaneous

#5370 [Bug] Fix Gym Leaders fought on wave 20 not evolving mons when fought later in the run
  src/data/pokemon-species.ts
  src/data/trainer-config.ts
Labels: P2 Bug

#5405 [Misc] Copy Encounter Phase logging to MEs
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/phases/encounter-phase.ts
Labels: Miscellaneous

#5403 [Test] Fix gameManager import for the test creator
  create-test-boilerplate.js
Labels: Tests, P3 Bug

#5330 [Misc] Added a Daily Run Seed Override to the overrides. Only works locally.
  src/overrides.ts
  src/phases/title-phase.ts
Labels: Miscellaneous

#5401 [Balance] Make dual STABs way more likely
  src/field/pokemon.ts
Labels: Game Balance, Balance Team, AI

#5407 [Move] Add Taunt Removal Message
  src/data/battler-tags.ts
Labels: Move

#5364 [Bug] Fix tera type access
  src/field/pokemon.ts
  src/phases/tera-phase.ts
Labels: P2 Bug, P3 Bug

#5385 [BUG] Base forms are now counted as caught when catching a battle form
  src/system/game-data.ts
  src/ui/pokedex-ui-handler.ts
Labels: P2 Bug

#5377 [UI/UX] Pokédex - Fix candy filter
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX, P3 Bug

#5372 [UI/UX] Pokedex - Page turning takes filters into account
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX

#5387 [UI/UX] Pokédex - Ensure that gender forms loop correctly with either button
  src/ui/pokedex-page-ui-handler.ts
Labels: UI/UX

#5411 [Bug] Maintain evo counter when fusing
  src/field/pokemon.ts
Labels: P2 Bug

#5359 [Ability] Implement Teraform Zero ability
  src/data/ability.ts
  src/phases/quiet-form-change-phase.ts
Labels: Ability

#5415 [UI/UX][Bug] Fixing obsolete reference in Pokédex to filteredPokemonContainers
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX, P1 Bug

#5381 [Bug][Ability] Fix Neutralizing Gas interactions
  src/data/ability.ts
  src/data/arena-tag.ts
  src/data/move.ts
  src/enums/arena-tag-type.ts
  src/field/arena.ts
  src/field/pokemon.ts
  test/abilities/neutralizing_gas.test.ts
Labels: Ability, P2 Bug

#5413 [Bug] Fix canApplyAbility check
  src/data/ability.ts
Labels: Ability, P2 Bug

#5417 [Misc] Revert "[Bug] Fix canApplyAbility check #5413"
  src/data/ability.ts
Labels: Miscellaneous

#5414 [Bug] Fix AI func save/loads.
  src/battle-scene.ts
  src/phases/encounter-phase.ts
Labels: P2 Bug

#5416 [Balance] February 2025 Passive/Egg Move/Cost Changes 2
  src/data/balance/egg-moves.ts
  src/data/balance/passives.ts
  src/data/balance/starters.ts
  test/mystery-encounter/mystery-encounter-utils.test.ts
Labels: Game Balance, Balance Team

#5418 [Bug] Fix canApplyAbility check but for real this time
  src/data/ability.ts
  src/data/arena-tag.ts
  src/field/pokemon.ts
Labels: Ability, P2 Bug

#5404 [UI/UX] Pressing B on filter bar resets filters
  src/ui/dropdown.ts
  src/ui/filter-bar.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#5219 [Bug][Move] Shed Tail now rounds incurred damage up, not down
  src/data/move.ts
  test/moves/shed_tail.test.ts
Labels: Move, P2 Bug

#5419 [UI] Tera type on summary screen
  src/ui/summary-ui-handler.ts
Labels: Enhancement, UI/UX

#5367 [Balance] Paldean Gym Leader, E4, and other Tera-related trainer adjustments
  src/data/trainer-config.ts
  src/field/trainer.ts
Labels: Game Balance, Balance Team

#5421 [Bug][UI] Fix arena flyout
  src/ui-inputs.ts
Labels: UI/UX, P3 Bug

#5423 [Bug] Fix Neutralizing Gas not Deactivating on Faint and Capture
  src/data/ability.ts
  test/abilities/neutralizing_gas.test.ts
Labels: P2 Bug

#5409 [Balance] [Bug] Set trainer mons to forms matching specialty type
  src/battle-scene.ts
Labels: Game Balance, P2 Bug

#5430 [Balance] Adjust Marshadow Starter Cost
  src/data/balance/starters.ts
Labels: Game Balance, Balance Team

#5432 Pokémon Day 2025 Event banners
  public/images/events/pkmnday2025event-de.png
  public/images/events/pkmnday2025event-en.png
  public/images/events/pkmnday2025event-es-ES.png
  public/images/events/pkmnday2025event-fr.png
  public/images/events/pkmnday2025event-it.png
  public/images/events/pkmnday2025event-ja.png
  public/images/events/pkmnday2025event-ko.png
  public/images/events/pkmnday2025event-pt-BR.png
  public/images/events/pkmnday2025event-zh-CN.png
Labels: Localization, UI/UX, Event

#5434 [Sprite] Froakie static scuff
  public/images/pokemon/656.png
  public/images/pokemon/variant/656.json
  public/images/pokemon/variant/back/656.json
Labels: Sprite/Animation

#5433 Data for possible Pokémon Day 2025 Event
  src/modifier/modifier-type.ts
  src/timed-event-manager.ts
Labels: Event

#5435 [Misc] Event Banner Fix
  src/loading-scene.ts
Labels: Event

#5425 [Bug] Save data migrator to fix starters with no selectable forms
  src/system/version_migration/versions/v1_7_0.ts
Labels: P2 Bug

#5402 [UI] Make fight cursor tera icon while tera-ing
  public/images/ui/cursor_tera.png
  public/images/ui/legacy/cursor_tera.png
  src/loading-scene.ts
  src/ui/fight-ui-handler.ts
Labels: Enhancement, UI/UX

#5431 [UI][Enhancement] Implement keybind migrator
  src/inputs-controller.ts
Labels: Enhancement, UI/UX

#5439 [Bug] [Hotfix] Remove Penny's Extra Zamazenta
  package-lock.json
  package.json
  src/data/trainer-config.ts
Labels: P2 Bug

#5440 [Bug][Hotfix] Fix bug with transfering all items
  package-lock.json
  package.json
  src/ui/party-ui-handler.ts
Labels: P1 Bug

#5441 [Bug] Fix mycelium might softlock
  package-lock.json
  package.json
  src/data/ability.ts
Labels: Ability, P1 Bug

#5437 [Bug] Fix tera slot wrapping
  package-lock.json
  package.json
  src/data/trainer-config.ts
Labels: P2 Bug

#5446 [Bug][Hotfix] Restrict Use Candies option in the Pokédex
  package-lock.json
  package.json
  src/ui/pokedex-page-ui-handler.ts
Labels: P1 Bug
