Repository pagefaultgames/pokerogue, pull requests merged in 2025-03, with the labels that each got.

#5449 [Bug][UI/UX] Never select invisible containers in Pokédex
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX, P3 Bug

#5450 [Bug][UI/UX] Restore egg/tm move and passive icons when using filters in Pokédex
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX, P3 Bug

#5452 [Bug] Gendered forms display correct information in Pokédex
  src/ui/pokedex-page-ui-handler.ts
Labels: UI/UX, P3 Bug

#5448 [Bug] Display Pokémon name in Focus Punch lost focus message
  src/data/move.ts
  test/moves/focus_punch.test.ts
Labels: P3 Bug

#5453 [Bug] Unlocking correct base form of Zygarde when captured
  src/system/game-data.ts
Labels: P2 Bug

#5454 [Bug][UI/UX] Starter select screen now looks for and displays form-specific abilities
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#5457 [Bug][UI/UX] Shiny button can cycle variants even if non-shiny form is uncaught
  src/ui/pokedex-page-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P2 Bug

#5459 [Bug][UI/UX] Restore V button in battle
  index.html
Labels: UI/UX, P2 Bug

#5458 [Bug][UI/UX] Fix bug in Pokédex for Mothim and other niche cases
  src/ui/pokedex-page-ui-handler.ts
Labels: UI/UX, P2 Bug

#5461 [Bug] Pledge moves in summary do not break the game
  src/data/move.ts
Labels: Move, P1 Bug

#5465 [GitHub] Update CODEOWNERS to have teams own the files they should
  .github/CODEOWNERS
Labels: GitHub

#5466 [UI/UX] Hiding tera button when toggling on stats mode
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX, P3 Bug

#5337 [Bug] Fix battle-anims crashing in certain cases
  src/data/battle-anims.ts
Labels: Sprite/Animation, P1 Bug

#5469 [Balance] Make megas/max player pokemon unable to tera
  src/field/pokemon.ts
  src/ui/command-ui-handler.ts
Labels: Game Balance

#5476 [Balance] Make Pickup and Honey Gather Unsuppressable
  src/data/ability.ts
Labels: Game Balance

#5474 [UI/UX] Make left button also go back to the run history screen from run info
  src/ui/run-info-ui-handler.ts
Labels: UI/UX

#5481 [Localization] [UI/UX] Added Spanish status icons
  public/images/statuses_es-ES.png
Labels: Localization, UI/UX

#5482 [Bug][Hotfix] Fix migration crash
  package-lock.json
  package.json
  src/system/version_migration/versions/v1_7_0.ts
Labels: P0 Bug

#5468 [Sprite]Gmax animation implementation + extra updated animation
  public/exp-sprites.json
  public/images/pokemon/exp/484-origin.json
  public/images/pokemon/exp/484-origin.png
  public/images/pokemon/exp/569-gigantamax.json
  public/images/pokemon/exp/569-gigantamax.png
  public/images/pokemon/exp/815-gigantamax.json
  public/images/pokemon/exp/815-gigantamax.png
  public/images/pokemon/exp/839-gigantamax.json
  public/images/pokemon/exp/839-gigantamax.png
  public/images/pokemon/exp/back/569-gigantamax.json
  public/images/pokemon/exp/back/569-gigantamax.png
  public/images/pokemon/exp/back/815-gigantamax.json
  public/images/pokemon/exp/back/815-gigantamax.png
  public/images/pokemon/exp/back/839-gigantamax.json
  public/images/pokemon/exp/back/839-gigantamax.png
  public/images/pokemon/exp/back/shiny/569-gigantamax.json
  public/images/pokemon/exp/back/shiny/569-gigantamax.png
  public/images/pokemon/exp/back/shiny/815-gigantamax.json
  public/images/pokemon/exp/back/shiny/815-gigantamax.png
  public/images/pokemon/exp/back/shiny/839-gigantamax.json
  public/images/pokemon/exp/back/shiny/839-gigantamax.png
  public/images/pokemon/exp/shiny/484-origin.json
  public/images/pokemon/exp/shiny/484-origin.png
  public/images/pokemon/exp/shiny/569-gigantamax.json
  public/images/pokemon/exp/shiny/569-gigantamax.png
  public/images/pokemon/exp/shiny/815-gigantamax.json
  public/images/pokemon/exp/shiny/815-gigantamax.png
  public/images/pokemon/exp/shiny/839-gigantamax.json
  public/images/pokemon/exp/shiny/839-gigantamax.png
Labels: Sprite/Animation

#5477 [Misc] `getPokemonSpecies()` no longer accepts `undefined`
  src/data/pokemon-species.ts
  test/mystery-encounter/encounters/uncommon-breed-encounter.test.ts
Labels: Miscellaneous

#5325 [Misc] Add a script to help verify correctness of variant sprite masterlist
  .gitignore
  scripts/find_sprite_variant_mismatches.py
Labels: Miscellaneous

#5470 [Bug] Fix critical hits not bypassing screens
  src/field/pokemon.ts
  test/moves/aurora_veil.test.ts
  test/moves/light_screen.test.ts
  test/moves/reflect.test.ts
Labels: P2 Bug

#5489 [Bug] Fix #5159: Harsh Sun, Heavy Rain, Delta Stream Messages Incorrect
  src/data/weather.ts
  src/field/arena.ts
  src/phases/move-phase.ts
Labels: Ability, P3 Bug

#5484 [Bug]Chilly Reception Replaces Legendary Weather (Primordial Sea, Desolate Land, Delta Stream)
  src/data/weather.ts
  src/field/arena.ts
Labels: Move, P2 Bug

#5492 [Misc] Add some pre-defined imports to `overrides.ts`
  src/overrides.ts
Labels: Miscellaneous

#5498 [Misc] Add Wlowscha and SirzBenjie to credits
  CREDITS.md
Labels: Miscellaneous, GitHub

#5499 [GitHub] Automatically add issue-type in issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: GitHub

#5494 [UI/UX] Changed wrong colors in german type icons
  public/images/types_de.png
Labels: Sprite/Animation

#5464 [Bug] Fix #5358 Abilities that Redirect Moves Consider Move-Typings before Ability Modifiers
  src/data/ability.ts
  src/phases/move-phase.ts
  test/abilities/lightningrod.test.ts
  test/abilities/storm_drain.test.ts
Labels: Ability, P2 Bug

#5478 [Bug] Fix NG crash when ability is reactivated for a Pokemon off the field
  src/data/arena-tag.ts
  test/abilities/neutralizing_gas.test.ts
Labels: P1 Bug

#5344 [Enhancement] Add form changes for Solgaleo, Lunala, & Marshadow cosmetic forms
  public/images/pokemon/icons/7/791-radiant-sun.png
  public/images/pokemon/icons/7/791s-radiant-sun.png
  public/images/pokemon/icons/7/792-full-moon.png
  public/images/pokemon/icons/7/792s-full-moon.png
  public/images/pokemon_icons_7.json
  public/images/pokemon_icons_7.png
  src/data/pokemon-forms.ts
  src/data/pokemon-species.ts
Labels: Enhancement, Sprite/Animation

#5502 [BUG] Fix Locked Reroll not using Luck Score
  src/modifier/modifier-type.ts
Labels: Game Balance, P2 Bug

#5503 [BUG] Add Multi Attack, Revelation Dance, and Terrain Pulse to Normalize Exceptions
  src/data/ability.ts
Labels: Ability, P2 Bug

#5514 [Misc] `OPP_FORM_OVERRIDES` now accepts 0 as a valid form index
  src/field/pokemon.ts
  src/overrides.ts
  src/phases/select-starter-phase.ts
Labels: Miscellaneous

#5519 [Refactor] Move signature species to separate file
  src/data/balance/signature-species.ts
  src/data/trainer-config.ts
  src/field/trainer.ts
Labels: Refactor

#5267 [Refactor] Align ability display with mainline
  src/battle-scene.ts
  src/data/ability.ts
  src/field/arena.ts
  src/loading-scene.ts
  src/phase.ts
  src/phases/hide-ability-phase.ts
  src/phases/message-phase.ts
  src/phases/pokemon-transform-phase.ts
  src/phases/show-ability-phase.ts
  src/ui/ability-bar.ts
  test/moves/secret_power.test.ts
Labels: Refactor

#5527 [Bug] Add Neutralizing Gas Message for each user
  src/data/arena-tag.ts
  src/field/arena.ts
Labels: Ability, P3 Bug

#5539 [Misc] Add `* -crlf` to `.gitattributes`
  .gitattributes
Labels: Miscellaneous, GitHub

#5540 [UI/UX] Icons for egg moves and passives show up even when not unlocked
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX, P3 Bug

#5541 [Test] Add ability overrides to Tailwind tests
  test/moves/tailwind.test.ts
Labels: Tests

#5537 Fix #5082: Nicknames not properly sanitized
  src/phases/message-phase.ts
  src/ui/message-ui-handler.ts
  src/ui/ui.ts
Labels: UI/UX, P3 Bug

#5536 [Bug] [UI/UX] Fix: Smack Down and Thousand Arrows do not Have a Message for Grounding
  src/data/moves/move.ts
Labels: UI/UX, P3 Bug

#5543 [Test] Fix Chilly Reception Test Ability Overrides
  test/moves/chilly_reception.test.ts
Labels: Tests

#5526 [Sprite] Fixing the naming issue in exp-sprite.json +Disabling few problematic exp's
  public/exp-sprites.json
Labels: Sprite/Animation

#5544 [Bug] Fix Poison Heal Crash on beta
  src/data/ability.ts
Labels: Ability, P1 Bug

#5534 [Bug] Fix Slow Start Message being Deferred
  src/data/battler-tags.ts
Labels: Ability, P2 Bug

#5505 [Balance] Changes to several trainer classes
  src/data/balance/biomes.ts
  src/data/trainer-config.ts
Labels: Game Balance, Balance Team

#5549 [Balance] [Move] Removed many invalid moves from random move selection moves
  src/data/moves/invalid-moves.ts
Labels: Move, Game Balance, Balance Team

#5551 [Balance] [Move] Add Fleur Cannon as a Metronome callableove
  src/data/moves/invalid-moves.ts
Labels: Move, Game Balance, Balance Team

#5552 [Bug] Add list of uncallable moves for Mirror Move
  src/data/moves/invalid-moves.ts
  src/data/moves/move.ts
Labels: Move, P2 Bug

#5508 [BUG] fixes #5472 - transform on reload
  src/field/pokemon.ts
  src/phases/summon-phase.ts
  src/system/pokemon-data.ts
  test/abilities/imposter.test.ts
  test/moves/transform.test.ts
Labels: P2 Bug

#5141 [Bug] Fix #2769 Revival Blessing Softlock in doubles
  src/data/moves/move.ts
  test/moves/revival_blessing.test.ts
Labels: Move, P1 Bug

#5496 [Bug] Fix #5422 Neutralizing Gas and Legendary Weather Abilities Persist After Flee
  src/phases/attempt-run-phase.ts
  test/abilities/desolate-land.test.ts
  test/abilities/neutralizing_gas.test.ts
Labels: Ability, P2 Bug

#5509 [Bug][Challenge][UI/UX] Exclude invalid starters when combining challenges
  src/data/challenge.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: P2 Bug

#5528 [UI/UX] Cancel button on Pokédex page to previously selected Pokémon
  src/ui/party-ui-handler.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#5520 [Balance] Implement more trainer types & add to biomes
  src/data/balance/biomes.ts
  src/data/dialogue.ts
  src/data/trainer-config.ts
Labels: Game Balance

#5555 [Localization] Catalan reactivation
  public/images/statuses_ca-ES.png
  public/images/types_ca-ES.json
  public/images/types_ca-ES.png
  src/loading-scene.ts
  src/system/settings/settings.ts
  src/ui/starter-select-ui-handler.ts
  src/utils.ts
Labels: Localization

#5538 [UI/UX] Option to see Pokedex entry after catching wild Pokémon
  src/data/mystery-encounters/utils/encounter-pokemon-utils.ts
  src/phases/attempt-capture-phase.ts
  src/ui/confirm-ui-handler.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokemon-info-container.ts
Labels: UI/UX

#5523 [UI/UX] Autofill login text color changed to gray
  index.css
Labels: UI/UX

#5531 [Balance] Split Passives and related
  src/data/balance/passives.ts
  src/data/pokemon-species.ts
Labels: Game Balance, Balance Team, Game Design

#5545 [Balance] G-Max Form Re-Evaluation
  src/data/pokemon-species.ts
Labels: Game Balance, Balance Team

#4919 [Refactor] Moveset arrays can no longer hold `null` values
  src/battle-scene.ts
  src/data/balance/pokemon-evolutions.ts
  src/data/battler-tags.ts
  src/data/berry.ts
  src/data/challenge.ts
  src/data/moves/move.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/data/mystery-encounters/mystery-encounter-requirements.ts
  src/data/pokemon-forms.ts
  src/field/pokemon.ts
  src/modifier/modifier-type.ts
  src/phases/command-phase.ts
  src/phases/learn-move-phase.ts
  src/phases/party-heal-phase.ts
  src/phases/turn-start-phase.ts
  src/system/pokemon-data.ts
  src/ui/fight-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/summary-ui-handler.ts
  test/abilities/lightningrod.test.ts
  test/abilities/neutralizing_gas.test.ts
  test/abilities/storm_drain.test.ts
  test/moves/grudge.test.ts
  test/mystery-encounter/encounters/absolute-avarice-encounter.test.ts
  test/mystery-encounter/encounters/dancing-lessons-encounter.test.ts
  test/testUtils/gameManager.ts
  test/testUtils/gameManagerUtils.ts
Labels: Refactor

#4799 [Item] Add Weather and Terrain Extender Item
  src/data/ability.ts
  src/data/moves/move.ts
  src/data/mystery-encounters/encounters/fiery-fallout-encounter.ts
  src/field/arena.ts
  src/modifier/modifier-type.ts
  src/modifier/modifier.ts
  src/phases/encounter-phase.ts
  src/phases/new-biome-encounter-phase.ts
  src/phases/turn-end-phase.ts
  test/abilities/forecast.test.ts
  test/items/mystical_rock.test.ts
  test/moves/dive.test.ts
Labels: Enhancement, Item

#5560 [UI/UX] Pokédex filters correctly show split passives
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX

#5562 [Bug] `Mystical Rock` Crashing on Selection
  src/modifier/modifier-type.ts
Labels: Item, P1 Bug

#5564 [Bug] Stop Shield Dust and Gluttony from Displaying
  src/data/ability.ts
Labels: Ability, P3 Bug

#5345 [Misc] New Splash Texts, March 2025
  src/data/splash-messages.ts
  src/ui/title-ui-handler.ts
  test/data/splash_messages.test.ts
Labels: Localization, Miscellaneous

#5529 [UI/UX] Grey options in Pokédex for uncaught mons
  src/data/pokemon-species.ts
  src/ui/pokedex-page-ui-handler.ts
  src/ui/pokedex-ui-handler.ts
Labels: UI/UX

#5563 [Bug] Fix Extra Ability Activation Flyouts during AI Decisions
  src/data/moves/move.ts
Labels: Ability, P3 Bug

#5569 [Misc] Allow Localization of Common Trainer Names
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/trainer-names.ts
  src/field/trainer.ts
  src/plugins/i18n.ts
Labels: Localization

#5570 [Sprite] Reduce Mystical Rock sprite's size
  public/images/items.json
  public/images/items.png
  public/images/items/malicious_armor.png
  public/images/items/mystical_rock.png
Labels: Sprite/Animation

#5222 [Ability] Fully implement Flower Gift and Victory Star
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
  test/abilities/flower_gift.test.ts
  test/abilities/protosynthesis.test.ts
  test/abilities/victory_star.test.ts
Labels: Ability

#5573 [Refactor] Minor refactor of trainer-config files
  src/battle-scene.ts
  src/battle.ts
  src/data/dialogue.ts
  src/data/mystery-encounters/encounters/a-trainers-test-encounter.ts
  src/data/mystery-encounters/encounters/absolute-avarice-encounter.ts
  src/data/mystery-encounters/encounters/bug-type-superfan-encounter.ts
  src/data/mystery-encounters/encounters/clowning-around-encounter.ts
  src/data/mystery-encounters/encounters/dancing-lessons-encounter.ts
  src/data/mystery-encounters/encounters/fun-and-games-encounter.ts
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/mysterious-challengers-encounter.ts
  src/data/mystery-encounters/encounters/safari-zone-encounter.ts
  src/data/mystery-encounters/encounters/teleporting-hijinks-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/data/trainers/TrainerPartyTemplate.ts
  src/data/trainers/evil-admin-trainer-pools.ts
  src/data/trainers/trainer-config.ts
  src/data/trainers/typedefs.ts
  src/enums/tera-ai-mode.ts
  src/enums/trainer-pool-tier.ts
  src/enums/trainer-slot.ts
  src/field/pokemon.ts
  src/field/trainer.ts
  src/phases/battle-phase.ts
  src/phases/encounter-phase.ts
  src/phases/game-over-phase.ts
  src/phases/mystery-encounter-phases.ts
  src/phases/summon-phase.ts
  src/phases/switch-summon-phase.ts
  src/phases/trainer-message-test-phase.ts
  src/phases/trainer-victory-phase.ts
  src/system/game-data.ts
  src/system/pokemon-data.ts
  src/system/voucher.ts
  test/moves/effectiveness.test.ts
  test/mystery-encounter/encounters/mysterious-challengers-encounter.test.ts
Labels: Refactor

#5578 [Bug] Fix Flash Fire has No Message
  src/data/battler-tags.ts
Labels: Ability, P3 Bug

#5550 [Bug] Fix interactions for Pollen Puff Parental Bond, Multi-Lens, Grip Claw Ally Healing
  src/data/moves/move.ts
  src/phases/move-effect-phase.ts
  test/abilities/parental_bond.test.ts
  test/items/grip_claw.test.ts
  test/items/multi_lens.test.ts
Labels: Move, Ability, Item, P2 Bug

#5579 [Balance] Evil Team Tweaks
  src/data/trainers/evil-admin-trainer-pools.ts
  src/data/trainers/trainer-config.ts
Labels: Game Balance, Balance Team

#5462 [Misc] Update packages
  package-lock.json
  package.json
  src/data/battle-anims.ts
Labels: Miscellaneous

#5327 [Ability] Flower Veil implementation
  src/data/ability.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
  src/phases/stat-stage-change-phase.ts
  test/abilities/flower_veil.test.ts
Labels: Ability

#5547 [Bug][Refactor] Fix Unsuppressable Abilities being Unreplaceable
  src/data/ability.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
  test/abilities/flower_gift.test.ts
  test/abilities/forecast.test.ts
  test/battle/ability_swap.test.ts
Labels: Ability, Refactor, P2 Bug

#5574 [Bug] Fix pokedex option after catching
  src/phases/attempt-capture-phase.ts
  src/ui/pokedex-page-ui-handler.ts
Labels: UI/UX, P1 Bug

#5585 [Refactor] Remove game mode param from applyChallenges
  src/data/challenge.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
  src/game-mode.ts
  src/phases/select-starter-phase.ts
  src/system/game-data.ts
  src/ui/party-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
Labels: Refactor

#5588 [Balance] Beta Passive Fixes, 1.8 Egg Move Changes, and G-Max Form Re-Evaluation finished
  src/data/balance/egg-moves.ts
  src/data/balance/passives.ts
  src/data/balance/species-egg-tiers.ts
  src/data/pokemon-species.ts
Labels: Game Balance, Balance Team

#5582 [Localization] LATAM Spanish inclusion
  public/images/statuses_es-MX.json
  public/images/statuses_es-MX.png
  public/images/types_es-MX.json
  public/images/types_es-MX.png
  src/loading-scene.ts
  src/plugins/i18n.ts
  src/system/settings/settings.ts
  src/ui/settings/settings-display-ui-handler.ts
  src/ui/starter-select-ui-handler.ts
  src/utils.ts
Labels: Localization

#5590 [Move] Add message for called moves failing due to no targets
  src/data/moves/move.ts
Labels: Move

#5591 [Balance] Even more Split Passive fixes
  src/data/balance/passives.ts
Labels: Game Balance, Balance Team
