Repository pagefaultgames/pokerogue, pull requests merged in 2025-01, with the labels that each got.

#5068 [Misc] Undo winter holiday event changes
  src/data/balance/starters.ts
  src/data/mystery-encounters/encounters/delibirdy-encounter.ts
  src/data/mystery-encounters/mystery-encounters.ts
  src/phases/trainer-victory-phase.ts
  src/test/mystery-encounter/encounters/delibirdy-encounter.test.ts
Labels: Miscellaneous

#4968 [Localization] [UI/UX] Updates for pokemon-emerald-pro & pkmnems
  public/fonts/pkmnems.ttf
  public/fonts/pokemon-emerald-pro.ttf
Labels: Localization, UI/UX

#5080 [Bug] Gimmighoul and Eevee eggs will now properly randomize their forms
  src/battle-scene.ts
Labels: Miscellaneous, P2 Bug

#5055 [Sprite][Color] Fixing Issues with the 658-ash.json to display sprite…
  public/images/pokemon/658-ash.png
  public/images/pokemon/exp/658-ash.png
  public/images/pokemon/shiny/658-ash.png
  public/images/pokemon/variant/658-ash.json
  public/images/pokemon/variant/exp/658-ash.json
Labels: Sprite/Animation

#5103 [Bug] fix #5102 Catching Charm now always max weight in Daily Mode
  src/modifier/modifier-type.ts
Labels: Item, P2 Bug

#5107 [Bug] Fixed defog not removing the target's Safeguard and Mist
  src/data/move.ts
  src/test/moves/defog.test.ts
Labels: Move, P2 Bug

#5070 [Balance] Adjust Orb & Light Ball Weight Functions
  src/modifier/modifier-type.ts
Labels: Item, Game Balance

#5117 [Balance] Multi-hit moves now use gen 5+ behavior
  src/data/move.ts
Labels: Move, Game Balance

#5121 [Balance] Fix off by one error in Generate random biome and Daily Mode now has its own function
  src/battle-scene.ts
  src/data/daily-run.ts
  src/game-mode.ts
Labels: Game Balance, Miscellaneous, P2 Bug

#3380 [Bug][Move] Refactor moves that call a random move
  src/battle.ts
  src/data/battler-tags.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/command-phase.ts
  src/phases/move-phase.ts
  src/test/moves/assist.test.ts
  src/test/moves/copycat.test.ts
  src/test/moves/metronome.test.ts
  src/test/moves/mirror_move.test.ts
  src/test/moves/sleep_talk.test.ts
  src/test/moves/spit_up.test.ts
  src/test/moves/stockpile.test.ts
  src/test/moves/swallow.test.ts
Labels: Enhancement, Move, Refactor, P2 Bug

#5124 [Balance] Change Archen HA from Emergency Exit to Wimp Out
  src/data/pokemon-species.ts
Labels: Game Balance, Balance Team

#5110 [UI/UX] Shop cursor freedom
  src/ui/modifier-select-ui-handler.ts
Labels: UI/UX

#5109 [UI/UX] Looping cursor in save slot selection screen
  src/ui/save-slot-select-ui-handler.ts
Labels: UI/UX

#5040 [Bug] Fix #4306 Poltergeist message displaying whenever condition is checked
  src/data/move.ts
Labels: Move, P3 Bug

#5128 [Bug] Fix #5029 Memory leak when saving and exiting
  src/battle-scene.ts
  src/ui/settings/navigationMenu.ts
  src/ui/starter-select-ui-handler.ts
  src/ui/ui-handler.ts
  src/ui/ui.ts
Labels: P1 Bug

#5119 [Bug] Fix #5034 removed unnecessary caught data block for certain forms
  src/data/pokemon-species.ts
  src/system/game-data.ts
Labels: Miscellaneous

#5131 [Audio] Implement critical catch sfx from Gen 5
  public/audio/se/crit_throw.wav
  src/loading-scene.ts
  src/phases/attempt-capture-phase.ts
Labels: Audio

#5130 [Sprite] Fix game not waiting for variant data to finish loading
  src/battle-scene.ts
  src/data/pokemon-species.ts
  src/field/mystery-encounter-intro.ts
Labels: Sprite/Animation, P3 Bug

#5097 [Sprite] Fix female Scizor variants not showing
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/female/212.json
  public/images/pokemon/variant/female/212.json
Labels: Sprite/Animation

#5133 [Challenge] Make flip inverse secret
  src/system/achv.ts
Labels: Challenges

#5125 [Balance] Update starters.ts, removed redundant starters
  src/data/balance/starters.ts
Labels: Game Balance, Balance Team

#5142 [Misc] Replace `globalScene` with `this` in `BattleScene`
  src/battle-scene.ts
Labels: Miscellaneous

#5154 [Misc] Disable enforced type-only imports in `overrides.ts`
  src/overrides.ts
Labels: Miscellaneous

#5153 [Sprite][Color fix] 3 Venusaur and all forms
  public/images/pokemon/3-gigantamax.png
  public/images/pokemon/3-mega.png
  public/images/pokemon/3.png
  public/images/pokemon/back/3-gigantamax.png
  public/images/pokemon/back/3-mega.png
  public/images/pokemon/back/3.png
  public/images/pokemon/back/female/3.png
  public/images/pokemon/back/shiny/3-gigantamax.png
  public/images/pokemon/back/shiny/3.png
  public/images/pokemon/back/shiny/female/3.png
  public/images/pokemon/female/3.png
  public/images/pokemon/shiny/3-gigantamax.png
  public/images/pokemon/shiny/3.png
  public/images/pokemon/shiny/female/3.png
  public/images/pokemon/variant/3-gigantamax.json
  public/images/pokemon/variant/3-mega_2.png
  public/images/pokemon/variant/3-mega_3.png
  public/images/pokemon/variant/3.json
  public/images/pokemon/variant/_masterlist.json
  public/images/pokemon/variant/back/3-gigantamax.json
  public/images/pokemon/variant/back/3-mega_2.png
  public/images/pokemon/variant/back/3-mega_3.png
  public/images/pokemon/variant/back/3.json
  public/images/pokemon/variant/back/female/3.json
  public/images/pokemon/variant/female/3.json
  public/images/pokemon/variant/female/3_2.json
  public/images/pokemon/variant/female/3_2.png
Labels: Sprite/Animation

#5155 [Sprite] Update Shelly sprite
  public/images/trainer/shelly.png
Labels: Sprite/Animation

#5129 [Move] Improve implementation of Rage Fist damage increase
  src/data/custom-pokemon-data.ts
  src/data/move.ts
  src/field/pokemon.ts
  src/phases/encounter-phase.ts
  src/phases/new-biome-encounter-phase.ts
  src/test/moves/rage_fist.test.ts
Labels: Enhancement, Move

#5057 [Sprite][Fix]Flutter mane back and shiny adjustments
  public/images/pokemon/back/987.png
  public/images/pokemon/back/shiny/987.png
  public/images/pokemon/exp/back/987.png
  public/images/pokemon/exp/back/shiny/987.png
  public/images/pokemon/variant/back/987.json
  public/images/pokemon/variant/exp/back/987.json
Labels: Sprite/Animation

#5145 [Challenge] Fix flip inverse achievement
  src/system/achv.ts
Labels: Challenges, P2 Bug

#5045 [UI/UX] Adding an option which allows to filter mons with exactly one or two cost reductions
  src/ui/dropdown.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#5137 [Bug] Prevent pokemon with 0 HP from being statused
  src/field/pokemon.ts
  src/test/data/status_effect.test.ts
  src/utils.ts
Labels: Miscellaneous, P2 Bug

#5161 [UI/UX] Add sort by caught/hatched count to starter select
  src/ui/dropdown.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#5162 [P2 Bug] Fix G-Max Urshifu having wrong moveset
  src/data/balance/pokemon-level-moves.ts
Labels: Move, P2 Bug

#4850 [Balance] [Feature] Match evil teams to monogen challenge
  src/battle.ts
  src/data/challenge.ts
Labels: Enhancement, Game Balance, Refactor, Challenges

#5147 [Refactor] Descriptions for evolution and form change requirements
  src/data/ability.ts
  src/data/balance/pokemon-evolutions.ts
  src/data/battler-tags.ts
  src/data/mystery-encounters/encounters/the-winstrate-challenge-encounter.ts
  src/data/pokemon-forms.ts
  src/plugins/i18n.ts
Labels: Refactor

#5167 [UI/UX] New version of the 0 (zero) of pokemon-emerald-pro font
  public/fonts/pokemon-emerald-pro.ttf
Labels: UI/UX

#5169 [Bug] Fix miniblackhole
  src/modifier/modifier.ts
Labels: P2 Bug

#5058 [Test] Added learn move utility function & level cap overrides
  src/battle-scene.ts
  src/field/pokemon.ts
  src/overrides.ts
  src/test/phases/learn-move-phase.test.ts
  src/test/utils/helpers/moveHelper.ts
  src/test/utils/helpers/overridesHelper.ts
Labels: Miscellaneous, Tests

#5099 [Misc] Rework some aspects of timed events
  src/battle-scene.ts
  src/data/mystery-encounters/encounters/berries-abound-encounter.ts
  src/data/mystery-encounters/encounters/delibirdy-encounter.ts
  src/data/mystery-encounters/encounters/fight-or-flight-encounter.ts
  src/data/mystery-encounters/encounters/uncommon-breed-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/data/weather.ts
  src/field/pokemon.ts
  src/modifier/modifier-type.ts
  src/phases/trainer-victory-phase.ts
  src/test/utils/mocks/mockTimedEventManager.ts
  src/timed-event-manager.ts
Labels: Miscellaneous

#5175 [Misc] Update version to 1.5.0
  package-lock.json
  package.json
Labels: Miscellaneous

#5144 [Sprite] Fix Lugia backsprite being cut off
  public/images/pokemon/back/249.json
  public/images/pokemon/back/249.png
  public/images/pokemon/back/shiny/249.json
  public/images/pokemon/back/shiny/249.png
Labels: Sprite/Animation

#5181 [UI/UX] Allow viewing egg list from rewards screen
  src/ui/menu-ui-handler.ts
Labels: UI/UX

#5192 [UI/UX] Year of the Snake event banners
  public/images/events/yearofthesnakeevent-de.png
  public/images/events/yearofthesnakeevent-en.png
  public/images/events/yearofthesnakeevent-es-ES.png
  public/images/events/yearofthesnakeevent-fr.png
  public/images/events/yearofthesnakeevent-it.png
  public/images/events/yearofthesnakeevent-ja.png
  public/images/events/yearofthesnakeevent-ko.png
  public/images/events/yearofthesnakeevent-pt-BR.png
  public/images/events/yearofthesnakeevent-zh-CN.png
  src/loading-scene.ts
Labels: UI/UX

#5202 [Hotfix] Fix year of the snake event banner
  src/timed-event-manager.ts
Labels: Miscellaneous, P3 Bug

#5203 [Misc] Update version number to 1.5.1
  package-lock.json
  package.json
Labels: Miscellaneous

#5206 [Hotfix] Fix blockEvolutions being checked wrong
  package-lock.json
  package.json
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
Labels: P2 Bug

#5189 [Audio] Replace Title BGM with custom BGM by Firel
  public/audio/bgm/title.mp3
  src/battle-scene.ts
  src/field/arena.ts
Labels: Audio, Awaiting Locales

#5134 [Bug][Test] Instruct Bugfixes + More tests
  src/battle-scene.ts
  src/data/move.ts
  src/data/status-effect.ts
  src/field/pokemon.ts
  src/overrides.ts
  src/phases/learn-move-phase.ts
  src/test/abilities/dancer.test.ts
  src/test/moves/instruct.test.ts
  src/test/utils/gameManager.ts
  src/test/utils/helpers/overridesHelper.ts
  src/ui/ui.ts
Labels: Move, P2 Bug

#5199 [Bug][Mystery Encounters] Use proper BST calculation
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/data/mystery-encounters/encounters/the-expert-pokemon-breeder-encounter.ts
  src/data/mystery-encounters/encounters/the-strong-stuff-encounter.ts
  src/data/mystery-encounters/encounters/weird-dream-encounter.ts
Labels: Mystery Encounter, P2 Bug

#5213 [UI/UX] Merged shiny and variant buttons in starter select menu
  src/test/ui/starter-select.test.ts
  src/ui/starter-select-ui-handler.ts
Labels: UI/UX

#5174 [Misc] Rename battle music, experimental sprites settings
  src/system/settings/settings.ts
Labels: Miscellaneous, Awaiting Locales

#5193 [Refactor] Add support for form and evolution specific passives
  src/data/balance/passives.ts
  src/data/pokemon-species.ts
  src/field/pokemon.ts
  src/ui/starter-select-ui-handler.ts
Labels: Enhancement, Game Balance, Refactor

#5216 [Bug] Fix Rapid Strike Urshifu not appearing in wild and on trainers
  src/battle-scene.ts
Labels: Miscellaneous, P2 Bug

#5205 [Ability] Fully implement shields down
  src/data/ability.ts
  src/test/abilities/shields_down.test.ts
Labels: Ability

#5207 [Bug][Move] Opponent's Healing Wish/Lunar Dance now checks opponent's party
  src/data/move.ts
Labels: Move, P2 Bug

#5221 [Misc] Removing unused forms of Koraidon and Miraidon
  src/data/pokemon-species.ts
Labels: Miscellaneous

#5204 [Misc] Add `update-version` commands to `package.json`
  package.json
Labels: Miscellaneous

#5171 [Balance] Update Evil Leader Teams
  src/data/trainer-config.ts
Labels: Game Balance, Balance Team

#5089 [Balance] Refactor and Update Champion Teams
  src/data/trainer-config.ts
Labels: Balance Team

#5104 [MISC] Add clean save
  src/test/utils/saves/data_new.prsv
Labels: Miscellaneous
