Repository pagefaultgames/pokerogue, pull requests merged in 2025-04, with the labels that each got.

#5600 [Bug][Hotfix] Mark Sinistcha/Poltchageist forms as unselectable/unobtainable
  src/data/pokemon-species.ts
Labels: P1 Bug

#5601 [Misc] Rollback Phaser Update
  package.json
Labels: Miscellaneous

#5608 [Bug][Hotfix] Fix crash when pulling trainer names for (certain) non-English languages
  src/data/mystery-encounters/encounters/global-trade-system-encounter.ts
  src/field/trainer.ts
  src/system/trainer-data.ts
Labels: P1 Bug

#5613 [Balance] Minor Passive Adjustments for 1.8.2
  src/data/balance/passives.ts
Labels: Game Balance, Balance Team

#5614 [Bug][Hotfix] Fix various ability flyouts not disappearing
  src/battle-scene.ts
  src/data/arena-tag.ts
  src/data/battler-tags.ts
  src/data/moves/move.ts
  src/field/arena.ts
  src/phases/game-over-phase.ts
  src/phases/hide-ability-phase.ts
  src/phases/move-effect-phase.ts
  src/phases/move-phase.ts
  src/phases/show-ability-phase.ts
  src/phases/turn-end-phase.ts
Labels: P2 Bug

#5615 Undoing the Pika-etern stuff
  public/images/pokemon/890-eternamax.json
  public/images/pokemon/890-eternamax.png
  public/images/pokemon/shiny/890-eternamax.json
  public/images/pokemon/shiny/890-eternamax.png
  public/images/pokemon/variant/890-eternamax_2.json
  public/images/pokemon/variant/890-eternamax_2.png
  public/images/pokemon/variant/890-eternamax_3.json
  public/images/pokemon/variant/890-eternamax_3.png
  public/images/pokemon/variant/_masterlist.json
Labels: Sprite/Animation

#5617 [Bug][UI/UX] Make sure forms and evolutions are counted in challenges again
  src/data/challenge.ts
Labels: UI/UX, P3 Bug

#5616 [BUG] Fix broken forms of Pichu starter
  package-lock.json
  package.json
  src/system/game-data.ts
  src/system/version_migration/version_converter.ts
  src/system/version_migration/versions/v1_8_3.ts
Labels: UI/UX, P1 Bug

#5618 [Bug] Fix uses of getAlly()
  src/data/ability.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
  src/phases/enemy-command-phase.ts
  src/phases/faint-phase.ts
  src/phases/revival-blessing-phase.ts
  src/phases/stat-stage-change-phase.ts
Labels: Ability, P1 Bug

#5261 [Bug][Ability] Fix wimp out and emergency exit skipping waves in double battles
  src/phases/battle-end-phase.ts
  src/phases/new-battle-phase.ts
  test/abilities/wimp_out.test.ts
Labels: Ability, P2 Bug

#5265 [Bug][Ability] Fix mold breaker effect lingering if the user's move runs out of PP
  src/phases/move-end-phase.ts
  src/phases/move-phase.ts
  test/abilities/dancer.test.ts
  test/abilities/mold_breaker.test.ts
Labels: Ability, P2 Bug

#5497 [GitHub] Add path filters to avoid unnecessarily re-running tests
  .github/workflows/tests.yml
Labels: Tests, GitHub

#5625 [Bug] Fix super luck implementation
  src/data/ability.ts
  src/field/pokemon.ts
  test/abilities/super_luck.test.ts
Labels: Ability, P2 Bug

#5264 [Refactor] [Docs] Minor refactor of `move.checkFlags` into `move.doesFlagEffectApply`
  src/data/ability.ts
  src/data/moves/move.ts
  src/phases/move-effect-phase.ts
  src/phases/move-phase.ts
Labels: Documentation, Refactor

#5610 [Balance] Remove accuracy cap from Wide Lens
  src/modifier/modifier.ts
Labels: Item, Game Balance, P2 Bug

#4797 [Misc] Clean up various phases (part 1)
  src/battle-scene.ts
  src/phases/add-enemy-buff-modifier-phase.ts
  src/phases/attempt-run-phase.ts
  src/phases/battle-end-phase.ts
  src/phases/battle-phase.ts
  src/phases/berry-phase.ts
  src/phases/common-anim-phase.ts
  src/phases/damage-anim-phase.ts
  src/phases/egg-hatch-phase.ts
  src/phases/encounter-phase.ts
  src/phases/evolution-phase.ts
  src/phases/exp-phase.ts
  src/phases/form-change-phase.ts
  src/phases/game-over-phase.ts
  src/phases/login-phase.ts
  src/phases/message-phase.ts
  src/phases/money-reward-phase.ts
  src/phases/move-anim-test-phase.ts
  src/phases/move-end-phase.ts
  src/phases/move-phase.ts
  src/phases/mystery-encounter-phases.ts
  src/phases/new-biome-encounter-phase.ts
  src/phases/next-encounter-phase.ts
  src/phases/party-heal-phase.ts
  src/phases/pokemon-anim-phase.ts
  src/phases/pokemon-heal-phase.ts
  src/phases/pokemon-phase.ts
  src/phases/post-game-over-phase.ts
  src/phases/post-turn-status-effect-phase.ts
  src/phases/reload-session-phase.ts
  src/phases/scan-ivs-phase.ts
  src/phases/select-biome-phase.ts
  src/phases/select-challenge-phase.ts
  src/phases/select-gender-phase.ts
  src/phases/select-modifier-phase.ts
  src/phases/select-starter-phase.ts
  src/phases/select-target-phase.ts
  src/phases/shiny-sparkle-phase.ts
  src/phases/show-party-exp-bar-phase.ts
  src/phases/show-trainer-phase.ts
  src/phases/summon-missing-phase.ts
  src/phases/switch-summon-phase.ts
  src/phases/test-message-phase.ts
  src/phases/title-phase.ts
  src/phases/trainer-message-test-phase.ts
  src/phases/trainer-victory-phase.ts
  src/phases/turn-end-phase.ts
  src/phases/turn-init-phase.ts
  src/phases/turn-start-phase.ts
  src/phases/unavailable-phase.ts
  src/phases/weather-effect-phase.ts
Labels: Miscellaneous, Refactor

#5634 [Refactor] Re-implement save migration system
  package-lock.json
  package.json
  src/@types/SessionSaveMigrator.ts
  src/@types/SettingsSaveMigrator.ts
  src/@types/SystemSaveMigrator.ts
  src/system/version_migration/version_converter.ts
  src/system/version_migration/versions/v1_0_4.ts
  src/system/version_migration/versions/v1_1_0.ts
  src/system/version_migration/versions/v1_7_0.ts
  src/system/version_migration/versions/v1_8_3.ts
Labels: Refactor

#5406 [Bug] Fix #4972 Status-Prevention Abilities do not Cure Status
  src/data/ability.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
  src/phases/move-end-phase.ts
  src/phases/move-phase.ts
  src/phases/obtain-status-effect-phase.ts
  src/phases/reset-status-phase.ts
  test/abilities/immunity.test.ts
  test/abilities/insomnia.test.ts
  test/abilities/limber.test.ts
  test/abilities/magma_armor.test.ts
  test/abilities/oblivious.test.ts
  test/abilities/own_tempo.test.ts
  test/abilities/thermal_exchange.test.ts
  test/abilities/vital_spirit.test.ts
  test/abilities/water_bubble.test.ts
  test/abilities/water_veil.test.ts
Labels: Ability, P2 Bug

#5645 [Bug] Fix Biome selection RNG
  src/phases/select-biome-phase.ts
Labels: Miscellaneous, P2 Bug

#5647 [Balance] Fix and Adjust TM Compatibility
  src/data/balance/tms.ts
Labels: Move, Balance Team

#5648 [Bug] Fixed biome map options counting rng twice
  src/phases/select-biome-phase.ts
Labels: P2 Bug, Beta

#3273 [Ability] Implement Illusion
  src/battle-scene.ts
  src/data/ability.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
  src/messages.ts
  src/phases/encounter-phase.ts
  src/phases/level-up-phase.ts
  src/phases/summon-phase.ts
  src/phases/switch-summon-phase.ts
  src/system/game-data.ts
  src/system/pokemon-data.ts
  src/ui/battle-info.ts
  src/ui/fight-ui-handler.ts
  src/ui/party-ui-handler.ts
  src/ui/rename-form-ui-handler.ts
  src/ui/summary-ui-handler.ts
  test/abilities/illusion.test.ts
Labels: Enhancement, Ability

#5586 [Dev][GitHub] Update to node 22
  .github/workflows/deploy-beta.yml
  .github/workflows/deploy.yml
  .github/workflows/github-pages.yml
  .github/workflows/quality.yml
  .github/workflows/test-shard-template.yml
  .nvmrc
  README.md
  package-lock.json
  package.json
Labels: GitHub, Development

#5638 [Refactor] Change how rival event rewards are generated
  src/data/trainers/trainer-config.ts
  src/phases/trainer-victory-phase.ts
  src/phases/victory-phase.ts
Labels: Miscellaneous, Refactor

#5623 [Balance] Fix Depot Agent trainer type lacking Pokémon
  src/data/trainers/trainer-config.ts
Labels: Game Balance, P2 Bug

#5658 [Bug] Fixing Tera Starstorm for first turn of terastallization
  src/data/moves/move.ts
  test/moves/tera_starstorm.test.ts
  test/testUtils/helpers/moveHelper.ts
Labels: Move, P2 Bug

#5666 [GitHub] Use `.nvmrc` for pages workflow
  .github/workflows/github-pages.yml
Labels: GitHub

#5643 [Bug][Move] Struggle no longer gets STAB
  src/field/pokemon.ts
  test/moves/struggle.test.ts
Labels: Move, P2 Bug

#5515 [Bug] [Ability] Fixed wrong Sheer Force interactions and multiplier from ~1.33 -> 1.3
  src/data/abilities/ability.ts
  src/data/moves/move.ts
  test/abilities/sheer_force.test.ts
  test/moves/burning_jealousy.test.ts
  test/moves/order_up.test.ts
Labels: Move, Ability, P2 Bug

#5642 [Bug][Ability] Fix healer queueing its message when its ally is fainted
  src/data/abilities/ability.ts
  test/abilities/healer.test.ts
Labels: Ability, P2 Bug

#5676 [Bug] Prevent game from hanging when loading in a new battle
  src/field/pokemon.ts
Labels: P1 Bug

#5664 [Bug][Sprite] Fix experimental variant sprites not being loaded in starter select screen
  src/data/pokemon-species.ts
Labels: Sprite/Animation, P2 Bug

#5639 [Bug] Fix beak blast: not applying if user faints and not respecting long reach
  src/data/abilities/ability.ts
  src/data/battler-tags.ts
  src/field/pokemon.ts
  src/phases/faint-phase.ts
  src/phases/move-effect-phase.ts
  test/moves/beak_blast.test.ts
Labels: Move, P2 Bug

#5668 [Bug][Sprite] Use float values for variant shader recolor comparison
  src/pipelines/glsl/spriteFragShader.frag
  src/pipelines/glsl/spriteShader.vert
  src/pipelines/sprite.ts
  src/utils.ts
Labels: Sprite/Animation, P3 Bug

#5675 [Bug] Pokemon with illusion imitate the cry of the illusion
  src/field/pokemon.ts
  test/abilities/illusion.test.ts
Labels: Ability, P2 Bug

#5680 [Bug] [Move] Supercell Slam now hits Minimized targets for double damage and can't miss
  src/data/moves/move.ts
Labels: Move, P2 Bug

#5170 [Bug] Fix Login Screen Buttons can be Pressed While Animating
  src/ui/form-modal-ui-handler.ts
  src/ui/login-form-ui-handler.ts
  src/ui/modal-ui-handler.ts
  src/ui/registration-form-ui-handler.ts
Labels: UI/UX

#5670 [Balance] Update Gym Leader Teams and Teras
  src/data/balance/signature-species.ts
  src/data/trainers/trainer-config.ts
Labels: Game Balance, Balance Team

#5671 [Bug] Properly handle suppression with Illusion
  src/data/abilities/ability.ts
  test/abilities/illusion.test.ts
Labels: Ability, P2 Bug

#5685 [Bug] order of operations in creating bosses battleInfo levelContainer
  src/field/pokemon.ts
Labels: UI/UX, P3 Bug

#5686 [Dev] Fix imports in `overrides.ts` and `illusion.test.ts`
  src/overrides.ts
  test/abilities/illusion.test.ts
Labels: Development

#5690 [Bug][Sprite] Fix variant loading console spam
  src/data/pokemon-species.ts
Labels: Sprite/Animation, P3 Bug

#5691 [Bug][Sprite] Fix variants not using recolors for back sprite
  src/data/pokemon-species.ts
Labels: Sprite/Animation, P3 Bug

#5674 [Balance] [Mystery] Salesman ME offers mons from event encounter pool
  src/data/mystery-encounters/encounters/the-pokemon-salesman-encounter.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/field/pokemon.ts
Labels: Game Balance, Balance Team, Mystery Encounter, Event

#5637 [Tests][UI/UX] Add automated tests for the pokedex
  src/ui/filter-text.ts
  src/ui/pokedex-ui-handler.ts
  test/testUtils/gameWrapper.ts
  test/testUtils/mocks/mocksContainer/mockText.ts
  test/testUtils/phaseInterceptor.ts
  test/testUtils/saves/data_pokedex_tests.prsv
  test/testUtils/testFileInitialization.ts
  test/ui/pokedex.test.ts
Labels: Tests, UI/UX

#5700 [Balance] Update Transistor to Gen IX version
  src/data/abilities/ability.ts
Labels: Game Balance, Balance Team, P2 Bug

#5533 [Bug] [UI/UX] Status moves now play a No Effect Message Against Immune Type Pokemon
  src/data/moves/move.ts
  src/field/pokemon.ts
Labels: UI/UX, P3 Bug

#5704 [Dev] Update phaser to 3.88 and fix graphical bug
  package-lock.json
  package.json
  src/main.ts
Labels: Development

#5688 [Bug] Fix boss level location
  src/ui/battle-info.ts
Labels: UI/UX, P3 Bug

#5708 [Balance] Remove Dynamax Cannon being discouraged on Eternatus
  src/data/moves/move.ts
Labels: Balance Team, AI

#5707 [BUG] Make `,` `.` `/` and `\` Bindable Keys
  public/images/inputs/keyboard.json
  public/images/inputs/keyboard.png
  src/configs/inputs/cfg_keyboard_qwerty.ts
Labels: UI/UX, P2 Bug

#5709 [Docs][Dev] Update linting docs
  docs/linting.md
Labels: Documentation, Development

#5698 [UI/UX] Move Pokémon sprite below name and other text in dex pages
  src/ui/pokedex-page-ui-handler.ts
Labels: UI/UX

#5701 [Bug] Fix message for `StatusEffectImmunityAbAttr`
  src/data/abilities/ability.ts
Labels: Ability, P3 Bug

#5716 [Bug] API / Save data hotfix
  package.json
  src/plugins/api/pokerogue-system-savedata-api.ts
  src/system/game-data.ts
Labels: P0 Bug

#5715 [Bug] Hotfix 1.8.5
  package.json
  src/plugins/api/pokerogue-system-savedata-api.ts
  src/system/game-data.ts
Labels: P0 Bug

#5718 [Dev] Add enemy pokemon level to encounter logging
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/phases/encounter-phase.ts
Labels: Development

#5719 [Balance] Trainer pokemon now have minimum IVs of `wave/10`
  src/field/pokemon.ts
  test/field/pokemon.test.ts
Labels: Game Balance, Balance Team

#5706 [Balance] Elite 4 tweaks
  src/data/balance/signature-species.ts
  src/data/trainers/trainer-config.ts
Labels: Game Balance, Balance Team

#5727 [Test] Replace Axew with Feebas in some Illusion tests
  package.json
  test/abilities/illusion.test.ts
Labels: Tests

#5728 [Bug][Item] Only moves will now show the explicit status immunity effect.
  src/data/moves/move.ts
  src/field/pokemon.ts
Labels: Item, P3 Bug

#5732 [Misc][Move] Add edge case to transform
  src/data/moves/move.ts
Labels: Move, Miscellaneous

#5733 [GitHub] Update pull request template to say test:silent instead of just test
  .github/pull_request_template.md
Labels: GitHub

#5722 [Bug] Fix clear ignoring errors from server
  src/phases/game-over-phase.ts
  src/plugins/api/pokerogue-session-savedata-api.ts
  test/plugins/api/pokerogue-session-savedata-api.test.ts
Labels: P0 Bug, Awaiting Locales
