Repository pagefaultgames/pokerogue, pull requests merged in 2025-10, with the labels that each got.

#6612 [P2 Bug] [Balance] Fit initBiomes incorrectly getting evo level threshold
  src/data/balance/biomes.ts
  src/data/balance/pokemon-evolutions.ts
Labels: Game Balance, P2 Bug

#6613 [AI] Prevent ai from using moves guaranteed to fail due to the weather
  src/field/pokemon.ts
Labels: AI

#6618 [Bug] [Ability] Tangling Hair / Gooey now work when its user faints
  src/data/abilities/ability.ts
Labels: Ability, P2 Bug

#6617 [Balance] Enemy trainer Pokemon will have friendship based on the wave
  src/field/pokemon.ts
  test/field/pokemon.test.ts
  test/test-utils/helpers/field-helper.ts
Labels: Game Balance

#6627 [Dev] Improve typescript performance and version bump node and dependencies
  .nvmrc
  biome.jsonc
  package.json
  pnpm-lock.yaml
  src/@types/biomes.ts
  src/@types/common.ts
  src/@types/pokemon-level-moves.ts
  src/ai/ai-moveset-gen.ts
  src/battle-scene.ts
  src/constants.ts
  src/data/balance/biomes.ts
  src/data/balance/init-biomes.ts
  src/data/balance/pokemon-level-moves.ts
  src/data/balance/tm-species-map.ts
  src/data/balance/tms.ts
  src/data/data-lists.ts
  src/data/mystery-encounters/mystery-encounters.ts
  src/data/mystery-encounters/utils/encounter-phase-utils.ts
  src/data/pokemon-species.ts
  src/data/trainers/trainer-config.ts
  src/enums/biome-pool-tier.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/init/init.ts
  src/modifier/modifier-type.ts
  src/phases/evolution-phase.ts
  src/phases/select-biome-phase.ts
  src/ui/handlers/pokedex-page-ui-handler.ts
  src/ui/handlers/pokedex-ui-handler.ts
  src/ui/handlers/run-info-ui-handler.ts
  src/ui/handlers/starter-select-ui-handler.ts
  src/ui/handlers/summary-ui-handler.ts
  src/utils/common.ts
  test/data/balance/pokemon-level-moves.test.ts
  test/data/balance/tm-species-map.test.ts
  test/test-utils/matchers/to-have-battler-tag.ts
  tsconfig.json
Labels: Dependencies, Performance, Development

#6534 [Refactor] [Ability] Initializing abilities now uses a builder class
  src/battle-scene.ts
  src/data/abilities/ability.ts
  src/data/moves/move.ts
  src/field/pokemon.ts
Labels: Ability, Refactor

#6632 [Dev] Add `isApp` & `build:app` for AdmiralBilly's offline app
  .env.app
  package.json
  src/account.ts
  src/ai/ai-moveset-gen.ts
  src/ai/rival-team-gen.ts
  src/constants/app-constants.ts
  src/global-vars/bypass-login.ts
  src/main.ts
  src/phases/game-over-phase.ts
  src/phases/login-phase.ts
  src/phases/title-phase.ts
  src/system/game-data.ts
  src/system/settings/settings.ts
  src/ui/handlers/admin-ui-handler.ts
  src/ui/handlers/menu-ui-handler.ts
  src/ui/handlers/save-slot-select-ui-handler.ts
  src/ui/handlers/title-ui-handler.ts
  src/utils/common.ts
  src/utils/cookies.ts
  src/utils/utility-vars.ts
  test/account.test.ts
  test/system/game-data.test.ts
  test/system/rename-run.test.ts
  test/test-utils/game-wrapper.ts
  tsconfig.json
Labels: Development

#6614 [Bug] Use InitEncounterPhase to queue PSPs for new encounters
  src/battle-scene.ts
  src/data/mystery-encounters/encounters/safari-zone-encounter.ts
  src/data/pokemon/pokemon-data.ts
  src/phase-manager.ts
  src/phases/check-switch-phase.ts
  src/phases/encounter-phase.ts
  src/phases/game-over-phase.ts
  src/phases/init-encounter-phase.ts
  src/phases/mystery-encounter-phases.ts
  src/phases/post-summon-phase.ts
  src/phases/summon-phase.ts
  src/phases/title-phase.ts
  src/queues/post-summon-phase-priority-queue.ts
Labels: P2 Bug

#6304 [Bug/i18n] Added type safety to `Arena.applyTags`; fixed arena tag addition/removal messages
  src/@types/helpers/type-helpers.ts
  src/data/abilities/ability.ts
  src/data/arena-tag.ts
  src/data/moves/move.ts
  src/enums/arena-tag-type.ts
  src/field/arena.ts
  src/field/pokemon.ts
  src/messages.ts
  src/phases/turn-start-phase.ts
  src/utils/speed-order.ts
  test/abilities/magic-bounce.test.ts
  test/arena/arena-tags.test.ts
  test/moves/aurora-veil.test.ts
  test/moves/ceaseless-edge-stone-axe.test.ts
  test/moves/ceaseless-edge.test.ts
  test/moves/destiny-bond.test.ts
  test/moves/entry-hazards.test.ts
  test/moves/light-screen.test.ts
  test/moves/mat-block.test.ts
  test/moves/reflect.test.ts
  test/test-utils/string-utils.ts
Labels: Move, P2 Bug

#6633 [Test] Improved liquid ooze test file to use updated test utils
  test/abilities/liquid-ooze.test.ts
Labels: Tests
